
@media screen and (max-width: 320px) {
    /*#aboutBanner {*/
        /*background-image: url("../images/mobile/aboutus/about_320.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*height: 247px;*/
        /*margin: 0 auto;*/
        /*width: 290px;*/
    /*}*/

}


@media screen and (max-width: 478px) and (min-width: 320px) {
    /*#aboutBanner {*/
        /*background-image: url("../images/mobile/aboutus/about_320.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*margin: 65px auto 0 auto;*/
        /*width: 290px;*/
        /*height: 247px;*/
    /*}*/
    .about-module{
        width: 290px;
        margin: 40px auto 0 auto;
        text-align: center;
    }
    #about-community-block{
        /*width: 290px;*/
        /*margin: 40px auto 0 auto;*/
        /*text-align: center;*/
        display: block;
    }
    .about-module h1{
        font-size: 30px;
        font-weight: 100;
        color: #808080;
        margin-bottom: 0;
    }
    .about-module h2{
        margin-top: 5px;
        font-size: 18px;
        font-weight: 400;
        color: #EB5C4E;
        font-style: italic;
    }
    .about-module img{
        width: 290px;
        height: auto;
    }
    .about-module a{
        text-decoration: none;
    }
    .about-module .icon{
        color: #EB5C4E;
        font-size: 45px;
        margin: 0;
        padding: 0;
        text-align: right;
        margin-top: -35px;
        height: 42px;
    }
    .about-module div{
        font-size: 18px;
        font-weight: 300;
        color: #808080;
        text-align: justify;
    }
    .about-grey-line{
        width: 290px;
        border: 0;
        height: 1px;
        margin: 25px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
        background-position: center;
        background: no-repeat;
        background-size: contain;
    }
    /*-- count table --*/
    #about_tab{
        width: 320px;
        height: 183px;
        margin: 70px auto;
        text-align: center;
        color: #EB5C4E;
    }
    .about_tab_th{
        width: 106px;
        font-size: 42px;
        vertical-align: bottom;
        font-weight: bold;
    }
    .about_tab_txt{
        font-size: 12px;
        vertical-align: top;
        font-weight: 600;
    }
}


@media screen and (max-width: 766px) and (min-width: 478px) {
    /*#aboutBanner {*/
        /*background-image: url("../images/mobile/aboutus/about_480.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*margin: 80px auto 0 auto;*/
        /*width: 450px;*/
        /*height: 246px;*/
    /*}*/
    .about-module{
        width: 290px;
        margin: 40px auto 0 auto;
        text-align: center;
    }
    #about-community-block{
        /*width: 290px;*/
        /*margin: 40px auto 0 auto;*/
        /*text-align: center;*/
        display: block;
    }
    .about-module h1{
        font-size: 30px;
        font-weight: 100;
        color: #808080;
        margin-bottom: 0;
    }
    .about-module h2{
        margin-top: 5px;
        font-size: 18px;
        font-weight: 400;
        color: #EB5C4E;
        font-style: italic;
    }
    .about-module img{
        width: 290px;
        height: auto;
    }
    .about-module a{
        text-decoration: none;
    }
    .about-module .icon{
        color: #EB5C4E;
        font-size: 45px;
        margin: 0;
        padding: 0;
        text-align: right;
        margin-top: -35px;
        height: 42px;
    }
    .about-module div{
        font-size: 18px;
        font-weight: 300;
        color: #808080;
        text-align: justify;
    }
    .about-grey-line{
        width: 290px;
        border: 0;
        height: 1px;
        margin: 25px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
    /*-- count table --*/
    #about_tab{
        width: 450px;
        height: 257px;
        margin: 60px auto;
        text-align: center;
        color: #EB5C4E;
        background-position: center;
        background: no-repeat;
        background-size: contain;
    }
    .about_tab_th{
        width: 106px;
        font-size: 62px;
        vertical-align: bottom;
        font-weight: bold;
    }
    .about_tab_txt{
        font-size: 16px;
        vertical-align: top;
        font-weight: 600;
    }
}


@media screen and (max-width: 1022px) and (min-width: 766px){
    /*#aboutBanner {*/
        /*background-image: url("../images/mobile/aboutus/about_768.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*margin: 87px auto 0 auto;*/
        /*width: 768px;*/
        /*height: 258px;*/
    /*}*/
    #about_big_container{
        width: 768px;
        height: auto;
        margin: 20px auto 0 auto;
        display: flex;
        justify-content: space-around;
    }
    #about-community-block{
        width: 290px;
        margin: 50px auto 0 auto;
        text-align: center;
        display: block;
    }
    .about-module{
        width: 290px;
        /*margin: 40px auto 0 auto;*/
        text-align: center;
        display: inline-block;
    }
    .about-module h1{
        font-size: 48px;
        font-weight: 100;
        color: #808080;
        margin-bottom: 0;
        text-align: left;
    }
    .about-module h2{
        margin-top: 5px;
        font-size: 18px;
        font-weight: 400;
        color: #EB5C4E;
        font-style: italic;
        text-align: left;
    }
    .about-module img{
        width: 290px;
        height: auto;
    }
    .about-module a{
        text-decoration: none;
    }
    .about-module .icon{
        color: #EB5C4E;
        font-size: 45px;
        margin: 0;
        padding: 0;
        text-align: right;
        margin-top: -35px;
        height: 42px;
    }
    .about-module div{
        font-size: 18px;
        font-weight: 300;
        color: #808080;
        text-align: justify;
    }
    .about-grey-line{
        display: none;
        width: 290px;
        border: 0;
        height: 1px;
        margin: 25px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
    /*-- count table --*/
    #about_tab{
        width: 768px;
        height: 439px;
        margin: 60px auto;
        text-align: center;
        color: #EB5C4E;
        background-position: center;
        background: no-repeat;
        background-size: contain;
    }
    .about_tab_th{
        width: 106px;
        font-size: 104px;
        vertical-align: bottom;
        font-weight: bold;
    }
    .about_tab_txt{
        font-size: 27px;
        vertical-align: top;
        font-weight: 600;
    }
}