@media screen and (max-width: 320px){

    #blogBanner{
        background-image: url("../images/mobile/banners/blog-320.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 247px;
        margin: 65px auto 0 auto;
        width: 290px;
    }
    /*--categories nav--*/
    #allPostCategories{
        width: 290px;
        margin: 50px auto 0 auto;
        text-align: center;
        padding: 0;
    }
    .categories-item{
        display: inline-block;
        margin: 0;
    }
    .categories-item-active{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
    }
    .categories-item a{
        display: block;
        width: 60px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3c4246;
        font-weight: 400;
        font-size: 14px;
        margin: 0;
        padding: 7px 4px;
    }
    .categories-item a:hover{
        color: #fff;
        background-color: #EB5C4E;
        cursor: pointer;
    }

    /*-- list of blog articles --*/
    #blog-mainContainer{
        width: 290px;
        height: auto;
        list-style-type: none;
        padding: 0;
        margin: 0 auto 0 auto;
    }
    .singlePostLi{
        margin-top: 65px;
        margin-bottom: 80px;
    }
    .singlePostLi a{
        text-decoration: none;
    }
    .singlePostLi img{
        width: 290px;
        height: 161px;
    }
    .singlePostLi h1{
        font-size: 24px;
        font-weight: 700;
        color: #2a2a2a;
    }
    .singlePostLi h1:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .icon-calendar{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 22px;
        font-style: normal;
        margin-right: 10px;
        vertical-align: middle;
    }
    .blog-big_article_category{
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        background-color: #EB5C4E;
        padding: 2px 5px;
        width: 65px;
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .blog-big_article_date{
        display: inline-block;
        font-size: 13px;
        color: #909090;
        vertical-align: middle;
    }
    .singlePostLi ul{
        list-style-type: none;
        padding: 0;
    }
    .work-description{
        margin-top: 20px;
        color: grey;
        font-size: 17px;
        text-align: justify;
    }
    .blog-description-arrow{
        float: right;
    }
    .blog-description-arrow a{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 48px;
        display: block;
    }
    .blog-description-arrow a:hover{
        color: grey;
        cursor: pointer;
    }
    /*--pagination--*/
    .pagination{
        width: 290px;
        margin: 0 auto;
    }
    .pagination h2{
        display: none;
    }
    .page-numbers{
        border: 2px solid #EB5C4E;
        text-decoration: none;
        color: #3c4246 !important;
        margin: 0 6px;
        font-size: 16px;
        padding: 1px 5px;
        font-weight: 700;
    }
    .current{
        color: #fff !important;
        background-color: #EB5C4E !important;
    }
    .page-numbers:hover{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    .prev, .next{
        font-size: 16px;
        font-weight: 700;
        color: #3c4246 !important;
        border: none;
    }
    .prev{
        float: left;
        margin: 0;
        padding: 0;
    }
    .prev:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .next{
        float: right;
        margin: 0;
        padding: 0;
    }
    .next:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .dots{
        border: none;
        margin: 0;
        padding: 0;
    }
    .dots:hover{
        background-color: #ffffff !important;
        color: #3c4246 !important;
        cursor: default;
    }
    .blog_hr{
        width: 290px;
        border: 0;
        height: 1px;
        margin: 26px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
    /*--Recent and Popular posts--*/
    /*navbar*/
    #blog-recent-popular-buttons{
        width: 260px;
        padding: 0;
        margin: 45px auto 0 auto;
    }
    #blog-recent-popular-buttons li{
        display: inline-block;
        width: 110px;
        text-align: center;
        background-color: #3D4246;
        color: #ffffff;
        font-weight: 500;
        padding: 10px 0 8px 0;
        font-size: 16px;
    }
    #blog-recent-popular-buttons li:hover{
        background-color: #EB5C4E;
        transition: 0.3s;
        cursor: pointer;
    }
    .blog-right-button-active{
        background-color: #EB5C4E !important;
    }
    #blog-right-button-resent{

    }
    #blog-right-button-popular{
        margin-left: 35px;
    }
    /*recent and popular posts*/
    #blog-resent-publications{
        width: 290px;
        margin: 0 auto;
    }
    #blog-popular-publications{
        display: none;
        width: 290px;
        margin: 36px auto 0 auto;
    }
    .blog-resent-description{
        display: none;
    }
    .blog-resent-element{
        margin-top: 36px;
    }
    .blog-resent-thumbnail{
        display: inline-block;
        vertical-align: top;
        width: 150px;
        height: 150px;
    }
    .blog-resent-allTexts{
        width: 130px;
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 5px;
    }
    .blog-resent-allTexts a{
        text-decoration: none;
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 500;
        vertical-align: top;
        display: block;
        min-height: 113px;
    }
    /*--subscribe--*/
    #blog-subscribe{
        display: block;
        width: 290px;
        margin: 55px auto 0 auto;
        font-size: 30px;
        font-weight: 200;
        color: #909090;
    }
    #blog-subscribe-input{
        width: 290px;
        margin: 25px auto 110px auto;
        vertical-align: top;
    }
    #blog-subscribe-input input{
        display: inline-block;
        width: 212px;
        height: 34px;
        border: 2px solid #d3d3d3;
        padding-left: 2px;
        font-size: 18px;
        vertical-align: top;
    }
    #blog-subscribe-input div{
        display: inline-block;
        font-family: "untitled-font-2" !important;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        font-size: 37px;
        padding: 0 17px;
        margin-left: -5px;
    }

}


@media screen and (max-width: 478px) and (min-width: 320px){
    #blogBanner{
        background-image: url("../images/mobile/banners/blog-320.png");
        background-repeat: no-repeat;
        background-position: center;
        margin: 65px auto 0 auto;
        width: 290px;
        height: 247px;
    }
    /*--categories nav--*/
    #allPostCategories{
        width: 290px;
        margin: 50px auto 0 auto;
        text-align: center;
        padding: 0;
    }
    .categories-item{
        display: inline-block;
        margin: 0;
    }
    .categories-item-active{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
    }
    .categories-item a{
        display: block;
        width: 60px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3c4246;
        font-weight: 400;
        font-size: 14px;
        margin: 0;
        padding: 7px 4px;
    }
    .categories-item a:hover{
        color: #fff;
        background-color: #EB5C4E;
        cursor: pointer;
    }

    /*-- list of blog articles --*/
    #blog-mainContainer{
        width: 290px;
        height: auto;
        list-style-type: none;
        padding: 0;
        margin: 0 auto 0 auto;
    }
    .singlePostLi{
        margin-top: 65px;
        margin-bottom: 80px;
    }
    .singlePostLi a{
        text-decoration: none;
    }
    .singlePostLi img{
        width: 290px;
        height: 161px;
    }
    .singlePostLi h1{
        font-size: 24px;
        font-weight: 700;
        color: #2a2a2a;
    }
    .singlePostLi h1:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .icon-calendar{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 22px;
        font-style: normal;
        margin-right: 10px;
        vertical-align: middle;
    }
    .blog-big_article_category{
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        background-color: #EB5C4E;
        padding: 2px 5px;
        width: 65px;
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .blog-big_article_date{
        display: inline-block;
        font-size: 13px;
        color: #909090;
        vertical-align: middle;
    }
    .singlePostLi ul{
        list-style-type: none;
        padding: 0;
    }
    .work-description{
        margin-top: 20px;
        color: grey;
        font-size: 17px;
        text-align: justify;
    }
    .blog-description-arrow{
        float: right;
    }
    .blog-description-arrow a{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 48px;
        display: block;
    }
    .blog-description-arrow a:hover{
        color: grey;
        cursor: pointer;
    }
    /*--pagination--*/
    .pagination{
        width: 290px;
        margin: 0 auto;
    }
    .pagination h2{
        display: none;
    }
    .page-numbers{
        border: 2px solid #EB5C4E;
        text-decoration: none;
        color: #3c4246 !important;
        margin: 0 6px;
        font-size: 16px;
        padding: 1px 5px;
        font-weight: 700;
    }
    .current{
        color: #fff !important;
        background-color: #EB5C4E !important;
    }
    .page-numbers:hover{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    .prev, .next{
        font-size: 16px;
        font-weight: 700;
        color: #3c4246 !important;
        border: none;
    }
    .prev{
        float: left;
        margin: 0;
        padding: 0;
    }
    .prev:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .next{
        float: right;
        margin: 0;
        padding: 0;
    }
    .next:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .dots{
        border: none;
        margin: 0;
        padding: 0;
    }
    .dots:hover{
        background-color: #ffffff !important;
        color: #3c4246 !important;
        cursor: default;
    }
    .blog_hr{
        width: 290px;
        border: 0;
        height: 1px;
        margin: 26px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
    /*--Recent and Popular posts--*/
    /*navbar*/
    #blog-recent-popular-buttons{
        width: 260px;
        padding: 0;
        margin: 45px auto 0 auto;
    }
    #blog-recent-popular-buttons li{
        display: inline-block;
        width: 110px;
        text-align: center;
        background-color: #3D4246;
        color: #ffffff;
        font-weight: 500;
        padding: 10px 0 8px 0;
        font-size: 16px;
    }
    #blog-recent-popular-buttons li:hover{
        background-color: #EB5C4E;
        transition: 0.3s;
        cursor: pointer;
    }
    .blog-right-button-active{
        background-color: #EB5C4E !important;
    }
    #blog-right-button-resent{

    }
    #blog-right-button-popular{
        margin-left: 35px;
    }
    /*recent and popular posts*/
    #blog-resent-publications{
        width: 290px;
        margin: 0 auto;
    }
    #blog-popular-publications{
        display: none;
        width: 290px;
        margin: 36px auto 0 auto;
    }
    .blog-resent-description{
        display: none;
    }
    .blog-resent-element{
        margin-top: 36px;
    }
    .blog-resent-thumbnail{
        display: inline-block;
        vertical-align: top;
        width: 150px;
        height: 150px;
    }
    .blog-resent-allTexts{
        width: 130px;
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 5px;
    }
    .blog-resent-allTexts a{
        text-decoration: none;
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 500;
        vertical-align: top;
        display: block;
        min-height: 113px;
    }
    /*--subscribe--*/
    #blog-subscribe{
        display: block;
        width: 290px;
        margin: 55px auto 0 auto;
        font-size: 30px;
        font-weight: 200;
        color: #909090;
    }
    #blog-subscribe-input{
        width: 290px;
        margin: 25px auto 110px auto;
        vertical-align: top;
    }
    #blog-subscribe-input input{
        display: inline-block;
        width: 212px;
        height: 34px;
        border: 2px solid #d3d3d3;
        padding-left: 2px;
        font-size: 18px;
        vertical-align: top;
    }
    #blog-subscribe-input div{
        display: inline-block;
        font-family: "untitled-font-2" !important;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        font-size: 37px;
        padding: 0 17px;
        margin-left: -5px;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px){
    #blogBanner{
        background-image: url("../images/mobile/banners/blog_480.png");
        background-repeat: no-repeat;
        background-position: center;
        margin: 80px auto 0 auto;
        width: 450px;
        height: 246px;
    }
    /*--categories nav--*/
    #allPostCategories{
        width: 450px;
        margin: 50px auto 0 auto;
        text-align: center;
        padding: 0;
    }
    .categories-item{
        display: inline-block;
        margin: 0;
    }
    .categories-item-active{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
    }
    .categories-item a{
        display: block;
        width: 100px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3c4246;
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        padding: 7px 4px;
    }
    .categories-item a:hover{
        color: #fff;
        background-color: #EB5C4E;
        cursor: pointer;
    }

    /*-- list of blog articles --*/
    #blog-mainContainer{
        width: 450px;
        height: auto;
        list-style-type: none;
        padding: 0;
        margin: 0 auto 0 auto;
    }
    .singlePostLi{
        margin-top: 65px;
        margin-bottom: 80px;
    }
    .singlePostLi a{
        text-decoration: none;
    }
    .singlePostLi img{
        width: 450px !important;
        height: 250px !important;
    }
    .singlePostLi h1{
        font-size: 24px;
        font-weight: 700;
        color: #2a2a2a;
    }
    .singlePostLi h1:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .icon-calendar{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 22px;
        font-style: normal;
        margin-right: 10px;
        vertical-align: middle;
    }
    .blog-big_article_category{
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        background-color: #EB5C4E;
        padding: 4px 5px;
        width: 65px;
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .blog-big_article_date{
        display: inline-block;
        font-size: 13px;
        color: #909090;
        vertical-align: middle;
    }
    .singlePostLi ul{
        list-style-type: none;
        padding: 0;
    }
    .work-description{
        margin-top: 20px;
        color: grey;
        font-size: 17px;
        text-align: justify;
    }
    .blog-description-arrow{
        float: right;
    }
    .blog-description-arrow a{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 48px;
        display: block;
    }
    .blog-description-arrow a:hover{
        color: grey;
        cursor: pointer;
    }
    /*--pagination--*/
    .pagination{
        width: 450px;
        margin: 0 auto;
    }
    .pagination h2{
        display: none;
    }
    .page-numbers{
        border: 2px solid #EB5C4E;
        text-decoration: none;
        color: #3c4246 !important;
        margin: 0 6px;
        font-size: 16px;
        padding: 1px 5px;
        font-weight: 700;
    }
    .current{
        color: #fff !important;
        background-color: #EB5C4E !important;
    }
    .page-numbers:hover{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    .prev, .next{
        font-size: 16px;
        font-weight: 700;
        color: #3c4246 !important;
        border: none;
    }
    .prev{
        float: left;
        margin: 0;
        padding: 0;
    }
    .prev:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .next{
        float: right;
        margin: 0;
        padding: 0;
    }
    .next:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .dots{
        border: none;
        margin: 0;
        padding: 0;
    }
    .dots:hover{
        background-color: #ffffff !important;
        color: #3c4246 !important;
        cursor: default;
    }
    .blog_hr{
        width: 450px;
        border: 0;
        height: 1px;
        margin: 26px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }

    /*--Recent and Popular posts--*/
    /*navbar*/
    #blog-recent-popular-buttons{
        width: 260px;
        padding: 0;
        margin: 60px auto 0 auto;
    }
    #blog-recent-popular-buttons li{
        display: inline-block;
        width: 110px;
        text-align: center;
        background-color: #3D4246;
        color: #ffffff;
        font-weight: 500;
        padding: 10px 0 8px 0;
        font-size: 16px;
    }
    #blog-recent-popular-buttons li:hover{
        background-color: #EB5C4E;
        transition: 0.3s;
        cursor: pointer;
    }
    .blog-right-button-active{
        background-color: #EB5C4E !important;
    }
    #blog-right-button-resent{

    }
    #blog-right-button-popular{
        margin-left: 35px;
    }
    /*recent and popular posts*/
    #blog-resent-publications{
        width: 450px;
        margin: 0 auto;
    }
    #blog-popular-publications{
        display: none;
        width: 450px;
        margin: 0 auto;
    }
    .blog-resent-description{
        color: #808080;
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
    }
    .blog-resent-element{
        margin-top: 36px;
    }
    .blog-resent-thumbnail{
        display: inline-block;
        vertical-align: top;
        width: 150px;
        height: 150px;
    }
    .blog-resent-allTexts{
        width: 280px;
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        min-height: 154px;
    }
    .blog-resent-allTexts a{
        text-decoration: none;
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 500;
        vertical-align: top;
        display: block;
        text-align: justify;
    }
    .blog-info-row{

    }
    /*--subscribe--*/
    #blog-subscribe{
        display: block;
        width: 450px;
        margin: 75px auto 0 auto;
        font-size: 30px;
        font-weight: 200;
        color: #909090;
    }
    #blog-subscribe-input{
        width: 450px;
        margin: 25px auto 110px auto;
        vertical-align: top;
    }
    #blog-subscribe-input input{
        display: inline-block;
        width: 300px;
        height: 34px;
        border: 2px solid #d3d3d3;
        padding-left: 2px;
        font-size: 18px;
        vertical-align: top;
    }
    #blog-subscribe-input div{
        display: inline-block;
        font-family: "untitled-font-2" !important;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        font-size: 37px;
        padding: 0 17px;
        margin-left: -5px;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    #blogBanner{
        background-image: url("../images/mobile/banners/blog_768.png");
        background-repeat: no-repeat;
        background-position: center;
        margin: 87px auto 0 auto;
        width: 450px;
        height: 246px;
    }
    /*--categories nav--*/
    #allPostCategories{
        width: 450px;
        margin: 50px auto 0 auto;
        text-align: center;
        padding: 0;
    }
    .categories-item{
        display: inline-block;
        margin: 0;
    }
    .categories-item-active{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
    }
    .categories-item a{
        display: block;
        width: 100px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3c4246;
        font-weight: 500;
        font-size: 16px;
        margin: 0;
        padding: 7px 4px;
    }
    .categories-item a:hover{
        color: #fff;
        background-color: #EB5C4E;
        cursor: pointer;
    }

    /*-- list of blog articles --*/
    #blog-mainContainer{
        width: 725px;
        height: auto;
        list-style-type: none;
        padding: 0;
        margin: 0 auto 0 auto;
    }
    .singlePostLi{
        margin-top: 65px;
        margin-bottom: 80px;
    }
    .singlePostLi a{
        text-decoration: none;
    }
    .singlePostLi img{
        width: 725px !important;
        height: 403px !important;
    }
    .singlePostLi h1{
        font-size: 24px;
        font-weight: 700;
        color: #2a2a2a;
    }
    .singlePostLi h1:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .icon-calendar{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 22px;
        font-style: normal;
        margin-right: 10px;
        vertical-align: middle;
    }
    .blog-big_article_category{
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        background-color: #EB5C4E;
        padding: 4px 5px;
        width: 65px;
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .blog-big_article_date{
        display: inline-block;
        font-size: 13px;
        color: #909090;
        vertical-align: middle;
    }
    .singlePostLi ul{
        list-style-type: none;
        padding: 0;
    }
    .work-description{
        margin-top: 20px;
        color: grey;
        font-size: 17px;
        text-align: justify;
    }
    .blog-description-arrow{
        float: right;
    }
    .blog-description-arrow a{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 48px;
        display: block;
    }
    .blog-description-arrow a:hover{
        color: grey;
        cursor: pointer;
    }
    /*--pagination--*/
    .pagination{
        width: 725px;
        margin: 0 auto;
    }
    .pagination h2{
        display: none;
    }
    .page-numbers{
        border: 2px solid #EB5C4E;
        text-decoration: none;
        color: #3c4246 !important;
        margin: 0 6px;
        font-size: 16px;
        padding: 1px 5px;
        font-weight: 700;
    }
    .current{
        color: #fff !important;
        background-color: #EB5C4E !important;
    }
    .page-numbers:hover{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    .prev, .next{
        font-size: 16px;
        font-weight: 700;
        color: #3c4246 !important;
        border: none;
    }
    .prev{
        float: left;
        margin: 0;
        padding: 0;
    }
    .prev:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .next{
        float: right;
        margin: 0;
        padding: 0;
    }
    .next:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .dots{
        border: none;
        margin: 0;
        padding: 0;
    }
    .dots:hover{
        background-color: #ffffff !important;
        color: #3c4246 !important;
        cursor: default;
    }
    .blog_hr{
        width: 725px;
        border: 0;
        height: 1px;
        margin: 26px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }

    /*--Recent and Popular posts--*/
    /*navbar*/
    #blog-recent-popular-buttons{
        width: 725px;
        padding: 0;
        margin: 60px auto 0 auto;
    }
    #blog-recent-popular-buttons li{
        display: inline-block;
        width: 110px;
        text-align: center;
        background-color: #3D4246;
        color: #ffffff;
        font-weight: 500;
        padding: 10px 0 8px 0;
        font-size: 16px;
    }
    #blog-recent-popular-buttons li:hover{
        background-color: #EB5C4E;
        transition: 0.3s;
        cursor: pointer;
    }
    .blog-right-button-active{
        background-color: #EB5C4E !important;
    }
    #blog-right-button-resent{

    }
    #blog-right-button-popular{
        margin-left: 35px;
    }
    /*recent and popular posts*/
    #blog-resent-publications{
        width: 725px;
        margin: 0 auto;
    }
    #blog-popular-publications{
        display: none;
        width: 725px;
        margin: 0 auto;
    }
    .blog-resent-description{
        color: #808080;
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
        min-height: 49px;
    }
    .blog-resent-element{
        margin-top: 36px;
    }
    .blog-resent-thumbnail{
        display: inline-block;
        vertical-align: top;
        width: 150px;
        height: 150px;
    }
    .blog-resent-allTexts{
        width: 555px;
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        min-height: 154px;
    }
    .blog-resent-allTexts a{
        text-decoration: none;
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 500;
        vertical-align: top;
        display: block;
        text-align: justify;
        min-height: 50px;
    }
    .blog-info-row{

    }
    /*--subscribe--*/
    #blog-subscribe{
        display: block;
        width: 725px;
        margin: 75px auto 0 auto;
        font-size: 48px;
        font-weight: 200;
        color: #909090;
    }
    #blog-subscribe-input{
        width: 725px;
        margin: 25px auto 110px auto;
        vertical-align: top;
    }
    #blog-subscribe-input input{
        display: inline-block;
        width: 300px;
        height: 34px;
        border: 2px solid #d3d3d3;
        padding-left: 2px;
        font-size: 18px;
        vertical-align: top;
    }
    #blog-subscribe-input div{
        display: inline-block;
        font-family: "untitled-font-2" !important;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        font-size: 37px;
        padding: 0 17px;
        margin-left: -5px;
    }
}