
@media screen and (max-width: 320px){
    #bottomRedLine{
        width: 100%;
        color: #fff;
        background-color: #EB5C4E;
        padding: 10px 0 35px 0;
    }
    #bottomJobLine_txt{
        display: block;
        width: 290px;
        margin: 20px auto;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    #bottomJobLine_btn{
        display: block;
        width: 175px;
        margin: 10px auto 0 auto;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #fff;
    }
    #bottomJobLine_btn:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px){
    #bottomRedLine{
        width: 100%;
        color: #fff;
        background-color: #EB5C4E;
        padding: 10px 0 35px 0;
    }
    #bottomJobLine_txt{
        display: block;
        width: 290px;
        margin: 20px auto;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    #bottomJobLine_btn{
        display: block;
        width: 175px;
        margin: 10px auto 0 auto;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #fff;
    }
    #bottomJobLine_btn:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px){
    #bottomRedLine{
        width: 100%;
        color: #fff;
        background-color: #EB5C4E;
        padding: 10px 0 35px 0;
    }
    #bottomJobLine_txt{
        display: block;
        width: 450px;
        margin: 20px auto;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    #bottomJobLine_btn{
        display: block;
        width: 175px;
        margin: 10px auto 0 auto;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #fff;
    }
    #bottomJobLine_btn:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    #bottomRedLine{
        width: 100%;
        color: #fff;
        background-color: #EB5C4E;
        padding: 10px 0 35px 0;
    }
    #bottomJobLine_txt{
        display: block;
        width: 725px;
        margin: 20px auto;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    #bottomJobLine_btn{
        display: block;
        width: 175px;
        margin: 30px auto 10px auto;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #fff;
    }
    #bottomJobLine_btn:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }
}