@media screen and (max-width: 320px) {
    .careers-block-title{
        font-size: 30px;
        color: #808080;
        font-weight: 100;
        text-align: center;
        width: 290px;
        margin: 62px auto 0 auto;
    }
    .careers-block-text{
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        width: 290px;
        margin: 40px auto 0 auto;
        color: #808080;
    }
    #careers-block1-button{
        width: 180px;
        margin: 30px auto 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 8px 2px;
    }
    #careers-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    /*--- block 2 ---*/
    .careers_fullHR{
        width: 100%;
        border: 0;
        height: 1px;
        margin-top: -30px;
        margin-bottom: 40px;
        background-image: linear-gradient(to right, rgba(235,92,78, 0.4), rgba(235,92,78, 0.4), rgba(235,92,78, 0.4));
    }
    #block2-quote{
        width: 66px;
        padding: 24px 12px 20px 25px;
        margin: 10px auto 0 auto;
        background-color: #EB5C4E;
        border: 5px solid #EB5C4E;
        color: #ffffff;
        z-index: 100;
    }
    #block2-quote i{
        font-family: Fontello;
        font-size: 60px;
        font-style: normal;
        vertical-align: middle;
    }
    #block2_onboard_Text{

    }
    .careers_emp_name{
        color: #EB5C4E;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        width: 290px;
        margin: 10px auto 0 auto;
    }
    .careers_emp_text{
        display: block;
        width: 290px;
        margin: 10px auto 0 auto;
        color: #808080;
        font-weight: 300;
        font-size: 18px;
        min-height: 45px;
        text-align: center;
    }
    .careers_partHR{
        width: 80%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(235,92,78, 0.4), rgba(235,92,78, 0.4), rgba(235,92,78, 0.4));
    }
    #first_partHR{
        margin: 30px 20% 30px 0;
    }
    #second_partHR{
        margin: 30px 0 30px 20%;
    }
    #carees_second_fullHR{
        margin-top: 110px !important;
    }
    #block2_gender{
        width: 66px;
        margin: -115px auto 0 auto;
        padding: 22px 13px 12px 25px;
        border: 5px solid #EB5C4E;
        z-index: 100;
        background-color: #ffffff;
        color: #EB5C4E;
        font-size: 54px;
    }
    #male-hipster{
        display: none;
    }
    #female-hipster{
        display: none;
    }
    /*-- jobs list table --*/
    #careers-block3-table{
        width: 290px;
        margin: 55px auto 0 auto;
        text-align: left;
    }
    #careers-block3-table th{
        height: 55px;
    }
    .careers-block3-table-tit-row{
        font-weight: 900;
        font-size: 16px;
        text-align: left;
        height: 50px;
    }
    .careers-tab-lang-col{
        display: none;
    }
    .block3-job-title{
        color: #EB5C4E;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        margin-right: 8px;
    }
    .block3-job-location{
        font-size: 14px;
        color: #808080;
        font-weight: 300;
    }
    #careers_lasttext{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px) {
    .careers-block-title{
        font-size: 30px;
        color: #808080;
        font-weight: 100;
        text-align: center;
        width: 290px;
        margin: 62px auto 0 auto;
    }
    .careers-block-text{
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        width: 290px;
        margin: 40px auto 0 auto;
        color: #808080;
    }
    #careers-block1-button{
        width: 180px;
        margin: 30px auto 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 8px 2px;
    }
    #careers-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    /*--- block 2 ---*/
    .careers_fullHR{
        width: 100%;
        border: 0;
        height: 1px;
        margin-top: -30px;
        margin-bottom: 40px;
        background-image: linear-gradient(to right, rgba(235,92,78, 0.4), rgba(235,92,78, 0.4), rgba(235,92,78, 0.4));
    }
    #block2-quote{
        width: 66px;
        padding: 24px 12px 20px 25px;
        margin: 10px auto 0 auto;
        background-color: #EB5C4E;
        border: 5px solid #EB5C4E;
        color: #ffffff;
        z-index: 100;
    }
    #block2-quote i{
        font-family: Fontello;
        font-size: 60px;
        font-style: normal;
        vertical-align: middle;
    }
    #block2_onboard_Text{

    }
    .careers_emp_name{
        color: #EB5C4E;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        width: 290px;
        margin: 10px auto 0 auto;
    }
    .careers_emp_text{
        display: block;
        width: 290px;
        margin: 10px auto 0 auto;
        color: #808080;
        font-weight: 300;
        font-size: 18px;
        min-height: 45px;
        text-align: center;
    }
    .careers_partHR{
        width: 80%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(235,92,78, 0.4), rgba(235,92,78, 0.4), rgba(235,92,78, 0.4));
    }
    #first_partHR{
        margin: 30px 20% 30px 0;
    }
    #second_partHR{
        margin: 30px 0 30px 20%;
    }
    #carees_second_fullHR{
        margin-top: 110px !important;
    }
    #block2_gender{
        width: 66px;
        margin: -115px auto 0 auto;
        padding: 22px 13px 12px 25px;
        border: 5px solid #EB5C4E;
        z-index: 100;
        background-color: #ffffff;
        color: #EB5C4E;
        font-size: 54px;
    }
    #male-hipster{
        display: none;
    }
    #female-hipster{
        display: none;
    }
    /*-- jobs list table --*/
    #careers-block3-table{
        width: 290px;
        margin: 55px auto 0 auto;
        text-align: left;
    }
    #careers-block3-table th{
        height: 55px;
    }
    .careers-block3-table-tit-row{
        font-weight: 900;
        font-size: 16px;
        text-align: left;
        height: 50px;
    }
    .careers-tab-lang-col{
        display: none;
    }
    .block3-job-title{
        color: #EB5C4E;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        margin-right: 8px;
    }
    .block3-job-location{
        font-size: 14px;
        color: #808080;
        font-weight: 300;
    }
    #careers_lasttext{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    .careers-block-title{
        font-size: 36px;
        color: #808080;
        font-weight: 100;
        text-align: center;
        width: 450px;
        margin: 62px auto 0 auto;
    }
    .careers-block-text{
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        width: 450px;
        margin: 40px auto 0 auto;
        color: #808080;
    }
    #careers-block1-button{
        width: 180px;
        margin: 30px auto 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 8px 2px;
    }
    #careers-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    /*--- block 2 ---*/
    .careers_bigicon_container{
        width: 450px;
        margin: 0 auto;
        z-index: 100;
    }
    #emp_short_quo{
        margin-bottom: 50px;
    }
    .careers_fullHR{
        display: none;
    }
    #block2-quote{
        width: 66px;
        padding: 24px 12px 20px 25px;
        margin: 10px 0 0 337px;
        background-color: #EB5C4E;
        border: 5px solid #EB5C4E;
        color: #ffffff;
        z-index: 100;
    }
    #block2-quote i{
        font-family: Fontello;
        font-size: 60px;
        font-style: normal;
        vertical-align: middle;
    }
    #careers_onboard_container{
        margin: -76px auto 0 auto;
        width: 450px;
    }
    #block2_onboard_Text{
        width: 345px;
        padding: 30px 50px 30px 0;
        border-top: 1px solid rgba(235,92,78, 0.4);
        border-right: 1px solid rgba(235,92,78, 0.4);
        border-bottom: 1px solid rgba(235,92,78, 0.4);
    }
    .careers_emp_name{
        color: #EB5C4E;
        font-weight: 700;
        font-size: 20px;
        text-align: left;
    }
    .careers_emp_text{
        color: #808080;
        font-weight: 300;
        font-size: 18px;
        min-height: 45px;
    }
    .careers_partHR{
        display: none;
    }
    #first_partHR{
        margin: 30px 15% 30px 0;
    }
    #second_partHR{
        margin: 30px 0 30px 15%;
    }
    #block2_gender{
        width: 66px;
        margin: 30px 0 0 0;
        z-index: 100;
        background-color: #ffffff;
        padding: 22px 13px 12px 25px;
        border: 5px solid #EB5C4E;
        color: #EB5C4E;
        font-size: 54px;
    }
    #careers_employee_container{
        margin: 0 auto;
        width: 450px;
        position: relative;
        top: -76px;
        z-index: -1;
    }
    #block2_employee_Text{
        /*width: 345px;*/
        margin-left: 35px;
        padding: 30px 0 30px 100px;
        border-top: 1px solid rgba(235,92,78, 0.4);
        border-left: 1px solid rgba(235,92,78, 0.4);
        border-bottom: 1px solid rgba(235,92,78, 0.4);
    }
    #male-hipster{
        display: none;
    }
    #female-hipster{
        display: none;
    }
    /*-- jobs list table --*/
    #careers-block3-table{
        width: 450px;
        margin: 55px auto 0 auto;
        text-align: left;
    }
    #careers-block3-table th{
        height: 55px;
    }
    .careers-block3-table-tit-row{
        font-weight: 900 !important;
        font-size: 17px !important;
        text-align: left !important;
        height: 50px !important;
        color: #1a1a1a !important;
    }
    .careers-tab-lang-col{
        font-size: 16px;
        color: #808080;
        font-weight: 300;
        width: 100px;
    }
    .block3-job-title{
        width: 100px;
        color: #EB5C4E;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        margin-right: 8px;
    }
    .block3-job-location{
        font-size: 16px;
        color: #808080;
        font-weight: 300;
    }
    #careers_lasttext{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    .careers-block-title{
        font-size: 48px;
        color: #808080;
        font-weight: 100;
        text-align: center;
        width: 725px;
        margin: 62px auto 0 auto;
    }
    .careers-block-text{
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        width: 725px;
        margin: 40px auto 0 auto;
        color: #808080;
    }
    #careers-block1-button{
        width: 214px;
        margin: 30px auto 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        padding: 10px 2px;
    }
    #careers-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    /*--- block 2 ---*/
    .careers_bigicon_container{
        width: 725px;
        margin: 0 auto;
        z-index: 100;
    }
    #emp_short_quo{
        margin-bottom: 50px;
    }
    .careers_fullHR{
        display: none;
    }
    #block2-quote{
        width: 66px;
        padding: 24px 12px 20px 25px;
        margin: 10px 0 0 610px;
        background-color: #EB5C4E;
        border: 5px solid #EB5C4E;
        color: #ffffff;
        z-index: 100;
    }
    #block2-quote i{
        font-family: Fontello;
        font-size: 60px;
        font-style: normal;
        vertical-align: middle;
    }
    #careers_onboard_container{
        margin: -76px auto 0 auto;
        width: 725px;
    }
    #block2_onboard_Text{
        width: 345px;
        margin-left: 270px;
        padding: 30px 50px 30px 0;
        border-top: 1px solid rgba(235,92,78, 0.4);
        border-right: 1px solid rgba(235,92,78, 0.4);
        border-bottom: 1px solid rgba(235,92,78, 0.4);
    }
    .careers_emp_name{
        color: #EB5C4E;
        font-weight: 700;
        font-size: 20px;
        text-align: left;
    }
    .careers_emp_text{
        color: #808080;
        font-weight: 300;
        font-size: 18px;
        min-height: 45px;
    }
    .careers_partHR{
        display: none;
    }
    #first_partHR{
        margin: 30px 15% 30px 0;
    }
    #second_partHR{
        margin: 30px 0 30px 15%;
    }
    #block2_gender{
        width: 66px;
        margin: 30px 0 0 0;
        z-index: 100;
        background-color: #ffffff;
        padding: 22px 13px 12px 25px;
        border: 5px solid #EB5C4E;
        color: #EB5C4E;
        font-size: 54px;
    }
    #careers_employee_container{
        margin: 0 auto;
        width: 725px;
        position: relative;
        top: -76px;
        z-index: -1;
    }
    #block2_employee_Text{
        width: 345px;
        margin-left: 35px;
        padding: 30px 0 30px 100px;
        border-top: 1px solid rgba(235,92,78, 0.4);
        border-left: 1px solid rgba(235,92,78, 0.4);
        border-bottom: 1px solid rgba(235,92,78, 0.4);
    }

    /*-- jobs list table --*/
    #careers-block3-table{
        width: 725px;
        margin: 55px auto 0 auto;
        text-align: left;
    }
    #careers-block3-table th{
        height: 55px;
    }
    .careers-block3-table-tit-row{
        font-weight: 900 !important;
        font-size: 17px !important;
        text-align: left !important;
        height: 50px !important;
        color: #1a1a1a !important;
    }
    .careers-tab-lang-col{
        font-size: 18px;
        color: #808080;
        font-weight: 300;
        width: 100px;
    }
    .block3-job-title{
        width: 120px;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
        margin-right: 8px;
    }
    .block3-job-location{
        font-size: 18px;
        color: #808080;
        font-weight: 300;
        width: 120px;
    }
    #careers_lasttext{
        margin-bottom: 70px;
    }
}