@media screen and (max-width: 320px) {
    /*--- nav bar ---*/
    #cs-three-types{
        width: 320px;
        margin: 40px auto;
        padding: 0;
    }
    #cs-three-types li{
        display: inline-block;
        padding: 9px 13px;
        font-weight: 400;
        font-size: 15px;
    }
    #cs-three-types li:hover{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    #cs-three-types-all{

    }
    #cs-three-types-service{
        margin: 0 15px;
    }
    #cs-three-types-industry{

    }
    .cs-three-types-active{
        background-color: #EB5C4E;
        color: #fff;
    }

    /*-- all case studies --*/
    #caseStudyUl{
        width: 320px;
        padding: 0;
        margin: 0 auto;
    }
    #caseStudyUl li{
        display: inline-block;
        margin: 0 0 30px 0;
    }
    /*-- single case study --*/
    .cs-content-item {
        background: url('../images/home/partner.png');
        background-repeat: no-repeat;
        background-size: cover;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 200px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        width: 320px;
    }
    .cs-content-item .cs-overlay {
        border-bottom: 200px solid rgba(255, 0, 0, 0.75);
        border-left: 390px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .7;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0;
    }
    .cs-content-item:hover .cs-overlay {
        border-bottom: 800px solid rgba(255, 0, 0, 0.75);
        border-left: 800px solid transparent;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-corner-overlay-content {
        width: 190px;
        bottom: 15px;
        color: #333;
        position: absolute;
        right: 15px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item:hover .cs-corner-overlay-content {
        opacity: 0;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cs-content-item .cs-overlay-content h2 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    .cs-content-item:hover .cs-overlay-content {
        opacity: 1;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .cs-corner-overlay-content {
        color: #fff !important;
    }
    .cs-content-item p {
        color: #fff !important;
        min-height: 42px;
        margin: 0;
    }
    .cs_permanent_text{
        font-size: 24px;
        font-weight: bold;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px) {
    /*--- nav bar ---*/
    #cs-three-types{
        width: 320px;
        margin: 40px auto;
        padding: 0;
    }
    #cs-three-types li{
        display: inline-block;
        padding: 9px 13px;
        font-weight: 400;
        font-size: 15px;
    }
    #cs-three-types li:hover{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    #cs-three-types-all{

    }
    #cs-three-types-service{
        margin: 0 15px;
    }
    #cs-three-types-industry{

    }
    .cs-three-types-active{
        background-color: #EB5C4E;
        color: #fff;
    }

    /*-- all case studies --*/
    #caseStudyUl{
        width: 320px;
        padding: 0;
        margin: 0 auto;
    }
    #caseStudyUl li{
        display: inline-block;
        margin: 0 0 30px 0;
    }
    /*-- single case study --*/
    .cs-content-item {
        background: url('../images/home/partner.png');
        background-repeat: no-repeat;
        background-size: cover;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 200px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        width: 320px;
    }
    .cs-content-item .cs-overlay {
        border-bottom: 200px solid rgba(255, 0, 0, 0.75);
        border-left: 390px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .7;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0;
    }
    .cs-content-item:hover .cs-overlay {
        border-bottom: 800px solid rgba(255, 0, 0, 0.75);
        border-left: 800px solid transparent;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-corner-overlay-content {
        width: 190px;
        bottom: 15px;
        color: #333;
        position: absolute;
        right: 15px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item:hover .cs-corner-overlay-content {
        opacity: 0;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cs-content-item .cs-overlay-content h2 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    .cs-content-item:hover .cs-overlay-content {
        opacity: 1;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .cs-corner-overlay-content {
        color: #fff !important;
    }
    .cs-content-item p {
        color: #fff !important;
        min-height: 42px;
        margin: 0;
    }
    .cs_permanent_text{
        font-size: 24px;
        font-weight: bold;
    }
    /*=====================================
    = single page case study design
    =======================================*/
    /*--- top banner/essential texts/ ---*/
    #single-cs-banner{
        width: 290px;
        margin: 80px auto 30px auto;
    }
    #single-cs-banner-leftdiv{
        display: inline-block;
        width: 185px;
        height: 125px;
    }
    #single-cs-banner-triangle{
        position: relative;
        right: 0;
        width: 0;
        bottom: 0;
        height: 0;
        border-top: 170px solid #EB5C4E;
        border-right: 230px solid transparent;
        opacity: 1;
    }
    #single-cs-banner-triangletext{
        position: relative;
        display: inline-table;
        top: -178px;
        left: 15px;
        color: #fff;
        font-weight: bold;
        z-index: 100;
        vertical-align: top;
        text-decoration: none;
    }
    #single-cs-banner-triangletext p:nth-of-type(1){
        font-size: 22px;
    }
    #single-cs-banner-triangletext p:nth-of-type(2){
        font-size: 45px;
        width: 80px;
        margin: 20px 0 0 0;
    }
    #single-cs-banner-right{
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 290px;
        margin: -65px 0 0 0;
    }
    #single-cs-banner-right img{
        width: 180px;
    }
    /*-title-*/
    #single-cs-banner-title{
        font-size: 18px;
        color: #939393;
        justify-content: flex-end;
        margin: 20px 0 0 0;
    }
    /*-essence-*/
    #single-cs-essence{
        width: 290px;
        margin-top: 10px;
    }
    #single-cs-essence-text{
        display: inline-block;
        color: #EB5C4E;
        font-style: italic;
        font-size: 22px;
        width: 200px;
    }
    #single-cs-essence-line{
        display: inline-block;
        width: 85px;
        height: 4px;
        background-color: #EB5C4E;
        vertical-align: top;
        margin-top: 15px;
    }

    /*--- main content of the page ---*/
    #single-cs-main-left{
        width: 290px;
        margin: 0 auto 50px auto;
    }
    #single-cs-main-left-quote-symbol{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 55px;
        font-style: normal;
    }
    #single-cs-main-left-quote{
        color: #a1a1a1;
        font-style: italic;
        font-size: 18px;
        text-indent: 5px;
        text-align: justify;
        margin-top: 18px;
        vertical-align: top;
    }
    #single-cs-main-left-quoteauthor{
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        color: #939393;
        margin-top: 12px;
    }
    .single-cs-leftTitle{
        font-size: 24px;
        color: #EB5C4E;
        font-weight: bold;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 22px;
    }
    .single-cs-leftContent{
        font-size: 17px;
        color: grey;
        text-align: justify;
        font-weight: 300;
    }
    #download-pdf{
        margin-top: 70px;
    }
    #download-pdf img{
        display: inline-block;
    }
    #download-pdf-button{
        display: inline-block;
        width: 200px;
        padding: 9px 0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        margin-top: 13px;
        border: 2px solid #EB5C4E;
    }
    #download-pdf-button:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }

    #single-cs-main-right{
        width: 290px;
        display: inline-block;
        margin-left: 45px;
    }
    #single-cs-main-right-img{
        width: 290px;
        height: auto;
    }
    /*--solutions and results lists--*/
    .single-cs-main-right-ul{
        list-style: none;
        padding: 0;
    }
    .single-cs-main-right-ul li{
        margin: 18px 0;
    }
    .single-cs-main-right-ul p{
        width: 255px;
        display: inline-block;
        font-size: 17px;
        color: #909090;
        margin: 0 0 0 5px;
        vertical-align: top;
    }

    /*-- red triangles from the list --*/
    .red-triangle-list-element{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    /*--- nav bar ---*/
    #cs-three-types{
        width: 320px;
        margin: 40px auto;
        padding: 0;
    }
    #cs-three-types li{
        display: inline-block;
        padding: 9px 13px;
        font-weight: 400;
        font-size: 15px;
    }
    #cs-three-types li:hover{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    #cs-three-types-all{

    }
    #cs-three-types-service{
        margin: 0 15px;
    }
    #cs-three-types-industry{

    }
    .cs-three-types-active{
        background-color: #EB5C4E;
        color: #fff;
    }

    /*-- all case studies --*/
    #caseStudyUl{
        padding: 0;
        width: 320px;
        margin: 20px auto;
    }
    #caseStudyUl li{
        display: inline-block;
        margin: 0 0 30px 0;
    }
    /*-- single case study --*/
    .cs-content-item {
        background: url('../images/home/partner.png');
        background-repeat: no-repeat;
        background-size: cover;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 200px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        width: 320px;
    }
    .cs-content-item .cs-overlay {
        border-bottom: 200px solid rgba(255, 0, 0, 0.75);
        border-left: 390px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .7;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0;
    }
    .cs-content-item:hover .cs-overlay {
        border-bottom: 800px solid rgba(255, 0, 0, 0.75);
        border-left: 800px solid transparent;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-corner-overlay-content {
        width: 190px;
        bottom: 15px;
        color: #333;
        position: absolute;
        right: 15px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item:hover .cs-corner-overlay-content {
        opacity: 0;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cs-content-item .cs-overlay-content h2 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    .cs-content-item:hover .cs-overlay-content {
        opacity: 1;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .cs-corner-overlay-content {
        color: #fff !important;
    }
    .cs-content-item p {
        color: #fff !important;
        min-height: 42px;
        margin: 0;
    }
    .cs_permanent_text{
        font-size: 24px;
        font-weight: bold;
    }
    /*=====================================
    = single page case study design
    =======================================*/
    /*--- top banner/essential texts/ ---*/
    #single-cs-banner{
        width: 450px;
        margin: 80px auto 30px auto;
    }
    #single-cs-banner-leftdiv{
        display: inline-block;
        width: 185px;
        height: 125px;
    }
    #single-cs-banner-triangle{
        position: relative;
        right: 0;
        width: 0;
        bottom: 0;
        height: 0;
        border-top: 170px solid #EB5C4E;
        border-right: 230px solid transparent;
        opacity: 1;
    }
    #single-cs-banner-triangletext{
        position: relative;
        display: inline-table;
        top: -178px;
        left: 15px;
        color: #fff;
        font-weight: bold;
        z-index: 100;
        vertical-align: top;
        text-decoration: none;
    }
    #single-cs-banner-triangletext p:nth-of-type(1){
        font-size: 22px;
    }
    #single-cs-banner-triangletext p:nth-of-type(2){
        font-size: 45px;
        width: 80px;
        margin: 20px 0 0 0;
    }
    #single-cs-banner-right{
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 450px;
        margin: -125px 0 0 0;
    }
    #single-cs-banner-right img{
        width: 250px;
    }
    /*-title-*/
    #single-cs-banner-title{
        width: 360px;
        font-size: 18px;
        color: #939393;
        justify-content: flex-end;
        margin: 20px 0 0 90px;
    }
    /*-essence-*/
    #single-cs-essence{
        width: 450px;
        margin-top: 10px;
    }
    #single-cs-essence-text{
        display: inline-block;
        color: #EB5C4E;
        font-style: italic;
        font-size: 22px;
        width: 300px;
    }
    #single-cs-essence-line{
        display: inline-block;
        width: 145px;
        height: 4px;
        background-color: #EB5C4E;
        vertical-align: top;
        margin-top: 15px;
    }

    /*--- main content of the page ---*/
    #single-cs-main-left{
        width: 450px;
        margin: 0 auto 50px auto;
    }
    #single-cs-main-left-quote-symbol{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 55px;
        font-style: normal;
    }
    #single-cs-main-left-quote{
        color: #a1a1a1;
        font-style: italic;
        font-size: 18px;
        text-indent: 5px;
        text-align: justify;
        margin-top: 18px;
        vertical-align: top;
    }
    #single-cs-main-left-quoteauthor{
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        color: #939393;
        margin-top: 12px;
    }
    .single-cs-leftTitle{
        font-size: 24px;
        color: #EB5C4E;
        font-weight: bold;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 22px;
    }
    .single-cs-leftContent{
        font-size: 17px;
        color: grey;
        text-align: justify;
        font-weight: 300;
    }
    #download-pdf{
        margin-top: 70px;
    }
    #download-pdf img{
        display: inline-block;
    }
    #download-pdf-button{
        display: inline-block;
        width: 200px;
        padding: 9px 0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        margin-top: 13px;
        border: 2px solid #EB5C4E;
    }
    #download-pdf-button:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }

    #single-cs-main-right{
        width: 290px;
        display: inline-block;
        margin-left: 45px;
    }
    #single-cs-main-right-img{
        width: 290px;
        height: auto;
        text-align: right;
    }
    /*--solutions and results lists--*/
    .single-cs-main-right-ul{
        list-style: none;
        padding: 0;
    }
    .single-cs-main-right-ul li{
        margin: 18px 0;
    }
    .single-cs-main-right-ul p{
        width: 255px;
        display: inline-block;
        font-size: 17px;
        color: #909090;
        margin: 0 0 0 5px;
        vertical-align: top;
    }

    /*-- red triangles from the list --*/
    .red-triangle-list-element{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    /*--- nav bar ---*/
    #cs-three-types{
        width: 370px;
        margin: 50px auto;
        padding: 0;
    }
    #cs-three-types li{
        display: inline-block;
        padding: 9px 13px;
        font-weight: 400;
        font-size: 18px;
    }
    #cs-three-types li:hover{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    #cs-three-types-all{

    }
    #cs-three-types-service{
        margin: 0 15px;
    }
    #cs-three-types-industry{

    }
    .cs-three-types-active{
        background-color: #EB5C4E;
        color: #fff;
    }

    /*-- all case studies --*/
    #caseStudyUl{
        padding: 0;
        width: 732px;
        margin: 20px auto;
    }
    #caseStudyUl li{
        display: inline-block;
        margin: 0 20px 30px 20px;
    }
    /*-- single case study --*/
    .cs-content-item {
        background: url('../images/home/partner.png');
        background-repeat: no-repeat;
        background-size: cover;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 200px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        width: 320px;
    }
    .cs-content-item .cs-overlay {
        border-bottom: 200px solid rgba(255, 0, 0, 0.75);
        border-left: 390px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .7;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0;
    }
    .cs-content-item:hover .cs-overlay {
        border-bottom: 800px solid rgba(255, 0, 0, 0.75);
        border-left: 800px solid transparent;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-corner-overlay-content {
        width: 190px;
        bottom: 15px;
        color: #333;
        position: absolute;
        right: 15px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item:hover .cs-corner-overlay-content {
        opacity: 0;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cs-content-item .cs-overlay-content h2 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    .cs-content-item:hover .cs-overlay-content {
        opacity: 1;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .cs-corner-overlay-content {
        color: #fff !important;
    }
    .cs-content-item p {
        color: #fff !important;
        min-height: 42px;
        margin: 0;
    }
    .cs_permanent_text{
        font-size: 24px;
        font-weight: bold;
    }
    /*=====================================
    ==== single page case study design ====
    =======================================*/

    /*--- top banner/essential texts/ ---*/
    #single-cs-banner{
        width: 725px;
        margin: 80px auto 30px auto;
    }
    #single-cs-banner-leftdiv{
        display: inline-block;
        width: 200px;
        height: 125px;
    }
    #single-cs-banner-triangle{
        position: relative;
        right: 0;
        width: 0;
        bottom: 0;
        height: 0;
        border-top: 220px solid #EB5C4E;
        border-right: 315px solid transparent;
        opacity: 1;
    }
    #single-cs-banner-triangletext{
        position: relative;
        display: inline-table;
        top: -224px;
        left: 15px;
        color: #fff;
        font-weight: bold;
        z-index: 100;
        vertical-align: top;
        text-decoration: none;
    }
    #single-cs-banner-triangletext p:nth-of-type(1){
        font-size: 30px;
    }
    #single-cs-banner-triangletext p:nth-of-type(2){
        font-size: 65px;
        width: 80px;
        margin: 20px 0 0 0;
    }
    #single-cs-banner-right{
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 520px;
        margin: 18px 0 0 0;
    }
    #single-cs-banner-right img{
        width: 310px;
    }
    /*-title-*/
    #single-cs-banner-title{
        width: 500px;
        font-size: 30px;
        color: #939393;
        justify-content: flex-end;
        margin: 20px 0 0 20px;
    }
    /*-essence-*/
    #single-cs-essence{
        width: 725px;
        margin-top: 10px;
    }
    #single-cs-essence-text{
        display: inline-block;
        color: #EB5C4E;
        font-style: italic;
        font-size: 28px;
        width: 470px;
    }
    #single-cs-essence-line{
        display: inline-block;
        width: 250px;
        height: 4px;
        background-color: #EB5C4E;
        vertical-align: top;
        margin-top: 20px;
    }

    /*--- main content of the page ---*/
    #single-cs-main-left{
        width: 725px;
        margin: 0 auto 50px auto;
    }
    #single-cs-main-left-quote-symbol{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 55px;
        font-style: normal;
    }
    #single-cs-main-left-quote{
        color: #a1a1a1;
        font-style: italic;
        font-size: 18px;
        text-indent: 5px;
        text-align: justify;
        margin-top: 18px;
        vertical-align: top;
    }
    #single-cs-main-left-quoteauthor{
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        color: #939393;
        margin-top: 12px;
    }
    .single-cs-leftTitle{
        font-size: 24px;
        color: #EB5C4E;
        font-weight: bold;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 22px;
    }
    .single-cs-leftContent{
        font-size: 17px;
        color: grey;
        text-align: justify;
        font-weight: 300;
    }
    #download-pdf{
        margin-top: 70px;
    }
    #download-pdf img{
        display: inline-block;
    }
    #download-pdf-button{
        display: inline-block;
        width: 200px;
        padding: 9px 0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        margin-top: 13px;
        border: 2px solid #EB5C4E;
    }
    #download-pdf-button:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }

    #single-cs-main-right{
        width: 290px;
        display: inline-block;
        margin-left: 45px;
    }
    #single-cs-main-right-img{
        width: 290px;
        height: auto;
        text-align: right;
    }
    /*--solutions and results lists--*/
    .single-cs-main-right-ul{
        list-style: none;
        padding: 0;
    }
    .single-cs-main-right-ul li{
        margin: 18px 0;
    }
    .single-cs-main-right-ul p{
        width: 255px;
        display: inline-block;
        font-size: 17px;
        color: #909090;
        margin: 0 0 0 5px;
        vertical-align: top;
    }

    /*-- red triangles from the list --*/
    .red-triangle-list-element{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
    }
}