@media screen and (max-width: 320px) {
    #about-company-defines{
        font-size: 30px;
        font-weight: 100;
        color: grey;
        text-align: center;
        margin-top: 80px;
    }
    #about-company-defines-sub{
        font-size: 16px;
        font-weight: 300;
        color: grey;
        text-align: center;
        display: block;
        width: 240px;
        margin: 20px auto 0 auto;
    }
    #about-company-defines-ul{
        padding: 0;
        list-style: none;
        width: 290px;
        margin: 60px auto 70px auto;
    }
    #about-company-defines-ul li{
        margin-top: 30px;
    }
    #about-company-defines-ul div{
        font-size: 90px;
        height: 90px;
        color: #EB5C4E;
        text-align: center;
        font-family: "untitled-font-5" !important;
    }
    #about-company-defines-ul h3{
        font-size: 18px;
        font-weight: 500;
        color: #EB5C4E;
        text-align: center;
        margin-bottom: 0;
    }
    #about-company-defines-ul h4{
        font-size: 16px;
        font-weight: 300;
        color: grey;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px) {


    #about-company-defines{
        font-size: 30px;
        font-weight: 100;
        color: grey;
        text-align: center;
        margin-top: 80px;
    }
    #about-company-defines-sub{
        font-size: 16px;
        font-weight: 300;
        color: grey;
        text-align: center;
        display: block;
        width: 240px;
        margin: 20px auto 0 auto;
    }
    #about-company-defines-ul{
        padding: 0;
        list-style: none;
        width: 290px;
        margin: 60px auto 70px auto;
    }
    #about-company-defines-ul li{
        margin-top: 30px;
    }
    #about-company-defines-ul div{
        font-size: 90px;
        height: 90px;
        color: #EB5C4E;
        text-align: center;
        font-family: "untitled-font-5" !important;
    }
    #about-company-defines-ul h3{
        font-size: 18px;
        font-weight: 500;
        color: #EB5C4E;
        text-align: center;
        margin-bottom: 0;
    }
    #about-company-defines-ul h4{
        font-size: 16px;
        font-weight: 300;
        color: grey;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    #about-company-defines{
        font-size: 36px;
        font-weight: 100;
        color: grey;
        text-align: center;
        margin-top: 80px;
    }
    #about-company-defines-sub{
        font-size: 16px;
        font-weight: 300;
        color: grey;
        text-align: center;
        display: block;
        width: 240px;
        margin: 20px auto 0 auto;
    }
    #about-company-defines-ul{
        padding: 0;
        list-style: none;
        width: 290px;
        margin: 60px auto 70px auto;
    }
    #about-company-defines-ul li{
        margin-top: 30px;
    }
    #about-company-defines-ul div{
        font-size: 90px;
        height: 90px;
        color: #EB5C4E;
        text-align: center;
        font-family: "untitled-font-5" !important;
    }
    #about-company-defines-ul h3{
        font-size: 18px;
        font-weight: 500;
        color: #EB5C4E;
        text-align: center;
        margin-bottom: 0;
    }
    #about-company-defines-ul h4{
        font-size: 16px;
        font-weight: 300;
        color: grey;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    #about-company-defines{
        font-size: 48px;
        font-weight: 100;
        color: grey;
        text-align: center;
        margin-top: 80px;
    }
    #about-company-defines-sub{
        font-size: 18px;
        font-weight: 300;
        color: grey;
        text-align: center;
        display: block;
        width: 360px;
        margin: 30px auto 0 auto;
    }
    #about-company-defines-ul{
        padding: 0;
        list-style: none;
        width: 725px;
        margin: 60px auto 70px auto;
    }
    #about-company-defines-ul li{
        margin: 30px 26px 0 26px;
        width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    #about-company-defines-ul div{
        font-size: 90px;
        height: 90px;
        color: #EB5C4E;
        text-align: center;
        font-family: "untitled-font-5" !important;
    }
    #about-company-defines-ul h3{
        font-size: 20px;
        font-weight: 500;
        color: #EB5C4E;
        text-align: center;
        margin-bottom: 0;
    }
    #about-company-defines-ul h4{
        font-size: 18px;
        font-weight: 300;
        color: grey;
        text-align: center;
        margin-top: 10px;
        display: block;
        min-height: 70px;
    }
}