@media screen and (max-width: 320px) {
    /*--- top right ---*/
    #contacts-page-top{
        width: 290px;
        margin: -80px auto 0 auto;
    }
    #contacts-page-top ul{
        padding: 0;
        list-style: none;
    }
    #contacts-page-top-L{
        width: 290px;
        vertical-align: top;
    }
    #contacts-page-top-L li{
        margin-left: 90px;
        margin-bottom: 8px;
        text-align: left;
    }
    #contacts-page-top-R{
        width: 290px;
        vertical-align: top;
    }
    #contacts-page-top-R li{
        margin-bottom: 8px;
    }
    .contacts_icons{
        width: 80px;
        display: inline-block;
        font-size: 42px;
        color: #EB5C4E;
        vertical-align: top;
    }
    .contacts-page-exp{
        width: 205px;
        display: inline-block;
    }
    .contacts-page-sub-tit1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
    }
    .contacts-page-sub-tit2{
        color: grey;
        font-size: 22px;
        font-weight: 200;
        margin: 0;
    }
    .contacts-page-exp{
        text-decoration: none;
    }
    .contacts-page-top-exp1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
    }
    .contacts-page-top-exp2{
        color: grey;
        font-size: 18px;
        font-weight: 200;
        margin: 0;
    }
    .contacts_icons_div{
        display: inline-block;
        margin-top: 6px;
    }
    .single-post-share-a{
        border-radius: 50%;
        background-color: grey;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-right: 12px;
    }
    .single-post-share-a i{
        color: #fff;
        font-size: 20px;
        margin-top: 4px;
    }


    /*============== offices list ===============*/
    /*- big ul -*/
    #contacts-page-office-list{
        width: 290px;
        margin: 50px auto 0 auto;
        padding: 0;
        list-style: none;
    }
    #contacts-page-office-list li{
        margin-bottom: 25px;
    }
    .contacts-page-office-list-titles{
        font-size: 30px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin: 10px 0;
    }
    /*- internal uls -*/
    #contacts-page-office-list{

    }
    .offices-list{
        padding: 0;
    }
    .offices-list-li{
        width: 290px;
        display: inline-block;
        vertical-align: top;
    }
    .offices-list-li:nth-child(odd){

    }
    .offices-list-li:nth-child(even){
    }
    .offices-list-li a{
        text-decoration: none;
    }
    .offices-list-holder{
        width: 290px;
        overflow: hidden;
    }
    .offices-list-image{
        width: 290px;
        height: 152px;
        vertical-align: top;
        z-index: 10;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .offices-list-mask{
        position: relative;
        width: 290px;
        height: 128px;
        margin-top: -152px;
        vertical-align: top;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .offices-list-animation{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .offices-list-mask h3{
        font-size: 15px;
        color: #ffffff;
        margin: 0 0 10px 10px;
        padding-top: 30px;
    }
    .offices-list-texts-p{
        font-size: 12px; !important;
        color: #ffffff; !important;
        margin: 0 0 5px 10px;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px) {

    /*--- top right ---*/
    #contacts-page-top{
        width: 290px;
        margin: -80px auto 0 auto;
    }
    #contacts-page-top ul{
        padding: 0;
        list-style: none;
    }
    #contacts-page-top-L{
        width: 290px;
        vertical-align: top;
    }
    #contacts-page-top-L li{
        margin-left: 90px;
        margin-bottom: 8px;
        text-align: left;
    }
    #contacts-page-top-R{
        width: 290px;
        vertical-align: top;
    }
    #contacts-page-top-R li{
        margin-bottom: 8px;
    }
    .contacts_icons{
        width: 80px;
        display: inline-block;
        font-size: 42px;
        color: #EB5C4E;
        vertical-align: top;
    }
    .contacts-page-exp{
        width: 205px;
        display: inline-block;
    }
    .contacts-page-sub-tit1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
    }
    .contacts-page-sub-tit2{
        color: grey;
        font-size: 22px;
        font-weight: 200;
        margin: 0;
    }
    .contacts-page-exp{
        text-decoration: none;
    }
    .contacts-page-top-exp1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
    }
    .contacts-page-top-exp2{
        color: grey;
        font-size: 18px;
        font-weight: 200;
        margin: 0;
    }
    .contacts_icons_div{
        display: inline-block;
        margin-top: 6px;
    }
    .single-post-share-a{
        border-radius: 50%;
        background-color: grey;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-right: 12px;
    }
    .single-post-share-a i{
        color: #fff;
        font-size: 20px;
        margin-top: 4px;
    }


    /*============== offices list ===============*/
    /*- big ul -*/
    #contacts-page-office-list{
        width: 290px;
        margin: 50px auto 0 auto;
        padding: 0;
        list-style: none;
    }
    #contacts-page-office-list li{
        margin-bottom: 25px;
    }
    .contacts-page-office-list-titles{
        font-size: 30px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin: 10px 0;
    }
    /*- internal uls -*/
    #contacts-page-office-list{

    }
    .offices-list{
        padding: 0;
    }
    .offices-list-li{
        width: 290px;
        display: inline-block;
        vertical-align: top;
    }
    .offices-list-li:nth-child(odd){

    }
    .offices-list-li:nth-child(even){
    }
    .offices-list-li a{
        text-decoration: none;
    }
    .offices-list-holder{
        width: 290px;
        overflow: hidden;
    }
    .offices-list-image{
        width: 290px;
        height: 152px;
        vertical-align: top;
        z-index: 10;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .offices-list-mask{
        position: relative;
        width: 290px;
        height: 128px;
        margin-top: -152px;
        vertical-align: top;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 100;
    }
    .offices-list-animation{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .offices-list-mask h3{
        font-size: 15px;
        color: #ffffff;
        margin: 0 0 10px 10px;
        padding-top: 30px;
    }
    .offices-list-texts-p{
        font-size: 12px; !important;
        color: #ffffff; !important;
        margin: 0 0 5px 10px;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    /*--- top right ---*/
    #contacts-page-top{
        width: 450px;
        margin: -125px auto 0 auto;
    }
    #contacts-page-top ul{
        padding: 0;
        list-style: none;
    }
    #contacts-page-top-L{
        width: 290px;
        vertical-align: top;
        margin-left: 160px;
    }
    #contacts-page-top-L li{
        margin-left: 90px;
        margin-bottom: 8px;
        text-align: left;
    }
    #contacts-page-top-R{
        width: 290px;
        vertical-align: top;
    }
    #contacts-page-top-R li{
        margin-bottom: 8px;
    }
    .contacts_icons{
        width: 80px;
        display: inline-block;
        font-size: 42px;
        color: #EB5C4E;
        vertical-align: top;
    }
    .contacts-page-exp{
        width: 205px;
        display: inline-block;
    }
    .contacts-page-sub-tit1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
    }
    .contacts-page-sub-tit2{
        color: grey;
        font-size: 22px;
        font-weight: 200;
        margin: 0;
    }
    .contacts-page-exp{
        text-decoration: none;
    }
    .contacts-page-top-exp1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
    }
    .contacts-page-top-exp2{
        color: grey;
        font-size: 18px;
        font-weight: 200;
        margin: 0;
    }
    .contacts_icons_div{
        display: inline-block;
        margin-top: 6px;
    }
    .single-post-share-a{
        border-radius: 50%;
        background-color: grey;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-right: 16px;
    }
    .single-post-share-a i{
        color: #fff;
        font-size: 20px;
        margin-top: 4px;
    }


    /*============== offices list ===============*/
    /*- big ul -*/
    #contacts-page-office-list{
        width: 450px;
        margin: 50px auto 0 auto;
        padding: 0;
        list-style: none;
    }
    #contacts-page-office-list li{
        margin-bottom: 25px;
    }
    .contacts-page-office-list-titles{
        font-size: 30px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin: 10px 0;
    }
    /*- internal uls -*/
    #contacts-page-office-list{

    }
    .offices-list{
        padding: 0;
    }
    .offices-list-li{
        width: 450px;
        display: inline-block;
        vertical-align: top;
    }
    .offices-list-li:nth-child(odd){

    }
    .offices-list-li:nth-child(even){
    }
    .offices-list-li a{
        text-decoration: none;
    }
    .offices-list-holder{
        width: 450px;
        overflow: hidden;
    }
    .offices-list-image{
        width: 450px;
        height: 220px;
        vertical-align: top;
        z-index: 10;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .offices-list-mask{
        position: relative;
        width: 450px;
        height: 199px;
        margin-top: -220px;
        vertical-align: top;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .offices-list-animation{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .offices-list-mask h3{
        font-size: 22px;
        color: #ffffff;
        margin: 0 0 18px 18px;
        padding-top: 38px;
    }
    .offices-list-texts-p{
        font-size: 17px; !important;
        color: #ffffff; !important;
        margin: 0 0 5px 18px;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    /*--- top right ---*/
    #contacts-page-top{
        width: 725px;
        margin: 0 auto;
    }
    #contacts-page-top ul{
        padding: 0;
        list-style: none;
        margin-left: 30px;
    }
    #contacts-page-top-L{
        width: 330px;
        margin-left: 0 !important;
        vertical-align: top;
        display: inline-block;
    }
    #contacts-page-top-L li{
        margin-left: 90px;
        margin-bottom: 8px;
        text-align: left;
    }
    #contacts-page-top-R{
        width: 330px;
        vertical-align: top;
        display: inline-block;
    }
    #contacts-page-top-R li{
        margin-bottom: 8px;
    }
    .contacts_icons{
        width: 80px;
        display: inline-block;
        font-size: 42px;
        color: #EB5C4E;
        vertical-align: top;
    }
    .contacts-page-exp{
        width: 205px;
        display: inline-block;
    }
    .contacts-page-sub-tit1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
    }
    .contacts-page-sub-tit2{
        color: grey;
        font-size: 22px;
        font-weight: 200;
        margin: 0;
    }
    .contacts-page-exp{
        text-decoration: none;
    }
    .contacts-page-top-exp1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
    }
    .contacts-page-top-exp2{
        color: grey;
        font-size: 18px;
        font-weight: 200;
        margin: 0;
    }
    .contacts_icons_div{
        display: inline-block;
        margin-top: 6px;
    }
    .single-post-share-a{
        border-radius: 50%;
        background-color: grey;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-right: 12px;
    }
    .single-post-share-a i{
        color: #fff;
        font-size: 20px;
        margin-top: 4px;
    }


    /*============== offices list ===============*/
    /*- big ul -*/
    #contacts-page-office-list{
        width: 725px;
        margin: 50px auto 0 auto;
        padding: 0;
        list-style: none;
    }
    #contacts-page-office-list li{
        margin-bottom: 25px;
    }
    .contacts-page-office-list-titles{
        font-size: 48px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin: 10px 0;
    }
    /*- internal uls -*/
    #contacts-page-office-list{

    }
    .offices-list{
        padding: 0;
    }
    .offices-list-li{
        width: 360px;
        display: inline-block;
        vertical-align: top;
    }
    .offices-list-li:nth-child(odd){

    }
    .offices-list-li:nth-child(even){
    }
    .offices-list-li a{
        text-decoration: none;
    }
    .offices-list-holder{
        width: 360px;
        overflow: hidden;
    }
    .offices-list-image{
        width: 360px;
        height: 160px;
        vertical-align: top;
        z-index: 10;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .offices-list-mask{
        position: relative;
        width: 360px;
        height: 159px;
        margin-top: -160px;
        vertical-align: top;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
        background-size: contain;
    }
    .offices-list-animation{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .offices-list-mask h3{
        font-size: 18px;
        color: #ffffff;
        margin: 0 0 10px 10px;
        padding-top: 30px;
    }
    .offices-list-texts-p{
        font-size: 14px; !important;
        color: #ffffff; !important;
        margin: 0 0 4px 10px;
    }
}