@media screen and (max-width: 320px) {
    #facts-community-container{
        width: 290px;
        margin: 0 auto 40px auto;
    }
    #facts-title{
        font-size: 30px;
        text-align: center;
        color: grey;
        font-weight: 100;
        margin: 40px 0;
    }
    #facts-community-container a{
        color: #EB5C4E;
        text-decoration: none;
    }
    #facts-community-ul{
        list-style: none;
        padding: 0;
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }
    #facts-community-ul li{
        margin-bottom: 30px;
    }
    .facts-community-ul-links{

    }
    #facts-community-img{
        width: 290px;
        height: auto;
    }
    /*________ data privacy ________*/
    #ff-dataprivacy-con{
        width: 290px;
        margin: 45px auto 40px auto;
    }
    #ff-dataprivacy-con-title{
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: grey;
        margin-bottom: 30px;
    }
    #ff-dataprivacy-con-text{
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
        color: grey;
    }
    #ff-dataprivacy-con-text li{
        color: #808080 !important;
    }
    #ff-dataprivacy-con ul{
        padding: 0 0 0 24px;
    }
    #ff-dataprivacy-con a{
        display: block;
        width: 290px;
        overflow: hidden;
        text-decoration: none;
        color: #EB5C4E;
        margin-bottom: 10px;
        font-size: 15px;
    }
    #ff-dataprivacy-con h2{
        font-size: 24px;
        font-weight: 300;
        color: #EB5C4E;
    }
    /*______ partnership ______*/
    #ff-partnership-container{
        width: 290px;
        margin: 40px auto 0 auto;
    }
    #ff-partnership-title{
        font-size: 30px;
        text-align: center;
        font-weight: 200;
        color: grey;
    }
    .ff-partnership-text{
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
        color: grey;
    }
    #ff-partnership-principles{
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }
    .ff-partnership-principles-li{
        margin-bottom: 15px;
    }
    .ff-partnership-principles-li div{
        margin-right: 10px;
        display: inline-block;
    }
    .ff-partnership-principles-li p{
        display: inline-block;
        margin: 0;
        width: 250px;
        text-align: justify;
    }
    /*______ why onboard ______*/
    #ff-whyonboard-container{
        width: 320px;
        margin: 40px auto 50px auto;
        font-size: 18px;
    }
    #ff-whyonboard-title{
        color: grey;
        font-size: 30px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 40px;
    }
    .ff-whyonboard-img{
        display: block;
        margin: 10px auto;
        width: 290px;
        height: auto;
    }
    .ff-whyonboard-texts{
        width: 290px;
        margin: 35px auto;
        padding: 0;
        color: grey;
        font-weight: 300;
        text-align: justify;
        list-style: none;
    }
    .ff-whyonboard-texts li{
        margin-bottom: 14px;
    }
    #ff-whyonboard-list{
        list-style: none;
        padding: 0;
        width: 290px;
        margin: 0 auto 50px auto;
    }
    #ff-whyonboard-list li{
        margin-bottom: 20px;
    }
    .ff-whyonboard-paragraph{
        width: 250px;
        display: inline-block;
        margin: 0 0 0 10px;
        font-weight: 300;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px) {

    /*________ community ________*/
    #facts-community-container{
        width: 290px;
        margin: 0 auto 40px auto;
    }
    #facts-title{
        font-size: 30px;
        text-align: center;
        color: grey;
        font-weight: 100;
        margin: 40px 0;
    }

    #facts-community-container a{
        color: #EB5C4E;
        text-decoration: none;
    }

    #facts-community-ul1{
        list-style: none;
        padding: 0;
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }
    #facts-community-ul1 li{
        margin-bottom: 30px;
    }


    #facts-community-img{
        width: 290px;
        height: auto;
    }

    #facts-community-ul2{
        margin: 40px 0 20px 0;
        list-style: none;
        padding: 0;
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }
    #facts-community-ul2 li{
        margin-bottom: 20px;
    }
    .facts-community-ul-links{

    }

    /*________ data privacy ________*/
    #ff-dataprivacy-con{
        width: 290px;
        margin: 45px auto 40px auto;
    }
    #ff-dataprivacy-con-title{
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: grey;
        margin-bottom: 30px;
    }
    #ff-dataprivacy-con-text{
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
        color: grey;
    }
    #ff-dataprivacy-con-text li{
        color: #808080 !important;
    }
    #ff-dataprivacy-con ul{
        padding: 0 0 0 24px;
    }
    #ff-dataprivacy-con a{
        display: block;
        width: 290px;
        overflow: hidden;
        text-decoration: none;
        color: #EB5C4E;
        margin-bottom: 10px;
        font-size: 15px;
    }
    #ff-dataprivacy-con h2{
        font-size: 24px;
        font-weight: 300;
        color: #EB5C4E;
    }
    /*______ partnership ______*/
    #ff-partnership-container{
        width: 290px;
        margin: 40px auto 0 auto;
    }
    #ff-partnership-title{
        font-size: 30px;
        text-align: center;
        font-weight: 200;
        color: grey;
    }
    .ff-partnership-text{
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
        color: grey;
    }
    #ff-partnership-principles{
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }
    .ff-partnership-principles-li{
        margin-bottom: 15px;
    }
    .ff-partnership-principles-li div{
        margin-right: 10px;
        display: inline-block;
    }
    .ff-partnership-principles-li p{
        display: inline-block;
        margin: 0;
        width: 250px;
        text-align: justify;
    }
    /*______ why onboard ______*/
    #ff-whyonboard-container{
        width: 320px;
        margin: 40px auto 50px auto;
        font-size: 18px;
    }
    #ff-whyonboard-title{
        color: grey;
        font-size: 30px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 40px;
    }
    .ff-whyonboard-img{
        display: block;
        margin: 10px auto;
        width: 290px;
        height: auto;
    }
    .ff-whyonboard-texts{
        width: 290px;
        margin: 35px auto;
        padding: 0;
        color: grey;
        font-weight: 300;
        text-align: justify;
        list-style: none;
    }
    .ff-whyonboard-texts li{
        margin-bottom: 14px;
    }
    #ff-whyonboard-list{
        list-style: none;
        padding: 0;
        width: 290px;
        margin: 0 auto 50px auto;
    }
    #ff-whyonboard-list li{
        margin-bottom: 20px;
    }
    .ff-whyonboard-paragraph{
        width: 250px;
        display: inline-block;
        margin: 0 0 0 10px;
        text-align: justify;
        color: grey;
        font-weight: 300;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    #facts-community-container{
        width: 450px;
        margin: 0 auto 40px auto;
    }
    #facts-title{
        font-size: 30px;
        text-align: center;
        color: grey;
        font-weight: 100;
        margin: 40px 0;
    }

    #facts-community-container a{
        color: #EB5C4E;
        text-decoration: none;
    }

    #facts-community-ul1{
        list-style: none;
        padding: 0;
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }
    #facts-community-ul1 li{
        margin-bottom: 30px;
    }


    #facts-community-img{
        width: 450px;
        height: auto;
    }

    #facts-community-ul2{
        margin: 40px 0 20px 0;
        list-style: none;
        padding: 0;
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }
    #facts-community-ul2 li{
        margin-bottom: 20px;
    }
    .facts-community-ul-links{

    }
    /*________ data privacy ________*/
    #ff-dataprivacy-con{
        width: 450px;
        margin: 45px auto 40px auto;
    }
    #ff-dataprivacy-con-title{
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: grey;
        margin-bottom: 30px;
    }
    #ff-dataprivacy-con-text{
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
        color: grey;
    }
    #ff-dataprivacy-con-text li{
        color: #808080 !important;
    }
    #ff-dataprivacy-con ul{
        padding: 0 0 0 24px;
    }
    #ff-dataprivacy-con a{
        display: block;
        width: 450px;
        overflow: hidden;
        text-decoration: none;
        color: #EB5C4E;
        margin-bottom: 10px;
        font-size: 15px;
    }
    #ff-dataprivacy-con h2{
        font-size: 24px;
        font-weight: 300;
        color: #EB5C4E;
    }
    /*______ partnership ______*/
    #ff-partnership-container{
        width: 450px;
        margin: 40px auto 0 auto;
    }
    #ff-partnership-title{
        font-size: 30px;
        text-align: center;
        font-weight: 200;
        color: grey;
    }
    .ff-partnership-text{
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
        color: grey;
    }
    #ff-partnership-principles{
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }
    .ff-partnership-principles-li{
        margin-bottom: 15px;
    }
    .ff-partnership-principles-li div{
        margin-right: 10px;
        display: inline-block;
    }
    .ff-partnership-princip{
        display: inline-block;
        margin: 0;
        width: 400px;
        text-align: justify;
        color: grey;
    }
    .ff-partnership-princip strong{
        color: #000;
    }
    /*______ why onboard ______*/
    #ff-whyonboard-container{
        width: 450px;
        margin: 40px auto 50px auto;
        font-size: 18px;
    }
    #ff-whyonboard-title{
        color: grey;
        font-size: 36px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 40px;
    }
    .ff-whyonboard-img{
        display: block;
        margin: 10px auto;
        width: 450px;
        height: auto;
    }
    .ff-whyonboard-texts{
        width: 450px;
        margin: 35px auto;
        padding: 0;
        color: grey;
        font-weight: 300;
        text-align: justify;
        list-style: none;
    }
    .ff-whyonboard-texts li{
        margin-bottom: 14px;
    }
    #ff-whyonboard-list{
        list-style: none;
        padding: 0;
        width: 450px;
        margin: 10px auto 60px auto;
    }
    #ff-whyonboard-list li{
        margin-bottom: 30px;
    }
    .ff-whyonboard-paragraph{
        width: 410px;
        display: inline-block;
        margin: 0 0 0 10px;
        text-align: justify;
        color: grey;
        font-weight: 300;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    #facts-community-container{
        width: 725px;
        margin: 0 auto 40px auto;
    }
    #facts-title{
        font-size: 48px;
        text-align: center;
        color: grey;
        font-weight: 100;
        margin: 40px 0;
    }

    #facts-community-container a{
        color: #EB5C4E;
        text-decoration: none;
    }

    #facts-community-ul1{
        list-style: none;
        padding: 0;
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        width: 360px;
        display: inline-block;
    }
    #facts-community-ul1 li{
        margin-bottom: 30px;
    }


    #facts-community-img{
        width: 360px;
        display: inline-block;
        height: auto;
        vertical-align: top;
        margin-top: 18px;
    }

    #facts-community-ul2{
        margin: 40px 0 20px 0;
        list-style: none;
        padding: 0;
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }
    #facts-community-ul2 li{
        margin-bottom: 20px;
    }
    .facts-community-ul-links{

    }
    /*________ data privacy ________*/
    #ff-dataprivacy-con{
        width: 725px;
        margin: 45px auto 40px auto;
    }
    #ff-dataprivacy-con-title{
        font-size: 48px;
        text-align: center;
        font-weight: 100;
        color: grey;
        margin-bottom: 30px;
    }
    #ff-dataprivacy-con-text{
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
        color: #808080 !important;
    }
    #ff-dataprivacy-con-text li{
        color: #808080 !important;
    }
    #ff-dataprivacy-con ul{
        padding: 0 0 0 24px;
    }
    #ff-dataprivacy-con a{
        display: block;
        width: 430px;
        overflow: hidden;
        text-decoration: none;
        color: #EB5C4E;
        margin-bottom: 10px;
        font-size: 15px;
    }
    #ff-dataprivacy-con h2{
        font-size: 24px;
        font-weight: 300;
        color: #EB5C4E;
    }
    /*______ partnership ______*/
    #ff-partnership-container{
        width: 725px;
        margin: 40px auto 0 auto;
    }
    #ff-partnership-title{
        font-size: 48px;
        text-align: center;
        font-weight: 200;
        color: grey;
    }
    .ff-partnership-text{
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
        color: grey;
    }
    #ff-partnership-principles{
        list-style: none;
        padding: 0;
        margin: 20px 0 40px 0;
    }
    .ff-partnership-principles-li{
        margin-bottom: 15px;
    }
    .ff-partnership-principles-li div{
        margin-right: 10px;
        display: inline-block;
    }
    .ff-partnership-princip{
        display: inline-block;
        margin: 0;
        width: 650px;
        text-align: justify;
        color: grey;
    }
    .ff-partnership-princip strong{
        color: #000;
    }
    /*______ why onboard ______*/
    #ff-whyonboard-container{
        width: 725px;
        margin: 40px auto 50px auto;
        font-size: 18px;
    }
    #ff-whyonboard-title{
        color: grey;
        font-size: 48px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 40px;
    }
    .ff-whyonboard-img{
        display: block;
        margin: 10px auto;
        width: 725px;
        height: auto;
    }
    .ff-whyonboard-texts{
        width: 725px;
        margin: 35px auto;
        padding: 0;
        color: grey;
        font-weight: 300;
        text-align: justify;
        list-style: none;
        font-size: 18px;
    }
    .ff-whyonboard-texts li{
        margin-bottom: 14px;
    }
    #ff-whyonboard-list{
        list-style: none;
        padding: 0;
        width: 725px;
        height: 200px;
        margin: 10px auto 60px auto;
    }
    #ff-whyonboard-list li{
        margin-bottom: 30px;
        display: inline-block;
    }
    .ff-whyonboard-paragraph{
        width: 320px;
        display: inline-block;
        margin: 0 0 0 10px;
        text-align: justify;
        color: grey;
        font-weight: 300;
    }
}