iframe{
    display: none;
}

@media screen and (max-width: 320px){
    #footer{
        background-color: #F1F1F1;
        color: #3B4248;
        padding-top: 45px;
        padding-bottom: 35px;
    }
    #footer_social_icons{
        width: 214px;
        margin: 0 auto;
    }
    .footerSocialLinks{
        display: inline-block;
        background-color: #EB5C4E;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        vertical-align: top;
    }
    .footerSocialLinks:hover{
        cursor: pointer;
        background-color: #f1f1f1;
    }
    .footerSocialLinks i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
        margin-top: 5px;
    }
    .footerSocialLinks:hover i{
        cursor: pointer;
        color: #EB5C4E;
    }
    #footer p{
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 0;
        color: #3B4248;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px){
    #footer{
        background-color: #F1F1F1;
        color: #3B4248;
        padding-top: 45px;
        padding-bottom: 35px;
    }
    #footer_social_icons{
        width: 214px;
        margin: 0 auto;
    }
    .footerSocialLinks{
        display: inline-block;
        background-color: #EB5C4E;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        vertical-align: top;
    }
    .footerSocialLinks:hover{
        cursor: pointer;
        background-color: #f1f1f1;
    }
    .footerSocialLinks i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
        margin-top: 5px;
    }
    .footerSocialLinks:hover i{
        cursor: pointer;
        color: #EB5C4E;
    }
    #footer p{
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 0;
        color: #3B4248;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px){
    #footer{
        background-color: #F1F1F1;
        color: #3B4248;
        padding-top: 45px;
        padding-bottom: 35px;
    }
    #footer_social_icons{
        width: 214px;
        margin: 0 auto;
    }
    .footerSocialLinks{
        display: inline-block;
        background-color: #EB5C4E;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        vertical-align: top;
    }
    .footerSocialLinks:hover{
        cursor: pointer;
        background-color: #f1f1f1;
    }
    .footerSocialLinks i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
        margin-top: 5px;
    }
    .footerSocialLinks:hover i{
        cursor: pointer;
        color: #EB5C4E;
    }
    #footer p{
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 0;
        color: #3B4248;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    #footer{
        background-color: #F1F1F1;
        color: #3B4248;
        padding-top: 45px;
        padding-bottom: 35px;
    }
    #footer_social_icons{
        width: 214px;
        margin: 0 auto;
    }
    .footerSocialLinks{
        display: inline-block;
        background-color: #EB5C4E;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        vertical-align: top;
    }
    .footerSocialLinks:hover{
        cursor: pointer;
        background-color: #f1f1f1;
    }
    .footerSocialLinks i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
        margin-top: 5px;
    }
    .footerSocialLinks:hover i{
        cursor: pointer;
        color: #EB5C4E;
    }
    #footer p{
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 0;
        color: #3B4248;
    }
}