body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/*----- chat and call icons -----*/
[data-icon]:before {
    font-family: "untitled-font-2" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-2" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
    content: "\61";
}
.icon-chat-second:before {
    content: "\62";
}
.icon-headset:before {
    content: "\63";
}

/*------- tracking pixels ---------*/
#trackingPixel_middle{
    position: fixed;
    top: 50%;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: transparent;
}
#trackingPixel_bottom{
    position: fixed;
    top: 100%;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: transparent;
}
#pageNameDiv{
    display: none !important;
}


@media screen and (max-width: 320px){
    /*--top black line--*/
    #header-topBlackLine{
        width: 100%;
        height: 38px;
        background-color: #3c4246;
        text-align: right;
        /*z-index: 2000;*/
    }
    #header-inner-topBlackLine{
        width: 232px;
        height: 38px;
        margin: 0 auto;
    }
    #header-social{
        display: none;
    }
    #header-iso{
        display: none;
    }
    .callUsAndChat{
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        vertical-align: top;
    }
    .callUsAndChat:hover{
        color: #EB5C4E;
    }
    .inner-call-chat-icons div{
        color: #ffffff;
        font-size: 22px;
        font-family: "untitled-font-2" !important;
        vertical-align: top;
        margin-top: 6px;
        width: 45px;
        /*margin-left: 20px;*/
    }
    .inner-call-chat-icons p{
        color: #ffffff;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 500;
        vertical-align: top;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .inner-call-chat-icons:hover div{
        color: #EB5C4E;
    }
    .inner-call-chat-icons:hover p{
        color: #EB5C4E;
    }

    /*--logo and menu--*/
    #logoAndMenuContainer{
        width: 100%;
        background-color: #ffffff;
        z-index: 9999;
        box-shadow: 0 4px 10px #d7d7d7;
    }
    .logoAndMenu_fixed{
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    .logoAndMenu_begin{
        position: fixed;
        top: 38px;
        left: 0;
        transition: 0.3s;
    }
    #header-logo{
        margin: 10px 0 9px 10px;
        width: 210px;
        height: auto;
    }
    #header-menu-icon{
        width: 44px;
        height: 33px;
        z-index: 100;
        float: right;
        background-color: #EB5C4E;
        color: #fff;
        padding: 8px 0px 10px 13px;
        font-size: 32px;
        font-family: "untitled-font-1" !important;
    }
    /*--grey line--*/
    #header-grey-line{
        width: 100%;
        height: 2px;
        background-color: #ebebeb;
        box-shadow: 0 4px 10px #d7d7d7;
    }
    /*--banner--*/
    #topBanner{
        width: 290px;
        height: auto;
        margin: 65px auto 0 auto;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px){
    /*--top black line--*/
    #header-topBlackLine{
        width: 100%;
        height: 38px;
        background-color: #3c4246;
        text-align: right;
        /*z-index: 2000;*/
    }
    #header-inner-topBlackLine{
        width: 290px;
        height: 38px;
        margin: 0 auto;
    }
    #header-social{
        display: none;
    }
    #header-iso{
        display: none;
    }
    .callUsAndChat{
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        vertical-align: top;
        /*float: left;*/
    }
    .callUsAndChat:hover{
        color: #EB5C4E;
    }
    .inner-call-chat-icons{
        /*float: right;*/
    }
    .inner-call-chat-icons div{
        color: #ffffff;
        font-size: 22px;
        font-family: "untitled-font-2" !important;
        vertical-align: top;
        margin-top: 6px;
        width: 45px;
        /*margin-left: 20px;*/
    }
    .inner-call-chat-icons p{
        color: #ffffff;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 500;
        vertical-align: top;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .inner-call-chat-icons:hover div{
        color: #EB5C4E;
    }
    .inner-call-chat-icons:hover p{
        color: #EB5C4E;
    }

    /*--logo and menu--*/
    #logoAndMenuContainer{
        width: 100%;
        background-color: #ffffff;
        z-index: 9000;
        box-shadow: 0 4px 10px #d7d7d7;
    }
    .logoAndMenu_fixed{
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    .logoAndMenu_begin{
        position: fixed;
        left: 0;
        top: 38px;
        transition: 0.3s;
    }
    #header-logo{
        margin: 10px 0 9px 10px;
        width: 210px;
        height: auto;
    }
    #header-menu-icon{
        width: 44px;
        height: 33px;
        z-index: 100;
        float: right;
        background-color: #EB5C4E;
        color: #fff;
        padding: 8px 0px 10px 13px;
        font-size: 32px;
        font-family: "untitled-font-1" !important;
    }
    /*--grey line--*/
    #header-grey-line{
        width: 100%;
        height: 2px;
        background-color: #ebebeb;
        display: none;
    }
    /*--banner--*/
    #topBanner{
        display: block;
        /*width: 290px;*/
        width: 100%;
        height: auto;
        margin: 65px auto 0 auto;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px){

    /*--top black line--*/
    #header-topBlackLine{
        width: 100%;
        height: 38px;
        background-color: #3c4246;
        text-align: right;
    }
    #header-inner-topBlackLine{
        width: 450px;
        height: 38px;
        margin: 0 auto;
    }
    #header-social{
        display: none;
    }
    #header-iso{
        float: left;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        vertical-align: top;
        margin-top: 10px;
    }
    .callUsAndChat{
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        vertical-align: top;
    }
    .callUsAndChat:hover{
        color: #EB5C4E;
    }
    .inner-call-chat-icons div{
        color: #ffffff;
        font-size: 22px;
        font-family: "untitled-font-2" !important;
        vertical-align: top;
        margin-top: 6px;
        /*margin-left: 20px;*/
    }
    .inner-call-chat-icons p{
        color: #ffffff;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 500;
        vertical-align: top;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .inner-call-chat-icons:hover div{
        color: #EB5C4E;
    }
    .inner-call-chat-icons:hover p{
        color: #EB5C4E;
    }

    /*--logo and menu--*/
    #logoAndMenuContainer{
        width: 100%;
        background-color: #ffffff;
        z-index: 9000;
        box-shadow: 0 4px 10px #d7d7d7;
    }
    .logoAndMenu_fixed{
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    .logoAndMenu_begin{
        position: fixed;
        top: 38px;
        left: 0;
        transition: 0.3s;
    }
    #header-logo{
        margin: 15px 0 9px 15px;
        width: 270px;
        height: auto;
    }
    #header-menu-icon{
        width: 58px;
        height: 45px;
        z-index: 100;
        float: right;
        background-color: #EB5C4E;
        color: #fff;
        padding: 8px 0px 10px 13px;
        font-size: 43px;
        font-family: "untitled-font-1" !important;
    }
    /*--grey line--*/
    #header-grey-line{
        width: 100%;
        height: 2px;
        background-color: #ebebeb;
        display: none;
    }
    /*--banner--*/
    #topBanner{
        display: block;
        /*width: 290px;*/
        width: 100%;
        height: auto;
        margin: 80px auto 0 auto;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){

    /*--top black line--*/
    #header-topBlackLine{
        width: 100%;
        height: 38px;
        background-color: #3c4246;
        text-align: right;
    }
    #header-inner-topBlackLine{
        width: 725px;
        height: 38px;
        margin: 0 auto;
    }
    #header-social{
        display: inline-block;
        width: 180px;
        margin-top: 7px;
    }
    #header-social a{
        background-color: #ffffff;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-left: 18px;
        color: #3c4246;
        display: inline-block;
        vertical-align: top;
    }
    #header-social i{
        color: #3c4246;
        font-size: 14px;
        vertical-align: top;
        margin-top: 4px;
    }
    #header-iso{
        float: left;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        vertical-align: top;
        margin-top: 11px;
    }
    .callUsAndChat{
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        vertical-align: top;
    }
    .callUsAndChat:hover{
        color: #EB5C4E;
    }
    .inner-call-chat-icons div{
        color: #ffffff;
        font-size: 22px;
        font-family: "untitled-font-2" !important;
        vertical-align: top;
        margin-top: 6px;
        /*margin-left: 20px;*/
    }
    .inner-call-chat-icons p{
        color: #ffffff;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 500;
        vertical-align: top;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .inner-call-chat-icons:hover div{
        color: #EB5C4E;
    }
    .inner-call-chat-icons:hover p{
        color: #EB5C4E;
    }
    /*--logo and menu--*/
    #logoAndMenuContainer{
        width: 100%;
        background-color: #ffffff;
        z-index: 9000;
        box-shadow: 0 4px 10px #d7d7d7;
    }
    .logoAndMenu_fixed{
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    .logoAndMenu_begin{
        position: fixed;
        top: 38px;
        left: 0;
        transition: 0.3s;
    }
    #header-logo{
        margin: 18px 0 10px 18px;
        width: 285px;
        height: auto;
    }
    #header-menu-icon{
        width: 62px;
        height: 49px;
        z-index: 100;
        float: right;
        background-color: #EB5C4E;
        color: #fff;
        padding: 10px 0 10px 18px;
        font-size: 42px;
        font-family: "untitled-font-1" !important;
    }
    /*--grey line--*/
    #header-grey-line{
        display: none;
        width: 100%;
        height: 2px;
        background-color: #ebebeb;
    }
    /*--banner--*/
    #topBanner{
        margin: 87px auto 0 auto;
        display: block;
        /*width: 290px;*/
        width: 100%;
        height: auto;
    }
}