
@media screen and (max-width: 320px) {

}

@media screen and (max-width: 478px) and (min-width: 320px) {
    /*--top banner --*/
    #homeBanner{
        width: 100%;
        height: 265px;
        background-size: auto;
        background-position: left top;
        margin-top: 52px;
    }
    #homeBanner h1{
        text-align: center;
        padding-top: 40px;
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    #contactUs-homeBanner{
        border: 2px solid #ffffff;
        padding: 7px;
        width: 140px;
        text-align: center;
        color: #ffffff;
        margin: 45px auto 0 auto;
        font-size: 18px;
        font-weight: 500;
    }
    /*-- services top banner --*/
    #home-services-banner{
        width: 215px;
        height: 153px;
        margin-top: 40px;
    }
    #newServices{
        width: 290px;
        margin: 0 auto;
    }
    /*________ circle ________*/
    svg {
        /*position: relative;*/
        /*top: 50%;*/
        /*left: 50%;*/
        height: 300px;
        width: 260px;
        padding-left: 40px;
        /*-webkit-transform: translate(-50%, 100%);*/
        /*transform: translate(-50%, 100%);*/
    }
    path {
        fill: none;
        stroke: #a0a0a0;
        stroke-width: 2px;
        -webkit-stroke-width: 2px;
        stroke-dasharray: 6;
        stroke-opacity: 0.25;
        stroke-linecap: butt;
        -webkit-transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
        transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
    }
    path.complete {
        stroke: #e2e2e2;
        stroke-width: 6px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
        cursor: pointer;
    }
    /*path.complete:hover{*/
    /*stroke: #DC6060 !important;*/
    /*}*/
    path.active {
        stroke: #EB5C4E;
        stroke-width: 6px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
    }
    text {
        fill:	#606060;
        opacity: 0.25;
        -webkit-transition: opacity 333ms ease-in-out;
        transition: opacity 333ms ease-in-out;
        font-size: 14px;
        -moz-tab-size: 4; /* Code for Firefox */
        -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
        tab-size: 4;
    }
    text:hover{
        fill: #b1b1b1;
    }
    text.active {
        opacity: 1;
        transition: 0.4s;
    }
    #svg_arrow{
        font-size: 30px;
        color: #EB5C4E;
        text-align: center;
        margin-top: 2px;
    }
    /* circle inner text */
    #services-text-holder{
        display: block;
        width: 210px;
        min-height: 150px;
    }
    #home-circle-inner{
        width: 210px;
        height: 150px;
        margin-top: -250px;
        margin-left: 38px;
        /*z-index: 20;*/
        color: #808080;
    }

    #innerText_1{
        width: 170px;
        margin: 0 auto;
    }
    #innerText_1 p{
        margin: 0;
        font-size: 13px !important;
        font-weight: 400 !important;
        text-transform: uppercase !important;
        color: #808080;
        text-align: center;
    }
    #innerText_2{
        font-size: 12px !important;
        font-weight: 200;
        display: block;
        width: 170px;
        margin: 10px auto 4px auto !important;
        color: #808080;
        text-align: center;
    }
    #innerText {
        font-size: 40px;
        color: #EB5C4E;
        text-align: center;
        text-decoration: none;
        width: 50px;
        margin: 0 auto;
    }
    #innerText:hover{
        transition: 0.3s;
        cursor: pointer;
        color: #b0b0b0 !important;
    }
    #innerText div{
        width: 50px;
        margin: 0 auto;
    }
    /* 3 paragraphs with texts */
    #services-text-holder{
        width: 290px;
        margin: 85px 0 0 0;
        color: grey;
        font-size: 17px;
        font-weight: 300;
        text-align: justify;
    }
    /*---------------------------------------*/
    /*-------------- expertise -------------*/
    /*-------------------------------------*/
    #home-expertise{
        display: block;
        width: 320px;
        margin: 80px auto 0 auto;
        content: url("../images/mobile/home/expertise_320.png");
    }
    #home-expertise-tab2{
        display: none;
    }
    #home-expertise-tab{
        width: 320px;
        height: 523px;
        margin: -523px auto 0 auto;
        padding-top: 10px;
    }
    #home-expertise-tab-arrow{

    }
    #home-expertise-tab-arrow div{
        color: #ffffff;
        font-size: 47px;
        width: 56px;
        height: 37px;
        margin: 0 0 0 80px;
    }
    #home-expertise-tab-arrow div:hover{
        color: grey;
    }
    #home-expertise-tab a{
        text-decoration: none;
    }
    #home-expertise-tab h1{
        color: grey;
        font-size: 30px;
        font-weight: 100;
        margin-top: 0;
    }
    #home-expertise-tab h2{
        color: grey;
        font-weight: 200 !important;
        font-size: 24px;
        margin: 0;
        vertical-align: top;
    }
    #home-expertise-tab h2:hover{
        color: #EB5C4E;
    }
    .home-expertise-tab-text{
        vertical-align: top;
    }
    /*------------------------------------------*/
    /*-------------- testimonials -------------*/
    /*----------------------------------------*/
    #testimonials{
        display: none;
    }

    /*------------------------------------------*/
    /*-------------- case studies -------------*/
    /*----------------------------------------*/
    #home-cs-book{
        width: 100px;
        height: auto;
        display: block;
        margin: 50px auto 0 auto;
    }
    #home-cs-tit{
        font-size: 36px;
        font-weight: 100;
        text-align: center;
        color: grey;
        margin: 30px auto 38px auto;
    }
    #home-cs-plus{
        width: 40px;
        height: 40px;
        display: block;
        margin: 10px auto 70px auto;
    }
    /*----------------------------------------------*/
    /*-------------- bottom grey line -------------*/
    /*--------------------------------------------*/
    #home-how-can-help{
        background-color: #3c4246;
        width: 100%;
        margin: 0;
        padding: 40px 0 60px 0;
    }
    #home-how-can-text{
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #home-how-can-btn{
        width: 190px;
        margin: 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 7px;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    /*--top banner --*/
    #homeBanner{
        width: 100%;
        height: 265px;
        background-size: auto;
        background-position: left top;
        margin-top: 52px;
    }
    #homeBanner h1{
        text-align: center;
        padding-top: 40px;
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    #contactUs-homeBanner{
        border: 2px solid #ffffff;
        padding: 7px;
        width: 140px;
        text-align: center;
        color: #ffffff;
        margin: 45px auto 0 auto;
        font-size: 18px;
        font-weight: 500;
    }
    /*-- services top banner --*/
    #home-services-banner{
        width: 260px;
        height: 186px;
        margin-top: 40px;
    }
    #newServices{
        width: 450px;
        margin: 0 auto;
    }
    /*________ circle ________*/
    svg {
        /*position: relative;*/
        /*top: 50%;*/
        /*left: 50%;*/
        height: 400px;
        width: 400px;
        padding-left: 65px;
        /*-webkit-transform: translate(-50%, 100%);*/
        /*transform: translate(-50%, 100%);*/
    }
    path {
        fill: none;
        stroke: #a0a0a0;
        stroke-width: 2px;
        -webkit-stroke-width: 2px;
        stroke-dasharray: 6;
        stroke-opacity: 0.25;
        stroke-linecap: butt;
        -webkit-transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
        transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
    }
    path.complete {
        stroke: #e2e2e2;
        stroke-width: 6px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
        cursor: pointer;
    }
    /*path.complete:hover{*/
    /*stroke: #DC6060 !important;*/
    /*}*/
    path.active {
        stroke: #DC6060;
        stroke-width: 6px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
    }
    text {
        fill:	#606060;
        opacity: 0.25;
        -webkit-transition: opacity 333ms ease-in-out;
        transition: opacity 333ms ease-in-out;
        font-size: 17px;
        -moz-tab-size: 4; /* Code for Firefox */
        -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
        tab-size: 4;
    }
    text:hover{
        fill: #b1b1b1;
    }
    text.active {
        opacity: 1;
        transition: 0.4s;
    }
    #svg_arrow{
        font-size: 40px;
        color: #DC6060;
        text-align: center;
        margin-top: 2px;
    }
    /* circle inner text */
    #services-text-holder{
        display: block;
        width: 450px;
        min-height: 150px;
    }
    #home-circle-inner{
        width: 230px;
        height: 150px;
        margin-top: -305px;
        margin-left: auto;
        margin-right: auto;
        /*z-index: 20;*/
        color: #808080;
    }

    #innerText_1{
        width: 230px;
        margin: 0 auto;
    }
    #innerText_1 p{
        margin: 0;
        font-size: 17px !important;
        font-weight: 400 !important;
        text-transform: uppercase !important;
        color: #808080;
        text-align: center;
    }
    #innerText_2{
        font-size: 14px !important;
        font-weight: 200;
        display: block;
        width: 230px;
        margin: 15px auto 10px auto !important;
        color: #808080;
        text-align: center;
    }
    #innerText {
        font-size: 50px;
        color: #EB5C4E;
        text-align: center;
        text-decoration: none;
        width: 60px;
        margin: 0 auto;
    }
    #innerText:hover{
        transition: 0.3s;
        cursor: pointer;
        color: #b0b0b0 !important;
    }
    #innerText div{
        width: 60px;
        margin: 0 auto;
    }
    /* 3 paragraphs with texts */
    #services-text-holder{
        width: 450px;
        margin: 145px 0 0 0;
        color: grey;
        font-size: 17px;
        font-weight: 300;
        text-align: justify;
    }
    /*---------------------------------------*/
    /*-------------- expertise -------------*/
    /*-------------------------------------*/
    #home-expertise{
        display: block;
        width: 480px;
        margin: 80px auto 0 auto;
        content: url("../images/mobile/home/expertise_480.png");
    }
    #home-expertise-tab2{
        display: none;
    }
    #home-expertise-tab{
        width: 480px;
        height: 621px;
        margin: -621px auto 0 auto;
        padding-top: 10px;
    }
    #home-expertise-tab-arrow{

    }
    #home-expertise-tab-arrow div{
        color: #ffffff;
        font-size: 60px;
        width: 76px;
        height: 44px;
        margin: 0 0 0 80px;
    }
    #home-expertise-tab-arrow div:hover{
        color: grey;
    }
    #home-expertise-tab a{
        text-decoration: none;
    }
    #home-expertise-tab h1{
        color: grey;
        font-size: 36px;
        font-weight: 100;
        margin-top: 0;
    }
    #home-expertise-tab h2{
        color: grey;
        font-weight: 200 !important;
        font-size: 24px;
        margin: 0;
        vertical-align: top;
    }
    #home-expertise-tab h2:hover{
        color: #EB5C4E;
    }
    .home-expertise-tab-text{
        vertical-align: top;
    }
    /*------------------------------------------*/
    /*-------------- testimonials -------------*/
    /*----------------------------------------*/
    #testimonials{
        display: none;
    }

    /*------------------------------------------*/
    /*-------------- case studies -------------*/
    /*----------------------------------------*/
    #home-cs-book{
        width: 100px;
        height: auto;
        display: block;
        margin: 50px auto 0 auto;
    }
    #home-cs-tit{
        font-size: 36px;
        font-weight: 100;
        text-align: center;
        color: grey;
        margin: 30px auto 38px auto;
    }
    #home-cs-plus{
        width: 40px;
        height: 40px;
        display: block;
        margin: 20px auto 55px auto;
    }
    /*----------------------------------------------*/
    /*-------------- bottom grey line -------------*/
    /*--------------------------------------------*/
    #home-how-can-help{
        background-color: #3c4246;
        width: 100%;
        margin: 0;
        padding: 40px 0 60px 0;
    }
    #home-how-can-text{
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #home-how-can-btn{
        width: 190px;
        margin: 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 7px;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    /*--top banner --*/
    #homeBanner{
        width: 100%;
        height: 265px;
        background-size: auto;
        background-position: left top;
        margin-top: 52px;
    }
    #homeBanner h1{
        text-align: center;
        padding-top: 40px;
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    #contactUs-homeBanner{
        border: 2px solid #ffffff;
        padding: 7px;
        width: 140px;
        text-align: center;
        color: #ffffff;
        margin: 45px auto 0 auto;
        font-size: 18px;
        font-weight: 500;
    }
    /*-- services top banner --*/
    #home-services-banner{
        width: 320px;
        height: 228px;
        margin-top: 40px;
    }
    #newServices{
        width: 725px;
        margin: 0 auto;
    }
    /*________ circle ________*/
    svg{
        height: 600px;
        width: 600px;
        padding-left: 142px;
    }
    path{
        fill: none;
        stroke: #a0a0a0;
        stroke-width: 2px;
        -webkit-stroke-width: 2px;
        stroke-dasharray: 6;
        stroke-opacity: 0.25;
        stroke-linecap: butt;
        -webkit-transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
        transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
    }
    path.complete{
        stroke: #e2e2e2;
        stroke-width: 8px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
        cursor: pointer;
    }
    /*path .complete:hover{*/
        /*stroke: #DC6060 !important;*/
    /*}*/
    path.active{
        stroke: #DC6060;
        stroke-width: 8px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
    }
    text {
        fill: #606060;
        opacity: 0.25;
        -webkit-transition: opacity 333ms ease-in-out;
        transition: opacity 333ms ease-in-out;
        font-size: 18px;
        -moz-tab-size: 4; /* Code for Firefox */
        -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
        tab-size: 4;
    }
    text:hover{
        fill: #b1b1b1;
    }
    text.active {
        opacity: 1;
        transition: 0.4s;
    }
    #svg_arrow{
        font-size: 50px;
        color: #DC6060;
        text-align: center;
        margin-top: 2px;
    }
    /* circle inner text */
    #services-text-holder{
        display: block;
        width: 400px;
        min-height: 150px;
    }
    #home-circle-inner{
        width: 400px;
        /*height: 150px;*/
        margin-top: -470px;
        margin-left: auto;
        margin-right: auto;
        /*z-index: 20;*/
        color: #808080;
    }

    #innerText_1{
        width: 400px;
        margin: 0 auto;
    }
    #innerText_1 p{
        margin: 0;
        font-size: 18px !important;
        font-weight: 400 !important;
        text-transform: uppercase !important;
        color: #808080;
        text-align: center;
    }
    #innerText_2{
        font-size: 16px !important;
        font-weight: 200;
        display: block;
        width: 300px;
        margin: 25px auto 15px auto !important;
        color: #808080;
        text-align: center;
    }
    #innerText {
        font-size: 50px;
        color: #EB5C4E;
        text-align: center;
        text-decoration: none;
        width: 60px;
        margin: 0 auto;
    }
    #innerText:hover{
        transition: 0.3s;
        cursor: pointer;
        color: #b0b0b0 !important;
    }
    #innerText div{
        width: 60px;
        margin: 0 auto;
    }
    /* 3 paragraphs with texts */
    #services-text-holder{
        width: 725px;
        margin: 230px 0 0 0;
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }
    /*---------------------------------------*/
    /*-------------- expertise -------------*/
    /*-------------------------------------*/
    #home-expertise{
        display: block;
        width: 768px;
        margin: 80px auto 0 auto;
        content: url("../images/mobile/home/expertise_768.png");
    }
    #home-expertise-tab{
        display: none;
    }
    #home-expertise-tab2{
        width: 768px;
        height: 744px;
        margin: -744px auto 0 auto;
        padding-top: 10px;
        padding-bottom: 0;
    }
    #home-expertise-tab2-arrow{
        display: block;
        text-decoration: none;
        width: 250px;
        margin: 0 auto;
    }
    #home-expertise-tab2-arrow .icon{
        font-size: 54px;
        color: #FFFFFF;
        margin: 0 0 0 190px;
    }
    #home-expertise-tab2-arrow-text{
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 300;
        text-align: right;
    }
    #home-expertise-tab2 h1{
        font-size: 48px;
        font-weight: 100;
        color: #a9a9a9;
        text-align: left;
        margin: 0;
    }
    #home-expertise-tab2 a{
        text-decoration: none;
    }
    #home-expertise-tab2 h2{
        color: grey;
        font-weight: 200 !important;
        font-size: 36px;
        margin: 0;
        text-align: left;
    }
    #home-expertise-tab2 img{
        text-align: right;
    }
    #home-expertise-tab2 p:hover{
        color: #EB5C4E;
    }
    .home-expertise-tab2-buffer{
        width: 50px;
    }
    /*------------------------------------------*/
    /*-------------- testimonials -------------*/
    /*----------------------------------------*/
    #testimonials{
        display: none;
    }

    /*------------------------------------------*/
    /*-------------- case studies -------------*/
    /*----------------------------------------*/
    #home-cs-book{
        width: 110px;
        height: auto;
        display: block;
        margin: 50px auto 0 auto;
    }
    #home-cs-tit{
        font-size: 48px;
        font-weight: 100;
        text-align: center;
        color: grey;
        margin: 30px auto 38px auto;
    }
    #home-cs-plus{
        width: 42px;
        height: 42px;
        display: block;
        margin: 20px auto 55px auto;
    }

    /*----------------------------------------------*/
    /*-------------- bottom grey line -------------*/
    /*--------------------------------------------*/
    #home-how-can-help{
        background-color: #3c4246;
        width: 100%;
        margin: 0;
        padding: 40px 0 60px 0;
    }
    #home-how-can-text{
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #home-how-can-btn{
        width: 190px;
        margin: 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 7px;
    }
}