@media screen and (max-width: 320px){
    #site-menu{
        position: fixed;
        left: -100%;
        /*left: 0;*/
        top: 71px;
        z-index: 1000;
        background-color: #1a1a1a;
        width: 100%;
        height: auto;
        opacity: 0.85;
    }
    #site-menu-inner{
        width: 290px;
        margin: 40px auto 30px auto;
    }
    .site-menu-a{
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .site-submenu{
        margin-bottom: 10px;
    }
    .site-menu-a-plus{
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
    }
    .site-menu-a-plus-icon{
        display: inline-block;
        color: #ffffff;
        font-size: 20px;
        margin-left: 40px;
        float: right;
    }
    /*--sub menus--*/
    #submenu-whatwedo-content{
        display: none;
        height: 0;
        margin-bottom: 10px;
    }
    #submenu-technology-content{
        display: none;
        height: 0;
        margin-bottom: 10px;
    }
    .submenu-whatwedo-a{
        display: none;
        opacity: 0;
        margin-left: 18px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .submenu-technology-a{
        display: none;
        opacity: 0;
        margin-left: 18px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 12px;
    }
    /*--- horizontal line ---*/
    #menu-horizontal-line{
        width: 290px;
        border: 0;
        height: 1px;
        margin: 25px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
    /*--social icons--*/
    #menu-social{
        width: 172px;
        margin-top: 7px;
        margin-left: 118px;
        display: block;
    }
    #menu-social a{
        background-color: #ffffff;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-left: 18px;
        color: #3c4246;
        display: inline-block;
        vertical-align: top;
    }
    #menu-social i{
        color: #3c4246;
        font-size: 14px;
        vertical-align: top;
        margin-top: 4px;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px){
    #site-menu{
        position: fixed;
        left: -100%;
        /*left: 0;*/
        top: 71px;
        z-index: 1000;
        background-color: #1a1a1a;
        width: 100%;
        height: auto;
        opacity: 0.85;
    }
    #site-menu-inner{
        width: 290px;
        margin: 40px auto 30px auto;
    }
    .site-menu-a{
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .site-submenu{
        margin-bottom: 10px;
    }
    .site-menu-a-plus{
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
    }
    .site-menu-a-plus-icon{
        display: inline-block;
        color: #ffffff;
        font-size: 20px;
        margin-left: 40px;
        float: right;
    }
    /*--sub menus--*/
    #submenu-whatwedo-content{
        display: none;
        height: 0;
        margin-bottom: 10px;
    }
    #submenu-technology-content{
        display: none;
        height: 0;
        margin-bottom: 10px;
    }
    .submenu-whatwedo-a{
        display: none;
        opacity: 0;
        margin-left: 18px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .submenu-technology-a{
        display: none;
        opacity: 0;
        margin-left: 18px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 12px;
    }
    /*--- horizontal line ---*/
    #menu-horizontal-line{
        width: 290px;
        border: 0;
        height: 1px;
        margin: 25px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
    /*--social icons--*/
    #menu-social{
        width: 172px;
        margin-top: 7px;
        margin-left: 118px;
        display: block;
    }
    #menu-social a{
        background-color: #ffffff;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-left: 18px;
        color: #3c4246;
        display: inline-block;
        vertical-align: top;
    }
    #menu-social i{
        color: #3c4246;
        font-size: 14px;
        vertical-align: top;
        margin-top: 4px;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px){
    #site-menu{
        position: fixed;
        left: -100%;
        /*left: 0;*/
        top: 71px;
        z-index: 1000;
        background-color: #1a1a1a;
        width: 100%;
        height: auto;
        opacity: 0.85;
    }
    #site-menu-inner{
        width: 450px;
        margin: 40px auto 30px auto;
    }
    .site-menu-a{
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .site-submenu{
        margin-bottom: 10px;
    }
    .site-menu-a-plus{
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
    }
    .site-menu-a-plus-icon{
        display: inline-block;
        color: #ffffff;
        font-size: 20px;
        margin-left: 40px;
        float: right;
    }
    /*--sub menus--*/
    #submenu-whatwedo-content{
        display: none;
        height: 0;
        margin-bottom: 10px;
    }
    #submenu-technology-content{
        display: none;
        height: 0;
        margin-bottom: 10px;
    }
    .submenu-whatwedo-a{
        display: none;
        opacity: 0;
        margin-left: 18px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .submenu-technology-a{
        display: none;
        opacity: 0;
        margin-left: 18px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 12px;
    }
    /*--- horizontal line ---*/
    #menu-horizontal-line{
        width: 450px;
        border: 0;
        height: 1px;
        margin: 25px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
    /*--social icons--*/
    #menu-social{
        width: 172px;
        margin-top: 7px;
        margin-left: 118px;
        display: block;
    }
    #menu-social a{
        background-color: #ffffff;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-left: 18px;
        color: #3c4246;
        display: inline-block;
        vertical-align: top;
    }
    #menu-social i{
        color: #3c4246;
        font-size: 14px;
        vertical-align: top;
        margin-top: 4px;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    #site-menu{
        position: fixed;
        right: -100%;
        top: 71px;
        z-index: 1000;
        background-color: #1a1a1a;
        width: 380px;
        height: auto;
        opacity: 0.85;
    }
    #site-menu-inner{
        width: 304px;
        margin: 40px auto 30px auto;
    }
    .site-menu-a{
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .site-submenu{
        margin-bottom: 10px;
    }
    .site-menu-a-plus{
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
    }
    .site-menu-a-plus-icon{
        display: inline-block;
        color: #ffffff;
        font-size: 20px;
        margin-left: 40px;
        float: right;
    }
    /*--sub menus--*/
    #submenu-whatwedo-content{
        display: none;
        height: 0;
        margin-bottom: 10px;
    }
    #submenu-technology-content{
        display: none;
        height: 0;
        margin-bottom: 10px;
    }
    .submenu-whatwedo-a{
        display: none;
        opacity: 0;
        margin-left: 18px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .submenu-technology-a{
        display: none;
        opacity: 0;
        margin-left: 18px;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto, SansSerif;
        font-weight: 400;
        margin-bottom: 12px;
    }
    /*--- horizontal line ---*/
    #menu-horizontal-line{
        width: 304px;
        border: 0;
        height: 1px;
        margin: 25px auto;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
    /*--social icons--*/
    #menu-social{
        width: 172px;
        margin-top: 7px;
        margin-left: 132px;
        display: block;
    }
    #menu-social a{
        background-color: #ffffff;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-left: 18px;
        color: #3c4246;
        display: inline-block;
        vertical-align: top;
    }
    #menu-social i{
        color: #3c4246;
        font-size: 14px;
        vertical-align: top;
        margin-top: 4px;
    }
}