#thePopUp textarea::-webkit-input-placeholder {
    color: #212121 !important;
}
#thePopUp textarea:-moz-placeholder { /* Firefox 18- */
    color: #212121 !important;
}
#thePopUp textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #212121 !important;
}
#thePopUp textarea:-ms-input-placeholder {
    color: #212121 !important;
}
#thePopUp textarea:focus {
    outline: none !important;
    border: 2px solid #E4E4E4;
}


#thePopUp input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #212121 !important;
}
#thePopUp input::-moz-placeholder { /* Firefox 19+ */
    color: #212121 !important;
}
#thePopUp input:-ms-input-placeholder { /* IE 10+ */
    color: #212121 !important;
}
#thePopUp input:-moz-placeholder { /* Firefox 18- */
    color: #212121 !important;
}
#thePopUp input:focus {
    outline: none !important;
    border: 2px solid #E4E4E4;
}



@media screen and (max-width: 320px) {
    /*--- the main container ---*/
    #popUps{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        opacity: 0;
        display: none;
    }
    /*--- close button ---*/
    .closePopUp{
        /*border-radius: 50%;*/
        /*background-color: #EB5C4E;*/
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        float: right;
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        margin: 2px 6px 0 0;
        display: inline-block;
    }
    /*--- let us call you ---*/
    #popup-let-us{
        width: 290px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-let-us input{
        width: 234px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-let-us .icons{
        display: none;
    }
    #popup-let-us textarea{
        width: 238px;
        height: 65px;
        margin: 0 auto;
        display: block;
    }
    #popup-let-us-tit{
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 500;
        display: inline-block;
        margin-left: 22px;
    }
    #popup-let-us-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-let-us-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    /*--- how can we help you ---*/
    #popup-how-can{
        width: 290px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-how-can input{
        width: 234px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-how-can textarea{
        width: 238px;
        height: 65px;
        margin: 0 auto;
        display: block;
    }
    #popup-how-can-tit{
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 500;
        display: inline-block;
        margin-left: 22px;
    }
    #popup-how-can-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-how-can-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    /*--- download pdf ---*/
    #popup-download-pdf{
        width: 320px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-download-pdf .icon{
        display: none;
    }
    #popup-download-pdf input{
        width: 234px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-download-pdf textarea{
        width: 238px;
        height: 65px;
        margin: 0 auto;
        display: block;
    }
    #popup-download-pdf-tit{
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 500;
        display: inline-block;
        margin-left: 22px;
    }
    #popup-download-pdf-inner{
        display: none;
    }
    #popup-download-pdf-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-download-pdf-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    
    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 300px;
        margin: 100px auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px) {
    /*--- the main container ---*/
    #popUps{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        opacity: 0;
        display: none;
    }
    /*--- close button ---*/
    .closePopUp{
        /*border-radius: 50%;*/
        /*background-color: #EB5C4E;*/
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        float: right;
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        margin: 2px 6px 0 0;
        display: inline-block;
    }
    /*--- let us call you ---*/
    #popup-let-us{
        width: 290px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-let-us .icon{
        display: none;
    }
    #popup-let-us input{
        width: 234px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-let-us textarea{
        width: 238px;
        height: 65px;
        margin: 0 auto;
        display: block;
    }
    #popup-let-us-tit{
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 500;
        display: inline-block;
        margin-left: 22px;
    }
    #popup-let-us-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-let-us-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    /*--- how can we help you ---*/
    #popup-how-can{
        width: 290px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-how-can .icon{
        display: none;
    }
    #popup-how-can input{
        width: 234px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-how-can textarea{
        width: 238px;
        height: 65px;
        margin: 0 auto;
        display: block;
    }
    #popup-how-can-tit{
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 500;
        display: inline-block;
        margin-left: 22px;
    }
    #popup-how-can-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-how-can-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    /*--- download pdf ---*/
    #popup-download-pdf{
        width: 320px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-download-pdf .icon{
        display: none;
    }
    #popup-download-pdf input{
        width: 234px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-download-pdf textarea{
        width: 238px;
        height: 65px;
        margin: 0 auto;
        display: block;
    }
    #popup-download-pdf-tit{
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 500;
        display: inline-block;
        margin-left: 22px;
    }
    #popup-download-pdf-inner{
        display: none;
    }
    #popup-download-pdf-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-download-pdf-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }

    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 300px;
        margin: 100px auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    /*--- the main container ---*/
    #popUps{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        opacity: 0;
        display: none;
    }
    /*--- close button ---*/
    .closePopUp{
        /*border-radius: 50%;*/
        /*background-color: #EB5C4E;*/
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        float: right;
        color: #ffffff;
        font-size: 28px;
        font-weight: 400;
        margin: 2px 14px 0 0;
        display: inline-block;
    }
    /*--- let us call you ---*/
    #popup-let-us{
        width: 450px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-let-us-inputs{
        display: inline-block;
        margin-top: 20px;
        margin-left: 30px;
    }
    #popup-let-us input{
        width: 250px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-let-us .icon{
        font-size: 70px;
        color: #FFFFFF;
        width: 72px;
        vertical-align: top;
        margin-top: 34px;
        margin-left: 38px;
        display: inline-block;
    }
    #popup-let-us textarea{
        width: 380px;
        height: 65px;
        margin: 0 auto;
        display: block;
    }
    #popup-let-us-tit{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        margin-left: 30px;
    }
    #popup-let-us-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-let-us-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    /*--- how can we help you ---*/
    #popup-how-can{
        width: 450px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-how-can .icon{
        font-size: 70px;
        color: #FFFFFF;
        width: 72px;
        vertical-align: top;
        margin-top: 85px;
        margin-left: 40px;
        display: inline-block;
    }
    #popup-how-can-inputs{
        display: inline-block;
        margin-top: 20px;
        margin-left: 30px;
    }
    #popup-how-can input{
        width: 250px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-how-can textarea{
        width: 384px;
        height: 65px;
        margin: 2px auto 0 auto;
        display: block;
    }
    #popup-how-can-tit{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        margin-left: 30px;
    }
    #popup-how-can-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-how-can-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    /*--- download pdf ---*/
    #popup-download-pdf{
        width: 450px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-download-pdf-inputs{
        display: inline-block;
        margin-top: 20px;
        margin-left: 30px;
    }
    #popup-download-pdf input{
        width: 234px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-download-pdf textarea{
        width: 380px;
        height: 65px;
        margin: 2px auto 0 auto;
        display: block;
    }
    #popup-download-pdf .icon{
        font-size: 70px;
        color: #FFFFFF;
        width: 80px;
        vertical-align: top;
        margin-top: 35px;
        margin-left: 40px;
        display: inline-block;
    }
    #popup-download-pdf-tit{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        margin-left: 30px;
    }
    #popup-download-pdf-inner{
        font-size: 16px;
        font-weight: 100;
        color: #FFFFFF;
        width: 305px;
        margin-left: 30px;
        margin-top: 15px;
    }
    #popup-download-pdf-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-download-pdf-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }

    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 440px;
        margin: 150px auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    /*--- the main container ---*/
    #popUps{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        opacity: 0;
        display: none;
    }
    /*--- close button ---*/
    .closePopUp{
        /*border-radius: 50%;*/
        /*background-color: #EB5C4E;*/
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        float: right;
        color: #ffffff;
        font-size: 28px;
        font-weight: 400;
        margin: 2px 14px 0 0;
        display: inline-block;
    }
    /*--- let us call you ---*/
    #popup-let-us{
        width: 450px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-let-us-inputs{
        display: inline-block;
        margin-top: 20px;
        margin-left: 30px;
    }
    #popup-let-us input{
        width: 250px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-let-us .icon{
        font-size: 70px;
        color: #FFFFFF;
        width: 72px;
        vertical-align: top;
        margin-top: 34px;
        margin-left: 38px;
        display: inline-block;
    }
    #popup-let-us textarea{
        width: 380px;
        height: 65px;
        margin: 0 auto;
        display: block;
    }
    #popup-let-us-tit{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        margin-left: 30px;
    }
    #popup-let-us-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-let-us-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    /*--- how can we help you ---*/
    #popup-how-can{
        width: 450px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-how-can .icon{
        font-size: 70px;
        color: #FFFFFF;
        width: 72px;
        vertical-align: top;
        margin-top: 85px;
        margin-left: 40px;
        display: inline-block;
    }
    #popup-how-can-inputs{
        display: inline-block;
        margin-top: 20px;
        margin-left: 30px;
    }
    #popup-how-can input{
        width: 250px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-how-can textarea{
        width: 384px;
        height: 65px;
        margin: 2px auto 0 auto;
        display: block;
    }
    #popup-how-can-tit{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        margin-left: 30px;
    }
    #popup-how-can-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-how-can-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }
    /*--- download pdf ---*/
    #popup-download-pdf{
        width: 450px;
        margin: 100px auto 0 auto;
        background-color: #EB5C4E;
        padding: 15px 0 20px 0;
        display: none;
    }
    #popup-download-pdf-inputs{
        display: inline-block;
        margin-top: 20px;
        margin-left: 30px;
    }
    #popup-download-pdf input{
        width: 234px;
        margin: 10px auto;
        display: block;
        height: 32px;
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #popup-download-pdf textarea{
        width: 380px;
        height: 65px;
        margin: 2px auto 0 auto;
        display: block;
    }
    #popup-download-pdf .icon{
        font-size: 70px;
        color: #FFFFFF;
        width: 80px;
        vertical-align: top;
        margin-top: 35px;
        margin-left: 40px;
        display: inline-block;
    }
    #popup-download-pdf-tit{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        margin-left: 30px;
    }
    #popup-download-pdf-inner{
        font-size: 16px;
        font-weight: 100;
        color: #FFFFFF;
        width: 305px;
        margin-left: 30px;
        margin-top: 15px;
    }
    #popup-download-pdf-send{
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        width: 106px;
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    #popup-download-pdf-send:hover{
        color: #EB5C4E;
        background-color: #FFFFFF;
    }

    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 300px;
        margin: 200px auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}