@media screen and (max-width: 320px) {

    /*#singlePostBanner {*/
        /*background-image: url("../images/mobile/blog/blog_320.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*width: 290px;*/
        /*height: 247px;*/
        /*margin: 65px auto 0 auto;*/
    /*}*/
    #postContainer{
        width: 290px;
        margin: 10px auto;
    }
    #singlePostDate{
        display: block;
        margin-bottom: 8px;
    }
    #singlePostContent{
        text-align: justify;
    }
    #postContainer img{
        width: 290px;
    }
    #singlePostTitle{
        font-size: 24px;
        font-weight: 500;
    }
    /*--- sharing buttons ---*/
    #sharing-buttons{
        width: 290px;
        position: relative;
        text-align: right;
        margin: 55px auto 0 auto;
        padding: 0;
    }
    #sharing-buttons li{
        display: inline-block;
    }
    #sharing-buttons li:before{
        content: ""!important;
        margin: 0!important;
    }
    #sharing-buttons i{
        font-size: 35px;
        margin-left: 10px;
    }
    #sharing-buttons i:hover{
        color: grey !important;
    }
    #sharing-buttons i:visited{

    }
    /*--- tags ---*/
    #tagsList{
        width: 290px;
        margin: 20px auto;
    }
    #tagsList ul{
        margin: 0;
        padding: 0;
    }
    .tagsList-li{
        display: inline-block;
        border: 2px solid #EB5C4E;
        padding: 0 4px;
        margin: 10px 3px 10px 0;
    }
    .tagsList-h3{
        font-size: 18px;
        font-weight: 300;
        color: #4b3b3b;
        margin: 3px 0;
    }
    .tagsList-li:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
    }
    .tagsList-li:hover .tagsList-h3{
        color: #fff;
    }
    .tagsList-a{
        text-decoration: none;
        color: #1a1a1a;
    }
    .tagsList-a:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
    }
    #tagsList i{
        font-size: 28px;
        color: #EB5C4E;
        display: inline-block;
    }
    #tagsList p{
        font-size: 24px;
        color: #3c4246;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 8px 0;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px) {
    /*#singlePostBanner {*/
        /*background-image: url("../images/mobile/blog/blog_320.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*width: 290px;*/
        /*height: 247px;*/
        /*margin: 65px auto 0 auto;*/
    /*}*/
    #postContainer{
        width: 290px;
        margin: 10px auto;
    }
    #singlePostDate{
        display: block;
        margin-bottom: 8px;
    }
    #singlePostContent{
        text-align: justify;
        font-weight: 300;
        font-size: 16px;
        color: grey;
    }
    #postContainer img{
        width: 290px;
        margin: 30px 0;
    }
    #postContainer a{
        text-decoration: none;
        color: #EB5C4E;
    }
    #singlePostTitle{
        font-size: 24px;
        font-weight: 500;
    }
    /*--- sharing buttons ---*/
    #sharing-buttons{
        width: 290px;
        position: relative;
        text-align: right;
        margin: 55px auto 0 auto;
        padding: 0;
    }
    #sharing-buttons li{
        display: inline-block;
    }
    #sharing-buttons li:before{
        content: ""!important;
        margin: 0!important;
    }
    #sharing-buttons i{
        font-size: 35px;
        margin-left: 10px;
    }
    #sharing-buttons i:hover{
        color: grey !important;
    }
    #sharing-buttons i:visited{

    }
    /*--- tags ---*/
    #tagsList{
        width: 290px;
        margin: 20px auto;
    }
    #tagsList ul{
        margin: 0;
        padding: 0;
    }
    .tagsList-li{
        display: inline-block;
        border: 2px solid #EB5C4E;
        padding: 0 4px;
        margin: 10px 3px 10px 0;
    }
    .tagsList-h3{
        font-size: 18px;
        font-weight: 300;
        color: #4b3b3b;
        margin: 3px 0;
    }
    .tagsList-li:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
    }
    .tagsList-li:hover .tagsList-h3{
        color: #fff;
    }
    .tagsList-a{
        text-decoration: none;
        color: #1a1a1a;
    }
    .tagsList-a:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
    }
    #tagsList i{
        font-size: 28px;
        color: #EB5C4E;
        display: inline-block;
    }
    #tagsList p{
        font-size: 24px;
        color: #3c4246;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 8px 0;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    /*#singlePostBanner {*/
        /*background-image: url("../images/mobile/blog/blog_480.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*width: 450px;*/
        /*height: 247px;*/
        /*margin: 80px auto 0 auto;*/
    /*}*/
    #postContainer{
        width: 450px;
        margin: 10px auto;
    }
    #singlePostDate{
        display: block;
        margin-bottom: 8px;
    }
    #singlePostContent{
        text-align: justify;
        font-weight: 300;
        font-size: 16px;
        color: grey;
    }
    #postContainer img{
        width: 450px;
        margin: 30px 0;
    }
    #postContainer a{
        text-decoration: none;
        color: #EB5C4E;
    }
    #singlePostTitle{
        font-size: 24px;
        font-weight: 500;
    }
    /*--- sharing buttons ---*/
    #sharing-buttons{
        width: 450px;
        position: relative;
        text-align: right;
        margin: 55px auto 0 auto;
        padding: 0;
    }
    #sharing-buttons li{
        display: inline-block;
    }
    #sharing-buttons li:before{
        content: ""!important;
        margin: 0!important;
    }
    #sharing-buttons i{
        font-size: 35px;
        margin-left: 10px;
    }
    #sharing-buttons i:hover{
        color: grey !important;
    }
    #sharing-buttons i:visited{

    }
    /*--- tags ---*/
    #tagsList{
        width: 450px;
        margin: 20px auto;
    }
    #tagsList ul{
        margin: 0;
        padding: 0;
    }
    .tagsList-li{
        display: inline-block;
        border: 2px solid #EB5C4E;
        padding: 0 4px;
        margin: 10px 3px 10px 0;
    }
    .tagsList-h3{
        font-size: 18px;
        font-weight: 300;
        color: #4b3b3b;
        margin: 3px 0;
    }
    .tagsList-li:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
    }
    .tagsList-li:hover .tagsList-h3{
        color: #fff;
    }
    .tagsList-a{
        text-decoration: none;
        color: #1a1a1a;
    }
    .tagsList-a:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
    }
    #tagsList i{
        font-size: 28px;
        color: #EB5C4E;
        display: inline-block;
    }
    #tagsList p{
        font-size: 24px;
        color: #3c4246;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 8px 0;
    }
}


@media screen and (max-width: 1022px) and (min-width: 766px){
    /*#singlePostBanner{*/
        /*background-image: url("../images/mobile/blog/blog_768.jpg");*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        /*width: 725px;*/
        /*height: 258px;*/
        /*margin: 87px auto 0 auto;*/
    /*}*/
    #postContainer{
        width: 725px;
        margin: 10px auto;
    }
    #singlePostDate{
        display: block;
        margin-bottom: 8px;
    }
    #singlePostContent{
        text-align: justify;
        font-weight: 300;
        font-size: 16px;
        color: grey;
    }
    #postContainer img{
        width: 725px;
        margin: 30px 0;
    }
    #postContainer a{
        text-decoration: none;
        color: #EB5C4E;
    }
    #singlePostTitle{
        font-size: 24px;
        font-weight: 500;
    }
    /*--- sharing buttons ---*/
    #sharing-buttons{
        width: 725px;
        position: relative;
        text-align: right;
        margin: 55px auto 0 auto;
        padding: 0;
    }
    #sharing-buttons li{
        display: inline-block;
    }
    #sharing-buttons li:before{
        content: ""!important;
        margin: 0!important;
    }
    #sharing-buttons i{
        font-size: 35px;
        margin-left: 10px;
    }
    #sharing-buttons i:hover{
        color: grey !important;
    }
    #sharing-buttons i:visited{

    }
    /*--- tags ---*/
    #tagsList{
        width: 725px;
        margin: 20px auto;
    }
    #tagsList ul{
        margin: 0;
        padding: 0;
    }
    .tagsList-li{
        display: inline-block;
        border: 2px solid #EB5C4E;
        padding: 0 4px;
        margin: 10px 3px 10px 0;
    }
    .tagsList-h3{
        font-size: 18px;
        font-weight: 300;
        color: #4b3b3b;
        margin: 3px 0;
    }
    .tagsList-li:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
    }
    .tagsList-li:hover .tagsList-h3{
        color: #fff;
    }
    .tagsList-a{
        text-decoration: none;
        color: #1a1a1a;
    }
    .tagsList-a:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
    }
    #tagsList i{
        font-size: 28px;
        color: #EB5C4E;
        display: inline-block;
    }
    #tagsList p{
        font-size: 24px;
        color: #3c4246;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 8px 0;
    }
}