@media screen and (max-width: 320px){
    #technology-list{
        list-style: none;
        padding: 0;
        width: 170px;
        margin: 10px auto 0 auto;
    }
    #technology-list li{
        margin-bottom: 20px;
    }
    #technology-list img{
        width: 170px;
    }
    #technology-texts{
        font-size: 17px;
        font-weight: 300;
        color: grey;
        text-align: justify;
        margin-top: 35px;
    }
    #technology-texts p{
        margin-bottom: 25px;
    }
    #technology-subscribe-list{
        list-style: none;
        padding: 0;
        width: 260px;
        margin: 40px auto 80px auto;
    }
    #technology-subscribe-list li{
        margin-bottom: 28px;
    }
    #technology-subscribe-list div{
        display: inline-block;
        margin-top: 6px;
    }
    #technology-subscribe-list p{
        display: inline-block;
        color: grey;
        width: 200px;
        margin: 0 0 0 10px;
        font-size: 18px;
        vertical-align: top;
    }
    /*_____ credentials ______*/
    #technology-internal-img{
        width: 290px;
        margin: 10px auto 0 auto;
    }
    .technology-credentials-a{
        width: 290px;
        margin: 0 auto 10px auto;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 400;
        display: block;
        text-decoration: none;
    }
    .technology-credentials-a div{
        font-size: 35px;
        margin-right: 10px;
        display: inline-block;
    }
    .technology-credentials-a p{
        width: 240px;
        display: inline-block;
    }
    /*----------------------*/
    /*____ sales force ____*/
    /*--------------------*/
    /* intro ul */
    #technology-intro-ul{
        padding: 0;
        list-style: none;
    }
    #technology-sf1-img1 img{
        width: 230px;
        display: block;
        margin: 10px auto;
    }
    #technology-sf1-img2{
        display: none;
    }
    #technology-sf2-img{
        width: 220px;
        display: block;
        margin: 10px auto;
    }
    #technology-intro-ul p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        text-align: justify;
    }
    /* color middle line */
    #technology-middle-line{
        width: 290px;
        margin: 20px auto;
        background-color: #248FBD;
        list-style: none;
        color: #ffffff;
        padding: 20px 0;
    }
    #technology-middle-line li{
        display: inline-block;
        vertical-align: top;
    }
    #technology-middle-line i {
        font-family: Fontello;
        font-size: 35px;
        font-style: normal;
        margin: 10px;
    }
    #technology-middle-line p{
        margin: 0;
        width: 232px;
    }
    /* second inner image */
    #technology-sf2-img{
        width: 230px;
        margin: 60px auto 0 auto;
    }
    /* second text block */
    #technology-second-text-block{
        padding: 0;
        list-style: none;
    }
    #technology-second-text-block p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        text-align: justify;
        margin: 25px 0 0 0;
    }
    /* talk to a CRM expert */
    #technology-talk{
        width: 254px;
        margin: 50px auto 0 auto;
    }
    #technology-talk_to_expert{
        color: #EB5C4E;
        font-size: 40px;
        display: inline-block;
        margin-right: 10px;
    }
    #technology-talk-inner{
        display: inline-block;
        width: 200px;
    }
    #technology-talk-red-row{
        color: #EB5C4E !important;
        font-size: 20px !important;
        font-weight: 600 !important;
        margin: 0 !important;
    }
    #technology-talk-grey-row{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        margin: 0 !important;
    }
    #technology-free-trial-btn{
        width: 120px;
        color: #fff;
        background-color: #EB5C4E;
        border: 2px solid #EB5C4E;
        font-size: 18px;
        font-weight: 500;
        margin: 20px auto 0 auto;
        padding: 6px 0;
        text-align: center;
    }
    /* what we do icons */
    #technology-inner-title{
        text-align: center;
        font-size: 30px;
        font-weight: 200;
        color: grey;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    #technology-wwd{
        list-style: none;
        padding: 0;
        margin: 30px auto 0 auto;
    }
    #technology-wwd li{
        margin-bottom: 40px;
    }
    #technology-wwd img{
        width: 80px;
        display: block;
        margin: 10px auto 15px auto;
    }
    #technology-wwd div{
        width: 240px;
        margin: 0 auto;
        text-align: center;
    }
    /* bottom sf banners */
    #sf-banners-container{
        margin: 0 0 60px 0;
    }
    #sf-banners-container img{
        width: 270px;
        display: block;
        margin: 60px auto 0 auto;
    }
    /*-- gsuite --*/
    .technology-gsuite-last-text{
        margin-top: 50px !important;
        margin-bottom: 60px !important;
    }
    /*-- eloqua ul --*/
    #technology-eloqua-ul{
        margin-top: 24px;
        font-size: 17px;
        font-weight: 300;
        padding: 0 0 0 25px;
        list-style: disc !important;
        color: grey;
    }
    #technology-eloqua-ul li{
        margin-bottom: 8px;
    }
    .technology-eloqua-middle-line{
        background-color: #EB5C4E !important;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px){
    #technology-list{
        list-style: none;
        padding: 0;
        width: 170px;
        margin: 10px auto 0 auto;
    }
    #technology-list li{
        margin-bottom: 20px;
    }
    #technology-list img{
        width: 170px;
    }
    #technology-texts{
        font-size: 17px;
        font-weight: 300;
        color: grey;
        text-align: justify;
        margin-top: 35px;
    }
    #technology-texts p{
        margin-bottom: 25px;
    }
    #technology-subscribe-list{
        list-style: none;
        padding: 0;
        width: 260px;
        margin: 40px auto 80px auto;
    }
    #technology-subscribe-list li{
        margin-bottom: 28px;
    }
    #technology-subscribe-list div{
        display: inline-block;
        margin-top: 6px;
    }
    #technology-subscribe-list p{
        display: inline-block;
        color: grey;
        width: 200px;
        margin: 0 0 0 10px;
        font-size: 18px;
        vertical-align: top;
    }

    /*_____ credentials ______*/
    #technology-internal-img{
        width: 290px;
        margin: 10px auto 0 auto;
    }
    .technology-credentials-a{
        width: 290px;
        margin: 0 auto 10px auto;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 400;
        display: block;
        text-decoration: none;
    }
    .technology-credentials-a div{
        font-size: 35px;
        margin-right: 10px;
        display: inline-block;
    }
    .technology-credentials-a p{
        width: 240px;
        display: inline-block;
    }
    /*----------------------*/
    /*____ sales force ____*/
    /*--------------------*/
    /* intro ul */
    #technology-intro-ul{
        padding: 0;
        list-style: none;
    }
    #technology-sf1-img1 img{
        width: 230px;
        display: block;
        margin: 10px auto;
    }
    #technology-sf1-img2{
        display: none;
    }
    #technology-sf2-img{
        width: 220px;
        display: block;
        margin: 10px auto;
    }
    #technology-intro-ul p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        text-align: justify;
    }
    /* color middle line */
    #technology-middle-line{
        width: 290px;
        margin: 20px auto;
        background-color: #248FBD;
        list-style: none;
        color: #ffffff;
        padding: 20px 0;
    }
    #technology-middle-line li{
        display: inline-block;
        vertical-align: top;
    }
    #technology-middle-line i {
        font-family: Fontello;
        font-size: 35px;
        font-style: normal;
        margin: 10px;
    }
    #technology-middle-line p{
        margin: 0;
        width: 232px;
    }
    /* second inner image */
    #technology-sf2-img{
        width: 230px;
        margin: 60px auto 0 auto;
    }
    /* second text block */
    #technology-second-text-block{
        padding: 0;
        list-style: none;
    }
    #technology-second-text-block p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        text-align: justify;
        margin: 25px 0 0 0;
    }
    /* talk to a CRM expert */
    #technology-talk{
        width: 254px;
        margin: 50px auto 0 auto;
    }
    #technology-talk_to_expert{
        color: #EB5C4E;
        font-size: 40px;
        display: inline-block;
        margin-right: 10px;
    }
    #technology-talk-inner{
        display: inline-block;
        width: 200px;
    }
    #technology-talk-red-row{
        color: #EB5C4E !important;
        font-size: 20px !important;
        font-weight: 600 !important;
        margin: 0 !important;
    }
    #technology-talk-grey-row{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        margin: 0 !important;
    }
    #technology-free-trial-btn{
        width: 120px;
        color: #fff;
        background-color: #EB5C4E;
        border: 2px solid #EB5C4E;
        font-size: 18px;
        font-weight: 500;
        margin: 20px auto 0 auto;
        padding: 6px 0;
        text-align: center;
    }
    /* what we do icons */
    #technology-inner-title{
        text-align: center;
        font-size: 30px;
        font-weight: 200;
        color: grey;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    #technology-wwd{
        list-style: none;
        padding: 0;
        margin: 30px auto 0 auto;
    }
    #technology-wwd li{
        margin-bottom: 40px;
    }
    #technology-wwd img{
        width: 80px;
        display: block;
        margin: 10px auto 15px auto;
    }
    #technology-wwd div{
        width: 240px;
        margin: 0 auto;
        text-align: center;
    }
    /* bottom sf banners */
    #sf-banners-container{
        margin: 0 0 60px 0;
    }
    #sf-banners-container img{
        width: 270px;
        display: block;
        margin: 60px auto 0 auto;
    }
    /*-- gsuite --*/
    .technology-gsuite-last-text{
        margin-top: 50px !important;
        margin-bottom: 60px !important;
    }
    /*-- eloqua ul --*/
    #technology-eloqua-ul{
        margin-top: 24px;
        font-size: 17px;
        font-weight: 300;
        padding: 0 0 0 25px;
        list-style: disc !important;
        color: grey;
    }
    #technology-eloqua-ul li{
        margin-bottom: 8px;
    }
    .technology-eloqua-middle-line{
        background-color: #EB5C4E !important;
    }
    /*-- salesmanago --*/
    .technology-salesmanago-middle-line{
        background-color: #79A615 !important;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px){
    #technology-list{
        list-style: none;
        padding: 0;
        width: 450px;
        margin: 55px auto 0 auto;
    }
    #technology-list li{
        display: inline-block;
        margin: 0 26px 20px 26px;
    }
    #technology-list img{
        width: 170px;
    }
    #technology-texts{
        font-size: 17px;
        font-weight: 300;
        color: grey;
        text-align: justify;
        margin-top: 35px;
    }
    #technology-texts p{
        margin-bottom: 30px;
    }
    #technology-subscribe-list{
        list-style: none;
        padding: 0;
        width: 450px;
        margin: 40px auto 80px auto;
    }
    #technology-subscribe-list li{
        margin-bottom: 28px;
        width: 202px;
        display: inline-block;
        margin-left: 11px;
        margin-right: 11px;
    }
    #technology-subscribe-list div{
        display: inline-block;
        margin-top: 6px;
    }
    #technology-subscribe-list p{
        width: 165px;
        display: inline-block;
        color: grey;
        margin: 0 0 0 8px;
        font-size: 17px;
        vertical-align: top;
    }
    /*_____ credentials ______*/
    #technology-internal-img{
        display: block;
        width: 290px;
        margin: 10px auto 0 auto;
    }
    .technology-credentials-a{
        width: 450px;
        margin: 0 auto 10px auto;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 400;
        display: block;
        text-decoration: none;
    }
    .technology-credentials-a div{
        font-size: 35px;
        margin-right: 10px;
        display: inline-block;
    }
    .technology-credentials-a p{
        width: 400px;
        display: inline-block;
        vertical-align: top;
        margin: 6px 0 0 0;
    }
    /*----------------------*/
    /*____ sales force ____*/
    /*--------------------*/
    /* intro ul */
    #technology-intro-ul{
        padding: 0;
        list-style: none;
    }
    #technology-sf1-img1 img{
        width: 255px;
        display: block;
        margin: 10px auto;
    }
    #technology-sf1-img2{
        display: none;
    }
    #technology-sf2-img{
        width: 220px;
        display: block;
        margin: 10px auto;
    }
    #technology-intro-ul p{
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }
    /* color middle line */
    #technology-middle-line{
        width: 450px;
        margin: 20px auto;
        background-color: #248FBD;
        list-style: none;
        color: #ffffff;
        padding: 20px 0;
    }
    #technology-middle-line li{
        display: inline-block;
        vertical-align: top;
    }
    #technology-middle-line i {
        font-family: Fontello;
        font-size: 35px;
        font-style: normal;
        margin: 10px;
    }
    #technology-middle-line p{
        margin: 0;
        width: 390px;
    }
    /* second inner image */
    #technology-sf2-img{
        width: 250px;
        margin: 60px auto 45px auto;
    }
    /* second text block */
    #technology-second-text-block{
        padding: 0;
        list-style: none;
    }
    #technology-second-text-block p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        text-align: justify;
        margin: 25px 0 0 0;
    }
    /* talk to a CRM expert */
    #technology-talk{
        width: 254px;
        margin: 80px auto 0 auto;
    }
    #technology-talk_to_expert{
        color: #EB5C4E;
        font-size: 40px;
        display: inline-block;
        margin-right: 10px;
    }
    #technology-talk-inner{
        display: inline-block;
        width: 200px;
    }
    #technology-talk-red-row{
        color: #EB5C4E !important;
        font-size: 20px !important;
        font-weight: 600 !important;
        margin: 0 !important;
    }
    #technology-talk-grey-row{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        margin: 0 !important;
    }
    #technology-free-trial-btn{
        width: 130px;
        color: #fff;
        background-color: #EB5C4E;
        border: 2px solid #EB5C4E;
        font-size: 20px;
        font-weight: 500;
        margin: 30px auto 0 auto;
        padding: 6px 0;
        text-align: center;
    }
    /* what we do icons */
    #technology-inner-title{
        text-align: center;
        font-size: 30px;
        font-weight: 200;
        color: grey;
        margin-top: 130px;
        margin-bottom: 40px;
    }
    #technology-wwd{
        list-style: none;
        padding: 0;
        margin: 30px auto 0 auto;
    }
    #technology-wwd li{
        display: inline-block;
        vertical-align: top;
        margin: 0 30px 40px 30px;
    }
    #technology-wwd img{
        width: 80px;
        display: block;
        margin: 10px auto 15px auto;
    }
    #technology-wwd div{
        width: 160px;
        margin: 0 auto;
        text-align: center;
    }
    /* bottom sf banners */
    #sf-banners-container{
        margin: 0 0 60px 0;
    }
    #sf-banners-container img{
        width: 270px;
        display: block;
        margin: 60px auto 0 auto;
    }
    /*-- gsuite --*/
    .technology-gsuite-last-text{
        margin-bottom: 60px !important;
    }
    /*-- eloqua ul --*/
    #technology-eloqua-ul{
        margin-top: 24px;
        font-size: 17px;
        font-weight: 300;
        padding: 0 0 0 25px;
        list-style: disc !important;
        color: grey;
    }
    #technology-eloqua-ul li{
        margin-bottom: 5px;
    }
    .technology-eloqua-middle-line{
        background-color: #EB5C4E !important;
    }
    /*-- salesmanago --*/
    .technology-salesmanago-middle-line{
        background-color: #79A615 !important;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    #technology-list{
        list-style: none;
        padding: 0;
        width: 725px;
        margin: 80px auto 0 auto;
    }
    #technology-list li{
        display: inline-block;
        margin: 0 34px 30px 34px;
    }
    #technology-list img{
        width: 170px;
    }
    #technology-texts{
        font-size: 18px;
        font-weight: 300;
        color: grey;
        text-align: justify;
        margin-top: 35px;
    }
    #technology-texts p{
        margin-bottom: 40px;
    }
    #technology-subscribe-list{
        list-style: none;
        padding: 0;
        width: 725px;
        margin: 60px auto 80px auto;
    }
    #technology-subscribe-list li{
        margin-bottom: 28px;
        width: 340px;
        display: inline-block;
        margin-left: 11px;
        margin-right: 11px;
    }
    #technology-subscribe-list div{
        display: inline-block;
        margin-top: 6px;
    }
    #technology-subscribe-list p{
        width: 265px;
        display: inline-block;
        color: grey;
        margin: 0 0 0 8px;
        font-size: 18px;
        vertical-align: top;
    }
    /*_____ credentials ______*/
    #technology-internal-img{
        display: block;
        width: 290px;
        margin: 10px auto 0 auto;
    }
    .technology-credentials-a{
        width: 500px;
        margin: 0 auto 10px auto;
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 400;
        display: block;
        text-decoration: none;
    }
    .technology-credentials-a div{
        font-size: 35px;
        margin-right: 10px;
        display: inline-block;
    }
    .technology-credentials-a p{
        width: 450px;
        display: inline-block;
        vertical-align: top;
        margin: 6px 0 0 0;
    }
    /*____ sales force ____*/
    #technology-sf1-img{
        width: 250px;
        display: inline-block;
        margin: 10px auto;
    }
    #technology-sf2-img{
        width: 220px;
        display: block;
        margin: 10px auto;
    }
    #technology-middle-line{
        width: 290px;
        margin: 20px auto;
        background-color: #248FBD;
        list-style: none;
        color: #ffffff;
        padding: 20px 0;
    }
    #technology-middle-line li{
        display: inline-block;
        vertical-align: top;
    }
    #technology-middle-line i {
        font-family: Fontello;
        font-size: 35px;
        font-style: normal;
        margin: 10px;
    }
    #technology-middle-line p{
        margin: 0;
        width: 232px;
    }
    /*----------------------*/
    /*____ sales force ____*/
    /*--------------------*/
    /* intro ul */
    #technology-intro-ul{
        padding: 0;
        list-style: none;
    }
    #technology-intro-ul li{
        display: inline-block;
        width: 350px;
        vertical-align: top;
    }
    #technology-sf1-img1{
        display: none !important;
    }
    #technology-sf1-img1 img{
        display: none !important;
    }
    #technology-sf1-img2 img{
        width: 255px;
        display: block;
        margin: 10px auto;
    }
    #technology-sf2-img{
        width: 220px;
        display: block;
        margin: 10px auto;
    }
    #technology-intro-ul p{
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        margin-bottom: 30px;
    }
    /* color middle line */
    #technology-middle-line{
        width: 725px;
        margin: 30px auto;
        background-color: #248FBD;
        list-style: none;
        color: #ffffff;
        padding: 20px 0;
    }
    #technology-middle-line li{
        display: inline-block;
        vertical-align: top;
    }
    #technology-middle-line i {
        font-family: Fontello;
        font-size: 38px;
        font-style: normal;
        margin: 10px;
    }
    #technology-middle-line p{
        margin: 0;
        width: 665px;
        font-size: 20px;
        font-weight: 400;
        margin-top: 4px;
    }
    /* second inner image */
    #technology-sf2-img{
        width: 250px;
        margin: 60px auto 45px auto;
        display: inline-block;
        vertical-align: top;
    }
    /* second text block */
    #technology-second-text-block{
        padding: 0;
        list-style: none;
        display: inline-block;
        width: 400px;
        vertical-align: top;
        margin-left: 70px;
        margin-top: 35px;
    }
    #technology-second-text-block p{
        color: grey;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        margin: 25px 0 0 0;
    }
    /* talk to a CRM expert */
    #technology-talk{
        width: 254px;
        margin: 20px auto 0 0;
    }
    #technology-talk_to_expert{
        color: #EB5C4E;
        font-size: 40px;
        display: inline-block;
        margin-right: 10px;
    }
    #technology-talk-inner{
        display: inline-block;
        width: 200px;
    }
    #technology-talk-red-row{
        color: #EB5C4E !important;
        font-size: 20px !important;
        font-weight: 600 !important;
        margin: 0 !important;
    }
    #technology-talk-grey-row{
        color: grey;
        font-size: 17px;
        font-weight: 300;
        margin: 0 !important;
    }
    #technology-free-trial-btn{
        width: 130px;
        color: #fff;
        background-color: #EB5C4E;
        border: 2px solid #EB5C4E;
        font-size: 20px;
        font-weight: 500;
        margin: 30px auto 0 0;
        padding: 6px 0;
        text-align: center;
    }
    /* what we do icons */
    #technology-inner-title{
        text-align: center;
        font-size: 30px;
        font-weight: 200;
        color: grey;
        margin-top: 130px;
        margin-bottom: 40px;
    }
    #technology-wwd{
        list-style: none;
        padding: 0;
        margin: 30px auto 0 auto;
    }
    #technology-wwd li{
        display: inline-block;
        vertical-align: top;
        margin: 0 30px 40px 30px;
    }
    #technology-wwd img{
        width: 80px;
        display: block;
        margin: 10px auto 15px auto;
    }
    #technology-wwd div{
        width: 160px;
        margin: 0 auto;
        text-align: center;
    }
    /* bottom sf banners */
    #sf-banners-container{
        margin: 0 0 60px 0;
    }
    #sf-banners-container img{
        width: 270px;
        display: inline-block;
        margin: 60px 44px 0 44px;
    }
    /*-- gsuite --*/
    .technology-gsuite-last-text{
        margin-bottom: 60px !important;
    }
    /*-- eloqua ul --*/
    #technology-eloqua-ul{
        margin-top: 24px;
        font-size: 18px;
        font-weight: 300;
        padding: 0 0 0 25px;
        list-style: disc !important;
        color: grey;
    }
    #technology-eloqua-ul li{
        margin-bottom: 8px;
    }
    .technology-eloqua-middle-line{
        background-color: #EB5C4E !important;
    }
    /*-- salesmanago --*/
    .technology-salesmanago-middle-line{
        background-color: #79A615 !important;
    }
}