#wwd-firstSlogan{
    display: none;
}
#wwd-secondSlogan{
    display: none;
}

@media screen and (max-width: 320px) {
    /*_______________ main page ____________*/
    #whatWeDoMainContentUl{
        margin: 70px auto;
        width: 320px;
        height: 1430px;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        list-style: none;
        padding: 0;
    }
    #whatWeDoMainContentUl li{
        background-position: center;
        background-repeat: no-repeat;
        width: 290px;
        height: 253px;
        margin: 33px auto 30px auto;
        vertical-align: top;
        display: block;
    }
    #whatWeDoMainContentUl li:first-of-type{

    }
    .wwd-title{
        color: #fff;
        /*font-size: 26px;*/
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 40px 0 0 34px;
        width: 240px;
        height: 40px;
        line-height: 104%;
        display: inline-block;
        /*font-family: "Roboto Condensed";*/
    }
    .wwd-sub-title{
        color: #fff;
        /*font-size: 12px;*/
        font-size: 11px;
        font-weight: 100;
        margin-left: 34px;
        margin-top: 36px;
        /*width: 257px;*/
        width: 225px;
        height: 44px;
        line-height: 136%;
        /*font-family: "Roboto Condensed";*/
        text-transform: uppercase;
        display: inline-block;
    }
    .wwd-num{
        display: inline-block;
        color: #fff;
        /*font-size: 58px;*/
        font-size: 55px;
        /*font-family: "Roboto Condensed";*/
        font-weight: 900;
        margin: 0 0 0 34px;
    }
    #whatWeDoMainContentUl a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 45px;
        font-weight: 500;
        margin-left: 100px;
        transition: 0.4s;
    }

    /*_______ database services _______*/
    #wwd-container{
        width: 290px;
        margin: 20px auto 0 auto;
    }
    #wwd_title{
        text-align: center;
        color: grey;
        font-size: 30px;
        font-weight: 200;
        margin: 50px auto;
    }
    #wwd_textHolder{
        list-style: none;
        padding: 0;
    }
    #wwd_textHolder_left{

    }
    #wwd_textHolder_left p{
        color: grey;
        font-size: 17px;
        text-align: justify;
        font-weight: 300;
    }
    #wwd_textHolder_right{

    }
    #wwd_textHolder img{
        width: 290px;
        margin: 20px auto 40px auto;
    }
    .wwd-mid-texts{
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 700;
        width: 290px;
        margin: 10px auto;
        text-align: center;
    }
    #casesButt{
        display: block;
        width: 42px;
        margin: 10px auto 40px auto;
    }

    /* digital marketing services */
    #ourWebServices{
        text-align: center;
        color: grey;
        font-size: 36px;
        font-weight: 200;
        margin: 50px auto;
    }
}

@media screen and (max-width: 478px) and (min-width: 320px) {
    /*_______________ main page ____________*/
    #whatWeDoMainContentUl{
        margin: 70px auto;
        width: 320px;
        height: 1430px;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        list-style: none;
        padding: 0;
    }
    #whatWeDoMainContentUl li{
        background-position: center;
        background-repeat: no-repeat;
        width: 290px;
        height: 253px;
        margin: 33px auto 30px auto;
        vertical-align: top;
        display: block;
    }
    #whatWeDoMainContentUl li:first-of-type{

    }
    .wwd-title{
        color: #fff;
        /*font-size: 26px;*/
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 40px 0 0 34px;
        width: 240px;
        height: 40px;
        line-height: 104%;
        display: inline-block;
        /*font-family: "Roboto Condensed";*/
    }
    .wwd-sub-title{
        color: #fff;
        /*font-size: 12px;*/
        font-size: 11px;
        font-weight: 100;
        margin-left: 34px;
        margin-top: 36px;
        /*width: 257px;*/
        width: 225px;
        height: 44px;
        line-height: 136%;
        /*font-family: "Roboto Condensed";*/
        text-transform: uppercase;
        display: inline-block;
    }
    .wwd-num{
        display: inline-block;
        color: #fff;
        /*font-size: 58px;*/
        font-size: 55px;
        /*font-family: "Roboto Condensed";*/
        font-weight: 900;
        margin: 0 0 0 34px;
    }
    #whatWeDoMainContentUl a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 45px;
        font-weight: 500;
        margin-left: 100px;
        transition: 0.4s;
    }

    /*_______ database services _______*/
    #wwd-container{
        width: 290px;
        margin: 20px auto 0 auto;
    }
    #wwd_title{
        text-align: center;
        color: grey;
        font-size: 30px;
        font-weight: 200;
        margin: 50px auto;
    }
    #wwd_textHolder{
        list-style: none;
        padding: 0;
    }
    #wwd_textHolder_left{

    }
    #wwd_textHolder_left p{
        color: grey;
        font-size: 17px;
        text-align: justify;
        font-weight: 300;
    }
    #wwd_textHolder_right{

    }
    #wwd_textHolder img{
        width: 290px;
        margin: 20px auto 40px auto;
    }
    .wwd-mid-texts{
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 700;
        width: 290px;
        margin: 10px auto;
        text-align: center;
    }
    #casesButt{
        display: block;
        width: 42px;
        margin: 10px auto 40px auto;
    }
    /* digital marketing services */
    #ourWebServices{
        text-align: center;
        color: grey;
        font-size: 36px;
        font-weight: 200;
        margin: 50px auto;
    }
}

@media screen and (max-width: 766px) and (min-width: 478px) {
    /*_______________ main page ____________*/
    #whatWeDoMainContentUl{
        margin: 70px auto;
        width: 450px;
        height: 1430px;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        list-style: none;
        padding: 0;
    }
    #whatWeDoMainContentUl li{
        background-position: center;
        background-repeat: no-repeat;
        width: 290px;
        height: 253px;
        margin: 33px auto 30px auto;
        vertical-align: top;
        display: block;
    }
    #whatWeDoMainContentUl li:first-of-type{

    }
    .wwd-title{
        color: #fff;
        /*font-size: 26px;*/
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 40px 0 0 34px;
        width: 240px;
        height: 40px;
        line-height: 104%;
        display: inline-block;
        /*font-family: "Roboto Condensed";*/
    }
    .wwd-sub-title{
        color: #fff;
        /*font-size: 12px;*/
        font-size: 11px;
        font-weight: 100;
        margin-left: 34px;
        margin-top: 36px;
        /*width: 257px;*/
        width: 225px;
        height: 44px;
        line-height: 136%;
        /*font-family: "Roboto Condensed";*/
        text-transform: uppercase;
        display: inline-block;
    }
    .wwd-num{
        display: inline-block;
        color: #fff;
        /*font-size: 58px;*/
        font-size: 55px;
        /*font-family: "Roboto Condensed";*/
        font-weight: 900;
        margin: 0 0 0 34px;
    }
    #whatWeDoMainContentUl a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 45px;
        font-weight: 500;
        margin-left: 100px;
        transition: 0.4s;
    }

    /*_______ database services _______*/
    #wwd-container{
        width: 450px;
        margin: 20px auto 0 auto;
    }
    #wwd_title{
        text-align: center;
        color: grey;
        font-size: 36px;
        font-weight: 200;
        margin: 50px auto;
    }
    #wwd_textHolder{
        list-style: none;
        padding: 0;
    }
    #wwd_textHolder_left{

    }
    #wwd_textHolder_left p{
        color: grey;
        font-size: 17px;
        text-align: justify;
        font-weight: 300;
    }
    #wwd_textHolder_right{

    }
    #wwd_textHolder img{
        width: 400px;
        margin: 20px auto 40px auto;
    }
    .wwd-mid-texts{
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 700;
        width: 314px;
        margin: 10px auto;
        text-align: center;
    }
    #casesButt{
        display: block;
        width: 42px;
        margin: 10px auto 40px auto;
    }

    /* digital marketing services */
    #ourWebServices{
        text-align: center;
        color: grey;
        font-size: 36px;
        font-weight: 200;
        margin: 50px auto;
    }
}

@media screen and (max-width: 1022px) and (min-width: 766px){
    /*_______________ main page ____________*/
    #whatWeDoMainContentUl{
        margin: 70px auto;
        width: 725px;
        height: 950px;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        list-style: none;
        padding: 0;
    }
    #whatWeDoMainContentUl li{
        background-position: center;
        background-repeat: no-repeat;
        width: 290px;
        height: 253px;
        margin: 33px 34px;
        vertical-align: top;
        display: inline-block;
    }
    #whatWeDoMainContentUl li:first-of-type{

    }
    .wwd-title{
        color: #fff;
        /*font-size: 26px;*/
        font-size: 23px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 40px 0 0 34px;
        width: 240px;
        height: 40px;
        line-height: 104%;
        display: inline-block;
        /*font-family: "Roboto Condensed";*/
    }
    .wwd-sub-title{
        color: #fff;
        /*font-size: 12px;*/
        font-size: 12px;
        font-weight: 100;
        margin-left: 30px;
        margin-top: 30px;
        /*width: 257px;*/
        width: 225px;
        height: 44px;
        line-height: 136%;
        /*font-family: "Roboto Condensed";*/
        text-transform: uppercase;
        display: inline-block;
    }
    .wwd-num{
        display: inline-block;
        color: #fff;
        /*font-size: 58px;*/
        font-size: 55px;
        /*font-family: "Roboto Condensed";*/
        font-weight: 900;
        margin: 0 0 0 34px;
    }
    #whatWeDoMainContentUl a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 45px;
        font-weight: 500;
        margin-left: 100px;
        transition: 0.4s;
    }

    /*_______ database services _______*/
    #wwd-container{
        width: 725px;
        margin: 20px auto 0 auto;
    }
    #wwd_title{
        text-align: center;
        color: grey;
        font-size: 48px;
        font-weight: 200;
        margin: 50px auto;
    }
    #wwd_textHolder{
        list-style: none;
        padding: 0;
    }
    #wwd_textHolder_left{
        display: inline-block;
        width: 350px;
    }
    #wwd_textHolder_left p{
        color: grey;
        font-size: 18px;
        text-align: justify;
        font-weight: 300;
    }
    #wwd_textHolder_right{
        display: inline-block;
        width: 370px;
        vertical-align: top;
    }
    #wwd_textHolder img{
        width: 370px;
        margin: 20px auto 40px auto;
    }
    .wwd-mid-texts{
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 700;
        width: 314px;
        margin: 10px auto;
        text-align: center;
    }
    #casesButt{
        display: block;
        width: 42px;
        margin: 10px auto 40px auto;
    }

    /* digital marketing services */
    #ourWebServices{
        text-align: center;
        color: grey;
        font-size: 36px;
        font-weight: 200;
        margin: 50px auto;
    }
}