#footer textarea::-webkit-input-placeholder {
    color: #fff !important;
}
#footer textarea:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}
#footer textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #fff !important;
}
#footer textarea:-ms-input-placeholder {
    color: #fff !important;
}
#footer textarea:focus {
    outline: none !important;
    border: 2px solid #fff;
}


#footer input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
}
#footer input::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
}
#footer input:-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
}
#footer input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}
#footer input:focus {
    outline: none !important;
    border: 2px solid #fff;
}


#footer select:focus {
    outline: none !important;
    border: 2px solid #fff;
}

/*----------------------------------------------*/
/*-------------- bottom grey line -------------*/
/*--------------------------------------------*/
#home-how-can-help{
    background-color: #3c4246;
    width: 100%;
    margin: 0;
    padding: 40px 0 60px 0;
}
#home-how-can-text{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 40px;
}
#home-how-can-btn{
    width: 190px;
    margin: 0 auto;
    border: 2px solid #EB5C4E;
    background-color: #EB5C4E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 7px;
}
#home-how-can-btn:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #fff;
    color: #EB5C4E;
    border-color: #fff;
}
