@media screen and (min-width: 1400px) {

    #newExpertise{
        margin-top: 70px;
        width: 100%;
        height: 900px;
        background-image: url("../../images/home/slide_img.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    /*_________ left part of expertise field ________*/
    #newExpertise_left{
        width: 100%;
        height: 900px;
        margin-left: -100%;
        background-image: url("../../images/home/opacity_triangle.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .newExpertise_left_aaa{
        text-decoration: none;
    }
    #newExpertise_left ul{
        list-style: none;
        padding-top: 450px;
        opacity: 0;
    }
    #newExpertise_left h1{
        color: #A3A3A3;
        font-size: 48px;
        font-weight: 100;
        margin-bottom: 20px;
    }
    #newExpertise_left img{
        margin-top: 45px;
        height: 39px;
        width: auto;
        text-align: center;
    }
    .newExpertise_left_firstPicRow{
        vertical-align: middle;
    }
    #newExpertise_left h2{
        color: #A3A3A3;
        font-size: 26px;
        font-weight: 100;
        margin-top: 30px;
        margin-left: 20px;
    }
    #newExpertise_left h2:hover{
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        color: #DC6060;
        cursor: pointer;
    }


    /*________ buffer cells ________*/
    #newExpertise_left_verical_buffer{
        width: 40px;
    }
    #newExpertise_left_horizontal_buffer{
        height: 40px;
    }

    /*________ right red triangle _______*/
    #newExpertise_right{
        position: relative;
        top: -45%;
        right: -100%;
        width: 450px;
        height: 255px;
        margin-left: 1px;
        background-image: url("../../images/home/triangle-red.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 10;
        padding-left: 255px;
        padding-top: 33px;
    }
    #newExpertise_right_1 {
        opacity: 0;
        width: 200px;
        color: #ffffff;
        font-size: 17px;
        text-align: right;
    }
    #newExpertise_right_2 {
        opacity: 0;
        width: 200px;
        text-align: right;
    }
    #newExpertise_right_2 a{
        color: #ffffff;
        font-size: 50px;
        text-decoration: none;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    #newExpertise{
        margin-top: 70px;
        width: 100%;
        height: 900px;
        background-image: url("../../images/home/slide_img.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    /*_________ left part of expertise field ________*/
    #newExpertise_left{
        width: 100%;
        height: 900px;
        margin-left: -100%;
        background-image: url("../../images/home/opacity_triangle.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .newExpertise_left_aaa{
        text-decoration: none;
    }
    #newExpertise_left ul{
        list-style: none;
        padding-top: 450px;
        opacity: 0;
    }
    #newExpertise_left h1{
        color: #A3A3A3;
        font-size: 48px;
        font-weight: 100;
        margin-bottom: 20px;
    }
    #newExpertise_left img{
        margin-top: 45px;
        height: 39px;
        width: auto;
        text-align: center;
    }
    .newExpertise_left_firstPicRow{
        vertical-align: middle;
    }
    #newExpertise_left h2{
        color: #A3A3A3;
        font-size: 26px;
        font-weight: 100;
        margin-top: 30px;
        margin-left: 20px;
    }
    #newExpertise_left h2:hover{
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        color: #DC6060;
        cursor: pointer;
    }


    /*________ buffer cells ________*/
    #newExpertise_left_verical_buffer{
        width: 40px;
    }
    #newExpertise_left_horizontal_buffer{
        height: 40px;
    }

    /*________ right red triangle _______*/
    #newExpertise_right{
        position: relative;
        top: -45%;
        right: -100%;
        width: 450px;
        height: 255px;
        margin-left: 1px;
        background-image: url("../../images/home/triangle-red.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 10;
        padding-left: 255px;
        padding-top: 33px;
    }
    #newExpertise_right_1 {
        opacity: 0;
        width: 200px;
        color: #ffffff;
        font-size: 17px;
        text-align: right;
    }
    #newExpertise_right_2 {
        opacity: 0;
        width: 200px;
        text-align: right;
    }
    #newExpertise_right_2 a{
        color: #ffffff;
        font-size: 50px;
        text-decoration: none;
    }

}

@media screen and (max-width: 1200px) {

    #newExpertise{
        margin-top: 70px;
        width: 100%;
        height: 900px;
        background-image: url("../../images/home/slide_img.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    /*_________ left part of expertise field ________*/
    #newExpertise_left{
        width: 100%;
        height: 800px;
        margin-left: -100%;
        background-image: url("../../images/home/opacity_triangle.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .newExpertise_left_aaa{
        text-decoration: none;
    }
    #newExpertise_left ul{
        list-style: none;
        padding-top: 450px;
        opacity: 0;
    }
    #newExpertise_left h1{
        color: #A3A3A3;
        font-size: 38px;
        font-weight: 100;
        margin-bottom: 20px;
    }
    #newExpertise_left img{
        margin-top: 45px;
        height: 39px;
        width: auto;
        text-align: center;
    }
    .newExpertise_left_firstPicRow{
        vertical-align: middle;
    }
    #newExpertise_left h2{
        color: #A3A3A3;
        font-size: 26px;
        font-weight: 100;
        margin-top: 30px;
        margin-left: 20px;
    }
    #newExpertise_left h2:hover{
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        color: #DC6060;
        cursor: pointer;
    }


    /*________ buffer cells ________*/
    #newExpertise_left_verical_buffer{
        width: 40px;
    }
    #newExpertise_left_horizontal_buffer{
        height: 0;
    }

    /*________ right red triangle _______*/
    #newExpertise_right{
        position: relative;
        top: -45%;
        right: -100%;
        width: 450px;
        height: 255px;
        margin-left: 1px;
        background-image: url("../../images/home/triangle-red.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 10;
        padding-left: 255px;
        padding-top: 33px;
    }
    #newExpertise_right_1 {
        opacity: 0;
        width: 200px;
        color: #ffffff;
        font-size: 17px;
        text-align: right;
    }
    #newExpertise_right_2 {
        opacity: 0;
        width: 200px;
        text-align: right;
    }
    #newExpertise_right_2 a{
        color: #ffffff;
        font-size: 50px;
        text-decoration: none;
    }

}