@media screen and (min-width: 1400px) {

    .diagonals{
        width: 390px;
        height: 220px;
        border-bottom: 3px solid #DC6060;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }

    #newServices{
        width: 100%;
    }
    #services_diagonal{
        position: relative;
        top: 164px;
        left: -61px;
    }
    #services_tab{
        margin-top: -515px;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #services_tab h1{
        font-size: 48px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 70px;
        color: #A3A3A3;
    }
    #services_tab h2{
        font-size: 36px;
        font-weight: 100;
        text-align: right;
        margin: 10px 0;
        color: #A3A3A3;
    }
    #services_tab p{
        font-size: 16px;
        margin: 15px 10px 15px 0;
        text-align: justify;
        justify-content: center;
        color: #939393;
        font-weight: 300;
    }
    #services_tab p:first-of-type{
        margin-top: 60px;
    }
    #services_tab_left_th{
        width: 42%;
    }

    /*________ circle inner text ________*/
    #innerText {
        display: block;
        font-family: "Roboto", serif;
        width: 354px;
        margin-top: 189px;
        margin-left: 190px;
        text-align: center;
        line-height: 1.5;
        z-index: 20;
        position: relative;
        color: #939393;
        text-decoration: none;
    }
    #innerText:hover{
        transition: 0.3s;
        cursor: pointer;
        color: #b0b0b0 !important;
    }
    #innerText:hover p{
        color: #b0b0b0 !important;
    }
    #innerText p{
        text-align: center !important;
    }
    #innerText_1{

    }
    #innerText_1 p{
        margin: 0;
        font-size: 20px !important;
        font-weight: 400 !important;
        text-transform: uppercase !important;
    }
    #innerText_2{
        font-size: 16px !important;
        display: block;
        width: 240px;
        margin: 4px auto !important;
    }
    #innerText_3{
        font-size: 50px !important;
        color: #DC6060 !important;
    }

    /*________ circle ________*/
    svg {
        position: relative;
        top: 50%;
        left: 50%;
        height: 530px;
        width: 500px;
        padding: 55px;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
    }
    path {
        fill: none;
        stroke: #a0a0a0;
        stroke-width: 2px;
        -webkit-stroke-width: 2px;
        stroke-dasharray: 6;
        stroke-opacity: 0.25;
        stroke-linecap: butt;
        -webkit-transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
        transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
    }
    path.complete {
        stroke: #e2e2e2;
        stroke-width: 12px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
        cursor: pointer;
    }
    /*path.complete:hover{*/
    /*stroke: #DC6060 !important;*/
    /*}*/
    path.active {
        stroke: #DC6060;
        stroke-width: 12px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
    }
    text {
        fill:	#606060;
        opacity: 0.25;
        -webkit-transition: opacity 333ms ease-in-out;
        transition: opacity 333ms ease-in-out;
        font-size: 18px;
        -moz-tab-size: 4; /* Code for Firefox */
        -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
        tab-size: 4;
    }
    text:hover{
        fill: #b1b1b1;
    }
    text.active {
        opacity: 1;
        transition: 0.4s;
    }
    #svg_arrow{
        font-size: 40px;
        color: #DC6060;
        text-align: center;
        margin-top: 2px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .diagonals{
        width: 390px;
        height: 220px;
        border-bottom: 3px solid #DC6060;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }

    #newServices{
        width: 100%;
    }
    #services_diagonal{
        position: relative;
        top: 164px;
        left: -61px;
    }
    #services_tab{
        margin-top: -515px;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #services_tab h1{
        font-size: 48px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 70px;
        color: #A3A3A3;
    }
    #services_tab h2{
        font-size: 36px;
        font-weight: 100;
        text-align: right;
        margin: 10px 0;
        color: #A3A3A3;
    }
    #services_tab p{
        font-size: 16px;
        margin: 15px 10px 15px 0;
        text-align: justify;
        justify-content: center;
        color: #939393;
        font-weight: 300;
    }
    #services_tab p:first-of-type{
        margin-top: 60px;
    }
    #services_tab_left_th{
        width: 42%;
        min-height: 1304px;
    }
    #services_tab_left_th h1{

    }
    #services_tab_left_th h2{

    }
    #services_tab_left_th p{

    }

    /*________ circle inner text ________*/
    #services-text-holder{
        display: block;
        width: 500px;
        min-height: 350px;
    }
    #innerText {
        display: block;
        font-family: "Roboto", serif;
        width: 354px;
        margin-top: 189px;
        margin-left: 190px;
        text-align: center;
        line-height: 1.5;
        z-index: 20;
        position: relative;
        color: #939393;
        text-decoration: none;
    }
    #innerText:hover{
        transition: 0.3s;
        cursor: pointer;
        color: #b0b0b0 !important;
    }
    #innerText:hover p{
        color: #b0b0b0 !important;
    }
    #innerText p{
        text-align: center !important;
    }
    #innerText_1{

    }
    #innerText_1 p{
        margin: 0;
        font-size: 20px !important;
        font-weight: 400 !important;
        text-transform: uppercase !important;
    }
    #innerText_2{
        font-size: 16px !important;
        display: block;
        width: 240px;
        margin: 4px auto !important;
    }
    #innerText_3{
        font-size: 50px !important;
        color: #DC6060 !important;
    }

    /*________ circle ________*/
    svg {
        position: relative;
        top: 50%;
        left: 50%;
        height: 530px;
        width: 500px;
        padding: 55px;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
    }
    path {
        fill: none;
        stroke: #a0a0a0;
        stroke-width: 2px;
        -webkit-stroke-width: 2px;
        stroke-dasharray: 6;
        stroke-opacity: 0.25;
        stroke-linecap: butt;
        -webkit-transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
        transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
    }
    path.complete {
        stroke: #e2e2e2;
        stroke-width: 12px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
        cursor: pointer;
    }
    /*path.complete:hover{*/
    /*stroke: #DC6060 !important;*/
    /*}*/
    path.active {
        stroke: #DC6060;
        stroke-width: 12px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
    }
    text {
        fill:	#606060;
        opacity: 0.25;
        -webkit-transition: opacity 333ms ease-in-out;
        transition: opacity 333ms ease-in-out;
        font-size: 18px;
        -moz-tab-size: 4; /* Code for Firefox */
        -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
        tab-size: 4;
    }
    text:hover{
        fill: #b1b1b1;
    }
    text.active {
        opacity: 1;
        transition: 0.4s;
    }
    #svg_arrow{
        font-size: 40px;
        color: #DC6060;
        text-align: center;
        margin-top: 2px;
    }

}

@media screen and (max-width: 1200px) {

    .diagonals{
        width: 290px;
        height: 220px;
        border-bottom: 3px solid #DC6060;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }

    #newServices{
        width: 100%;
    }
    #services_diagonal{
        position: relative;
        top: 116px;
        left: -18px;
    }
    #services_tab{
        margin-top: -515px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    #services_tab h1{
        font-size: 38px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 70px;
        color: #A3A3A3;
    }
    #services_tab h2{
        font-size: 28px;
        font-weight: 100;
        text-align: right;
        margin: 10px 0;
        color: #A3A3A3;
    }
    #services_tab p{
        font-size: 16px;
        margin: 15px 10px 15px 0;
        text-align: justify;
        justify-content: center;
        color: #939393;
        font-weight: 300;
    }
    #services_tab p:first-of-type{
        margin-top: 60px;
    }
    #services_tab_left_th{
        width: 42%;
    }

    /*________ circle inner text ________*/
    #innerText {
        display: block;
        font-family: "Roboto", serif;
        width: 300px;
        margin-top: 150px;
        margin-left: 150px;
        text-align: center;
        line-height: 1.5;
        z-index: 20;
        position: relative;
        color: #939393;
        text-decoration: none;
    }
    #innerText:hover{
        transition: 0.3s;
        cursor: pointer;
        color: #b0b0b0 !important;
    }
    #innerText:hover p{
        color: #b0b0b0 !important;
    }
    #innerText p{
        text-align: center !important;
    }
    #innerText_1{

    }
    #innerText_1 p{
        margin: 0;
        font-size: 20px !important;
        font-weight: 400 !important;
        text-transform: uppercase !important;
    }
    #innerText_2{
        font-size: 16px !important;
        display: block;
        width: 240px;
        margin: 4px auto !important;
    }
    #innerText_3{
        font-size: 50px !important;
        color: #DC6060 !important;
    }

    /*________ circle ________*/
    svg {
        position: relative;
        top: 50%;
        left: 50%;
        height: 530px;
        width: 400px;
        padding: 55px;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
    }
    path {
        fill: none;
        stroke: #a0a0a0;
        stroke-width: 2px;
        -webkit-stroke-width: 2px;
        stroke-dasharray: 6;
        stroke-opacity: 0.25;
        stroke-linecap: butt;
        -webkit-transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
        transition: stroke 333ms ease-in-out, stroke-width 333ms ease-in-out, stroke-opacity 333ms ease-in-out;
    }
    path.complete {
        stroke: #e2e2e2;
        stroke-width: 8px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
        cursor: pointer;
    }
    /*path.complete:hover{*/
    /*stroke: #DC6060 !important;*/
    /*}*/
    path.active {
        stroke: #DC6060;
        stroke-width: 8px;
        stroke-dasharray: none;
        stroke-linecap: round;
        stroke-opacity: 1;
        transition: 0.4s;
    }
    text {
        fill:	#606060;
        opacity: 0.25;
        -webkit-transition: opacity 333ms ease-in-out;
        transition: opacity 333ms ease-in-out;
        font-size: 18px;
        -moz-tab-size: 4; /* Code for Firefox */
        -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
        tab-size: 4;
    }
    text:hover{
        fill: #b1b1b1;
    }
    text.active {
        opacity: 1;
        transition: 0.4s;
    }
    #svg_arrow{
        font-size: 40px;
        color: #DC6060;
        text-align: center;
        margin-top: 2px;
    }

}