@media screen and (min-width: 1400px) {

    /*
       =======================================
       ============== top slider =============
       =======================================
       */
    .slick-slide{
        margin: 0;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    .maskHolder{
        position: absolute;
        top: 130px;
        left: 0;
        z-index: 100;
        width: 100%;
        height: auto;
    }
    .maskImg{
        width: 100%;
        height: auto;
    }
    .maskDots{
        position: absolute;
        width: 28px;
        height: 27px;
        top: 36%;
        left: 62%;
        z-index: 110;
        opacity: 0;
    }

    /*________ top slider text ________*/
    .sliderText{
        width: 460px;
        position: absolute;
        top: 520px;
        left: 190px;
        color: #909090;
        z-index: 110;
    }
    .sliderText p{
        width: 460px;
        float: right;
        font-size: 40px;
        text-align: right;
    }
    .sliderText_line1{
        display: block;
        margin-right: 140px;
        font-weight: bold;
    }
    .sliderText_line2{
        display: block;
        font-style: italic;
        font-weight: 100;
        margin-right: 70px;
        margin-top: -10px;
    }
    .sliderText_line3{
        display: block;
        font-weight: bold;
        margin-top: -10px;
    }

    /*
    =======================================
    ========= testimonial slider ==========
    =======================================
    */
    #testimonialsContainer{
        margin-top: -1px;
        width: 100%;
    }
    #testimonials_title{
        width: 96%;
        margin: 0 auto;
        font-size: 48px;
        font-weight: 100;
        color: #939393;
        text-align: right;
    }
    #testimonials_diagonal1{
        position: relative;
        top: -20px;
        left: 0;
        display: inline-block;
        opacity: 0.3;
        float: left;
    }
    #testimonials_diagonal2{
        position: relative;
        top: -20px;
        left: -20px;
        display: inline-block;
    }
    #testimonials_title p{
        display: inline-block;
        z-index: 200;
        margin-right: -175px;
        vertical-align: top;
        margin-top: 80px;
    }
    #testimonials{
        width: 1100px;
        margin: 25px auto 50px auto;
    }
    .testimonials_item{
        text-decoration: none;
    }
    .testimonials_item_logo{

    }
    #testimonials img{
        width: 235px !important;
        /*min-height: 90px;*/
        margin: 0 auto -10px auto;
    }
    .testimonials_item_quote{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 70px;
    }
    .testimonials_item_quote i{
        font-style: normal;
        vertical-align: middle;
        opacity: 0.4;
    }
    .testimonials_item_testimonial{
        font-size: 25px;
        text-align: center;
        color: #b3b3b3;
        font-style: italic;
        font-weight: 100;
    }
    .testimonials_item_author{
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 26px;
        text-align: center;
        color: #939393;
    }
    .testimonials_item_author_name{
        display: inline;
    }
    .testimonials_item_author_quote{
        display: inline;
        float: right;
        margin-top: -22px;
    }
    #testimonials_arrows_holder{
        width: 86px;
        margin: -55px auto 160px auto;
        z-index: 100;
    }
    #testimonials_left_arrow{
        width: 0;
        height: 0;
        border-top: 20px solid #DC6060;
        border-left: 34px solid transparent;
        display: inline-block;
        float: left;
    }
    #testimonials_left_arrow:hover{
        border-top: 20px solid #909090;
        cursor: pointer;
    }
    #testimonials_right_arrow{
        width: 0;
        height: 0;
        border-top: 20px solid #DC6060;
        border-right: 34px solid transparent;
        display: inline-block;
        float: right;
    }
    #testimonials_right_arrow:hover{
        border-top: 20px solid #909090;
        cursor: pointer;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    /*
    =======================================
    ============== top slider =============
    =======================================
    */
    .slick-slide{
        margin: 0;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    .maskHolder{
        position: absolute;
        top: 130px;
        left: 0;
        z-index: 100;
        width: 100%;
        height: auto;
    }
    .maskImg{
        width: 100%;
        height: auto;
    }
    .maskDots{
        position: absolute;
        width: 28px;
        height: 27px;
        top: 36%;
        left: 62%;
        z-index: 110;
        opacity: 0;
    }

    /*________ top slider text ________*/
    .sliderText{
        width: 460px;
        position: absolute;
        top: 380px;
        left: 50px;
        color: #909090;
        z-index: 110;
    }
    .sliderText p{
        width: 460px;
        float: right;
        font-size: 40px;
        text-align: right;
    }
    .sliderText_line1{
        display: block;
        margin-right: 140px;
        font-weight: bold;
    }
    .sliderText_line2{
        display: block;
        font-style: italic;
        font-weight: 100;
        margin-right: 70px;
        margin-top: -10px;
    }
    .sliderText_line3{
        display: block;
        font-weight: bold;
        margin-top: -10px;
    }

    /*
    =======================================
    ========= testimonial slider ==========
    =======================================
    */
    #testimonialsContainer{
        margin-top: -265px;
        width: 100%;
        /*background-position: center !important;*/
        /*background-size: cover !important;*/
        /*background-repeat: no-repeat !important;*/
    }
    #testimonials_title{
        width: 96%;
        margin: 0 auto;
        font-size: 48px;
        font-weight: 100;
        color: #939393;
        text-align: right;
    }
    #testimonials_diagonal1{
        position: relative;
        top: -20px;
        left: 0;
        display: inline-block;
        opacity: 0.3;
        float: left;
    }
    #testimonials_diagonal2{
        position: relative;
        top: -20px;
        left: -20px;
        display: inline-block;
    }
    #testimonials_title p{
        display: inline-block;
        z-index: 200;
        margin-right: -175px;
        vertical-align: top;
        margin-top: 80px;
    }
    #testimonials{
        width: 1100px;
        margin: 25px auto 50px auto;
    }
    .testimonials_item{
        text-decoration: none;
    }
    .testimonials_item_logo{

    }
    #testimonials img{
        width: 235px !important;
        /*min-height: 90px;*/
        margin: 0 auto -10px auto;
    }
    .testimonials_item_quote{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 70px;
    }
    .testimonials_item_quote i{
        font-style: normal;
        vertical-align: middle;
        opacity: 0.4;
    }
    .testimonials_item_testimonial{
        font-size: 25px;
        text-align: center;
        color: #b3b3b3;
        font-style: italic;
        font-weight: 100;
    }
    .testimonials_item_author{
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 26px;
        text-align: center;
        color: #939393;
    }
    .testimonials_item_author_name{
        display: inline;
    }
    .testimonials_item_author_quote{
        display: inline;
        float: right;
        margin-top: -22px;
    }
    #testimonials_arrows_holder{
        width: 86px;
        margin: -55px auto 160px auto;
        z-index: 100;
    }
    #testimonials_left_arrow{
        width: 0;
        height: 0;
        border-top: 20px solid #DC6060;
        border-left: 34px solid transparent;
        display: inline-block;
        float: left;
    }
    #testimonials_left_arrow:hover{
        border-top: 20px solid #909090;
        cursor: pointer;
    }
    #testimonials_right_arrow{
        width: 0;
        height: 0;
        border-top: 20px solid #DC6060;
        border-right: 34px solid transparent;
        display: inline-block;
        float: right;
    }
    #testimonials_right_arrow:hover{
        border-top: 20px solid #909090;
        cursor: pointer;
    }

}

@media screen and (max-width: 1200px) {

    /*
       =======================================
       ============== top slider =============
       =======================================
       */
    .slick-slide{
        margin: 0;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    .maskHolder{
        position: absolute;
        top: 130px;
        left: 0;
        z-index: 100;
        width: 100%;
        height: auto;
    }
    .maskImg{
        width: 100%;
        height: auto;
    }
    .maskDots{
        position: absolute;
        width: 28px;
        height: 27px;
        top: 16%;
        left: 62%;
        z-index: 110;
        opacity: 0;
    }

    /*________ top slider text ________*/
    .sliderText{
        width: 400px;
        position: absolute;
        top: 338px;
        left: 24px;
        color: #909090;
        z-index: 110;
    }
    .sliderText p{
        width: 400px;
        float: right;
        font-size: 30px;
        text-align: right;
    }
    .sliderText_line1{
        display: block;
        margin-right: 140px;
        font-weight: bold;
    }
    .sliderText_line2{
        display: block;
        font-style: italic;
        font-weight: 100;
        margin-right: 70px;
        margin-top: -10px;
    }
    .sliderText_line3{
        display: block;
        font-weight: bold;
        margin-top: -10px;
    }

    /*
    =======================================
    ========= testimonial slider ==========
    =======================================
    */
    #testimonialsContainer{
        margin-top: -265px;
        width: 100%;
        /*background-position: center !important;*/
        /*background-size: cover !important;*/
        /*background-repeat: no-repeat !important;*/
    }
    #testimonials_title{
        width: 90%;
        margin: 0 auto;
        font-size: 38px;
        font-weight: 100;
        color: #939393;
        text-align: right;
    }
    #testimonials_diagonal1{
        position: relative;
        top: -20px;
        left: 0;
        display: inline-block;
        opacity: 0.3;
        float: left;
    }
    #testimonials_diagonal2{
        position: relative;
        top: -20px;
        left: -20px;
        display: inline-block;
    }
    #testimonials_title p{
        display: inline-block;
        z-index: 200;
        margin-right: -175px;
        vertical-align: top;
        margin-top: 80px;
    }
    #testimonials{
        width: 1000px;
        margin: 25px auto 50px auto;
    }
    .testimonials_item{
        text-decoration: none;
    }
    .testimonials_item_logo{

    }
    #testimonials img{
        width: 235px !important;
        /*min-height: 90px;*/
        margin: 0 auto -10px auto;
    }
    .testimonials_item_quote{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 60px;
    }
    .testimonials_item_quote i{
        font-style: normal;
        vertical-align: middle;
        opacity: 0.4;
    }
    .testimonials_item_testimonial{
        font-size: 22px;
        text-align: center;
        color: #b3b3b3;
        font-style: italic;
        font-weight: 100;
    }
    .testimonials_item_author{
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 26px;
        text-align: center;
        color: #939393;
    }
    .testimonials_item_author_name{
        display: inline;
    }
    .testimonials_item_author_quote{
        display: inline;
        float: right;
        margin-top: -22px;
    }
    #testimonials_arrows_holder{
        width: 86px;
        margin: -55px auto 160px auto;
        z-index: 100;
    }
    #testimonials_left_arrow{
        width: 0;
        height: 0;
        border-top: 20px solid #DC6060;
        border-left: 34px solid transparent;
        display: inline-block;
        float: left;
    }
    #testimonials_left_arrow:hover{
        border-top: 20px solid #909090;
        cursor: pointer;
    }
    #testimonials_right_arrow{
        width: 0;
        height: 0;
        border-top: 20px solid #DC6060;
        border-right: 34px solid transparent;
        display: inline-block;
        float: right;
    }
    #testimonials_right_arrow:hover{
        border-top: 20px solid #909090;
        cursor: pointer;
    }

}