@keyframes dotsBlinc {
    0%   {opacity: 1}
    50%  {opacity: 0}
    100% {opacity: 1}
}

.activeDots{
    animation-name: dotsBlinc;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}