#job-form textarea::-webkit-input-placeholder {
    color: #212121 !important;
}
#job-form textarea:-moz-placeholder { /* Firefox 18- */
    color: #212121 !important;
}
#job-form textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #212121 !important;
}
#job-form textarea:-ms-input-placeholder {
    color: #212121 !important;
}
#job-form textarea:focus {
    outline: none !important;
    border: 2px solid #EB5C4E;
}


#job-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #212121 !important;
}
#job-form input::-moz-placeholder { /* Firefox 19+ */
    color: #212121 !important;
}
#job-form input:-ms-input-placeholder { /* IE 10+ */
    color: #212121 !important;
}
#job-form input:-moz-placeholder { /* Firefox 18- */
    color: #212121 !important;
}
#job-form input:focus {
    outline: none !important;
    border: 2px solid #EB5C4E;
}




@media screen and (min-width: 1400px) {
    #job-form{

    }
    #job-form-table{
        width: 1100px;
        margin: 100px auto 0 auto;
        background-color: #F9F9F9;
        padding: 0 200px 80px 200px;
    }
    .job-form-table-tit{
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        padding: 70px 0 40px 0;
    }
    .job-form-table-row-tit{
        text-align: left;
        font-size: 18px;
        font-weight: 200;
        color: #212121;
    }
    .job-form-table-row-tit span{
        color: #EB5C4E;
        font-weight: bold;
        margin-left: 6px;
    }
    .job-form-table-row-input{
        width: 440px;
        height: 30px;
        border: 2px solid #E4E4E4;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    .th-has-padding-20-25{
        padding: 14px 0 14px 25px;
        text-align: left;
    }
    .th-has-padding-20-0{
        padding: 14px 0;
        text-align: left;
    }
    #job-form-table-textarea{
        width: 620px;
        height: 140px;
        border: 2px solid #E4E4E4;
        color: #1a1a1a;
        font-size: 15px;
        padding: 10px;
    }
    /*--- attach button ---*/
    #job-form-table-attach-btn{
        border: 2px solid #E4E4E4;
        width: 250px;
        height: 32px;
        padding-top: 5px;
        text-align: center;
    }
    #job-form-table-attach-btn:hover{
        border-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    #job-form-table-attach-btn p{
        font-size: 16px;
        color: #1a1a1a;
        display: inline-block;
        font-weight: 400;
    }
    #job-form-table-attach-btn i{
        font-size: 22px;
        color: #EB5C4E;
        display: inline-block;
        margin-right: 20px;
    }
    #job-form-table-attach-input{
        display: none;
    }
    /*--- bottom white line ---*/
    #job-form-bottom-white-line{
        position: relative;
        width: 100%;
        height: 120px;
        background-color: #ffffff;
        z-index: 100;
        text-align: center;
        vertical-align: middle;
    }
    #job-form-bottom-white-line-btn{
        width: 280px;
        margin: 70px auto 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        padding: 6px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
    }
    #job-form-bottom-white-line-btn:hover{
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
        color: #1a1a1a;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    #job-form{

    }
    #job-form-table{
        width: 1100px;
        margin: 100px auto 0 auto;
        background-color: #F9F9F9;
        padding: 0 200px 80px 200px;
    }
    .job-form-table-tit{
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        padding: 70px 0 40px 0;
    }
    .job-form-table-row-tit{
        text-align: left;
        font-size: 18px;
        font-weight: 200;
        color: #212121;
    }
    .job-form-table-row-tit span{
        color: #EB5C4E;
        font-weight: bold;
        margin-left: 6px;
    }
    .job-form-table-row-input{
        width: 440px;
        height: 30px;
        border: 2px solid #E4E4E4;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    .th-has-padding-20-25{
        padding: 14px 0 14px 25px;
        text-align: left;
    }
    .th-has-padding-20-0{
        padding: 14px 0;
        text-align: left;
    }
    #job-form-table-textarea{
        width: 620px;
        height: 140px;
        border: 2px solid #E4E4E4;
        color: #1a1a1a;
        font-size: 15px;
        padding: 10px;
    }
    /*--- attach button ---*/
    #job-form-table-attach-btn{
        border: 2px solid #E4E4E4;
        width: 250px;
        height: 32px;
        padding-top: 5px;
        text-align: center;
    }
    #job-form-table-attach-btn:hover{
        border-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    #job-form-table-attach-btn p{
        font-size: 16px;
        color: #1a1a1a;
        display: inline-block;
        font-weight: 400;
    }
    #job-form-table-attach-btn i{
        font-size: 22px;
        color: #EB5C4E;
        display: inline-block;
        margin-right: 20px;
    }
    #job-form-table-attach-input{
        display: none;
    }
    /*--- bottom white line ---*/
    #job-form-bottom-white-line{
        position: relative;
        width: 100%;
        height: 120px;
        background-color: #ffffff;
        z-index: 100;
        text-align: center;
        vertical-align: middle;
    }
    #job-form-bottom-white-line-btn{
        width: 280px;
        margin: 70px auto 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        padding: 6px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
    }
    #job-form-bottom-white-line-btn:hover{
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
        color: #1a1a1a;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    #job-form{
        width: 95%;
        margin: 0 auto;
    }
    #job-form-table{
        width: 95%;
        margin: 100px auto 0 auto;
        background-color: #F9F9F9;
        padding: 0 200px 80px 200px;
    }
    .job-form-table-tit{
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        padding: 70px 0 40px 0;
    }
    .job-form-table-row-tit{
        text-align: left;
        font-size: 18px;
        font-weight: 200;
        color: #212121;
    }
    .job-form-table-row-tit span{
        color: #EB5C4E;
        font-weight: bold;
        margin-left: 6px;
    }
    .job-form-table-row-input{
        width: 350px;
        height: 30px;
        border: 2px solid #E4E4E4;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    .th-has-padding-20-25{
        padding: 14px 0 14px 25px;
        text-align: left;
    }
    .th-has-padding-20-0{
        padding: 14px 0;
        text-align: left;
    }
    #job-form-table-textarea{
        width: 450px;
        height: 140px;
        border: 2px solid #E4E4E4;
        color: #1a1a1a;
        font-size: 15px;
        padding: 10px;
    }
    /*--- attach button ---*/
    #job-form-table-attach-btn{
        border: 2px solid #E4E4E4;
        width: 250px;
        height: 32px;
        padding-top: 5px;
        text-align: center;
    }
    #job-form-table-attach-btn:hover{
        border-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    #job-form-table-attach-btn p{
        font-size: 16px;
        color: #1a1a1a;
        display: inline-block;
        font-weight: 400;
    }
    #job-form-table-attach-btn i{
        font-size: 22px;
        color: #EB5C4E;
        display: inline-block;
        margin-right: 20px;
    }
    #job-form-table-attach-input{
        display: none;
    }
    /*--- bottom white line ---*/
    #job-form-bottom-white-line{
        position: relative;
        width: 100%;
        height: 120px;
        background-color: #ffffff;
        z-index: 100;
        text-align: center;
        vertical-align: middle;
    }
    #job-form-bottom-white-line-btn{
        width: 280px;
        margin: 70px auto 0 auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        padding: 6px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
    }
    #job-form-bottom-white-line-btn:hover{
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
        color: #1a1a1a;
    }
}