@media screen and (min-width: 1400px) {
    /*--- block 1 ---*/
    #careers-block1-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block1-text{
        width: 1100px;
        margin: 20px auto 10px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
    #careers-block1-button{
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #careers-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #careers-block1-picwithicons{
        width: 1100px;
        height: 490px;
        margin: 0 auto;
        background-color: transparent;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none !important;
    }
    #careers-block1-picwithicons-title{
        height: 490px;
        width: 1100px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        opacity: 0.75;
        font-size: 48px;
        text-shadow: 1px 1px 4px #a0a0a0;
    }
    .careers-block1-picwithicons-img{
        margin-top: 30px;
        width: 50px;
        height: 50px;
    }
    .careers-block1-picwithicons-row1{
        font-size: 18px;
        color: #818181;
    }
    .careers-block1-picwithicons-row2{
        font-size: 17px;
        color: #818181;
        font-style: italic;
        margin: 5px 0 10px 0;
        font-weight: 100;
    }
    .careers-block1-picwithicons-row3{
        width: 240px;
        margin: 0 auto;
        font-size: 17px;
        color: #818181;
        font-weight: 100;
    }
    .careers-block1-picwithicons-darker{
        background-color: rgba(240, 240, 240, 0.95);
    }
    .careers-block1-picwithicons-lighter{
        background-color: rgba(246, 246, 246, 0.95);
    }



    /*--- block 2 ---*/
    #careers-block2-title{
        margin: 95px 0 0 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #block2-middleBoxes_bigContainer{
        width: 100%;
        height: 370px;
        margin: 110px 0 30px 0;
        /*position: relative;*/
        display: table;
    }
    #questions_and_answers{
        display: none;
    }
    /*___ top boxes (icons) ___*/
    #block2-middleBoxes_middleContainer{
        position: relative;
        width: 350px;
        margin: 0 auto;
        z-index: 100;
    }
    #block2-middleBoxes_middleContainer i{
        font-family: Fontello;
        font-size: 60px;
        font-style: normal;
        vertical-align: middle;
    }
    #block2-middleBoxes_middleContainer_quote{
        display: inline-block;
        float: left;
        padding: 15px 32px;
        background-color: #EB5C4E;
        border: 5px solid #EB5C4E;
        color: #ffffff;
    }
    #block2-middleBoxes_middleContainer_box{
        display: inline-block;
        float: right;
        padding: 26px 25px;
        border: 5px solid #EB5C4E;
        z-index: 100;
        background-color: #ffffff;
        /*color: #fff;*/
    }
    #male-hipster{
        display: none;
    }
    #female-hipster{
        display: none;
    }

    /*______ content boxes ______*/
    #block2-middleBoxes{
        position: relative;
        width: 1090px;
        margin: 150px auto 350px auto;
    }
    /*-- left --*/
    #block2-middleBoxes_leftContainer{
        width: 435px;
        height: 190px;
        float: left;
        margin-top: -85px;
    }
    #block2-middleBoxes_leftTopBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
        margin-left: 50px;
    }
    #block2-middleBoxes_leftLeftBorder{
        display: inline-block;
        width: 0;
        height: 150px;
        margin-top: 40px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: left;
    }
    #block2-middleBoxes_leftText{
        display: inline-block;
        position: relative;
        width: 275px;
        height: 190px;
        margin: 0 85px 0 37px;
        text-align: left;
    }
    #block2-middleBoxes_leftText div{
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 600;
        opacity: 1;
        margin: 45px 0 20px 0;
    }
    #block2-middleBoxes_leftText p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
    }
    #block2-middleBoxes_leftRightBorder{
        display: inline-block;
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: right;
    }
    #block2-middleBoxes_leftBottomBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    /*-- right --*/
    #block2-middleBoxes_rightContainer{
        width: 435px;
        height: 190px;
        float: right;
        margin-top: -85px;
        z-index: 1;
    }
    #block2-middleBoxes_rightTopBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    #block2-middleBoxes_rightLeftBorder{
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        display: inline-block;
        float: left;
    }
    #block2-middleBoxes_rightText{
        display: inline-block;
        position: relative;
        width: 275px;
        height: 190px;
        text-align: right;
        margin: 0 0 0 122px;
    }
    #block2-middleBoxes_rightText div{
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 600;
        opacity: 1;
        margin: 45px 0 20px 0;
    }
    #block2-middleBoxes_rightText p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
    }
    #block2-middleBoxes_rightRightBorder{
        display: inline-block;
        float: right;
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        margin-top: 40px;
    }
    #block2-middleBoxes_rightBottomBorder{
        width: 385px;
        height: 0;
        margin-left: 50px;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }


    /*--- block 3 ---*/
    #careers-block3-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block3-text{
        width: 1100px;
        margin: 20px auto 70px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
    #careers-block3-table{
        width: 1100px;
        margin: 0 auto 150px auto;
        text-align: left;
    }
    .careers-block3-table-tit-row{
        font-size: 20px;
        font-weight: 500;
        color: #1a1a1a;
        text-align: left;
        padding-bottom: 25px;
    }
    .careers-block3-table-langandloc{
        width: 250px;
    }
    .block3-job-title{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }
    .block3-job-title:hover{
        text-decoration: underline;
        color: #EB5C4E;
        cursor: pointer;
    }
    .block3-job-location{
        color: grey;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }
    .block3-job-language{
        color: grey;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }



    /*--- block 4 ---*/
    #careers-block4-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block4-text{
        width: 1100px;
        margin: 20px auto 160px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){

    /*--- block 1 ---*/
    #careers-block1-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block1-text{
        width: 1100px;
        margin: 20px auto 10px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
    #careers-block1-button{
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #careers-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #careers-block1-picwithicons{
        width: 1100px;
        height: 490px;
        margin: 0 auto;
        background-color: transparent;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none !important;
    }
    #careers-block1-picwithicons-title{
        height: 490px;
        width: 1100px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        opacity: 0.75;
        font-size: 48px;
        text-shadow: 1px 1px 4px #a0a0a0;
    }
    .careers-block1-picwithicons-img{
        margin-top: 30px;
        width: 50px;
        height: 50px;
    }
    .careers-block1-picwithicons-row1{
        font-size: 18px;
        color: #818181;
    }
    .careers-block1-picwithicons-row2{
        font-size: 17px;
        color: #818181;
        font-style: italic;
        margin: 5px 0 10px 0;
        font-weight: 100;
    }
    .careers-block1-picwithicons-row3{
        width: 240px;
        margin: 0 auto;
        font-size: 17px;
        color: #818181;
        font-weight: 100;
    }
    .careers-block1-picwithicons-darker{
        background-color: rgba(240, 240, 240, 0.95);
    }
    .careers-block1-picwithicons-lighter{
        background-color: rgba(246, 246, 246, 0.95);
    }



    /*--- block 2 ---*/
    #careers-block2-title{
        margin: 95px 0 0 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #block2-middleBoxes_bigContainer{
        width: 100%;
        height: 370px;
        margin: 110px 0 30px 0;
        /*position: relative;*/
        display: table;
    }
    /*___ top boxes (icons) ___*/
    #block2-middleBoxes_middleContainer{
        position: relative;
        width: 350px;
        margin: 0 auto;
        z-index: 100;
    }
    #block2-middleBoxes_middleContainer i{
        font-family: Fontello;
        font-size: 60px;
        font-style: normal;
        vertical-align: middle;
    }
    #block2-middleBoxes_middleContainer_quote{
        display: inline-block;
        float: left;
        padding: 15px 32px;
        background-color: #EB5C4E;
        border: 5px solid #EB5C4E;
        color: #ffffff;
    }
    #block2-middleBoxes_middleContainer_box{
        display: inline-block;
        float: right;
        padding: 26px 25px;
        border: 5px solid #EB5C4E;
        z-index: 100;
        background-color: #ffffff;
        /*color: #fff;*/
    }
    #male-hipster{
        display: none;
    }
    #female-hipster{
        display: none;
    }

    /*______ content boxes ______*/
    #block2-middleBoxes{
        position: relative;
        width: 1090px;
        margin: 150px auto 350px auto;
    }
    /*-- left --*/
    #block2-middleBoxes_leftContainer{
        width: 435px;
        height: 190px;
        float: left;
        margin-top: -85px;
    }
    #block2-middleBoxes_leftTopBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
        margin-left: 50px;
    }
    #block2-middleBoxes_leftLeftBorder{
        display: inline-block;
        width: 0;
        height: 150px;
        margin-top: 40px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: left;
    }
    #block2-middleBoxes_leftText{
        display: inline-block;
        position: relative;
        width: 275px;
        height: 190px;
        margin: 0 85px 0 37px;
        text-align: left;
    }
    #block2-middleBoxes_leftText div{
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 600;
        opacity: 1;
        margin: 45px 0 20px 0;
    }
    #block2-middleBoxes_leftText p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
    }
    #block2-middleBoxes_leftRightBorder{
        display: inline-block;
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: right;
    }
    #block2-middleBoxes_leftBottomBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    /*-- right --*/
    #block2-middleBoxes_rightContainer{
        width: 435px;
        height: 190px;
        float: right;
        margin-top: -85px;
        z-index: 1;
    }
    #block2-middleBoxes_rightTopBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    #block2-middleBoxes_rightLeftBorder{
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        display: inline-block;
        float: left;
    }
    #block2-middleBoxes_rightText{
        display: inline-block;
        position: relative;
        width: 275px;
        height: 190px;
        text-align: right;
        margin: 0 0 0 122px;
    }
    #block2-middleBoxes_rightText div{
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 600;
        opacity: 1;
        margin: 45px 0 20px 0;
    }
    #block2-middleBoxes_rightText p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
    }
    #block2-middleBoxes_rightRightBorder{
        display: inline-block;
        float: right;
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        margin-top: 40px;
    }
    #block2-middleBoxes_rightBottomBorder{
        width: 385px;
        height: 0;
        margin-left: 50px;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }


    /*--- block 3 ---*/
    #careers-block3-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block3-text{
        width: 1100px;
        margin: 20px auto 70px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
    #careers-block3-table{
        width: 1100px;
        margin: 0 auto 150px auto;
        text-align: left;
    }
    .careers-block3-table-tit-row{
        font-size: 20px;
        font-weight: 500;
        color: #1a1a1a;
        text-align: left;
        padding-bottom: 25px;
    }
    .careers-block3-table-langandloc{
        width: 250px;
    }
    .block3-job-title{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }
    .block3-job-title:hover{
        text-decoration: underline;
        color: #EB5C4E;
        cursor: pointer;
    }
    .block3-job-location{
        color: grey;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }
    .block3-job-language{
        color: grey;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }



    /*--- block 4 ---*/
    #careers-block4-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block4-text{
        width: 1100px;
        margin: 20px auto 160px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    /*--- block 1 ---*/
    #careers-block1-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block1-text{
        width: 95%;
        margin: 20px auto 10px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
    #careers-block1-button{
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #careers-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #careers-block1-picwithicons{
        width: 95%;
        height: 490px;
        margin: 0 auto;
        background-color: transparent;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none !important;
    }
    #careers-block1-picwithicons-title{
        height: 490px;
        width: 1100px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        opacity: 0.75;
        font-size: 48px;
        text-shadow: 1px 1px 4px #a0a0a0;
    }
    .careers-block1-picwithicons-img{
        margin-top: 30px;
        width: 50px;
        height: 50px;
    }
    .careers-block1-picwithicons-row1{
        font-size: 18px;
        color: #818181;
    }
    .careers-block1-picwithicons-row2{
        font-size: 17px;
        color: #818181;
        font-style: italic;
        margin: 5px 0 10px 0;
        font-weight: 100;
    }
    .careers-block1-picwithicons-row3{
        width: 240px;
        margin: 0 auto;
        font-size: 17px;
        color: #818181;
        font-weight: 100;
    }
    .careers-block1-picwithicons-darker{
        background-color: rgba(240, 240, 240, 0.95);
    }
    .careers-block1-picwithicons-lighter{
        background-color: rgba(246, 246, 246, 0.95);
    }



    /*--- block 2 ---*/
    #careers-block2-title{
        margin: 95px 0 0 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #block2-middleBoxes_bigContainer{
        width: 95%;
        height: 370px;
        margin: 110px 0 30px 0;
        /*position: relative;*/
        display: table;
    }
    /*___ top boxes (icons) ___*/
    #block2-middleBoxes_middleContainer{
        position: relative;
        width: 310px;
        margin: 0 auto;
        z-index: 100;
    }
    #block2-middleBoxes_middleContainer i{
        font-family: Fontello;
        font-size: 40px;
        font-style: normal;
        vertical-align: middle;
    }
    #block2-middleBoxes_middleContainer_quote{
        display: inline-block;
        float: left;
        padding: 15px 28px;
        background-color: #EB5C4E;
        border: 5px solid #EB5C4E;
        color: #ffffff;
    }
    #block2-middleBoxes_middleContainer_box{
        display: inline-block;
        float: right;
        padding: 12px 15px;
        border: 5px solid #EB5C4E;
        z-index: 100;
        background-color: #ffffff;
        /*color: #fff;*/
    }
    #male-hipster{
        display: none;
    }
    #female-hipster{
        display: none;
    }

    /*______ content boxes ______*/
    #block2-middleBoxes{
        position: relative;
        width: 95%;
        margin: 150px auto 350px auto;
    }
    /*-- left --*/
    #block2-middleBoxes_leftContainer{
        width: 435px;
        height: 190px;
        float: left;
        margin-top: -85px;
    }
    #block2-middleBoxes_leftTopBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
        margin-left: 50px;
    }
    #block2-middleBoxes_leftLeftBorder{
        display: inline-block;
        width: 0;
        height: 150px;
        margin-top: 40px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: left;
    }
    #block2-middleBoxes_leftText{
        display: inline-block;
        position: relative;
        width: 275px;
        height: 190px;
        margin: 0 85px 0 37px;
        text-align: left;
    }
    #block2-middleBoxes_leftText div{
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 600;
        opacity: 1;
        margin: 45px 0 20px 0;
    }
    #block2-middleBoxes_leftText p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
    }
    #block2-middleBoxes_leftRightBorder{
        display: inline-block;
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: right;
    }
    #block2-middleBoxes_leftBottomBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    /*-- right --*/
    #block2-middleBoxes_rightContainer{
        width: 435px;
        height: 190px;
        float: right;
        margin-top: -85px;
        z-index: 1;
    }
    #block2-middleBoxes_rightTopBorder{
        width: 385px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    #block2-middleBoxes_rightLeftBorder{
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        display: inline-block;
        float: left;
    }
    #block2-middleBoxes_rightText{
        display: inline-block;
        position: relative;
        width: 275px;
        height: 190px;
        text-align: right;
        margin: 0 0 0 122px;
    }
    #block2-middleBoxes_rightText div{
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 600;
        opacity: 1;
        margin: 45px 0 20px 0;
    }
    #block2-middleBoxes_rightText p{
        color: grey;
        font-size: 17px;
        font-weight: 300;
    }
    #block2-middleBoxes_rightRightBorder{
        display: inline-block;
        float: right;
        width: 0;
        height: 150px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        margin-top: 40px;
    }
    #block2-middleBoxes_rightBottomBorder{
        width: 385px;
        height: 0;
        margin-left: 50px;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }


    /*--- block 3 ---*/
    #careers-block3-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block3-text{
        width: 95%;
        margin: 20px auto 70px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
    #careers-block3-table{
        width: 95%;
        margin: 0 auto 150px auto;
        text-align: left;
    }
    .careers-block3-table-tit-row{
        font-size: 20px;
        font-weight: 500;
        color: #1a1a1a;
        text-align: left;
        padding-bottom: 25px;
    }
    .careers-block3-table-langandloc{
        width: 250px;
    }
    .block3-job-title{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }
    .block3-job-title:hover{
        text-decoration: underline;
        color: #EB5C4E;
        cursor: pointer;
    }
    .block3-job-location{
        color: grey;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }
    .block3-job-language{
        color: grey;
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0;
    }



    /*--- block 4 ---*/
    #careers-block4-title{
        margin: 20px 0;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #careers-block4-text{
        width: 95%;
        margin: 20px auto 160px auto;
        color: #909090;
        font-size: 23px;
        font-weight: 200;
        text-align: center;
        line-height: 115%;
    }
}