@media screen and (min-width: 1400px) {
    #single-job-container{
        width: 1100px;
        margin: 0 auto;
    }
    #single-job-container1{
        display: inline-block;
        width: 348px;
        vertical-align: top;
    }
    #single-job-diagonal{
        margin-top: -150px;
        margin-left: -45px;
        width: 390px;
        height: 220px;
        border-bottom: 3px solid #EB5C4E;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }
    #single-job-diagonal-tit{
        font-size: 48px;
        text-align: left;
        font-weight: 200;
        color: #A3A3A3;
        margin-top: 40px;
    }
    #single-job-container2{
        display: inline-block;
        width: 748px;
        vertical-align: top;
    }
    #single-job-container2 p{
        font-size: 42px;
        font-weight: 300;
        color: grey;
        text-align: right;
        margin-top: 100px;
    }
    #single-job-container2 ul{
        float: right;
    }
    #single-job-container2 li{
        display: inline-block;
        margin-left: 30px;
    }
    #single-job-container2 li p{
        font-size: 18px;
        font-weight: 400;
        color: #EB5C4E;
        display: inline-block;
        margin-left: 2px;
    }
    #single-job-container2 i{
        color: #EB5C4E;
        font-size: 38px;
        display: inline-block;
    }
    #single-job-applynow{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
        vertical-align: super;
    }
    #single-job-applynow:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    #single-post-bottom-white-line{
        background-color: #ffffff;
        width: 100%;
        padding: 10px 0 50px 0;
        position: relative;
        z-index: 100;
    }
    #single-post-bottom-buttons{
        width: 1100px;
        margin: 0 auto;
    }
    #single-post-bottom-buttons li{
        display: inline-block;
        margin-right: 55px;
    }
    #single-post-apply-bottom{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #single-post-apply-bottom:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #single-post-refer-bottom{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #3D4246;
        background-color: #3D4246;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #single-post-refer-bottom:hover{
        color: #3D4246;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #single-post-share-bottom{

    }
    .single-post-share{
        display: inline-block;
    }
    .single-post-share-p{
        color: #a3a3a3;
        font-size: 20px;
    }
    .single-post-share-div{
        background-color: #808080;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        margin-top: -3px;
        vertical-align: middle;
    }
    .single-post-share-div:hover{
        cursor: pointer;
        background-color: #EB5C4E;
    }
    .single-post-share-div i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
    }

    #single-job-main-content{
        color: grey;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    #single-job-container{
        width: 1100px;
        margin: 0 auto;
    }
    #single-job-container1{
        display: inline-block;
        width: 348px;
        vertical-align: top;
    }
    #single-job-diagonal{
        margin-top: -150px;
        margin-left: -45px;
        width: 390px;
        height: 220px;
        border-bottom: 3px solid #EB5C4E;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }
    #single-job-diagonal-tit{
        font-size: 48px;
        text-align: left;
        font-weight: 200;
        color: #A3A3A3;
        margin-top: 40px;
    }
    #single-job-container2{
        display: inline-block;
        width: 748px;
        vertical-align: top;
    }
    #single-job-container2 p{
        font-size: 42px;
        font-weight: 300;
        color: grey;
        text-align: right;
        margin-top: 100px;
    }
    #single-job-container2 ul{
        float: right;
    }
    #single-job-container2 li{
        display: inline-block;
        margin-left: 30px;
    }
    #single-job-container2 li p{
        font-size: 18px;
        font-weight: 400;
        color: #EB5C4E;
        display: inline-block;
        margin-left: 2px;
    }
    #single-job-container2 i{
        color: #EB5C4E;
        font-size: 38px;
        display: inline-block;
    }
    #single-job-applynow{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
        vertical-align: super;
    }
    #single-job-applynow:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    #single-post-bottom-white-line{
        background-color: #ffffff;
        width: 100%;
        padding: 10px 0 50px 0;
        position: relative;
        z-index: 100;
    }
    #single-post-bottom-buttons{
        width: 1100px;
        margin: 0 auto;
    }
    #single-post-bottom-buttons li{
        display: inline-block;
        margin-right: 55px;
    }
    #single-post-apply-bottom{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #single-post-apply-bottom:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #single-post-refer-bottom{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #3D4246;
        background-color: #3D4246;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #single-post-refer-bottom:hover{
        color: #3D4246;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #single-post-share-bottom{

    }
    .single-post-share{
        display: inline-block;
    }
    .single-post-share-p{
        color: #a3a3a3;
        font-size: 20px;
    }
    .single-post-share-div{
        background-color: #808080;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        margin-top: -3px;
        vertical-align: middle;
    }
    .single-post-share-div:hover{
        cursor: pointer;
        background-color: #EB5C4E;
    }
    .single-post-share-div i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
    }

    #single-job-main-content{
        color: grey;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }

}


@media screen and (min-width: 800px) and (max-width: 1200px){
    #single-job-container{
        width: 95%;
        margin: 0 auto;
    }
    #single-job-container1{
        display: inline-block;
        width: 348px;
        vertical-align: top;
    }
    #single-job-diagonal{
        margin-top: -150px;
        margin-left: -45px;
        width: 390px;
        height: 220px;
        border-bottom: 3px solid #EB5C4E;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }
    #single-job-diagonal-tit{
        font-size: 48px;
        text-align: left;
        font-weight: 200;
        color: #A3A3A3;
        margin-top: 40px;
    }
    #single-job-container2{
        display: inline-block;
        width: 748px;
        vertical-align: top;
    }
    #single-job-container2 p{
        font-size: 42px;
        font-weight: 300;
        color: grey;
        text-align: right;
        margin-top: 100px;
    }
    #single-job-container2 ul{
        float: right;
    }
    #single-job-container2 li{
        display: inline-block;
        margin-left: 30px;
    }
    #single-job-container2 li p{
        font-size: 18px;
        font-weight: 400;
        color: #EB5C4E;
        display: inline-block;
        margin-left: 2px;
    }
    #single-job-container2 i{
        color: #EB5C4E;
        font-size: 38px;
        display: inline-block;
    }
    #single-job-applynow{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
        vertical-align: super;
    }
    #single-job-applynow:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    #single-post-bottom-white-line{
        background-color: #ffffff;
        width: 100%;
        padding: 10px 0 50px 0;
        position: relative;
        z-index: 100;
    }
    #single-post-bottom-buttons{
        width: 1100px;
        margin: 0 auto;
    }
    #single-post-bottom-buttons li{
        display: inline-block;
        margin-right: 55px;
    }
    #single-post-apply-bottom{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #single-post-apply-bottom:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #single-post-refer-bottom{
        display: block;
        text-decoration: none;
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #3D4246;
        background-color: #3D4246;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #single-post-refer-bottom:hover{
        color: #3D4246;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
    #single-post-share-bottom{

    }
    .single-post-share{
        display: inline-block;
    }
    .single-post-share-p{
        color: #a3a3a3;
        font-size: 20px;
    }
    .single-post-share-div{
        background-color: #808080;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        margin-top: -3px;
        vertical-align: middle;
    }
    .single-post-share-div:hover{
        cursor: pointer;
        background-color: #EB5C4E;
    }
    .single-post-share-div i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
    }

    #single-job-main-content{
        color: grey;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }
}