


    form{
        background-color: #EB5C4E;
    }
    .form_fields li{
        display: inline-block;
        margin: 10px 25px;
        width: 390px;
    }
    .field_value{
        display: inline-block;
    }
    .form_fields label{
        color: #fff;
        display: inline-block;
        width: 110px;
        text-align: right;
        margin-right: 5px;
    }
    .form_fields input{
        margin: 0;
    }
    .form_fields input[type='text']{
        width: 270px;
        display: inline-block;
    }
    .form_fields select{
        width: 270px;
        display: inline-block;
        height: 33px;
        padding: 7px 5px;
    }
    .form_fields textarea{
        width: 270px;
        height: 60px;
        display: inline-block;
    }
    .clear{
        margin-bottom: 0;
    }
    #submit_button{
        margin: 0 auto;
        display: block;
        font-size: 17px;
        border: 2px solid #fff;
        background-image: none;
        border-radius: 0;
        background-color: #fff;
        padding: 10px 25px;
    }
    #submit_button:hover{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
    }
    .ss-anchor-invisible-text{
        display: none;
    }


@media screen and (min-width: 1400px) {
    
}

@media screen and (min-width: 1200px) and (max-width: 1400px){

    .form_fields{
        background-color: #EB5C4E;
    }
    .form_fields label{
        color: #fff;
    }
    .form_fields input[type='text']{
        width: 270px;
        display: inline-block;
    }
    .form_fields select{
        width: 200px;
        display: inline-block;
    }
    .form_fields textarea{
        width: 300px;
    }
    #submit_button{
        
    }
    
}

@media screen and (max-width: 1200px){
    
}