@media screen and (min-width: 1400px) {
    #four_zero_four_page{
        width: 1160px;
        margin: 0 auto 100px auto;
    }
    #four_zero_four_page li{
        width: 570px;
        display: inline-block;
        vertical-align: top;
    }
    #four_zero_four_page h1{
        font-size: 100px;
        font-weight: bold;
        color: #EB5C4E;
    }
    #four_zero_four_page h2{
        font-size: 42px;
        font-weight: 700;
        color: #1c1c1c;
    }
    #four_zero_four_page h5{
        font-size: 16px;
        font-weight: 100;
        color: #606060;
    }
    #four_zero_four_page div{
        
    }
    #four_zero_four_page a{
        display: inline-block;
        width: 180px;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #fff;
        color: #EB5C4E;
        vertical-align: top;
        border: 2px solid #EB5C4E;
        margin-top: 65px;
    }
    #four_zero_four_page a:nth-of-type(2){
        margin-left: 55px;
    }
    #four_zero_four_page a:hover{
        background-color: #EB5C4E;
        color: #fff;
        border: 2px solid #EB5C4E;
        transition: 0.3s;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #four_zero_four_page{
        width: 1160px;
        margin: 0 auto 100px auto;
    }
    #four_zero_four_page li{
        width: 570px;
        display: inline-block;
        vertical-align: top;
    }
    #four_zero_four_page h1{
        font-size: 100px;
        font-weight: bold;
        color: #EB5C4E;
    }
    #four_zero_four_page h2{
        font-size: 42px;
        font-weight: 700;
        color: #1c1c1c;
    }
    #four_zero_four_page h5{
        font-size: 16px;
        font-weight: 100;
        color: #606060;
    }
    #four_zero_four_page div{
        
    }
    #four_zero_four_page a{
        display: inline-block;
        width: 180px;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #fff;
        color: #EB5C4E;
        vertical-align: top;
        border: 2px solid #EB5C4E;
        margin-top: 65px;
    }
    #four_zero_four_page a:nth-of-type(2){
        margin-left: 55px;
    }
    #four_zero_four_page a:hover{
        background-color: #EB5C4E;
        color: #fff;
        border: 2px solid #EB5C4E;
        transition: 0.3s;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    #four_zero_four_page{
        width: 1160px;
        margin: 0 auto 100px auto;
    }
    #four_zero_four_page li{
        width: 570px;
        display: inline-block;
        vertical-align: top;
    }
    #four_zero_four_page h1{
        font-size: 100px;
        font-weight: bold;
        color: #EB5C4E;
    }
    #four_zero_four_page h2{
        font-size: 42px;
        font-weight: 700;
        color: #1c1c1c;
    }
    #four_zero_four_page h5{
        font-size: 16px;
        font-weight: 100;
        color: #606060;
    }
    #four_zero_four_page div{
        
    }
    #four_zero_four_page a{
        display: inline-block;
        width: 180px;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #fff;
        color: #EB5C4E;
        vertical-align: top;
        border: 2px solid #EB5C4E;
        margin-top: 65px;
    }
    #four_zero_four_page a:nth-of-type(2){
        margin-left: 55px;
    }
    #four_zero_four_page a:hover{
        background-color: #EB5C4E;
        color: #fff;
        border: 2px solid #EB5C4E;
        transition: 0.3s;
    }
}