@media screen and (min-width: 1400px) {

    #about-company-main{
        width: 1160px;
        height: 495px;
        margin: -50px auto 100px auto;
        background-color: #2a2a2a;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #about-company-main hr{
        width: 400px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }
    .about-company-main-text{
        width: 555px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }

    /*--- ul 1 ---*/
    #about-company-main-ul1{
        height: 247px;
        margin-left: -300px;
        opacity: 0;
    }
    #about-company-main-ul1 li{
        display: inline-table;
    }
    #about-company-main-block1{
        background-color: #910504;
        width: 286px;
        height: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #about-company-main-block2{
        width: 0;
        height: 0;
        border-top: 180px solid #910504;
        border-right: 255px solid transparent;
        display: inline-block;
        margin-left: 0;
    }
    #about-company-main-block2, x:-moz-any-link, x:default {
        margin-left: -4px;
    }
    #about-company-main-text1{
        float: right;
        margin-right: 30px;
        margin-top: 85px;
        text-indent: 20px;
        opacity: 0;
        margin-left: -125px;
    }
    #about-company-main-text1 a{
        text-decoration: none;
    	color: #e4e4e4;
    	font-weight: bold;
    }
    #about-company-main-span1{
        color: #ffffff;
        font-size: 32px;
        font-weight: 100;
        margin-top: 35px;
        vertical-align: middle;
        display: block;
        margin-left: 40px;
    }
    #about-company-main-span2{
        color: #ffffff;
        font-size: 42px;
        font-weight: bold;
        display: block;
        margin-left: 40px;
    }

    /*--- ul 2 ---*/
    #about-company-main-ul2{
        height: 247px;
        width: 1160px;
        opacity: 0;
        margin-left: 300px;
    }
    #about-company-main-ul2 li{
        display: inline-table;
    }
    #about-company-main-text2{
        float: left;
        margin-left: 30px;
        margin-top: 20px !important;
        text-indent: 20px;
        opacity: 0;
    }
    #about-company-main-redBlock2{
        margin-top: 51px;
        margin-left: 33px;
    }
    #about-company-main-block3{
        width: 0;
        height: 0;
        border-bottom: 180px solid rgba(145, 5, 4, 0.5);
        border-left: 255px solid transparent;
        display: inline-block;
        margin-right: 0;
    }
    #about-company-main-block3, x:-moz-any-link, x:default {
        margin-right: -4px;
    }
    #about-company-main-block4{
        background-color: rgba(145, 5, 4, 0.5);
        width: 286px;
        height: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #about-company-main-block4-img{
        display: block;
        width: 80px;
        margin: 10px auto 0 auto;
    }
    #about-company-main-span3{
        color: #ffffff;
        font-size: 18px;
        font-weight: 100;
        margin-top: 7px;
        vertical-align: middle;
        display: block;
        margin-right: 42px;
        float: right;
    }
    #about-company-main-span4{
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-right: 42px;
        float: right;
        width: 290px;
    }

    /*---  ---*/
    #whatDefinesUs{
        width: 535px;
        margin: 0 auto 10px auto;
        text-align: center;
    }
    #whatDefinesUs_1{
        font-size: 48px;
        font-weight: 100;
        color: grey;
    }
    #whatDefinesUs_2{
        font-size: 26px;
        font-weight: 200;
        color: grey;
    }
    #whatDefinesUs_table{
        width: 1100px;
        margin: 80px auto 150px auto;
    }
    #whatDefinesUs_table th{
        width: 215px;
    }
    .whatDefinesUs_table_v_buffer{
        width: 25px !important;
    }
    .whatDefinesUs_subTitles{
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 400;
        margin: 30px auto 10px auto;
    }
    .whatDefinesUs_subText{
        color: grey;
        font-size: 15px;
        font-weight: 100;
    }

}


@media screen and (min-width: 1200px) and (max-width: 1400px){
     #about-company-main{
        width: 1160px;
        height: 495px;
        margin: -50px auto 100px auto;
        background-color: #2a2a2a;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #about-company-main hr{
        width: 400px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }
    .about-company-main-text{
        width: 555px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }

    /*--- ul 1 ---*/
    #about-company-main-ul1{
        height: 247px;
        margin-left: -300px;
        opacity: 0;
    }
    #about-company-main-ul1 li{
        display: inline-table;
    }
    #about-company-main-block1{
        background-color: #910504;
        width: 286px;
        height: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #about-company-main-block2{
        width: 0;
        height: 0;
        border-top: 180px solid #910504;
        border-right: 255px solid transparent;
        display: inline-block;
        margin-left: 0;
    }
    #about-company-main-block2, x:-moz-any-link, x:default {
        margin-left: -4px;
    }
    #about-company-main-text1{
        float: right;
        margin-right: 30px;
        margin-top: 85px;
        text-indent: 20px;
        opacity: 0;
        margin-left: -125px;
    }
    #about-company-main-text1 a{
        text-decoration: none;
    	color: #e4e4e4;
    	font-weight: bold;
    }
    #about-company-main-span1{
        color: #ffffff;
        font-size: 32px;
        font-weight: 100;
        margin-top: 35px;
        vertical-align: middle;
        display: block;
        margin-left: 40px;
    }
    #about-company-main-span2{
        color: #ffffff;
        font-size: 42px;
        font-weight: bold;
        display: block;
        margin-left: 40px;
    }

    /*--- ul 2 ---*/
    #about-company-main-ul2{
        height: 247px;
        width: 1160px;
        opacity: 0;
        margin-left: 300px;
    }
    #about-company-main-ul2 li{
        display: inline-table;
    }
    #about-company-main-text2{
        float: left;
        margin-left: 30px;
        margin-top: 20px !important;
        text-indent: 20px;
        opacity: 0;
    }
    #about-company-main-redBlock2{
        margin-top: 51px;
        margin-left: 33px;
    }
    #about-company-main-block3{
        width: 0;
        height: 0;
        border-bottom: 180px solid rgba(145, 5, 4, 0.5);
        border-left: 255px solid transparent;
        display: inline-block;
        margin-right: 0;
    }
    #about-company-main-block3, x:-moz-any-link, x:default {
        margin-right: -4px;
    }
    #about-company-main-block4{
        background-color: rgba(145, 5, 4, 0.5);
        width: 286px;
        height: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #about-company-main-block4-img{
        display: block;
        width: 80px;
        margin: 10px auto 0 auto;
    }
    #about-company-main-span3{
        color: #ffffff;
        font-size: 18px;
        font-weight: 100;
        margin-top: 7px;
        vertical-align: middle;
        display: block;
        margin-right: 42px;
        float: right;
    }
    #about-company-main-span4{
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-right: 42px;
        float: right;
        width: 290px;
    }

    /*---  ---*/
    #whatDefinesUs{
        width: 535px;
        margin: 0 auto 10px auto;
        text-align: center;
    }
    #whatDefinesUs_1{
        font-size: 48px;
        font-weight: 100;
        color: grey;
    }
    #whatDefinesUs_2{
        font-size: 26px;
        font-weight: 200;
        color: grey;
    }
    #whatDefinesUs_table{
        width: 1100px;
        margin: 80px auto 150px auto;
    }
    #whatDefinesUs_table th{
        width: 215px;
    }
    .whatDefinesUs_table_v_buffer{
        width: 25px !important;
    }
    .whatDefinesUs_subTitles{
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 400;
        margin: 30px auto 10px auto;
    }
    .whatDefinesUs_subText{
        color: grey;
        font-size: 15px;
        font-weight: 100;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
 #about-company-main{
        width: 900px;
        height: 600px;
        margin: -50px auto 100px auto;
        background-color: #2a2a2a;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #about-company-main hr{
        width: 400px;
        margin-top: 44px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }
    .about-company-main-text{
        width: 555px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }

    /*--- ul 1 ---*/
    #about-company-main-ul1{
        height: 247px;
        margin-left: -300px;
        opacity: 0;
    }
    #about-company-main-ul1 li{
        display: inline-table;
    }
    #about-company-main-block1{
        background-color: #910504;
        width: 286px;
        height: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #about-company-main-block2{
        width: 0;
        height: 0;
        border-top: 180px solid #910504;
        border-right: 255px solid transparent;
        display: inline-block;
        margin-left: 0;
    }
    #about-company-main-block2, x:-moz-any-link, x:default {
        margin-left: -4px;
    }
    #about-company-main-text1{
        float: right;
        margin-right: 30px;
        margin-top: -30px;
        text-indent: 20px;
        opacity: 0;
        margin-left: -125px;
    }
    #about-company-main-text1 a{
        text-decoration: none;
    	color: #e4e4e4;
    	font-weight: bold;
    }
    #about-company-main-span1{
        color: #ffffff;
        font-size: 32px;
        font-weight: 100;
        margin-top: 35px;
        vertical-align: middle;
        display: block;
        margin-left: 40px;
    }
    #about-company-main-span2{
        color: #ffffff;
        font-size: 42px;
        font-weight: bold;
        display: block;
        margin-left: 40px;
    }

    /*--- ul 2 ---*/
    #about-company-main-ul2{
        height: 247px;
        width: 900px;
        opacity: 0;
        margin-left: 300px;
    }
    #about-company-main-ul2 li{
        display: inline-table;
    }
    #about-company-main-text2{
        float: left;
        margin-left: 30px;
        margin-top: 3px !important;
        text-indent: 20px;
        opacity: 0;
    }
    #about-company-main-redBlock2{
        margin-top: -11px;
        margin-left: 359px;
    }
    #about-company-main-block3{
        width: 0;
        height: 0;
        border-bottom: 180px solid rgba(145, 5, 4, 0.5);
        border-left: 255px solid transparent;
        display: inline-block;
        margin-right: 0;
    }
    #about-company-main-block3, x:-moz-any-link, x:default {
        margin-right: -4px;
    }
    #about-company-main-block4{
        background-color: rgba(145, 5, 4, 0.5);
        width: 286px;
        height: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #about-company-main-block4-img{
        display: block;
        width: 80px;
        margin: 10px auto 0 auto;
    }
    #about-company-main-span3{
        color: #ffffff;
        font-size: 18px;
        font-weight: 100;
        margin-top: 7px;
        vertical-align: middle;
        display: block;
        margin-right: 42px;
        float: right;
    }
    #about-company-main-span4{
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-right: 42px;
        float: right;
        width: 290px;
    }

    /*---  ---*/
    #whatDefinesUs{
        width: 535px;
        margin: 0 auto 10px auto;
        text-align: center;
    }
    #whatDefinesUs_1{
        font-size: 48px;
        font-weight: 100;
        color: grey;
    }
    #whatDefinesUs_2{
        font-size: 26px;
        font-weight: 200;
        color: grey;
    }
    #whatDefinesUs_table{
        width: 95%;
        margin: 80px auto 150px auto;
    }
    #whatDefinesUs_table th{
        width: 215px;
    }
    .whatDefinesUs_table_v_buffer{
        width: 25px !important;
    }
    .whatDefinesUs_subTitles{
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 400;
        margin: 30px auto 10px auto;
    }
    .whatDefinesUs_subText{
        color: grey;
        font-size: 15px;
        font-weight: 100;
    }
}