@media screen and (min-width: 1400px) {

    /*--- detecting pixels ---*/
    #trackingPixel_middle{
        position: fixed;
        top: 50%;
        left: 1px;
        background-color: transparent;
        z-index: -1;
        width: 1px;
        height: 1px;
    }
    /*--- table style ---*/
    #about_tab{
        width: 1100px;
        margin: -53px auto 0 auto;
    }
    .about_tab_a{
        text-decoration: none;
    }
    .about_tab_th{
        width: 318px;
    }
    .about_tab_big_tit{
        color: grey;
        font-size: 48px;
        text-align: left;
        font-weight: 100;
    }
    .about_tab_small_tit{
        color: #EB5C4E;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        text-align: left;
        margin-top: -7px;
    }
    .about_tab_v_buffer{
        width: 73px;
    }
    .about_tab_image{
        margin-top: 10px;
    }
    .about_tab_text_under_img{
        text-align: justify;
        justify-content: space-between;
        color: grey;
        font-size: 17px;
        font-weight: 300;
        padding: 15px 15px;
        -webkit-box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
        -moz-box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
        box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
    }
    /*--- inner table ---*/
    #inner_tab{
        width: 1100px;
        /*background-image: url( "../themes/onboard/images/about/map.jpg" );*/
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .inner_tab_h_buffer{
        height: 150px;
    }
    .inner_tab_num{
        font-size: 140px;
        color: #EB5C4E;
        font-weight: bold;
    }
    .inner_tab_txt{
        font-size: 40px;
        color: #EB5C4E;
        font-weight: bold;
    }

}


@media screen and (min-width: 1200px) and (max-width: 1400px){

    /*--- detecting pixels ---*/
    #trackingPixel_middle{
        position: fixed;
        top: 50%;
        left: 1px;
        background-color: transparent;
        z-index: -1;
        width: 1px;
        height: 1px;
    }
    /*--- table style ---*/
    #about_tab{
        width: 1100px;
        margin: -53px auto 0 auto;
    }
    .about_tab_a{
        text-decoration: none;
    }
    .about_tab_th{
        width: 318px;
    }
    .about_tab_big_tit{
        color: grey;
        font-size: 48px;
        text-align: left;
        font-weight: 100;
    }
    .about_tab_small_tit{
        color: #EB5C4E;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        text-align: left;
        margin-top: -7px;
    }
    .about_tab_v_buffer{
        width: 73px;
    }
    .about_tab_image{
        margin-top: 10px;
    }
    .about_tab_text_under_img{
        text-align: justify;
        justify-content: space-between;
        color: grey;
        font-size: 17px;
        font-weight: 300;
        padding: 15px 15px;
        -webkit-box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
        -moz-box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
        box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
    }
    /*--- inner table ---*/
    #inner_tab{
        width: 1100px;
        /*background-image: url( "../themes/onboard/images/about/map.jpg" );*/
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .inner_tab_h_buffer{
        height: 150px;
    }
    .inner_tab_num{
        font-size: 140px;
        color: #EB5C4E;
        font-weight: bold;
    }
    .inner_tab_txt{
        font-size: 40px;
        color: #EB5C4E;
        font-weight: bold;
    }

}


@media screen and (min-width: 800px) and (max-width: 1200px){

    /*--- detecting pixels ---*/
    #trackingPixel_middle{
        position: fixed;
        top: 50%;
        left: 1px;
        background-color: transparent;
        z-index: -1;
        width: 1px;
        height: 1px;
    }
    /*--- table style ---*/
    #about_tab{
        width: 95%;
        margin: -53px auto 0 auto;
    }
    .about_tab_a{
        text-decoration: none;
        padding-left: 5px;
    }
    .about_tab_th{
        width: 250px;
    }
    .about_tab_big_tit{
        color: grey;
        font-size: 40px;
        text-align: left;
        font-weight: 100;
    }
    .about_tab_small_tit{
        color: #EB5C4E;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        text-align: left;
        margin-top: -7px;
    }
    .about_tab_v_buffer{
        width: 50px;
    }
    .about_tab_image{
        width: 250px;
        margin-top: 10px;
    }
    .about_tab_text_under_img{
        text-align: justify;
        justify-content: space-between;
        color: grey;
        font-size: 17px;
        font-weight: 300;
        padding: 10px 10px;
        -webkit-box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
        -moz-box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
        box-shadow: 6px 6px 20px -3px rgba(117,117,117,0.2);
    }
    /*--- inner table ---*/
    #inner_tab{
        width: 100%;
        /*background-image: url( "../themes/onboard/images/about/map.jpg" );*/
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .inner_tab_h_buffer{
        height: 150px;
    }
    .inner_tab_num{
        font-size: 120px;
        color: #EB5C4E;
        font-weight: bold;
    }
    .inner_tab_txt{
        font-size: 35px;
        color: #EB5C4E;
        font-weight: bold;
    }

}