@media screen and (min-width: 1400px) {
    .page-with-alotof-text{

    }
    .page-with-alotof-text ul{
        /*list-style-type: disc;*/
        /*list-style-image: none;*/
        /*list-style-position: inside;*/
        margin-bottom: 25px;
    }
    .page-with-alotof-text>ul>li:before{
        content: "•";
        font-size: 12pt;
        color: #707070;
        margin-right: 8px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    .page-with-alotof-text{

    }
    .page-with-alotof-text ul{
        /*list-style-type: disc;*/
        /*list-style-image: none;*/
        /*list-style-position: inside;*/
        margin-bottom: 25px;
    }
    .page-with-alotof-text>ul>li:before{
        content: "•";
        font-size: 12pt;
        color: #707070;
        margin-right: 8px;
    }
    .page-with-alotof-text ol{

    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    .page-with-alotof-text{

    }
    .page-with-alotof-text ul{
        /*list-style-type: disc;*/
        /*list-style-image: none;*/
        /*list-style-position: inside;*/
        margin-bottom: 25px;
    }
    .page-with-alotof-text>ul>li:before{
        content: "•";
        font-size: 12pt;
        color: #707070;
        margin-right: 8px;
    }
}