@media screen and (min-width: 1400px) {
    #arrowUP{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9000;
        padding: 2px 11px 6px 11px;
        border-radius: 50%;
        background-color: #EB5C4E;
    }
    #arrowUP,x:-moz-any-link,x:default{
        padding-top:3px;
    }
    #arrowUP i{
        font-size: 30px;
        color: #ffffff;
    }
    #arrowUP:hover{
        transition: 0.3s;
        background-color: transparent;
        cursor: pointer;
    }
    #arrowUP:hover i{
        transition: 0.3s;
        color: #1a1a1a;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #arrowUP{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9000;
        padding: 2px 11px 6px 11px;
        border-radius: 50%;
        background-color: #EB5C4E;
    }
    #arrowUP,x:-moz-any-link,x:default{
        padding-top:3px;
    }
    #arrowUP i{
        font-size: 30px;
        color: #ffffff;
    }
    #arrowUP:hover{
        transition: 0.3s;
        background-color: transparent;
        cursor: pointer;
    }
    #arrowUP:hover i{
        transition: 0.3s;
        color: #1a1a1a;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    #arrowUP{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9000;
        padding: 2px 11px 6px 11px;
        border-radius: 50%;
        background-color: #EB5C4E;
    }
    #arrowUP,x:-moz-any-link,x:default{
        padding-top:3px;
    }
    #arrowUP i{
        font-size: 30px;
        color: #ffffff;
    }
    #arrowUP:hover{
        transition: 0.3s;
        background-color: transparent;
        cursor: pointer;
    }
    #arrowUP:hover i{
        transition: 0.3s;
        color: #1a1a1a;
    }
}