@media screen and (min-width: 1400px) {

    #bottomRedLine{
        display: table;
        position: relative;
        background-color: #EB5C4E;
        width: 100%;
        padding: 28px 0;
        z-index: 100;
    }
    #bottomRedLine_holder{
        width: 1100px;
        margin: 0 auto;
    }
    #bottomRedLine_holder p{
        display: inline-block;
        color: #fff;
        margin-left: 50px;
        font-size: 28px;
        font-weight: bold;
    }
    #bottomRedLine_holder a{
        float: right;
        margin-right: 50px;
        display: inline-block;
        width: 180px;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #fff;
    }
    #bottomRedLine_holder a:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    #bottomRedLine{
        display: table;
        position: relative;
        background-color: #EB5C4E;
        width: 100%;
        padding: 28px 0;
        z-index: 100;
    }
    #bottomRedLine_holder{
        width: 1100px;
        margin: 0 auto;
    }
    #bottomRedLine_holder p{
        display: inline-block;
        color: #fff;
        margin-left: 50px;
        font-size: 28px;
        font-weight: bold;
    }
    #bottomRedLine_holder a{
        float: right;
        margin-right: 50px;
        display: inline-block;
        width: 180px;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #fff;
    }
    #bottomRedLine_holder a:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){

    #bottomRedLine{
        display: table;
        position: relative;
        background-color: #EB5C4E;
        width: 100%;
        padding: 28px 0;
        z-index: 100;
    }
    #bottomRedLine_holder{
        width: 95%;
        margin: 0 auto;
    }
    #bottomRedLine_holder p{
        display: block;
        color: #fff;
        margin: 0;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }
    #bottomRedLine_holder a{
        margin: 10px auto 0 auto;
        display: block;
        width: 180px;
        padding: 6px 0 5px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #fff;
    }
    #bottomRedLine_holder a:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }

}