@media screen and (min-width: 1400px) {

    #cases{
        width: 100%;
        margin-top: 0;
        text-align: center;
    }
    #casesTopIcon{
        width: 110px;
    }
    #casesTit{
        font-size: 48px;
        font-weight: 100;
        color: #939393;
        margin-bottom: 20px;
    }
    #casesBottIcon{
        margin: 10px 0 60px 0;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Safari */
        transform: rotate(-90deg);
        transition: 0.5s;
    }
    #casesBottIcon:hover{
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
        transition: 0.5s;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    #cases{
        width: 100%;
        margin-top: 0;
        text-align: center;
    }
    #casesTopIcon{
        width: 110px;
    }
    #casesTit{
        font-size: 48px;
        font-weight: 100;
        color: #939393;
        margin-bottom: 20px;
    }
    #casesBottIcon{
        margin: 10px 0 60px 0;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Safari */
        transform: rotate(-90deg);
        transition: 0.5s;
    }
    #casesBottIcon:hover{
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
        transition: 0.5s;
    }

}

@media screen and (max-width: 1200px) {

    #cases{
        width: 100%;
        margin-top: 0;
        text-align: center;
    }
    #casesTopIcon{
        width: 110px;
    }
    #casesTit{
        font-size: 48px;
        font-weight: 100;
        color: #939393;
        margin-bottom: 20px;
    }
    #casesBottIcon{
        margin: 10px 0 60px 0;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Safari */
        transform: rotate(-90deg);
        transition: 0.5s;
    }
    #casesBottIcon:hover{
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
        transition: 0.5s;
    }

}