@media screen and (min-width: 1400px) {

    /*================================
    = list of case studies
    ==================================*/
    #caseStudyUl{
        width: 1060px;
        text-align: center;
        margin: 30px auto;
    }
    #caseStudyUl li{
        display: inline-block;
        margin: 0 10px 20px 10px;
    }
    /*------------- case study ---------------*/
    .cs-content-item {
        background: url('../images/home/partner.png');
        background-repeat: no-repeat;
        background-size: cover;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 200px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        width: 330px;
    }
    .cs-content-item .cs-overlay {
        border-bottom: 200px solid rgba(255, 0, 0, 0.75);
        border-left: 290px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .7;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0;
    }
    .cs-content-item:hover .cs-overlay {
        border-bottom: 800px solid rgba(255, 0, 0, 0.75);
        border-left: 800px solid transparent;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-corner-overlay-content {
        bottom: 15px;
        color: #333;
        position: absolute;
        right: 15px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item:hover .cs-corner-overlay-content {
        opacity: 0;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cs-content-item .cs-overlay-content h2 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    .cs-content-item:hover .cs-overlay-content {
        opacity: 1;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .cs-corner-overlay-content {
        color: #fff !important;
    }
    .cs-content-item p {
        color: #fff !important;
    }
    .cs_permanent_text{
        font-size: 24px;
        font-weight: bold;
    }

    /*--- menu for different study case types ---*/
    #cs-three-types{
        width: 295px;
        margin: 0 auto 74px auto;
    }
    #cs-three-types li{
        display: inline-block;
        padding: 9px 13px;
        font-weight: 400;
        font-size: 15px;
    }
    #cs-three-types li:hover{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    #cs-three-types-all{

    }
    #cs-three-types-service{

    }
    #cs-three-types-industry{

    }
    .cs-three-types-active{
        background-color: #EB5C4E;
        color: #fff;
    }

    /*=====================================
    = single page case study design
    =======================================*/
    /*--- top banner/essential texts/ ---*/
    #single-cs-banner{
        width: 1100px;
        margin: 80px auto;
    }
    #single-cs-banner-leftdiv{
        display: inline-block;
        width: 185px;
        height: 125px;
    }
    #single-cs-banner-triangle{
        position: relative;
        right: 0;
        width: 0;
        bottom: 0;
        height: 0;
        border-top: 200px solid #EB5C4E;
        border-right: 280px solid transparent;
        opacity: 1;
    }
    #single-cs-banner-triangletext{
        position: relative;
        display: inline-table;
        top: -185px;
        left: 15px;
        color: #fff;
        font-weight: bold;
        z-index: 100;
        vertical-align: top;
        text-decoration: none;
    }
    #single-cs-banner-triangletext p:nth-of-type(1){
        font-size: 27px;
    }
    #single-cs-banner-triangletext p:nth-of-type(2){
        font-size: 52px;
        width: 80px;
    }
    #single-cs-banner-right{
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 830px;
        margin-left: 80px;
    }
    #single-cs-banner-right img{

    }
    #single-cs-banner-title{
        font-size: 40px;
        color: #939393;
        justify-content: flex-end;
    }
    #single-cs-essence{
        width: 100%;
        text-align: right;
    }
    #single-cs-essence-text{
        display: inline-block;
        color: #EB5C4E;
        font-style: italic;
        font-size: 22px;
        margin-right: 60px;
    }
    #single-cs-essence-line{
        display: inline-block;
        width: 180px;
        height: 4px;
        background-color: #EB5C4E;
    }
    /*--- main content of the page ---*/
    #single-cs-main{
        width: 1100px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 130px;
    }
    #single-cs-main-left{
        width: 650px;
        display: inline-block;
        vertical-align: top;
    }
    #single-cs-main-left-quote-symbol{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 65px;
        font-style: normal;
    }
    #single-cs-main-left-quote{
        color: #a1a1a1;
        font-style: italic;
        font-size: 18px;
        text-indent: 15px;
        text-align: justify;
        margin-top: 18px;
        vertical-align: top;
    }
    #single-cs-main-left-quoteauthor{
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #939393;
        margin-top: 14px;
    }
    .single-cs-leftTitle{
        font-size: 26px;
        color: #EB5C4E;
        font-weight: bold;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 26px;
    }
    .single-cs-leftContent{
        font-size: 17px;
        color: grey;
        text-align: justify;
    }
    #single-cs-left-pdf{
        margin-top: 75px;
    }
    #single-cs-left-pdf img{
        display: inline-block;
    }
    #download-pdf-button{
        display: inline-block;
        width: 200px;
        padding: 9px 0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        margin-top: 13px;
        border: 2px solid #EB5C4E;
    }
    #download-pdf-button:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }

    #single-cs-main-right{
        width: 400px;
        display: inline-block;
        margin-left: 45px;
    }
    #single-cs-main-right img{

    }
    .single-cs-main-right-ul{

    }
    .single-cs-main-right-ul li{
        margin: 16px 0;
    }
    .single-cs-main-right-ul img{
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
    }
    .single-cs-main-right-ul p{
        width: 370px;
        display: inline-block;
        font-size: 17px;
        color: grey;
    }

}


@media screen and (min-width: 1200px) and (max-width: 1400px) {

    /*================================
    = list of case studies
    ==================================*/
    #caseStudyUl{
        width: 1060px;
        text-align: center;
        margin: 30px auto;
    }
    #caseStudyUl li{
        display: inline-block;
        margin: 0 10px 20px 10px;
    }
    /*------------- case study ---------------*/
    .cs-content-item {
        background: url('../images/home/partner.png');
        background-repeat: no-repeat;
        background-size: cover;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 200px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        width: 330px;
    }
    .cs-content-item .cs-overlay {
        border-bottom: 200px solid rgba(255, 0, 0, 0.75);
        border-left: 290px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .7;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0;
    }
    .cs-content-item:hover .cs-overlay {
        border-bottom: 800px solid rgba(255, 0, 0, 0.75);
        border-left: 800px solid transparent;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-corner-overlay-content {
        bottom: 15px;
        color: #333;
        position: absolute;
        right: 15px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item:hover .cs-corner-overlay-content {
        opacity: 0;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cs-content-item .cs-overlay-content h2 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    .cs-content-item:hover .cs-overlay-content {
        opacity: 1;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .cs-corner-overlay-content {
        color: #fff !important;
    }
    .cs-content-item p {
        color: #fff !important;
    }
    .cs_permanent_text{
        font-size: 24px;
        font-weight: bold;
    }

    /*--- menu for different study case types ---*/
    #cs-three-types{
        width: 295px;
        margin: 0 auto 74px auto;
    }
    #cs-three-types li{
        display: inline-block;
        padding: 9px 13px;
        font-weight: 400;
        font-size: 15px;
    }
    #cs-three-types li:hover{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    #cs-three-types-all{

    }
    #cs-three-types-service{

    }
    #cs-three-types-industry{

    }
    .cs-three-types-active{
        background-color: #EB5C4E;
        color: #fff;
    }

    /*=====================================
    = single page case study design
    =======================================*/
    /*--- top banner/essential texts/ ---*/
    #single-cs-banner{
        width: 1100px;
        margin: 80px auto;
    }
    #single-cs-banner-leftdiv{
        display: inline-block;
        width: 185px;
        height: 125px;
    }
    #single-cs-banner-triangle{
        position: relative;
        right: 0;
        width: 0;
        bottom: 0;
        height: 0;
        border-top: 200px solid #EB5C4E;
        border-right: 280px solid transparent;
        opacity: 1;
    }
    #single-cs-banner-triangletext{
        position: relative;
        display: inline-table;
        top: -185px;
        left: 15px;
        color: #fff;
        font-weight: bold;
        z-index: 100;
        vertical-align: top;
        text-decoration: none;
    }
    #single-cs-banner-triangletext p:nth-of-type(1){
        font-size: 27px;
    }
    #single-cs-banner-triangletext p:nth-of-type(2){
        font-size: 52px;
        width: 80px;
    }
    #single-cs-banner-right{
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 830px;
        margin-left: 80px;
    }
    #single-cs-banner-right img{

    }
    #single-cs-banner-title{
        font-size: 40px;
        color: #939393;
        justify-content: flex-end;
    }
    #single-cs-essence{
        width: 100%;
        text-align: right;
    }
    #single-cs-essence-text{
        display: inline-block;
        color: #EB5C4E;
        font-style: italic;
        font-size: 22px;
        margin-right: 60px;
    }
    #single-cs-essence-line{
        display: inline-block;
        width: 180px;
        height: 4px;
        background-color: #EB5C4E;
    }
    /*--- main content of the page ---*/
    #single-cs-main{
        width: 1100px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 130px;
    }
    #single-cs-main-left{
        width: 650px;
        display: inline-block;
        vertical-align: top;
    }
    #single-cs-main-left-quote-symbol{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 65px;
        font-style: normal;
    }
    #single-cs-main-left-quote{
        color: #a1a1a1;
        font-style: italic;
        font-size: 18px;
        text-indent: 15px;
        text-align: justify;
        margin-top: 18px;
        vertical-align: top;
    }
    #single-cs-main-left-quoteauthor{
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #939393;
        margin-top: 14px;
    }
    .single-cs-leftTitle{
        font-size: 26px;
        color: #EB5C4E;
        font-weight: bold;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 26px;
    }
    .single-cs-leftContent{
        font-size: 17px;
        color: grey;
        text-align: justify;
    }
    #single-cs-left-pdf{
        margin-top: 75px;
    }
    #single-cs-left-pdf img{
        display: inline-block;
    }
    #download-pdf-button{
        display: inline-block;
        width: 200px;
        padding: 9px 0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        margin-top: 13px;
        border: 2px solid #EB5C4E;
    }
    #download-pdf-button:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }

    #single-cs-main-right{
        width: 400px;
        display: inline-block;
        margin-left: 45px;
    }
    #single-cs-main-right img{

    }
    .single-cs-main-right-ul{

    }
    .single-cs-main-right-ul li{
        margin: 16px 0;
    }
    .single-cs-main-right-ul img{
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
    }
    .single-cs-main-right-ul p{
        width: 370px;
        display: inline-block;
        font-size: 17px;
        color: grey;
    }

}


@media screen and (min-width: 800px) and (max-width: 1200px){

    /*================================
    = list of case studies
    ==================================*/
    #caseStudyUl{
        width: 1000px;
        text-align: center;
        margin: 30px auto;
    }
    #caseStudyUl li{
        display: inline-block;
        margin: 0 10px 20px 10px;
    }
    /*------------- case study ---------------*/
    .cs-content-item {
        background: url('../images/home/partner.png');
        background-repeat: no-repeat;
        background-size: cover;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 200px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        width: 330px;
    }
    .cs-content-item .cs-overlay {
        border-bottom: 200px solid rgba(255, 0, 0, 0.75);
        border-left: 290px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .7;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0;
    }
    .cs-content-item:hover .cs-overlay {
        border-bottom: 800px solid rgba(255, 0, 0, 0.75);
        border-left: 800px solid transparent;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-corner-overlay-content {
        bottom: 15px;
        color: #333;
        position: absolute;
        right: 15px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item:hover .cs-corner-overlay-content {
        opacity: 0;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .cs-content-item .cs-overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cs-content-item .cs-overlay-content h2 {
        border-bottom: 1px solid #333;
        padding: 0 0 12px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    .cs-content-item:hover .cs-overlay-content {
        opacity: 1;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .cs-corner-overlay-content {
        color: #fff !important;
    }
    .cs-content-item p {
        color: #fff !important;
    }
    .cs_permanent_text{
        font-size: 24px;
        font-weight: bold;
    }

    /*--- menu for different study case types ---*/
    #cs-three-types{
        width: 295px;
        margin: 0 auto 74px auto;
    }
    #cs-three-types li{
        display: inline-block;
        padding: 9px 13px;
        font-weight: 400;
        font-size: 15px;
    }
    #cs-three-types li:hover{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    #cs-three-types-all{

    }
    #cs-three-types-service{

    }
    #cs-three-types-industry{

    }
    .cs-three-types-active{
        background-color: #EB5C4E;
        color: #fff;
    }

    /*=====================================
    = single page case study design
    =======================================*/
    /*--- top banner/essential texts/ ---*/
    #single-cs-banner{
        width: 1100px;
        margin: 80px auto;
    }
    #single-cs-banner-leftdiv{
        display: inline-block;
        width: 185px;
        height: 125px;
    }
    #single-cs-banner-triangle{
        position: relative;
        right: 0;
        width: 0;
        bottom: 0;
        height: 0;
        border-top: 200px solid #EB5C4E;
        border-right: 280px solid transparent;
        opacity: 1;
    }
    #single-cs-banner-triangletext{
        position: relative;
        display: inline-table;
        top: -185px;
        left: 15px;
        color: #fff;
        font-weight: bold;
        z-index: 100;
        vertical-align: top;
        text-decoration: none;
    }
    #single-cs-banner-triangletext p:nth-of-type(1){
        font-size: 27px;
    }
    #single-cs-banner-triangletext p:nth-of-type(2){
        font-size: 52px;
        width: 80px;
    }
    #single-cs-banner-right{
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 830px;
        margin-left: 80px;
    }
    #single-cs-banner-right img{

    }
    #single-cs-banner-title{
        font-size: 40px;
        color: #939393;
        justify-content: flex-end;
    }
    #single-cs-essence{
        width: 100%;
        text-align: right;
    }
    #single-cs-essence-text{
        display: inline-block;
        color: #EB5C4E;
        font-style: italic;
        font-size: 22px;
        margin-right: 60px;
    }
    #single-cs-essence-line{
        display: inline-block;
        width: 180px;
        height: 4px;
        background-color: #EB5C4E;
    }
    /*--- main content of the page ---*/
    #single-cs-main{
        width: 1100px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 130px;
    }
    #single-cs-main-left{
        width: 650px;
        display: inline-block;
        vertical-align: top;
    }
    #single-cs-main-left-quote-symbol{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 65px;
        font-style: normal;
    }
    #single-cs-main-left-quote{
        color: #a1a1a1;
        font-style: italic;
        font-size: 18px;
        text-indent: 15px;
        text-align: justify;
        margin-top: 18px;
        vertical-align: top;
    }
    #single-cs-main-left-quoteauthor{
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #939393;
        margin-top: 14px;
    }
    .single-cs-leftTitle{
        font-size: 26px;
        color: #EB5C4E;
        font-weight: bold;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 26px;
    }
    .single-cs-leftContent{
        font-size: 17px;
        color: grey;
        text-align: justify;
    }
    #single-cs-left-pdf{
        margin-top: 75px;
    }
    #single-cs-left-pdf img{
        display: inline-block;
    }
    #download-pdf-button{
        display: inline-block;
        width: 200px;
        padding: 9px 0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        margin-top: 13px;
        border: 2px solid #EB5C4E;
    }
    #download-pdf-button:hover{
        transition: 0.3s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }

    #single-cs-main-right{
        width: 400px;
        display: inline-block;
        margin-left: 45px;
    }
    #single-cs-main-right img{

    }
    .single-cs-main-right-ul{

    }
    .single-cs-main-right-ul li{
        margin: 16px 0;
    }
    .single-cs-main-right-ul img{
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
    }
    .single-cs-main-right-ul p{
        width: 370px;
        display: inline-block;
        font-size: 17px;
        color: grey;
    }

}