@font-face {
    font-family:'Fontello';
    src:url('../fonts/fontello.eot');
    src:url('../fonts/fontello.eot') format('embedded-opentype'),
    url('../fonts/fontello.woff2') format('woff2'),
    url('../fonts/fontello.woff') format('woff'),
    url('../fonts/fontello.ttf') format('truetype'),
    url('../fonts/fontello.svg') format('svg');
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family: "untitled-font-2";
    src:url("../fonts/untitled-font-5.eot");
    src:url("../fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-5.woff") format("woff"),
    url("../fonts/untitled-font-5.ttf") format("truetype"),
    url("../fonts/untitled-font-5.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}


.icon-chat:before {
    content: "\61";
}
.icon-chat-1:before {
    content: "\62";
}
.icon-download:before {
    content: "\63";
}
.icon-up-arrow:before {
    content: "\64";
}
.icon-team:before {
    content: "\65";
}
.icon-slim-right:before {
    content: "\66";
}
.icon-headset:before {
    content: "\67";
}
.icon-hipster:before {
    content: "\68";
}
.icon-menu:before {
    content: "\69";
}
.icon-menu-close:before {
    content: "\6a";
}
.icon-mother:before {
    content: "\6b";
}
.icon-network:before {
    content: "\6c";
}
.icon-open-box:before {
    content: "\6d";
}
.icon-paper-plane:before {
    content: "\6e";
}
.icon-plus:before {
    content: "\6f";
}
.icon-redo-arrow:before {
    content: "\70";
}
.icon-icon-impobjects1:before {
    content: "\71";
}
.icon-icon-impobjects2:before {
    content: "\72";
}
.icon-icon-impobjects3:before {
    content: "\73";
}
.icon-icon-impobjects4:before {
    content: "\74";
}