#popup-settings{
    display: none;
}

@media screen and (min-width: 1400px) {
/*------------------------- sub footer ---------------------------*/
    #subFooter_container {
        display: table;
        width: 100%;
        height: 276px;
        background-color: #F1F1F1;
        color: #3B4248;
    }
    #subFooter {
        width: 1100px;
        margin: 0 auto;
    }
    #subFooter h2 {
        color: #3B4248;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        margin-right: 100px;
    }
    #subFooter h4 {
        font-size: 12px;
        font-weight: 300;
        text-align: right;
    }
    #subFooter ul {

    }
    #subFooter li {
        text-align: left;
    }
    #subFooter a {
        color: #3c4246;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
    }
    #subFooter a:hover {
        color: #888888;
    }
    .footer_social_icons{
        margin-top: 24px;
        text-align: right;
    }
    .subFooter_verticalBuffer {
        width: 0;
    }
    .subFooter_horizontalBuffer {
        height: 45px;
    }
    .subFooter_horizontalBuffer2 {
        height: 0;
    }
    .subFooter_horizontalBuffer3{
        height: 50px;
    }
    #bottom_angle {
        border-bottom: 3px solid #3c4246;
        position: relative;
        width: 274px;
        margin-top: -142px;
        margin-left: 60%;
        height: 0;
        -ms-transform: skewY(45deg); /* IE 9 */
        -webkit-transform: skewY(45deg); /* Safari */
        transform: skewY(45deg);
        z-index: 10;
    }
    .bottomLineLinks{
        display: inline-block;
        background-color: #EB5C4E;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        vertical-align: top;
    }
    .bottomLineLinks:hover{
        cursor: pointer;
        background-color: #f1f1f1;
    }
    .bottomLineLinks i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
        margin-top: 5px;
    }
    .bottomLineLinks:hover i{
        cursor: pointer;
        color: #EB5C4E;
    }
    #footer-second-soc-icons{
        display: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    /*------------------------- sub footer ---------------------------*/
    #subFooter_container {
        display: table;
        width: 100%;
        height: 276px;
        background-color: #F1F1F1;
        color: #3B4248;
    }
    #subFooter {
        width: 1100px;
        margin: 0 auto;
    }
    #subFooter h2 {
        color: #3B4248;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        margin-right: 100px;
    }
    #subFooter h4 {
        font-size: 12px;
        font-weight: 300;
        text-align: right;
    }
    #subFooter ul {

    }
    #subFooter li {
        text-align: left;
    }
    #subFooter a {
        color: #3c4246;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
    }
    #subFooter a:hover {
        color: #888888;
    }
    .footer_social_icons{
        margin-top: 24px;
        text-align: right;
    }
    .subFooter_verticalBuffer {
        width: 0;
    }
    .subFooter_horizontalBuffer {
        height: 45px;
    }
    .subFooter_horizontalBuffer2 {
        height: 0;
    }
    .subFooter_horizontalBuffer3{
        height: 50px;
    }
    #bottom_angle {
        border-bottom: 3px solid #3c4246;
        position: relative;
        width: 274px;
        margin-top: -142px;
        margin-left: 60%;
        height: 0;
        -ms-transform: skewY(45deg); /* IE 9 */
        -webkit-transform: skewY(45deg); /* Safari */
        transform: skewY(45deg);
        z-index: 10;
    }
    .bottomLineLinks{
        display: inline-block;
        background-color: #EB5C4E;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        vertical-align: top;
    }
    .bottomLineLinks:hover{
        cursor: pointer;
        background-color: #f1f1f1;
    }
    .bottomLineLinks i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: middle;
        margin-top: 5px;
    }
    .bottomLineLinks:hover i{
        cursor: pointer;
        color: #EB5C4E;
    }
    #footer-second-soc-icons{
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
/*------------------------- sub footer ---------------------------*/
    #subFooter_container {
        display: table;
        width: 100%;
        height: 276px;
        background-color: #F1F1F1;
        color: #3B4248;
    }
    #subFooter {
        width: 1000px;
        margin: 0 auto;
    }
    #subFooter h2 {
        color: #3B4248;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        margin-right: 100px;
    }
    #subFooter h4 {
        display: none;
        font-size: 12px;
        font-weight: 300;
        text-align: right;
    }
    #subFooter ul {

    }
    #subFooter li {
        text-align: left;
    }
    #subFooter a {
        color: #3c4246;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
    }
    #subFooter a:hover {
        color: #888888;
    }
    .footer_social_icons{
        margin-top: 24px;
        text-align: right;
    }
    .subFooter_verticalBuffer {
        width: 0;
    }
    .subFooter_horizontalBuffer {
        height: 45px;
    }
    .subFooter_horizontalBuffer2 {
        height: 0;
    }
    .subFooter_horizontalBuffer3{
        height: 50px;
    }
    #bottom_angle {
        display: none;
    }
    #footer-first-soc-icons{
        display: none;
    }
    .bottomLineLinks{
        display: inline-block;
        background-color: #EB5C4E;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 18px;
        vertical-align: top;
    }
    .bottomLineLinks:hover{
        cursor: pointer;
        background-color: #f1f1f1;
    }
    .bottomLineLinks i{
        color: #ffffff;
        font-size: 18px;
        vertical-align: top;
        margin-top: 5px;
    }
    .bottomLineLinks:hover i{
        cursor: pointer;
        color: #EB5C4E;
    }
    #footer-second-soc-icons{
        width: 200px;
        margin: -34px auto 0 auto;
    }
}