@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#loadingContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.95;
    z-index: 9999;
}

@media screen and (min-width: 1400px) {
    #loadingContainer img{
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-animation:spin 3s linear infinite;
        -moz-animation:spin 3s linear infinite;
        animation:spin 3s linear infinite;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    #loadingContainer img{
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-animation:spin 3s linear infinite;
        -moz-animation:spin 3s linear infinite;
        animation:spin 3s linear infinite;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    #loadingContainer img{
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-animation:spin 3s linear infinite;
        -moz-animation:spin 3s linear infinite;
        animation:spin 3s linear infinite;
    }
}

@media screen and (min-width: 480px) and (max-width: 800px){
    #loadingContainer img{
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-animation:spin 3s linear infinite;
        -moz-animation:spin 3s linear infinite;
        animation:spin 3s linear infinite;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px){
    #loadingContainer img{
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-animation:spin 3s linear infinite;
        -moz-animation:spin 3s linear infinite;
        animation:spin 3s linear infinite;
    }
}

@media screen and (max-width: 320px){
    #loadingContainer img{
        margin: -25px 0 0 -25px;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-animation:spin 3s linear infinite;
        -moz-animation:spin 3s linear infinite;
        animation:spin 3s linear infinite;
    }
}