@media screen and (min-width: 1400px) {

    #middleBoxes_bigContainer{
        width: 100%;
        height: 370px;
        margin: 110px 0 30px 0;
        /*position: relative;*/
        display: table;
    }
    /*___ top boxes (icons) ___*/
    #middleBoxes_middleContainer{
        position: relative;
        width: 350px;
        margin: 0 auto;
        z-index: 100;
    }
    #middleBoxes_middleContainer i{
        font-family: Fontello;
        font-size: 60px;
        font-style: normal;
        vertical-align: middle;
    }
    #middleBoxes_middleContainer_quote{
        display: inline-block;
        float: left;
        padding: 15px 32px;
        background-color: #fff;
        border: 5px solid #EB5C4E;
        color: #EB5C4E;
    }
    #middleBoxes_middleContainer_box{
        display: inline-block;
        float: right;
        padding: 15px 32px;
        border: 5px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #fff;
    }

    /*______ content boxes ______*/
    #middleBoxes{
        position: relative;
        width: 1200px;
        margin: 150px auto 350px auto;
    }
    .middleBoxes_containers{
        width: 492px;
        margin-top: 30px;
        /*height: 190px;*/
    }
    /*-- left --*/
    #middleBoxes_leftContainer{
        float: left;
    }
    #middleBoxes_leftTopBorder{
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
        /*margin-left: 434px;*/
    }
    #middleBoxes_leftLeftBorder{
        display: inline-block;
        width: 0;
        height: 1px;
        /*margin-top: 189px;  */
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: left;
    }
    #middleBoxes_leftText{
        display: inline-block;
        position: relative;
        width: 365px;
        /*min-height: 190px;*/
        text-align: left;
        margin: 0 85px 0 35px;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
        padding: 25px 0;
    }
    #middleBoxes_leftRightBorder{
        display: inline-block;
        width: 0;
        height: 1px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: right;
    }
    #middleBoxes_leftBottomBorder{
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    /*-- right --*/
    #middleBoxes_rightContainer{
        float: right;
    }
    #middleBoxes_rightTopBorder{
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    #middleBoxes_rightLeftBorder{
        width: 0;
        height: 1px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        display: inline-block;
        float: left;
    }
    #middleBoxes_rightText{
        display: inline-block;
        position: relative;
        width: 365px;
        /*min-height: 190px;*/
        text-align: right;
        margin: 0 0 0 92px;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
        padding: 25px 0;
    }
    #middleBoxes_rightRightBorder{
        display: inline-block;
        float: right;
        width: 0;
        height: 1px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        margin-top: 189px;
    }
    #middleBoxes_rightBottomBorder{
        width: 1px;
        height: 0;
        margin-left: 434px;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    #middleBoxes_bigContainer{
        width: 100%;
        height: 370px;
        margin: 110px 0 30px 0;
        /*position: relative;*/
        display: table;
    }
    /*___ top boxes (icons) ___*/
    #middleBoxes_middleContainer{
        position: relative;
        width: 350px;
        margin: 0 auto;
        z-index: 100;
    }
    #middleBoxes_middleContainer i{
        font-family: Fontello;
        font-size: 60px;
        font-style: normal;
        vertical-align: middle;
    }
    #middleBoxes_middleContainer_quote{
        display: inline-block;
        float: left;
        padding: 15px 32px;
        background-color: #fff;
        border: 5px solid #EB5C4E;
        color: #EB5C4E;
    }
    #middleBoxes_middleContainer_box{
        display: inline-block;
        float: right;
        padding: 15px 32px;
        border: 5px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #fff;
    }

    /*______ content boxes ______*/
    #middleBoxes{
        position: relative;
        width: 1200px;
        margin: 150px auto 350px auto;
    }
    .middleBoxes_containers{
        width: 492px;
        margin-top: 30px;
        /*height: 190px;*/
    }
    /*-- left --*/
    #middleBoxes_leftContainer{
        float: left;
    }
    #middleBoxes_leftTopBorder{
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
        /*margin-left: 434px;*/
    }
    #middleBoxes_leftLeftBorder{
        display: inline-block;
        width: 0;
        height: 1px;
        /*margin-top: 189px;  */
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: left;
    }
    #middleBoxes_leftText{
        display: inline-block;
        position: relative;
        width: 365px;
        /*min-height: 190px;*/
        text-align: left;
        margin: 0 85px 0 35px;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
        padding: 25px 0;
    }
    #middleBoxes_leftRightBorder{
        display: inline-block;
        width: 0;
        height: 1px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        float: right;
    }
    #middleBoxes_leftBottomBorder{
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    /*-- right --*/
    #middleBoxes_rightContainer{
        float: right;
    }
    #middleBoxes_rightTopBorder{
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
    #middleBoxes_rightLeftBorder{
        width: 0;
        height: 1px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        display: inline-block;
        float: left;
    }
    #middleBoxes_rightText{
        display: inline-block;
        position: relative;
        width: 365px;
        /*min-height: 190px;*/
        text-align: right;
        margin: 0 0 0 92px;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
        padding: 25px 0;
    }
    #middleBoxes_rightRightBorder{
        display: inline-block;
        float: right;
        width: 0;
        height: 1px;
        border-left: 1px solid rgba(235, 92, 78, 0.3);
        margin-top: 189px;
    }
    #middleBoxes_rightBottomBorder{
        width: 1px;
        height: 0;
        margin-left: 434px;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){

    #middleBoxes_bigContainer{
        width: 100%;
        height: 370px;
        margin: 110px 0 30px 0;
        /*position: relative;*/
        display: table;
    }
    /*___ top boxes (icons) ___*/
    #middleBoxes_middleContainer{
        position: relative;
        width: 290px;
        margin: 0 auto;
        z-index: 100;
    }
    #middleBoxes_middleContainer i{
        font-family: Fontello;
        font-size: 50px;
        font-style: normal;
        vertical-align: middle;
    }
    #middleBoxes_middleContainer_quote{
        display: inline-block;
        float: left;
        padding: 14px 28px;
        background-color: #fff;
        border: 4px solid #EB5C4E;
        color: #EB5C4E;
    }
    #middleBoxes_middleContainer_box{
        display: inline-block;
        float: right;
        padding: 14px 28px;
        border: 4px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #fff;
    }

    /*______ content boxes ______*/
    #middleBoxes{
        position: relative;
        width: 95%;
        margin: 150px auto 0;
    }
    .middleBoxes_containers{
        width: 472px;
        margin-top: 30px;
        /*height: 190px;*/
        display: inline-block;
        padding-top: 30px;
    }
    /*-- left --*/
    #middleBoxes_leftContainer{
        /*float: left;*/
    }
    #middleBoxes_leftTopBorder{
        display: none;
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
        /*margin-left: 434px;*/
    }
    #middleBoxes_leftLeftBorder{
        display: none;
        /*display: inline-block;*/
        /*width: 0;*/
        /*height: 1px;*/
        /*!*margin-top: 189px;  *!*/
        /*border-left: 1px solid rgba(235, 92, 78, 0.3);*/
        /*float: left;*/
    }
    #middleBoxes_leftText{
        display: inline-block;
        position: relative;
        width: 365px;
        /*min-height: 190px;*/
        text-align: left;
        margin: 0 85px 0 35px;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
        padding: 25px 0;
    }
    #middleBoxes_leftRightBorder{
        /*display: inline-block;*/
        /*width: 0;*/
        /*height: 1px;*/
        /*border-left: 1px solid rgba(235, 92, 78, 0.3);*/
        /*float: right;*/
        display: none;
    }
    #middleBoxes_leftBottomBorder{
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
        display: none;
    }
    /*-- right --*/
    #middleBoxes_rightContainer{
        float: right;
    }
    #middleBoxes_rightTopBorder{
        width: 1px;
        height: 0;
        border-bottom: 1px solid rgba(235, 92, 78, 0.3);
        display: none;
    }
    #middleBoxes_rightLeftBorder{
        /*width: 0;*/
        /*height: 1px;*/
        /*border-left: 1px solid rgba(235, 92, 78, 0.3);*/
        /*display: inline-block;*/
        /*float: left;*/
        display: none;
    }
    #middleBoxes_rightText{
        display: inline-block;
        position: relative;
        width: 365px;
        /*min-height: 190px;*/
        text-align: right;
        margin: 0 0 0 92px;
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
        padding: 25px 0;
    }
    #middleBoxes_rightRightBorder{
        /*display: inline-block;*/
        /*float: right;*/
        /*width: 0;*/
        /*height: 1px;*/
        /*border-left: 1px solid rgba(235, 92, 78, 0.3);*/
        /*margin-top: 189px;*/
        display: none;
    }
    #middleBoxes_rightBottomBorder{
        /*width: 1px;*/
        /*height: 0;*/
        /*margin-left: 434px;*/
        /*border-bottom: 1px solid rgba(235, 92, 78, 0.3);*/
        display: none;
    }

}