#thePopUp textarea::-webkit-input-placeholder {
    color: #3c4246 !important;
}
#thePopUp textarea:-moz-placeholder { /* Firefox 18- */
    color: #3c4246 !important;
}
#thePopUp textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #3c4246 !important;
}
#thePopUp textarea:-ms-input-placeholder {
    color: #3c4246 !important;
}
#thePopUp textarea:focus {
    outline: none !important;
    border: 2px solid #E4E4E4;
}


#thePopUp input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #3c4246 !important;
}
#thePopUp input::-moz-placeholder { /* Firefox 19+ */
    color: #3c4246 !important;
}
#thePopUp input:-ms-input-placeholder { /* IE 10+ */
    color: #3c4246 !important;
}
#thePopUp input:-moz-placeholder { /* Firefox 18- */
    color: #3c4246 !important;
}
#thePopUp input:focus {
    outline: none !important;
    border: 2px solid #E4E4E4;
}



@media screen and (min-width: 1400px) {

    #thePopUp{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        opacity: 0;
        display: none;
    }

    /*______________how can we help you____________*/
    #how-can-we-help-form{
        display: none;
    }
    #how-can-we-help-tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #how-can-we-help-tab input{
        display: block;
    }
    .how_can_inputs{
        width: 295px;
        display: inline-block;
    }
    #how_can_paperplane{
        display: inline-block;
        font-size: 68px;
        height: 10px;
        margin: 0 8px 0 4px;
        color: #FFFFFF;
    }
    .how-can-we-help-tit{
        font-size: 24px;
        color: #ffffff;
        text-align: left;
        margin-left: 2px;
    }
    .how-can-we-help-buffer{
        display: block;
        width: 90px;
    }
    #thePopUp input{
        width: 277px;
        height: 33px;
        margin: 5px 0;
        /*border: 2px solid #E4E4E4;*/
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #E4E4E4;
    }
    #how-can-we-help-tab textarea{
        width: 664px;
        height: 78px;
        border: 2px solid #EB5C4E;
        padding-top: 8px;
        padding-left: 10px;
        font-size: 15px;
    }
    .popUpPaperPlane{
        font-family: Fontello;
        font-size: 45px;
        color: #ffffff;
        vertical-align: top;
        padding: 0 20px;
    }
    #how-can-we-help-send{
        width: 180px;
        margin: 0 auto;
        text-align: center;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 20px;
        padding: 4px 0;
        margin-top: 15px;
        background-color: #EB5C4E;
    }
    #how-can-we-help-send:hover{
        transition: 0.3s;
        cursor: pointer;
        background-color: #ffffff;
        color: #EB5C4E;
    }

    /*___ close button ___*/
    .how-can-we-help-close{
        float: right;
        margin-top: 40px;
        margin-right: 40px;
        color: #ffffff;
        font-size: 30px;
        -webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
        -ms-transform: rotate(45deg);  /* IE 9 */
        -o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
        transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
        transition: 0.3s;
    }
    .how-can-we-help-close:hover{
        cursor: pointer;
        transition: 0.3s;
        -ms-transform: rotate(135deg); /* IE 9 */
        -webkit-transform: rotate(135deg); /* Safari */
        transform: rotate(135deg);
    }

    /*____________ download pdf _____________*/
    #download-pdf-form{
        display: none;
    }
    #download-pdf-form input{
        display: block;
    }
    #download-pdf-tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #download-pdf-tab th{
        vertical-align: -webkit-baseline-middle;
        vertical-align: baseline-middle;
    }
    @-moz-document url-prefix() {
        #download-pdf-tab th{
            vertical-align: top;
        }
    }
    #download-pdf-tab tbody{
        vertical-align: top;
    }
    #download-pdf-subtitle{
        color: #ffffff;
        font-size: 16px;
        font-weight: 200;
        text-align: left;
        margin-bottom: 25px;
    }
    #download_pdf_paperplane{
        font-size: 68px;
        height: 55px;
        margin: 0 10px;
        color: #FFFFFF;
    }
    #download_pdf_paperplane::before{
        vertical-align: middle;
    }
    #download-pdf-download{
        width: 180px;
        margin: 0 auto;
        text-align: center;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 20px;
        padding: 4px 0;
        margin-top: 15px;
        background-color: #EB5C4E;
    }
    #download-pdf-download:hover{
        transition: 0.3s;
        cursor: pointer;
        background-color: #ffffff;
        color: #EB5C4E;
    }
    /*______ let us call you ______*/
    #let_us_call_you_form{
        display: none;
        background-color: #EB5C4E;
        width: 500px;
        margin: 200px auto 0 auto;
    }
    #let_us_call_you_tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;

    }
    #letuscallyou-paperplane{
        font-family: "untitled-font-2" !important;
        font-size: 54px;
        color: #FFFFFF;
        display: inline-block;
        width: 7px;
        margin-left: 36px;
    }
    #letuscallyou-paperplane:hover{
        color: #1a1a1a;
        cursor: pointer;
        transition: 0.3s;
    }
    #letuscallyou-inputs{
        display: inline-block;
    }
    #letuscallyou-inputs input{
        display: block;
    }
    #let_us_call_you_tit{
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 400;
    }
    #let_us_call_you_tab input{
        width: 280px;
        border: 2px #FFFFFF;
    }
    /*#let_us_call_you_tab input:focus{*/
    /*border-color: #00a0d2;*/
    /*}*/
    #let_us_call_you_tab textarea{
        width: 405px;
        height: 76px;
    }
    #let-us-call-you-send{
        width: 170px;
        margin: 10px auto 10px auto;
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        text-align: center;
        color: #FFFFFF;
    }
    #let-us-call-you-send:hover{
        transition: 0.4s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }
    .let_us_call_you_buffer{
        width: 55px;
    }

    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 400px;
        margin: 20% auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #thePopUp{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        opacity: 0;
        display: none;
    }

    /*_____how can we help you_____*/
    #how-can-we-help-form{
        display: none;
    }
    #how-can-we-help-tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #how-can-we-help-tab input{
        display: block;
    }
    .how_can_inputs{
        width: 295px;
        display: inline-block;
    }
    #how_can_paperplane{
        display: inline-block;
        font-size: 68px;
        height: 10px;
        margin: 0 8px 0 4px;
        color: #FFFFFF;
    }
    .how-can-we-help-tit{
        font-size: 24px;
        color: #ffffff;
        text-align: left;
        margin-left: 2px;
    }
    .how-can-we-help-buffer{
        display: block;
        width: 90px;
    }
    #thePopUp input{
        width: 277px;
        height: 33px;
        margin: 5px 0;
        /*border: 2px solid #E4E4E4;*/
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #how-can-we-help-tab textarea{
        width: 664px;
        height: 78px;
        border: 2px solid #EB5C4E;
        padding-top: 8px;
        padding-left: 10px;
        font-size: 15px;
    }
    .popUpPaperPlane{
        font-family: Fontello;
        font-size: 45px;
        color: #ffffff;
        vertical-align: top;
        padding: 0 20px;
    }
    #how-can-we-help-send{
        width: 180px;
        margin: 0 auto;
        text-align: center;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 20px;
        padding: 4px 0;
        margin-top: 15px;
        background-color: #EB5C4E;
    }
    #how-can-we-help-send:hover{
        transition: 0.3s;
        cursor: pointer;
        background-color: #ffffff;
        color: #EB5C4E;
    }

    /*___ close button ___*/
    .how-can-we-help-close{
        float: right;
        margin-top: 40px;
        margin-right: 40px;
        color: #ffffff;
        font-size: 30px;
        -webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
        -ms-transform: rotate(45deg);  /* IE 9 */
        -o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
        transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
        transition: 0.3s;
    }
    .how-can-we-help-close:hover{
        cursor: pointer;
        transition: 0.3s;
        -ms-transform: rotate(135deg); /* IE 9 */
        -webkit-transform: rotate(135deg); /* Safari */
        transform: rotate(135deg);
    }

    /*___ download pdf ___*/
    #download-pdf-form{
        display: none;
    }
    #download-pdf-tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #download-pdf-subtitle{
        color: #ffffff;
        font-size: 16px;
        font-weight: 200;
        text-align: left;
        margin-bottom: 25px;
    }
    #download-pdf-download{
        width: 180px;
        margin: 0 auto;
        text-align: center;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 20px;
        padding: 4px 0;
        margin-top: 15px;
        background-color: #EB5C4E;
    }
    #download-pdf-download:hover{
        transition: 0.3s;
        cursor: pointer;
        background-color: #ffffff;
        color: #EB5C4E;
    }
    /*______ let us call you ______*/
    #let_us_call_you_form{
        display: none;
        background-color: #EB5C4E;
        width: 500px;
        margin: 200px auto 0 auto;
    }
    #let_us_call_you_tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;

    }
    #letuscallyou-paperplane{
        font-family: "untitled-font-2" !important;
        font-size: 54px;
        color: #FFFFFF;
        display: inline-block;
        width: 7px;
        margin-left: 36px;
    }
    #letuscallyou-paperplane:hover{
        color: #1a1a1a;
        cursor: pointer;
        transition: 0.3s;
    }
    #letuscallyou-inputs{
        display: inline-block;
    }
    #letuscallyou-inputs input{
        display: block;
    }
    #let_us_call_you_tit{
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 400;
    }
    #let_us_call_you_tab input{
        width: 280px;
        border: 2px #FFFFFF;
    }
    /*#let_us_call_you_tab input:focus{*/
        /*border-color: #00a0d2;*/
    /*}*/
    #let_us_call_you_tab textarea{
        width: 405px;
        height: 76px;
    }
    #let-us-call-you-send{
        width: 170px;
        margin: 10px auto 10px auto;
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        text-align: center;
        color: #FFFFFF;
    }
    #let-us-call-you-send:hover{
        transition: 0.4s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }
    .let_us_call_you_buffer{
        width: 55px;
    }

    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 400px;
        margin: 20% auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){

    #thePopUp{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        opacity: 0;
        display: none;
    }

    /*_____how can we help you_____*/
    #how-can-we-help-form{
        display: none;
    }
    #how-can-we-help-tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #how-can-we-help-tab input{
        display: block;
    }
    .how_can_inputs{
        width: 295px;
        display: inline-block;
    }
    #how_can_paperplane{
        display: inline-block;
        font-size: 68px;
        height: 10px;
        margin: 0 8px 0 4px;
        color: #FFFFFF;
    }
    .how-can-we-help-tit{
        font-size: 24px;
        color: #ffffff;
        text-align: left;
        margin-left: 2px;
    }
    .how-can-we-help-buffer{
        display: block;
        width: 90px;
    }
    #thePopUp input{
        width: 277px;
        height: 33px;
        margin: 5px 0;
        /*border: 2px solid #E4E4E4;*/
        border: 2px solid #EB5C4E;
        padding-left: 10px;
        font-size: 16px;
        color: #212121;
    }
    #how-can-we-help-tab textarea{
        width: 664px;
        height: 78px;
        border: 2px solid #EB5C4E;
        padding-top: 8px;
        padding-left: 10px;
        font-size: 15px;
    }
    .popUpPaperPlane{
        font-family: Fontello;
        font-size: 45px;
        color: #ffffff;
        vertical-align: top;
        padding: 0 20px;
    }
    #how-can-we-help-send{
        width: 180px;
        margin: 0 auto;
        text-align: center;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 20px;
        padding: 4px 0;
        margin-top: 15px;
        background-color: #EB5C4E;
    }
    #how-can-we-help-send:hover{
        transition: 0.3s;
        cursor: pointer;
        background-color: #ffffff;
        color: #EB5C4E;
    }

    /*___ close button ___*/
    .how-can-we-help-close{
        float: right;
        margin-top: 40px;
        margin-right: 40px;
        color: #ffffff;
        font-size: 30px;
        -webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
        -ms-transform: rotate(45deg);  /* IE 9 */
        -o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
        transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
        transition: 0.3s;
    }
    .how-can-we-help-close:hover{
        cursor: pointer;
        transition: 0.3s;
        -ms-transform: rotate(135deg); /* IE 9 */
        -webkit-transform: rotate(135deg); /* Safari */
        transform: rotate(135deg);
    }

    /*___ download pdf ___*/
    #download-pdf-form{
        display: none;
    }
    #download-pdf-tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #download-pdf-subtitle{
        color: #ffffff;
        font-size: 16px;
        font-weight: 200;
        text-align: left;
        margin-bottom: 25px;
    }
    #download-pdf-download{
        width: 180px;
        margin: 0 auto;
        text-align: center;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 20px;
        padding: 4px 0;
        margin-top: 15px;
        background-color: #EB5C4E;
    }
    #download-pdf-download:hover{
        transition: 0.3s;
        cursor: pointer;
        background-color: #ffffff;
        color: #EB5C4E;
    }
    /*______ let us call you ______*/
    #let_us_call_you_form{
        display: none;
        background-color: #EB5C4E;
        width: 500px;
        margin: 200px auto 0 auto;
    }
    #let_us_call_you_tab{
        background-color: #EB5C4E;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;

    }
    #letuscallyou-paperplane{
        font-family: "untitled-font-2" !important;
        font-size: 54px;
        color: #FFFFFF;
        display: inline-block;
        width: 7px;
        margin-left: 36px;
    }
    #letuscallyou-paperplane:hover{
        color: #1a1a1a;
        cursor: pointer;
        transition: 0.3s;
    }
    #letuscallyou-inputs{
        display: inline-block;
    }
    #letuscallyou-inputs input{
        display: block;
    }
    #let_us_call_you_tit{
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 400;
    }
    #let_us_call_you_tab input{
        width: 280px;
        border: 2px #FFFFFF;
    }
    /*#let_us_call_you_tab input:focus{*/
    /*border-color: #00a0d2;*/
    /*}*/
    #let_us_call_you_tab textarea{
        width: 405px;
        height: 76px;
    }
    #let-us-call-you-send{
        width: 170px;
        margin: 10px auto 10px auto;
        border: 2px solid #FFFFFF;
        padding: 4px 0;
        text-align: center;
        color: #FFFFFF;
    }
    #let-us-call-you-send:hover{
        transition: 0.4s;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
    }
    .let_us_call_you_buffer{
        width: 55px;
    }

    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 400px;
        margin: 20% auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}


/*=============================================================*/
/*-------------------- big grey popup ------------------------*/
/*===========================================================*/
@media screen and (min-width: 1400px) {

    #thePopUp table{
        width: 650px;
        margin: 50px auto 0 auto;
        background-color: #eb5e57;
        padding: 0 30px 20px;
    }
    #thePopUp input{
        height: 15px;
        text-align: left;
        width: 263px;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 11px;
        border-radius: 0;
        margin-top: 10px;
    }
    #thePopUp textarea{
        width: 630px;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 11px;
        border-radius: 0;
        margin-top: 10px;
    }
    #thePopUp select{
        width: 100%;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 10px;
        border-radius: 0;
        margin-top: 10px;
        overflow: visible !important;
        -moz-appearance: none;
    }
    #contactUsFormTitle{
        color: #fff;
        font-size: 40px;
        margin: 18px 0;
        font-weight: 100;
    }
    /*___________ captcha _________*/
    #captchaInput{
        display: inline-block;
        width: 80px !important;
    }
    #captchaSpan{
        display: inline-block;
        color: #fff;
        font-size: 22px;
        margin: 0 8px;
        vertical-align: middle;
    }
    #imgid{
        display: inline-block;
        height: 40px !important;
        vertical-align: top;
        margin-top: 11px;
    }
    #captchaRefresh{
        display: inline-block;
        color: #fff;
        font-size: 22px;
        margin-left: 10px;
        vertical-align: middle;
    }
    #captchaRefresh:hover{
        cursor: pointer;
        color: #fff;
    }

    /*___________ upload file button _________*/
    #theFileBtn{
        display: inline-block;
        width: 94px !important;
        height: 40px !important;
        float: left;
    }
    #theFileBtn:hover{
        cursor: pointer;
        color: #eb5e57;
        border-color: #fff;
        transition: 0.2s;
    }
    #theFileText{
        display: inline-block;
        color: #fff;
        font-size: 15px;
        font-weight: 100;
        float: right;
        padding-top: 18px;
        margin-right: 15px;
    }
    #theFile{
        display:none;
    }

    /*_________ submit button _________*/
    #form_submit_btn{
        width: 200px !important;
        margin: 18px auto 0 !important;
        text-align: center !important;
        color: #3c4246 !important;
        background-color: #fff !important;
        font-weight: 500 !important;
        font-size: 17px !important;
        border: 2px solid #fff !important;
        vertical-align: middle  !important;
        padding: 8px 0 !important;
    }
    #form_submit_btn:hover{
        border-color: #fff !important;
        background-color: #eb5e57 !important;
        color: #fff !important;
        transition: 0.3s !important;
        cursor: pointer !important;
    }

    /*_____ google captcha _____*/
    .g-recaptcha iframe{
        display: block !important;
    }


    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 400px;
        margin: 20% auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    #thePopUp table{
        width: 650px;
        margin: 50px auto 0 auto;
        background-color: #eb5e57;
        padding: 0 30px 20px;
    }
    #thePopUp input{
        height: 15px;
        text-align: left;
        width: 263px;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 11px;
        border-radius: 0;
        margin-top: 10px;
    }
    #thePopUp textarea{
        width: 630px;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 11px;
        border-radius: 0;
        margin-top: 10px;
    }
    #thePopUp select{
        width: 100%;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 10px;
        border-radius: 0;
        margin-top: 10px;
        overflow: visible !important;
        -moz-appearance: none;
    }
    #contactUsFormTitle{
        color: #fff;
        font-size: 40px;
        margin: 18px 0;
        font-weight: 100;
    }
    /*___________ captcha _________*/
    #captchaInput{
        display: inline-block;
        width: 80px !important;
    }
    #captchaSpan{
        display: inline-block;
        color: #fff;
        font-size: 22px;
        margin: 0 8px;
        vertical-align: middle;
    }
    #imgid{
        display: inline-block;
        height: 40px !important;
        vertical-align: top;
        margin-top: 11px;
    }
    #captchaRefresh{
        display: inline-block;
        color: #fff;
        font-size: 22px;
        margin-left: 10px;
        vertical-align: middle;
    }
    #captchaRefresh:hover{
        cursor: pointer;
        color: #fff;
    }

    /*___________ upload file button _________*/
    #theFileBtn{
        display: inline-block;
        width: 94px !important;
        height: 40px !important;
        float: left;
    }
    #theFileBtn:hover{
        cursor: pointer;
        color: #eb5e57;
        border-color: #fff;
        transition: 0.2s;
    }
    #theFileText{
        display: inline-block;
        color: #fff;
        font-size: 15px;
        font-weight: 100;
        float: right;
        padding-top: 18px;
        margin-right: 15px;
    }
    #theFile{
        display:none;
    }

    /*_________ submit button _________*/
    #form_submit_btn{
        width: 200px !important;
        margin: 18px auto 0 !important;
        text-align: center !important;
        color: #3c4246 !important;
        background-color: #fff !important;
        font-weight: 500 !important;
        font-size: 17px !important;
        border: 2px solid #fff !important;
        vertical-align: middle  !important;
        padding: 8px 0 !important;
    }
    #form_submit_btn:hover{
        border-color: #fff !important;
        background-color: #eb5e57 !important;
        color: #fff !important;
        transition: 0.3s !important;
        cursor: pointer !important;
    }

    /*_____ google captcha _____*/
    .g-recaptcha iframe{
        display: block !important;
    }

    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 400px;
        margin: 20% auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}

@media screen and (max-width: 1200px) {

    #thePopUp table{
        width: 650px;
        margin: 50px auto 0 auto;
        background-color: #eb5e57;
        padding: 0 30px 20px;
    }
    #thePopUp input{
        height: 15px;
        text-align: left;
        width: 263px;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 11px;
        border-radius: 0;
        margin-top: 10px;
    }
    #thePopUp textarea{
        width: 630px;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 11px;
        border-radius: 0;
        margin-top: 10px;
    }
    #thePopUp select{
        width: 100%;
        border: 2px solid #E4E4E4;
        background: #E4E4E4;
        color: #3c4246;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 10px;
        border-radius: 0;
        margin-top: 10px;
        overflow: visible !important;
        -moz-appearance: none;
    }
    #contactUsFormTitle{
        color: #fff;
        font-size: 40px;
        margin: 18px 0;
        font-weight: 100;
    }
    /*___________ captcha _________*/
    #captchaInput{
        display: inline-block;
        width: 80px !important;
    }
    #captchaSpan{
        display: inline-block;
        color: #fff;
        font-size: 22px;
        margin: 0 8px;
        vertical-align: middle;
    }
    #imgid{
        display: inline-block;
        height: 40px !important;
        vertical-align: top;
        margin-top: 11px;
    }
    #captchaRefresh{
        display: inline-block;
        color: #fff;
        font-size: 22px;
        margin-left: 10px;
        vertical-align: middle;
    }
    #captchaRefresh:hover{
        cursor: pointer;
        color: #fff;
    }

    /*___________ upload file button _________*/
    #theFileBtn{
        display: inline-block;
        width: 94px !important;
        height: 40px !important;
        float: left;
    }
    #theFileBtn:hover{
        cursor: pointer;
        color: #eb5e57;
        border-color: #fff;
        transition: 0.2s;
    }
    #theFileText{
        display: inline-block;
        color: #fff;
        font-size: 15px;
        font-weight: 100;
        float: right;
        padding-top: 18px;
        margin-right: 15px;
    }
    #theFile{
        display:none;
    }

    /*_________ submit button _________*/
    #form_submit_btn{
        width: 200px !important;
        margin: 18px auto 0 !important;
        text-align: center !important;
        color: #3c4246 !important;
        background-color: #fff !important;
        font-weight: 500 !important;
        font-size: 17px !important;
        border: 2px solid #fff !important;
        vertical-align: middle  !important;
        padding: 8px 0 !important;
    }
    #form_submit_btn:hover{
        border-color: #fff !important;
        background-color: #eb5e57 !important;
        color: #fff !important;
        transition: 0.3s !important;
        cursor: pointer !important;
    }

    /*_____ google captcha _____*/
    .g-recaptcha iframe{
        display: block !important;
    }

    /*___ thank you popup ___*/
    #thankYouPopUp{
        opacity: 0;
        display: none;
        background-color: #EB5C4E;
        color: #fff;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        width: 400px;
        margin: 20% auto 0;
        padding: 10px 0;
        border-radius: 4px;
    }
}