
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
ol,
ul {
    list-style: none;
}
/* HTML5 display-role reset for older browsers */

body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #3c4246;
    font-family: 'Roboto', sans-serif;
    min-width: 1210px;
}

/*------------------ the menu ----------------*/
#header {
    position: relative;
    z-index: 1000;
    background: #EB5C4E;
}
#header .logo {
    position: absolute;
    left: 0;
    top: 20px;
    background: url("../images/topMenu/logo.png");
    width: 270px;
    height: 35px;
    overflow: hidden;
    text-indent: -10000px;
}
#header > .content-wrapper {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(13, 50, 75, 0.36);
    box-shadow: 0 1px 2px rgba(13, 50, 75, 0.36);
}
#header > .content-wrapper > .content {
    width: 1170px;
    margin: 0 auto;
    height: 76px;
    position: relative;
}
#header.with-subnav {
    padding-bottom: 52px;
    -webkit-box-shadow: 0 1px 2px rgba(13, 50, 75, 0.36);
    box-shadow: 0 1px 2px rgba(13, 50, 75, 0.36);
}

body.home #primary_nav > ul > li.current a,
body.home #primary_nav > ul > li.current_ancestor a {
    background: #EB5C4E;
}
#primary_nav {
    position: absolute;
    right: -18px;
    top: 0;
}
#primary_nav > ul {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}
#primary_nav > ul a {
    text-decoration: none;
}
#primary_nav > ul > li {
    float: left;
    position: relative;
}
#primary_nav > ul > li > a:hover{
    cursor: pointer;
    transition: 0.3s;
    background: #EB5C4E;
    color: #fff;
}
#primary_nav > ul > li > a {
    float: left;
    height: 76px;
    line-height: 78px;
    overflow: hidden;
    padding: 0 21px;
    color: #42474a;
}
#primary_nav > ul > li > ul {
    display: none;
}
#primary_nav > ul > li.current > a,
#primary_nav > ul > li.current_ancestor > a {
    background: #EB5C4E;
    color: #fff;
}

iframe{
    display: block;
    width: 70%;
    height: 50%;
    margin: 50px auto 0;
}

/*------ chat and call us icons ----*/
[data-icon]:before {
    font-family: "untitled-font-2" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-2" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
    content: "\61";
}
.icon-chat-second:before {
    content: "\62";
}
.icon-headset:before {
    content: "\63";
}





@media screen and (min-width: 1400px) {

    /*----- top black line / soc icons holder ------*/
    #header_top_black_line {
        background: #3c4246;
        height: 36px;
    }
    #header_top_black_line-in{
        width: 1170px;
        margin: 0 auto;
    }
    .topLineLinks{
        background-color: #ffffff;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-left: 18px;
        color: #3c4246;
        display: inline-block;
        vertical-align: top;
    }
    .topLineLinks:hover{
        background-color: #3c4246;
    }
    .topLineLinks:hover i{
        color: #ffffff;
    }
    .topLineLinks i{
        color: #3c4246;
        font-size: 14px;
        vertical-align: top;
        margin-top: 4px;
    }
    .callUsAndChat{
        display: inline-block;
        margin-right: 26px;
        text-decoration: none;
    }
    .callUsAndChat:hover i{
        color: #808080;
    }
    .callUsAndChat p{
        font-size: 14px;
        font-weight: 400;
    }
    .callUsAndChat i{
        color: #ffffff;
        font-size: 30px;
        vertical-align: text-bottom;
    }
    /*--- top black line "call us" and "chat me" icons ---*/
    #inner-left{
        display: inline-block;
        float: left;
        padding-top: 4px;
    }
    #inner-left a{
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
    #inner-left a:hover{
        color: #EB5C4E;
    }
    .inner{
        width: 533px;
        float: right;
        margin: 0;
        padding: 6px 0;
    }
    .inner p{
        text-transform: capitalize;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        vertical-align: super;
    }
    .inner-call-chat-icons div{
        color: #ffffff !important;
        font-size: 22px;
    }
    .inner-call-chat-icons p{
        color: #ffffff !important;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 500;
    }
    .inner-call-chat-icons:hover div{
        color: #EB5C4E !important;
    }
    .inner-call-chat-icons:hover p{
        color: #EB5C4E !important;
    }
    .inner-call-chat-icons:hover i{
        color: #EB5C4E !important;
    }
    #message-topmenu-btn i{
        font-size: 20px;
        vertical-align: top;
    }


    /*--- top banner ---*/
    #topBanner{
        display: block;
        width: 1274px;
        height: auto;
        margin: 50px auto;
    }

    /*------- tracking pixels ---------*/
    #trackingPixel_middle{
        position: fixed;
        top: 50%;
        left: 0;
        width: 1px;
        height: 1px;
        background-color: transparent;
    }
    #trackingPixel_bottom{
        position: fixed;
        top: 100%;
        left: 0;
        width: 1px;
        height: 1px;
        background-color: transparent;
    }
    #pageNameDiv{
        display: none !important;
    }

    /*------- WHAT WE DO dropdown --------*/
    #whatWeDo_dropdown{
        position: fixed;
        top: 30px;
        left: 200px;
        z-index: 1000;
        display: none;
        background-color: #1a1a1a;
        opacity: 0;
        padding: 20px;
    }
    #whatWeDo_dropdown a{
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        text-transform: capitalize;
    }
    #whatWeDo_dropdown a:hover{
        cursor: pointer;
        color: #EB5C4E;
        transition: 0.3s;
    }


    /*------- TECHNOLOGY dropdown --------*/
    #technology_dropdown{
        width: 170px;
        position: fixed;
        top: 30px;
        left: 500px;
        z-index: 1000;
        display: none;
        background-color: #1a1a1a;
        opacity: 0;
        padding: 20px;
    }
    #technology_dropdown a{
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        text-transform: capitalize;
    }
    #technology_dropdown a:hover{
        cursor: pointer;
        color: #EB5C4E;
        transition: 0.3s;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    /*----- top black line / soc icons holder ------*/
    #header_top_black_line {
        background: #3c4246;
        height: 36px;
    }
    #header_top_black_line-in{
        width: 1170px;
        margin: 0 auto;
    }
    .topLineLinks{
        background-color: #ffffff;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-left: 18px;
        color: #3c4246;
        display: inline-block;
        vertical-align: top;
    }
    .topLineLinks:hover{
        background-color: #3c4246;
    }
    .topLineLinks:hover i{
        color: #ffffff;
    }
    .topLineLinks i{
        color: #3c4246;
        font-size: 14px;
        vertical-align: top;
        margin-top: 4px;
    }
    .callUsAndChat{
        display: inline-block;
        margin-right: 26px;
        text-decoration: none;
    }
    .callUsAndChat:hover i{
        color: #808080;
    }
    .callUsAndChat p{
        font-size: 14px;
        font-weight: 400;
    }
    .callUsAndChat i{
        color: #ffffff;
        font-size: 30px;
        vertical-align: text-bottom;
    }
    /*--- top black line "call us" and "chat me" icons ---*/
    #inner-left{
        display: inline-block;
        float: left;
        padding-top: 4px;
    }
    #inner-left a{
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
    #inner-left a:hover{
        color: #EB5C4E;
    }
    .inner{
        width: 533px;
        float: right;
        margin: 0;
        padding: 6px 0;
    }
    .inner p{
        text-transform: capitalize;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        vertical-align: super;
    }
    .inner-call-chat-icons div{
        color: #ffffff !important;
        font-size: 22px;
        vertical-align: top;
    }
    .inner-call-chat-icons p{
        color: #ffffff !important;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 500;
    }
    .inner-call-chat-icons:hover div{
        color: #EB5C4E !important;
    }
    .inner-call-chat-icons:hover p{
        color: #EB5C4E !important;
    }
    .inner-call-chat-icons:hover i{
        color: #EB5C4E !important;
    }
    #message-topmenu-btn i{
        font-size: 20px;
        vertical-align: top;
    }


    /*--- top banner ---*/
    #topBanner{
        display: block;
        width: 1274px;
        height: auto;
        margin: 50px auto;
    }

    /*------- tracking pixels ---------*/
    #trackingPixel_middle{
        position: fixed;
        top: 50%;
        left: 0;
        width: 1px;
        height: 1px;
        background-color: transparent;
    }
    #trackingPixel_bottom{
        position: fixed;
        top: 100%;
        left: 0;
        width: 1px;
        height: 1px;
        background-color: transparent;
    }
    #pageNameDiv{
        display: none !important;
    }

    /*------- WHAT WE DO dropdown --------*/
    #whatWeDo_dropdown{
        position: fixed;
        top: 30px;
        left: 200px;
        z-index: 1000;
        display: none;
        background-color: #1a1a1a;
        opacity: 0;
        padding: 20px;
    }
    #whatWeDo_dropdown a{
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        text-transform: capitalize;
    }
    #whatWeDo_dropdown a:hover{
        cursor: pointer;
        color: #EB5C4E;
        transition: 0.3s;
    }


    /*------- TECHNOLOGY dropdown --------*/
    #technology_dropdown{
        position: fixed;
        width: 170px;
        top: 30px;
        left: 500px;
        z-index: 1000;
        display: none;
        background-color: #1a1a1a;
        opacity: 0;
        padding: 20px;
    }
    #technology_dropdown a{
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        text-transform: capitalize;
    }
    #technology_dropdown a:hover{
        cursor: pointer;
        color: #EB5C4E;
        transition: 0.3s;
    }

}

@media screen and (max-width: 1200px){
    body{
        min-width: 100%;
    }
    #header .logo {
        background-size: contain;
        width: 240px;
        margin-left: 5px;
    }
    #primary_nav{
        right: 32px;
    }
    #primary_nav > ul {
        font-size: 13px;
    }
    #primary_nav > ul > li > a {
        padding: 0 16px;
    }
    #header > .content-wrapper > .content {
        width: 100%;
        margin: 0 auto;
        height: 76px;
        position: relative;
    }
    /*----- top black line / soc icons holder ------*/
    #header_top_black_line {
        background: #3c4246;
        height: 36px;
    }
    #header_top_black_line-in{
        width: 100%;
        margin: 0 auto;
    }
    .topLineLinks{
        background-color: #ffffff;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-left: 18px;
        color: #3c4246;
        display: inline-block;
        vertical-align: top;
    }
    .topLineLinks:hover{
        background-color: #3c4246;
    }
    .topLineLinks:hover i{
        color: #ffffff;
    }
    .topLineLinks i{
        color: #3c4246;
        font-size: 14px;
        vertical-align: top;
        margin-top: 4px;
    }
    .callUsAndChat{
        display: inline-block;
        margin-right: 26px;
        text-decoration: none;
    }
    .callUsAndChat:hover i{
        color: #808080;
    }
    .callUsAndChat p{
        font-size: 14px;
        font-weight: 400;
    }
    .callUsAndChat i{
        color: #ffffff;
        font-size: 30px;
        vertical-align: text-bottom;
    }
    /*--- top black line "call us" and "chat me" icons ---*/
    #inner-left{
        display: inline-block;
        float: left;
        padding-top: 4px;
    }
    #inner-left a{
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
    #inner-left a:hover{
        color: #EB5C4E;
    }
    .inner{
        width: 533px;
        float: right;
        margin: 0;
        padding: 6px 0;
    }
    .inner p{
        text-transform: capitalize;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        vertical-align: super;
    }
    .inner-call-chat-icons div{
        color: #ffffff !important;
        font-size: 22px;
    }
    .inner-call-chat-icons p{
        color: #ffffff !important;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 500;
    }
    .inner-call-chat-icons:hover div{
        color: #EB5C4E !important;
    }
    .inner-call-chat-icons:hover p{
        color: #EB5C4E !important;
    }
    .inner-call-chat-icons:hover i{
        color: #EB5C4E !important;
    }
    #message-topmenu-btn i{
        font-size: 20px;
        vertical-align: top;
    }


    /*--- top banner ---*/
    #topBanner{
        display: block;
        width: 100%;
        height: auto;
        margin: 50px auto;
    }

    /*------- tracking pixels ---------*/
    #trackingPixel_middle{
        position: fixed;
        top: 50%;
        left: 0;
        width: 1px;
        height: 1px;
        background-color: transparent;
    }
    #trackingPixel_bottom{
        position: fixed;
        top: 100%;
        left: 0;
        width: 1px;
        height: 1px;
        background-color: transparent;
    }
    #pageNameDiv{
        display: none !important;
    }

    /*------- WHAT WE DO dropdown --------*/
    #whatWeDo_dropdown{
        position: fixed;
        top: 30px;
        left: 200px;
        z-index: 1000;
        display: none;
        background-color: #1a1a1a;
        opacity: 0;
        padding: 20px;
    }
    #whatWeDo_dropdown a{
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        text-transform: capitalize;
    }
    #whatWeDo_dropdown a:hover{
        cursor: pointer;
        color: #EB5C4E;
        transition: 0.3s;
    }


    /*------- TECHNOLOGY dropdown --------*/
    #technology_dropdown{
        position: fixed;
        width: 170px;
        top: 30px;
        left: 500px;
        z-index: 1000;
        display: none;
        background-color: #1a1a1a;
        opacity: 0;
        padding: 20px;
    }
    #technology_dropdown a{
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        text-transform: capitalize;
    }
    #technology_dropdown a:hover{
        cursor: pointer;
        color: #EB5C4E;
        transition: 0.3s;
    }

}


