
.icon-dropbox:before { content: '\e800'; } /* '' */
.icon-quote-right-alt:before { content: '\e801'; } /* '' */
.icon-quote-left-alt:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-paper-plane-1:before { content: '\e804'; } /* '' */
.icon-chat-alt:before { content: '\e805'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */