@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headset:before {
  content: "\64";
}
.icon-paper-plane:before {
  content: "\65";
}
.icon-slim-right:before {
  content: "\62";
}
.icon-download:before {
  content: "\66";
}
.icon-hipster:before {
  content: "\67";
}
.icon-mother:before {
  content: "\68";
}
.icon-network:before {
  content: "\69";
}
.icon-open-box:before {
  content: "\6a";
}
.icon-plus:before {
  content: "\6b";
}
.icon-redo-arrow:before {
  content: "\6c";
}
.icon-team:before {
  content: "\6d";
}
.icon-chat:before {
  content: "\61";
}
.icon-chat-1:before {
  content: "\63";
}
.icon-up-arrow:before {
  content: "\6e";
}
