@media screen and (min-width: 1400px) {

    /*=========== top content of the page =========*/
    #contacts-page{
        width: 1100px;
        margin: 0 auto;
    }
    /*--- top left ---*/
    #contacts-page-top-L{
        display: inline-block;
        width: 200px;
        vertical-align: top;
    }
    #contacts-page-diagonal-tit{
        font-size: 48px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin-top: 40px;
    }
    #contacts-page-diagonal{
        margin-top: -150px;
        margin-left: -45px;
        width: 390px;
        height: 220px;
        border-bottom: 3px solid #EB5C4E;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }
    /*--- top right ---*/
    #contacts-page-top-R{
        width: 1100px;
        margin-top: -50px;
    }
    /*_left_*/
    #contacts-page-top-R-L{
        width: 500px;
        display: inline-block;
        vertical-align: top;
    }
    #contacts-page-top-R-L li{
        margin: 20px 0;
    }
    .contacts-page-sub-text{

    }
    .contacts-page-sub-tit1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 500;
        text-align: right;
    }
    .contacts-page-sub-tit2{
        color: grey;
        font-size: 26px;
        font-weight: 300;
        text-align: right;
    }
    .contacts-page-sub-text{
        text-align: justify;
        font-size: 17px;
        font-weight: 300;
        color: grey;
    }
    /*_right_*/
    #contacts-page-top-R-R{
        width: 500px;
        margin-left: 95px;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
    }
    #contacts-page-top-R-R li{
        margin: 18px 0;
    }
    .contacts_icons{
        display: inline-block;
        color: #EB5C4E;
        font-size: 45px;
    }
    .contacts-page-top-icons{
        display: inline-block;
        vertical-align: super;
    }
    .contacts-page-top-exp{
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
    }
    .contacts-page-top-exp1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 500;
    }
    .contacts-page-top-exp2{
        color: grey;
        font-size: 18px;
        font-weight: 200;
    }
    #contacts-page-top-R-R li:hover .contacts-page-top-exp1{
        color: #7a7a7a;
    }
    #contacts-page-top-R-R li:hover .contacts_icons{
        color: #3a3a3a;
    }
    #contacts-page-top-R-R li:hover .contacts-page-top-exp2{
        color: #3a3a3a;
    }
    .contacts_icons_div{
        display: inline-block;
        vertical-align: top;
        margin-top: 11px;
        margin-left: 10px;
    }
    .contacts-page-top-exp-soc{
        vertical-align: top;
        padding-top: 10px;
    }
    .contacts-page-top-exp-soc a{
        margin: 0 18px 0 0 !important;
    }
    #contacts-page-sub-text-texts{
        margin-top: 30px!important;
    }
    /*============== offices list ===============*/
    /*- big ul -*/
    #contacts-page-office-list{
        width: 1100px;
        margin: 50px auto 0 auto;
    }
    #contacts-page-office-list li{
        margin-bottom: 25px;
    }
    .contacts-page-office-list-titles{
        font-size: 48px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin: 10px 0;
    }
    /*- internal uls -*/
    #contacts-page-office-list{

    }
    .offices-list{

    }
    .offices-list-li{
        width: 500px;
        display: inline-block;
        vertical-align: top;
    }
    .offices-list-li:nth-child(odd){

    }
    .offices-list-li:nth-child(even){
        margin-left: 95px;
    }
    .offices-list-li a{
        text-decoration: none;
    }
    .offices-list-holder{
        width: 500px;
        overflow: hidden;
    }
    .offices-list-image{
        width: 500px;
        height: 220px;
        vertical-align: top;
        z-index: 10;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .offices-list-mask{
        position: relative;
        width: 500px;
        height: 220px;
        margin-top: -220px;
        vertical-align: top;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .offices-list-animation{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .offices-list-mask h3{
        font-size: 22px;
        color: #ffffff;
        margin: 0 0 20px 30px;
        padding-top: 30px;
    }
    .offices-list-texts-p{
        font-size: 16px; !important;
        color: #ffffff; !important;
        margin: 0 0 5px 30px;
    }

    /*============== page bottom white line ===============*/
    #contacts-page-bottom-line{
        position: relative;
        width: 100%;
        height: 100px;
        z-index: 100;
        background-color: #ffffff;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    /*=========== top content of the page =========*/
    #contacts-page{
        width: 1100px;
        margin: 0 auto;
    }
    /*--- top left ---*/
    #contacts-page-top-L{
        display: inline-block;
        width: 200px;
        vertical-align: top;
    }
    #contacts-page-diagonal-tit{
        font-size: 48px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin-top: 40px;
    }
    #contacts-page-diagonal{
        margin-top: -150px;
        margin-left: -45px;
        width: 390px;
        height: 220px;
        border-bottom: 3px solid #EB5C4E;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }
    /*--- top right ---*/
    #contacts-page-top-R{
        width: 1100px;
        margin-top: -50px;
    }
    /*_left_*/
    #contacts-page-top-R-L{
        width: 500px;
        display: inline-block;
        vertical-align: top;
    }
    #contacts-page-top-R-L li{
        margin: 20px 0;
    }
    .contacts-page-sub-text{

    }
    .contacts-page-sub-tit1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 500;
        text-align: right;
    }
    .contacts-page-sub-tit2{
        color: grey;
        font-size: 26px;
        font-weight: 300;
        text-align: right;
    }
    .contacts-page-sub-text{
        text-align: justify;
        font-size: 17px;
        font-weight: 300;
        color: grey;
    }
    /*_right_*/
    #contacts-page-top-R-R{
        width: 500px;
        margin-left: 95px;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
    }
    #contacts-page-top-R-R li{
        margin: 18px 0;
    }
    .contacts_icons{
        display: inline-block;
        color: #EB5C4E;
        font-size: 45px;
    }
    .contacts-page-top-icons{
        display: inline-block;
        vertical-align: super;
    }
    .contacts-page-top-exp{
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
    }
    .contacts-page-top-exp1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 500;
    }
    .contacts-page-top-exp2{
        color: grey;
        font-size: 18px;
        font-weight: 200;
    }
    #contacts-page-top-R-R li:hover .contacts-page-top-exp1{
        color: #7a7a7a;
    }
    #contacts-page-top-R-R li:hover .contacts_icons{
        color: #3a3a3a;
    }
    #contacts-page-top-R-R li:hover .contacts-page-top-exp2{
        color: #3a3a3a;
    }
    .contacts_icons_div{
        display: inline-block;
        vertical-align: top;
        margin-top: 11px;
        margin-left: 10px;
    }
    .contacts-page-top-exp-soc{
        vertical-align: top;
        padding-top: 10px;
    }
    .contacts-page-top-exp-soc a{
        margin: 0 18px 0 0 !important;
    }
    #contacts-page-sub-text-texts{
        margin-top: 30px!important;
    }
    /*============== offices list ===============*/
    /*- big ul -*/
    #contacts-page-office-list{
        width: 1100px;
        margin: 50px auto 0 auto;
    }
    #contacts-page-office-list li{
        margin-bottom: 25px;
    }
    .contacts-page-office-list-titles{
        font-size: 48px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin: 10px 0;
    }
    /*- internal uls -*/
    #contacts-page-office-list{

    }
    .offices-list{

    }
    .offices-list-li{
        width: 500px;
        display: inline-block;
        vertical-align: top;
    }
    .offices-list-li:nth-child(odd){

    }
    .offices-list-li:nth-child(even){
        margin-left: 95px;
    }
    .offices-list-li a{
        text-decoration: none;
    }
    .offices-list-holder{
        width: 500px;
        overflow: hidden;
    }
    .offices-list-image{
        width: 500px;
        height: 220px;
        vertical-align: top;
        z-index: 10;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .offices-list-mask{
        position: relative;
        width: 500px;
        height: 220px;
        margin-top: -220px;
        vertical-align: top;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .offices-list-animation{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .offices-list-mask h3{
        font-size: 22px;
        color: #ffffff;
        margin: 0 0 20px 30px;
        padding-top: 30px;
    }
    .offices-list-texts-p{
        font-size: 16px; !important;
        color: #ffffff; !important;
        margin: 0 0 5px 30px;
    }

    /*============== page bottom white line ===============*/
    #contacts-page-bottom-line{
        position: relative;
        width: 100%;
        height: 100px;
        z-index: 100;
        background-color: #ffffff;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    /*=========== top content of the page =========*/
    #contacts-page{
        width: 95%;
        margin: 0 auto;
    }
    /*--- top left ---*/
    #contacts-page-top-L{
        display: inline-block;
        width: 200px;
        vertical-align: top;
    }
    #contacts-page-diagonal-tit{
        font-size: 48px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin-top: 40px;
    }
    #contacts-page-diagonal{
        margin-top: -150px;
        margin-left: -45px;
        width: 390px;
        height: 220px;
        border-bottom: 3px solid #EB5C4E;
        -ms-transform: skewY(143deg); /* IE 9 */
        -webkit-transform: skewY(143deg); /* Safari */
        transform: skewY(143deg);
    }
    /*--- top right ---*/
    #contacts-page-top-R{
        width: 100%;
        margin-top: -50px;
    }
    /*_left_*/
    #contacts-page-top-R-L{
        width: 450px;
        display: inline-block;
        vertical-align: top;
    }
    #contacts-page-top-R-L li{
        margin: 20px 0;
    }
    .contacts-page-sub-text{

    }
    .contacts-page-sub-tit1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 500;
        text-align: right;
    }
    .contacts-page-sub-tit2{
        color: grey;
        font-size: 26px;
        font-weight: 300;
        text-align: right;
    }
    .contacts-page-sub-text{
        text-align: justify;
        font-size: 17px;
        font-weight: 300;
        color: grey;
    }
    /*_right_*/
    #contacts-page-top-R-R{
        width: 450px;
        margin-left: 45px;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
    }
    #contacts-page-top-R-R li{
        margin: 18px 0;
    }
    .contacts_icons{
        display: inline-block;
        color: #EB5C4E;
        font-size: 45px;
    }
    .contacts-page-top-icons{
        display: inline-block;
        vertical-align: super;
    }
    .contacts-page-top-exp{
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
    }
    .contacts-page-top-exp1{
        color: #EB5C4E;
        font-size: 24px;
        font-weight: 500;
    }
    .contacts-page-top-exp2{
        color: grey;
        font-size: 18px;
        font-weight: 200;
    }
    #contacts-page-top-R-R li:hover .contacts-page-top-exp1{
        color: #7a7a7a;
    }
    #contacts-page-top-R-R li:hover .contacts_icons{
        color: #3a3a3a;
    }
    #contacts-page-top-R-R li:hover .contacts-page-top-exp2{
        color: #3a3a3a;
    }
    .contacts_icons_div{
        display: inline-block;
        vertical-align: top;
        margin-top: 11px;
        margin-left: 10px;
    }
    .contacts-page-top-exp-soc{
        vertical-align: top;
        padding-top: 10px;
    }
    .contacts-page-top-exp-soc a{
        margin: 0 18px 0 0 !important;
    }
    #contacts-page-sub-text-texts{
        margin-top: 30px!important;
    }
    /*============== offices list ===============*/
    /*- big ul -*/
    #contacts-page-office-list{
        width: 95%;
        margin: 50px auto 0 auto;
    }
    #contacts-page-office-list li{
        margin-bottom: 25px;
    }
    .contacts-page-office-list-titles{
        font-size: 42px;
        text-align: left;
        font-weight: 100;
        color: #A3A3A3;
        margin: 10px 0;
    }
    /*- internal uls -*/
    #contacts-page-office-list{

    }
    .offices-list{

    }
    .offices-list-li{
        width: 430px;
        display: inline-block;
        vertical-align: top;
    }
    .offices-list-li:nth-child(odd){

    }
    .offices-list-li:nth-child(even){
        margin-left: 95px;
    }
    .offices-list-li a{
        text-decoration: none;
    }
    .offices-list-holder{
        width: 420px;
        overflow: hidden;
    }
    .offices-list-image{
        width: 420px;
        height: 200px;
        vertical-align: top;
        z-index: 10;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .offices-list-mask{
        position: relative;
        width: 420px;
        height: 200px;
        margin-top: -220px;
        vertical-align: top;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .offices-list-animation{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .offices-list-mask h3{
        font-size: 22px;
        color: #ffffff;
        margin: 0 0 20px 30px;
        padding-top: 30px;
    }
    .offices-list-texts-p{
        font-size: 16px; !important;
        color: #ffffff; !important;
        margin: 0 0 5px 30px;
    }

    /*============== page bottom white line ===============*/
    #contacts-page-bottom-line{
        position: relative;
        width: 100%;
        height: 100px;
        z-index: 100;
        background-color: #ffffff;
    }
}