@media screen and (min-width: 1400px) {
    #facts-main-container{
        width: 1100px;
        margin: 10px auto 100px auto;
        /*display: flex;*/
    }
    #facts-main-container-why_onboard{
        width: 1100px;
        margin: 10px auto 50px auto;
    }
    /*======== Partnership Advantages ========*/
    /*--- left main container ---*/
    #facts-L{
        width: 650px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: inline-block;
    }
    #facts-L p{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }
    #facts-L li{
        display: inline-block;
        margin-left: 22px;
    }
    #facts-L li:nth-child(1){
        margin-left: 0 !important;
    }
    #facts-L li:nth-child(4){
        margin-left: 0 !important;
    }
    #facts-L img{
        width: 198px;
    }
    /*--- right main container ---*/
    #facts-R{
        width: 375px;
        display: inline-block;
        float: right;
        vertical-align: top;
        margin-top: 30px;
    }
    #facts-R li{
        margin-bottom: 30px;
        color: #a1a1a1;
    }
    .facts-R-list-triangle-inline{
        display: inline-block;
        margin-top: 8px;
        margin-right: 6px;
        vertical-align: top;
    }
    .list-triangle{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
    }
    #facts-R p{
        width: 330px;
        text-align: justify;
        display: inline-block;
        vertical-align: top;
    }
    #facts-R span{
        font-weight: 500;
        color: #1a1a1a;
    }


    /*====== WHY ONBOARD =======*/
    /*- row 1 -*/
    #facts-why1{
        width: 1100px;
        margin-top: 40px;
    }
    #facts-why1 img{
        width: 640px;
    }
    #facts-why1 ul{
        width: 370px;
        float: right;
    }
    #facts-why1 li{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }

    /*- row 2 -*/
    #facts-why2{
        width: 1100px;
        margin-top: 40px;
    }
    .facts-R-list-triangle-inline{
        display: inline-block;
        margin-top: 8px;
        margin-right: 9px;
        vertical-align: top;
    }
    .list-triangle{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
    }
    #facts-why2_1{
        width: 1100px;
        float: left;
        margin: 60px 0 30px 0;
        vertical-align: top;
    }
    .facts-why2 th{
        width: 500px;
        margin-bottom: 20px;
        padding: 15px 0;
    }
    .facts-why2 p{
        width: 330px;
        text-align: justify;
        display: inline-block;
        vertical-align: top;
        font-size: 17px;
        font-weight: 300;
        color: #a1a1a1;
    }
    .facts-why2 span{
        font-weight: 500;
        color: #1a1a1a;
        font-size: 17px;
    }

    /*- row 3 -*/
    #facts-why3{
        width: 1100px;
        margin-top: 40px;
        display: inline-table;
    }
    #facts-why3 img{
        width: 640px;
        float: right;
    }
    #facts-why3 ul{
        width: 370px;
        float: left;
    }
    #facts-why3 li{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }
    /*========== COMMUNITY ===========*/
    #facts-community-ul{
        display: inline-block;
        float: left;
        margin: 30px 0 70px 0;
        width: 640px;
        vertical-align: top;
    }
    #facts-community-ul li{
        margin-bottom: 50px;
        font-size: 17px;
        color: #a1a1a1;
    }
    #facts-community-img{
        display: inline-block;
        float: right;
        margin: 30px 0 0 0;
        width: 403px;
        height: 393px;
        vertical-align: top;
    }
    .facts-community-ul-links{
        margin-bottom: 15px !important;
    }
    .facts-community-ul-links a{
        display: inline-block;
        text-decoration: none;
        font-size: 17px;
        color: #a1a1a1;
    }
    .facts-community-ul-links i{
        display: inline-block;
        font-size: 15px;
        margin-left: 16px;
        color: #EB5C4E;
    }
    .facts-community-ul-links a:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .facts-community-ul-links a:hover i{
        color: #a1a1a1;
    }

    /*======= data-privacy =========*/
    .facts-data{

    }
    p[class$="facts-data"]{
        color: #a1a1a1;
        font-size: 17px;
        margin-bottom: 20px;
        text-align: justify;
    }
    a[class$="facts-data"]{
        margin-bottom: 20px;
        display: block;
        text-decoration: none;
        font-size: 17px;
        color: #a1a1a1;
    }
    a[class$="facts-data"]:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    a[class$="facts-data"] i{
        font-size: 15px;
        margin-left: 16px;
        color: #EB5C4E;
    }
    a[class$="facts-data"]:hover i{
        color: #a1a1a1;
    }
    p[class$="facts-data"] span{
        color: #EB5C4E;
    }
    h2[class$="facts-data"]{
        color: #EB5C4E;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    ul[class$="facts-data"]{
        margin-bottom: 28px;
    }
    ul[class$="facts-data"] li{
        margin-bottom: 20px;
    }
    ul[class$="facts-data"] div{
        display: inline-block;
        vertical-align: top;
        margin-top: 9px;
    }
    ul[class$="facts-data"] p{
        display: inline-block;
        width: 1000px;
        margin-left: 16px;
        vertical-align: top;
        font-size: 17px;
        color: #a1a1a1;
    }
    p[class$="facts-data"]:first-of-type{
        margin-top: 40px;
    }
    p[class$="facts-data"]:last-of-type{
        margin-bottom: 90px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    #facts-main-container{
        width: 1100px;
        margin: 10px auto 100px auto;
        /*display: flex;*/
    }
    #facts-main-container-why_onboard{
        width: 1100px;
        margin: 10px auto 50px auto;
    }
    /*======== Partnership Advantages ========*/
    /*--- left main container ---*/
    #facts-L{
        width: 650px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: inline-block;
    }
    #facts-L p{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }
    #facts-L li{
        display: inline-block;
        margin-left: 22px;
    }
    #facts-L li:nth-child(1){
        margin-left: 0 !important;
    }
    #facts-L li:nth-child(4){
        margin-left: 0 !important;
    }
    #facts-L img{
        width: 198px;
    }
    /*--- right main container ---*/
    #facts-R{
        width: 375px;
        display: inline-block;
        float: right;
        vertical-align: top;
        margin-top: 30px;
    }
    #facts-R li{
        margin-bottom: 30px;
        color: #a1a1a1;
    }
    .facts-R-list-triangle-inline{
        display: inline-block;
        margin-top: 8px;
        margin-right: 6px;
        vertical-align: top;
    }
    .list-triangle{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
    }
    #facts-R p{
        width: 330px;
        text-align: justify;
        display: inline-block;
        vertical-align: top;
    }
    #facts-R span{
        font-weight: 500;
        color: #1a1a1a;
    }


    /*====== WHY ONBOARD =======*/
    /*- row 1 -*/
    #facts-why1{
        width: 1100px;
        margin-top: 40px;
    }
    #facts-why1 img{
        width: 640px;
    }
    #facts-why1 ul{
        width: 370px;
        float: right;
    }
    #facts-why1 li{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }

    /*- row 2 -*/
    #facts-why2{
        width: 1100px;
        margin-top: 40px;
    }
    .facts-R-list-triangle-inline{
        display: inline-block;
        margin-top: 8px;
        margin-right: 9px;
        vertical-align: top;
    }
    .list-triangle{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
    }
    #facts-why2_1{
        width: 1100px;
        float: left;
        margin: 60px 0 30px 0;
        vertical-align: top;
    }
    .facts-why2 th{
        width: 500px;
        margin-bottom: 20px;
        padding: 15px 0;
    }
    .facts-why2 p{
        width: 330px;
        text-align: justify;
        display: inline-block;
        vertical-align: top;
        font-size: 17px;
        font-weight: 300;
        color: #a1a1a1;
    }
    .facts-why2 span{
        font-weight: 500;
        color: #1a1a1a;
        font-size: 17px;
    }

    /*- row 3 -*/
    #facts-why3{
        width: 1100px;
        margin-top: 40px;
        display: inline-table;
    }
    #facts-why3 img{
        width: 640px;
        float: right;
    }
    #facts-why3 ul{
        width: 370px;
        float: left;
    }
    #facts-why3 li{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }
    /*========== COMMUNITY ===========*/
    #facts-community-ul{
        display: inline-block;
        float: left;
        margin: 30px 0 70px 0;
        width: 640px;
        vertical-align: top;
    }
    #facts-community-ul li{
        margin-bottom: 50px;
        font-size: 17px;
        color: #a1a1a1;
    }
    #facts-community-img{
        display: inline-block;
        float: right;
        margin: 30px 0 0 0;
        width: 403px;
        height: 393px;
        vertical-align: top;
    }
    .facts-community-ul-links{
        margin-bottom: 15px !important;
    }
    .facts-community-ul-links a{
        display: inline-block;
        text-decoration: none;
        font-size: 17px;
        color: #a1a1a1;
    }
    .facts-community-ul-links i{
        display: inline-block;
        font-size: 15px;
        margin-left: 16px;
        color: #EB5C4E;
    }
    .facts-community-ul-links a:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .facts-community-ul-links a:hover i{
        color: #a1a1a1;
    }

    /*======= data-privacy =========*/
    .facts-data{

    }
    p[class$="facts-data"]{
        color: #a1a1a1;
        font-size: 17px;
        margin-bottom: 20px;
        text-align: justify;
    }
    a[class$="facts-data"]{
        margin-bottom: 20px;
        display: block;
        text-decoration: none;
        font-size: 17px;
        color: #a1a1a1;
    }
    a[class$="facts-data"]:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    a[class$="facts-data"] i{
        font-size: 15px;
        margin-left: 16px;
        color: #EB5C4E;
    }
    a[class$="facts-data"]:hover i{
        color: #a1a1a1;
    }
    p[class$="facts-data"] span{
        color: #EB5C4E;
    }
    h2[class$="facts-data"]{
        color: #EB5C4E;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    ul[class$="facts-data"]{
        margin-bottom: 28px;
    }
    ul[class$="facts-data"] li{
        margin-bottom: 20px;
    }
    ul[class$="facts-data"] div{
        display: inline-block;
        vertical-align: top;
        margin-top: 9px;
    }
    ul[class$="facts-data"] p{
        display: inline-block;
        width: 1000px;
        margin-left: 16px;
        vertical-align: top;
        font-size: 17px;
        color: #a1a1a1;
    }
    p[class$="facts-data"]:first-of-type{
        margin-top: 40px;
    }
    p[class$="facts-data"]:last-of-type{
        margin-bottom: 90px;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    #facts-main-container{
        width: 95%;
        margin: 10px auto 100px auto;
        /*display: flex;*/
    }
    #facts-main-container-why_onboard{
        width: 95%;
        margin: 10px auto 50px auto;
    }

    /*======== Partnership Advantages ========*/
    /*--- left main container ---*/
    #facts-L{
        width: 100%;
        margin: 30px auto;
        display: block;
    }
    #facts-L p{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }
    #facts-L li{
        display: inline-block;
        margin-left: 92px;
    }
    #facts-L img{
        width: 198px;
    }
    /*--- right main container ---*/
    #facts-R{
        width: 100%;
        display: block;
        margin: 30px auto 0;
    }
    #facts-R li{
        margin-bottom: 30px;
        color: #a1a1a1;
        display: inline-block;
        margin-left: 76px;
    }
    .facts-R-list-triangle-inline{
        display: inline-block;
        margin-top: 8px;
        margin-right: 6px;
        vertical-align: top;
    }
    .list-triangle{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
    }
    #facts-R p{
        width: 330px;
        text-align: justify;
        display: inline-block;
        vertical-align: top;
    }
    #facts-R span{
        font-weight: 500;
        color: #1a1a1a;
    }


    /*====== WHY ONBOARD =======*/
    /*- row 1 -*/
    #facts-why1{
        width: 100%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    #facts-why1 img{
        width: 590px;
        margin-right: 10px;
    }
    #facts-why1 ul{
        width: 370px;
        float: right;
    }
    #facts-why1 li{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }

    /*- row 2 -*/
    #facts-why2{
        width: 95%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .facts-R-list-triangle-inline{
        display: inline-block;
        margin-top: 8px;
        margin-right: 9px;
        vertical-align: top;
    }
    .list-triangle{
        width: 0;
        height: 0;
        border-top: 15px solid #EB5C4E;
        border-right: 25px solid transparent;
    }
    #facts-why2_1{
        width: 100%;
        float: left;
        margin: 20px 0 20px 0;
        vertical-align: top;
    }
    .facts-why2 th{
        width: 500px;
        margin-bottom: 20px;
        padding: 15px 0;
    }
    .facts-why2 p{
        width: 330px;
        text-align: justify;
        display: inline-block;
        vertical-align: top;
        font-size: 17px;
        font-weight: 300;
        color: #a1a1a1;
    }
    .facts-why2 span{
        font-weight: 500;
        color: #1a1a1a;
        font-size: 17px;
    }

    /*- row 3 -*/
    #facts-why3{
        width: 100%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: inline-table;
    }
    #facts-why3 img{
        width: 590px;
        float: right;
        margin-left: 10px;
    }
    #facts-why3 ul{
        width: 370px;
        float: left;
    }
    #facts-why3 li{
        margin-bottom: 38px;
        text-align: justify;
        font-size: 17px;
        color: #a1a1a1;
    }
    /*========== COMMUNITY ===========*/
    #facts-community-ul{
        display: inline-block;
        float: left;
        margin: 30px 0 70px 0;
        width: 550px;
        vertical-align: top;
        text-align: justify;
    }
    #facts-community-ul li{
        margin-bottom: 50px;
        font-size: 17px;
        color: #a1a1a1;
    }
    #facts-community-img{
        display: inline-block;
        float: right;
        margin: 30px 0 0 0;
        width: 403px;
        height: 393px;
        vertical-align: top;
    }
    .facts-community-ul-links{
        margin-bottom: 15px !important;
    }
    .facts-community-ul-links a{
        display: inline-block;
        text-decoration: none;
        font-size: 17px;
        color: #a1a1a1;
    }
    .facts-community-ul-links i{
        display: inline-block;
        font-size: 15px;
        margin-left: 16px;
        color: #EB5C4E;
    }
    .facts-community-ul-links a:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .facts-community-ul-links a:hover i{
        color: #a1a1a1;
    }

    /*======= data-privacy =========*/
    .facts-data{

    }
    p[class$="facts-data"]{
        color: #a1a1a1;
        font-size: 17px;
        margin-bottom: 20px;
        text-align: justify;
    }
    a[class$="facts-data"]{
        margin-bottom: 20px;
        display: block;
        text-decoration: none;
        font-size: 17px;
        color: #a1a1a1;
    }
    a[class$="facts-data"]:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    a[class$="facts-data"] i{
        font-size: 15px;
        margin-left: 16px;
        color: #EB5C4E;
    }
    a[class$="facts-data"]:hover i{
        color: #a1a1a1;
    }
    p[class$="facts-data"] span{
        color: #EB5C4E;
    }
    h2[class$="facts-data"]{
        color: #EB5C4E;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    ul[class$="facts-data"]{
        margin-bottom: 28px;
    }
    ul[class$="facts-data"] li{
        margin-bottom: 20px;
    }
    ul[class$="facts-data"] div{
        display: inline-block;
        vertical-align: top;
        margin-top: 9px;
    }
    ul[class$="facts-data"] p{
        display: inline-block;
        width: 1000px;
        margin-left: 16px;
        vertical-align: top;
        font-size: 17px;
        color: #a1a1a1;
    }
    p[class$="facts-data"]:first-of-type{
        margin-top: 40px;
    }
    p[class$="facts-data"]:last-of-type{
        margin-bottom: 90px;
    }
}