@media screen and (min-width: 1400px) {
    /*_____________________*/
    /*--- category menu ---*/
    /*=====================*/
    #allPostCategories{
        width: 1060px;
        text-align: center;
        margin: 30px auto;
    }
    .categories-item{
        display: inline-block;
        margin: 0 0 20px 0;
    }
    .categories-item-active{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
    }
    .categories-item a{
        display: block;
        width: 72px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3c4246;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        padding: 10px 15px;
    }
    .categories-item a:hover{
        color: #fff;
        background-color: #EB5C4E;
        cursor: pointer;
    }

    /*____________________________________*/
    /*--- left part of main container ---*/
    /*==================================*/
    #blog-mainContainer{
        width: 1100px;
        margin: 60px auto 70px auto;
        height: auto;
    }
    #blog-mainContainer-left{
        width: 630px;
        display: inline-block;
    }
    #blog-mainContainer-left ol{
        list-style-type: decimal;
        list-style-position: inside;
    }
    #blog-mainContainer-left ul{
        list-style-position: inside;
    }
    #blog-mainContainer-left>ul>li:before{
        content: "•";
        font-size: 12pt;
        color: rgb(112, 112, 112);
        margin-right: 8px;
    }
    #blog-mainContainer-left li{
        font-size: 17px;
        color: #737373;
        text-align: justify;
    }
    #blog-mainContainer-left a{
        text-decoration: none;
        color: #EB5C4E;
    }
    #blog-mainContainer-left p{
        margin: 25px 0;
        font-size: 17px;
        color: #737373;
        text-align: justify;
    }
    .single-page-of-blog{
        margin-bottom: 100px;
        /*border-left: 3px solid #ffffff;*/
    }
    .blog-title{
        font-size: 22px;
        color: #3c4246;
        text-decoration: none;
        margin: 15px 0;
        display: block;
    }
    .blog-title:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .blog-title h1{
        font-size: 22px;
    }
    .icon-calendar{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 22px;
        font-style: normal;
        margin-right: 10px;
        vertical-align: middle;
    }
    .blog-big_article_category{
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        background-color: #EB5C4E;
        padding: 2px 5px;
        width: 65px;
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .blog-big_article_date{
        display: inline-block;
        font-size: 13px;
        color: #909090;
        vertical-align: middle;
    }
    .work-description{
        margin-top: 20px;
        color: grey;
        font-size: 17px;
        text-align: justify;
        /*text-indent: 20px;*/
    }
    .blog-description-arrow{
        float: right;
    }
    .blog-description-arrow a{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 48px;
        margin-top: -15px;
        display: block;
    }
    .blog-description-arrow a:hover{
        color: grey;
        cursor: pointer;
    }


    /*________________________*/
    /*--- right container ---*/
    /*======================*/
    #blog-mainContainer-right{
        width: 400px;
        height: auto;
        vertical-align: top;
        display: inline-block;
        margin-left: 65px;
    }
    #blog-popular-publications{
        display: none;
        opacity: 0;
    }
    /*__ buttons __*/
    #blog-mainContainer-right-buttons{
        margin-bottom: 30px;
    }
    #blog-mainContainer-right-buttons li{
        display: inline-block;
        width: 150px;
        text-align: center;
        background-color: #3D4246;
        color: #ffffff;
        font-weight: 500;
        padding: 8px 0;
        font-size: 16px;
    }
    #blog-mainContainer-right-buttons li:hover{
        background-color: #EB5C4E;
        transition: 0.3s;
        cursor: pointer;
    }
    .blog-right-button-active{
        background-color: #EB5C4E !important;
    }
    #blog-right-button-resent{

    }
    #blog-right-button-popular{
        margin-left: 24px;
    }
    /*__ list with posts __*/
    .blog-right-postlist-element{
        display: block;
        text-decoration: none;
        margin: 0 0 40px 0;
    }
    .blog-right-postlist-thumbnail{
        display: inline-block;
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
    }
    .blog-right-postlist-thumbnail img{
        vertical-align: middle;
    }
    .blog-right-postlist-allTexts{
        display: inline-block;
        width: 235px;
        vertical-align: top;
        margin-left: 10px;
    }
    .blog-right-postlist-title{
        font-size: 17px;
        color: #3c4246;
        font-weight: 500;
        margin-bottom: 8px;
        text-decoration: none;
    }
    .blog-right-postlist-title:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .blog-right-postlist-text{
        font-size: 13px;
        color: #737373;
        text-align: justify;
        margin: 8px 0;
    }
    .blog-right-postlist-element  .blog-big_article_category{
        margin-right: 10px;
    }
    /*__ subscribe __*/
    #blog-mainContainer-right-subscribe{
        font-size: 45px;
        color: #909090;
        text-align: left;
        font-weight: 200;
        margin-top: 70px;
    }
    #blog-mainContainer-right-subscribe-input{
        width: 310px;
        height: 34px;
        display: inline-block;
        border: 2px solid lightgrey;
        padding-left: 2px;
        font-size: 18px;
        vertical-align: top;
    }
    #blog-mainContainer-right-subscribe-input:focus{
        border: 2px solid lightgrey;
        outline: none;
    }
    #blog-mainContainer-right-subscribe-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #3D4246;
        font-size: 18px;
        margin-left: 2px;
        font-weight: 200;
    }
    #blog-mainContainer-right-subscribe-input::-moz-placeholder { /* Firefox 19+ */
        color: #3D4246;
        font-size: 18px;
        padding-left: 8px;
        margin-left: 8px;
        text-align: left;
        text-indent: 10px;
        font-weight: 200;
    }
    #blog-mainContainer-right-subscribe-input:-ms-input-placeholder { /* IE 10+ */
        color: #3D4246;
    }
    #blog-mainContainer-right-subscribe-input:-moz-placeholder { /* Firefox 18- */
        color: #3D4246;
    }
    #blog-subscribe-paperplane{
        color: #ffffff;
        background-color: #EB5C4E;
        font-size: 28px;
        width: 56px;
        text-align: center;
        vertical-align: top;
        height: 36px;
        display: inline-block;
        margin-left: -5px;
        font-family: "untitled-font-2";
        border: 2px solid #EB5C4E;
    }
    #blog-subscribe-paperplane:hover{
        background-color: #ffffff;
        color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    /*_____________________*/
    /*---- pagination ----*/
    /*===================*/
    .pagination{

    }
    .pagination h2{
        display: none;
    }
    .page-numbers{
        border: 2px solid #EB5C4E;
        text-decoration: none;
        color: #3c4246 !important;
        margin: 0 6px;
        font-size: 18px;
        padding: 1px 6px;
        font-weight: 700;
    }
    .current{
        color: #fff !important;
        background-color: #EB5C4E !important;
    }
    .page-numbers:hover{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    .prev, .next{
        font-size: 18px;
        font-weight: 700;
        color: #3c4246 !important;
        border: none;
    }
    .prev{
        float: left;
        margin: 0;
        padding: 0;
    }
    .prev:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .next{
        float: right;
        margin: 0;
        padding: 0;
    }
    .next:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .dots{
        border: none;
    }
    .dots:hover{
        background-color: #ffffff !important;
        color: #3c4246 !important;
        cursor: default;
    }
    .blog_hr{
        width: 630px;
        border: 0;
        height: 1px;
        margin: 26px 0;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){

    /*_____________________*/
    /*--- category menu ---*/
    /*=====================*/
    #allPostCategories{
        width: 1060px;
        text-align: center;
        margin: 30px auto;
    }
    .categories-item{
        display: inline-block;
        margin: 0 0 20px 0;
    }
    .categories-item-active{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
    }
    .categories-item a{
        display: block;
        width: 72px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3c4246;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        padding: 10px 15px;
    }
    .categories-item a:hover{
        color: #fff;
        background-color: #EB5C4E;
        cursor: pointer;
    }

    /*____________________________________*/
    /*--- left part of main container ---*/
    /*==================================*/
    #blog-mainContainer{
        width: 1100px;
        margin: 60px auto 70px auto;
        height: auto;
    }
    #blog-mainContainer-left{
        width: 630px;
        display: inline-block;
    }
    #blog-mainContainer-left ol{
        list-style-type: decimal;
        list-style-position: inside;
    }
    #blog-mainContainer-left ul{
        list-style-position: inside;
    }
    #blog-mainContainer-left>ul>li:before{
        content: "•";
        font-size: 12pt;
        color: rgb(112, 112, 112);
        margin-right: 8px;
    }
    #blog-mainContainer-left li{
        font-size: 17px;
        color: #737373;
        text-align: justify;
    }
    #blog-mainContainer-left a{
        text-decoration: none;
        color: #EB5C4E;
    }
    #blog-mainContainer-left p{
        margin: 25px 0;
        font-size: 17px;
        color: #737373;
        text-align: justify;
    }
    .single-page-of-blog{
        margin-bottom: 100px;
        /*border-left: 3px solid #ffffff;*/
    }
    .blog-title{
        color: #3c4246;
        text-decoration: none;
        margin: 15px 0;
        display: block;
    }
    .blog-title:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .blog-title h1{
        font-size: 22px;
    }
    .icon-calendar{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 22px;
        font-style: normal;
        margin-right: 10px;
        vertical-align: middle;
    }
    .blog-big_article_category{
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        background-color: #EB5C4E;
        padding: 2px 5px;
        width: 65px;
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .blog-big_article_date{
        display: inline-block;
        font-size: 13px;
        color: #909090;
        vertical-align: middle;
    }
    .work-description{
        margin-top: 20px;
        color: grey;
        font-size: 17px;
        text-align: justify;
        /*text-indent: 20px;*/
    }
    .blog-description-arrow{
        float: right;
    }
    .blog-description-arrow a{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 48px;
        margin-top: -15px;
        display: block;
    }
    .blog-description-arrow a:hover{
        color: grey;
        cursor: pointer;
    }


    /*________________________*/
    /*--- right container ---*/
    /*======================*/
    #blog-mainContainer-right{
        width: 400px;
        height: auto;
        vertical-align: top;
        display: inline-block;
        margin-left: 65px;
    }
    #blog-popular-publications{
        display: none;
        opacity: 0;
    }
    /*__ buttons __*/
    #blog-mainContainer-right-buttons{
        margin-bottom: 30px;
    }
    #blog-mainContainer-right-buttons li{
        display: inline-block;
        width: 150px;
        text-align: center;
        background-color: #3D4246;
        color: #ffffff;
        font-weight: 500;
        padding: 8px 0;
        font-size: 16px;
    }
    #blog-mainContainer-right-buttons li:hover{
        background-color: #EB5C4E;
        transition: 0.3s;
        cursor: pointer;
    }
    .blog-right-button-active{
        background-color: #EB5C4E !important;
    }
    #blog-right-button-resent{

    }
    #blog-right-button-popular{
        margin-left: 24px;
    }
    /*__ list with posts __*/
    .blog-right-postlist-element{
        display: block;
        text-decoration: none;
        margin: 0 0 40px 0;
    }
    .blog-right-postlist-thumbnail{
        display: inline-block;
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
    }
    .blog-right-postlist-thumbnail img{
        vertical-align: middle;
    }
    .blog-right-postlist-allTexts{
        display: inline-block;
        width: 235px;
        vertical-align: top;
        margin-left: 10px;
    }
    .blog-right-postlist-title{
        font-size: 17px;
        color: #3c4246;
        font-weight: 500;
        margin-bottom: 8px;
        text-decoration: none;
    }
    .blog-right-postlist-title:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .blog-right-postlist-text{
        font-size: 13px;
        color: #737373;
        text-align: justify;
        margin: 8px 0;
    }
    .blog-right-postlist-element  .blog-big_article_category{
        margin-right: 10px;
    }
    /*__ subscribe __*/
    #blog-mainContainer-right-subscribe{
        font-size: 45px;
        color: #909090;
        text-align: left;
        font-weight: 200;
        margin-top: 70px;
    }
    #blog-mainContainer-right-subscribe-input{
        width: 310px;
        height: 34px;
        display: inline-block;
        border: 2px solid lightgrey;
        vertical-align: middle;
        padding-left: 2px;
        font-size: 18px;
    }
    #blog-mainContainer-right-subscribe-input:focus{
        border: 2px solid lightgrey;
        outline: none;
    }
    #blog-mainContainer-right-subscribe-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #3D4246;
        font-size: 18px;
        margin-left: 2px;
        font-weight: 200;
    }
    #blog-mainContainer-right-subscribe-input::-moz-placeholder { /* Firefox 19+ */
        color: #3D4246;
        font-size: 18px;
        padding-left: 8px;
        margin-left: 8px;
        text-align: left;
        text-indent: 10px;
        font-weight: 200;
    }
    #blog-mainContainer-right-subscribe-input:-ms-input-placeholder { /* IE 10+ */
        color: #3D4246;
    }
    #blog-mainContainer-right-subscribe-input:-moz-placeholder { /* Firefox 18- */
        color: #3D4246;
    }
    #blog-subscribe-paperplane{
        color: #ffffff;
        background-color: #EB5C4E;
        font-size: 28px;
        width: 56px;
        text-align: center;
        vertical-align: top;
        height: 36px;
        display: inline-block;
        margin-left: -5px;
        font-family: "untitled-font-2";
        border: 2px solid #EB5C4E;
    }
    #blog-subscribe-paperplane:hover{
        background-color: #ffffff;
        color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    /*_____________________*/
    /*---- pagination ----*/
    /*===================*/
    .pagination{

    }
    .pagination h2{
        display: none;
    }
    .page-numbers{
        border: 2px solid #EB5C4E;
        text-decoration: none;
        color: #3c4246 !important;
        margin: 0 6px;
        font-size: 18px;
        padding: 1px 6px;
        font-weight: 700;
    }
    .current{
        color: #fff !important;
        background-color: #EB5C4E !important;
    }
    .page-numbers:hover{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }

    .prev, .next{
        font-size: 18px;
        font-weight: 700;
        color: #3c4246 !important;
        border: none;
    }
    .prev{
        float: left;
        margin: 0;
        padding: 0;
    }
    .prev:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .next{
        float: right;
        margin: 0;
        padding: 0;
    }
    .next:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .dots{
        border: none;
    }
    .dots:hover{
        background-color: #ffffff !important;
        color: #3c4246 !important;
        cursor: default;
    }
    .blog_hr{
        width: 630px;
        border: 0;
        height: 1px;
        margin: 26px 0;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    /*_____________________*/
    /*--- category menu ---*/
    /*=====================*/
    #allPostCategories{
        width: 95%;
        text-align: center;
        margin: 30px auto;
    }
    .categories-item{
        display: inline-block;
        margin: 0 0 20px 0;
    }
    .categories-item-active{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
    }
    .categories-item a{
        display: block;
        width: 72px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3c4246;
        font-weight: 500;
        font-size: 15px;
        margin: 9px 0;
        padding: 10px 15px;
    }
    .categories-item a:hover{
        color: #fff;
        background-color: #EB5C4E;
        cursor: pointer;
    }

    /*____________________________________*/
    /*--- left part of main container ---*/
    /*==================================*/
    #blog-mainContainer{
        width: 95%;
        margin: 60px auto 70px auto;
        height: auto;
    }
    #blog-mainContainer-left{
        width: 550px;
        display: inline-block;
    }
    #blog-mainContainer-left ol{
        list-style-type: decimal;
        list-style-position: inside;
    }
    #blog-mainContainer-left ul{
        list-style-position: inside;
    }
    #blog-mainContainer-left>ul>li:before{
        content: "•";
        font-size: 12pt;
        color: rgb(112, 112, 112);
        margin-right: 8px;
    }
    #blog-mainContainer-left li{
        font-size: 17px;
        color: #737373;
        text-align: justify;
    }
    #blog-mainContainer-left a{
        text-decoration: none;
        color: #EB5C4E;
    }
    #blog-mainContainer-left p{
        margin: 25px 0;
        font-size: 17px;
        color: #737373;
        text-align: justify;
    }
    .single-page-of-blog{
        margin-bottom: 100px;
        /*border-left: 3px solid #ffffff;*/
    }
    .blog-title{
        font-size: 22px;
        color: #3c4246;
        text-decoration: none;
        margin: 15px 0;
        display: block;
    }
    .blog-title:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .blog-title h1{
        font-size: 22px;
    }
    .icon-calendar{
        color: #EB5C4E;
        font-family: Fontello;
        font-size: 22px;
        font-style: normal;
        margin-right: 10px;
        vertical-align: middle;
    }
    .blog-big_article_category{
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        background-color: #EB5C4E;
        padding: 2px 5px;
        width: 65px;
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase;
    }
    .blog-big_article_date{
        display: inline-block;
        font-size: 13px;
        color: #909090;
        vertical-align: middle;
    }
    .work-description{
        margin-top: 20px;
        color: grey;
        font-size: 17px;
        text-align: justify;
        /*text-indent: 20px;*/
    }
    .blog-description-arrow{
        float: right;
    }
    .blog-description-arrow a{
        text-decoration: none;
        color: #EB5C4E;
        font-size: 48px;
        margin-top: -15px;
        display: block;
    }
    .blog-description-arrow a:hover{
        color: grey;
        cursor: pointer;
    }


    /*________________________*/
    /*--- right container ---*/
    /*======================*/
    #blog-mainContainer-right{
        width: 350px;
        height: auto;
        vertical-align: top;
        display: inline-block;
        margin-left: 65px;
    }
    #blog-popular-publications{
        display: none;
        opacity: 0;
    }
    /*__ buttons __*/
    #blog-mainContainer-right-buttons{
        margin-bottom: 30px;
    }
    #blog-mainContainer-right-buttons li{
        display: inline-block;
        width: 150px;
        text-align: center;
        background-color: #3D4246;
        color: #ffffff;
        font-weight: 500;
        padding: 8px 0;
        font-size: 16px;
    }
    #blog-mainContainer-right-buttons li:hover{
        background-color: #EB5C4E;
        transition: 0.3s;
        cursor: pointer;
    }
    .blog-right-button-active{
        background-color: #EB5C4E !important;
    }
    #blog-right-button-resent{

    }
    #blog-right-button-popular{
        margin-left: 24px;
    }
    /*__ list with posts __*/
    .blog-right-postlist-element{
        display: block;
        text-decoration: none;
        margin: 0 0 40px 0;
    }
    .blog-right-postlist-thumbnail{
        display: inline-block;
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
    }
    .blog-right-postlist-thumbnail img{
        vertical-align: middle;
    }
    .blog-right-postlist-allTexts{
        display: inline-block;
        width: 235px;
        vertical-align: top;
        margin-left: 10px;
    }
    .blog-right-postlist-title{
        font-size: 17px;
        color: #3c4246;
        font-weight: 500;
        margin-bottom: 8px;
        text-decoration: none;
    }
    .blog-right-postlist-title:hover{
        color: #EB5C4E;
        cursor: pointer;
    }
    .blog-right-postlist-text{
        font-size: 13px;
        color: #737373;
        text-align: justify;
        margin: 8px 0;
    }
    .blog-right-postlist-element  .blog-big_article_category{
        margin-right: 10px;
    }
    /*__ subscribe __*/
    #blog-mainContainer-right-subscribe{
        font-size: 45px;
        color: #909090;
        text-align: left;
        font-weight: 200;
        margin-top: 70px;
    }
    #blog-mainContainer-right-subscribe-input{
        width: 250px;
        height: 34px;
        display: inline-block;
        border: 2px solid lightgrey;
        vertical-align: middle;
        padding-left: 2px;
        font-size: 18px;
    }
    #blog-mainContainer-right-subscribe-input:focus{
        border: 2px solid lightgrey;
        outline: none;
    }
    #blog-mainContainer-right-subscribe-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #3D4246;
        font-size: 18px;
        margin-left: 2px;
        font-weight: 200;
    }
    #blog-mainContainer-right-subscribe-input::-moz-placeholder { /* Firefox 19+ */
        color: #3D4246;
        font-size: 18px;
        padding-left: 8px;
        margin-left: 8px;
        text-align: left;
        text-indent: 10px;
        font-weight: 200;
    }
    #blog-mainContainer-right-subscribe-input:-ms-input-placeholder { /* IE 10+ */
        color: #3D4246;
    }
    #blog-mainContainer-right-subscribe-input:-moz-placeholder { /* Firefox 18- */
        color: #3D4246;
    }
    #blog-subscribe-paperplane{
        color: #ffffff;
        background-color: #EB5C4E;
        font-size: 28px;
        width: 56px;
        text-align: center;
        vertical-align: top;
        height: 36px;
        display: inline-block;
        margin-left: -5px;
        font-family: "untitled-font-2";
        border: 2px solid #EB5C4E;
    }
    #blog-subscribe-paperplane:hover{
        background-color: #ffffff;
        color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }

    /*_____________________*/
    /*---- pagination ----*/
    /*===================*/
    .pagination{

    }
    .pagination h2{
        display: none;
    }
    .page-numbers{
        border: 2px solid #EB5C4E;
        text-decoration: none;
        color: #3c4246 !important;
        margin: 0 6px;
        font-size: 18px;
        padding: 1px 6px;
        font-weight: 700;
    }
    .current{
        color: #fff !important;
        background-color: #EB5C4E !important;
    }
    .page-numbers:hover{
        color: #fff !important;
        background-color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }

    .prev, .next{
        font-size: 18px;
        font-weight: 700;
        color: #3c4246 !important;
        border: none;
    }
    .prev{
        float: left;
        margin: 0;
        padding: 0;
    }
    .prev:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .next{
        float: right;
        margin: 0;
        padding: 0;
    }
    .next:hover{
        background-color: #ffffff;
        color: #EB5C4E !important;
        cursor: pointer;
    }
    .dots{
        border: none;
    }
    .dots:hover{
        background-color: #ffffff !important;
        color: #3c4246 !important;
        cursor: default;
    }
    .blog_hr{
        width: 630px;
        border: 0;
        height: 1px;
        margin: 26px 0;
        background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
    }
}
