@media screen and (min-width: 1400px) {
    #single-post-title{
        font-size: 28px;
        color: #3c4246;
        font-weight: 400;
    }
    #single-post-content{
        color: grey;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }
    #single-post-content img{
        display: block;
        width: auto;
        margin: 18px auto;
        text-align: center;
    }
    #single-post-content h1,h2,h3,h4,h5,h6{
        /*color: #EB5C4E;*/
        /*font-size: 20px;*/
        /*margin: 18px 0;*/
    }
    /*--- sharing buttons ---*/
    #sharing-buttons{
        width: 100%;
        position: relative;
        text-align: right;
        margin-top: 55px;
    }
    #sharing-buttons li{
        display: inline-block;
    }
    #sharing-buttons li:before{
        content: ""!important;
        margin: 0!important;
    }
    #sharing-buttons i{
        font-size: 35px;
        margin-left: 7px;
    }
    #sharing-buttons i:hover{
        color: grey !important;
    }
    #sharing-buttons i:visited{

    }
    /*--- tags ---*/
    #tagsList{
        margin: 0;
    }
    #tagsList ul{
        margin-left: 20px;
    }
    .tagsList-li{
        display: inline-block;
        border: 2px solid #EB5C4E;
        padding: 1px 6px;
        margin: 10px 3px 10px 0;
    }
    .tagsList-h3{
        font-size: 18px;
        font-weight: 300;
        color: #4b3b3b;
    }
    .tagsList-li:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
    }
    .tagsList-li:hover .tagsList-h3{
        color: #fff;
    }
    .tagsList-a{
        text-decoration: none;
        color: #1a1a1a;
    }
    .tagsList-a:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
    }
    #tagsList i{
        font-size: 28px;
        color: #EB5C4E;
        display: inline-block;
    }
    #tagsList p{
        font-size: 27px;
        color: #3c4246;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 25px 0;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    #single-post-title{
        font-size: 28px;
        color: #3c4246;
        font-weight: 400;
    }
    #single-post-content{
        color: grey;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }
    #single-post-content img{
        display: block;
        width: auto;
        margin: 18px auto;
        text-align: center;
    }
    #single-post-content h1,h2,h3,h4,h5,h6{
        /*color: #EB5C4E;*/
        /*font-size: 20px;*/
        /*margin: 18px 0;*/
    }
    /*--- sharing buttons ---*/
    #sharing-buttons{
        width: 100%;
        position: relative;
        text-align: right;
        margin-top: 55px;
    }
    #sharing-buttons li{
        display: inline-block;
    }
    #sharing-buttons li:before{
        content: ""!important;
        margin: 0!important;
    }
    #sharing-buttons i{
        font-size: 35px;
        margin-left: 7px;
    }
    #sharing-buttons i:hover{
        color: grey !important;
    }
    #sharing-buttons i:visited{

    }
    /*--- tags ---*/
    #tagsList{
        margin: 0;
    }
    #tagsList ul{
        margin-left: 20px;
    }
    .tagsList-li{
        display: inline-block;
        border: 2px solid #EB5C4E;
        padding: 1px 6px;
        margin: 10px 3px 10px 0;
    }
    .tagsList-h3{
        font-size: 18px;
        font-weight: 300;
        color: #4b3b3b;
    }
    .tagsList-li:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
    }
    .tagsList-li:hover .tagsList-h3{
        color: #fff;
    }
    .tagsList-a{
        text-decoration: none;
        color: #1a1a1a;
    }
    .tagsList-a:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
    }
    #tagsList i{
        font-size: 28px;
        color: #EB5C4E;
        display: inline-block;
    }
    #tagsList p{
        font-size: 27px;
        color: #3c4246;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 25px 0;
    }

}


@media screen and (min-width: 800px) and (max-width: 1200px){
    #single-post-title{
        font-size: 28px;
        color: #3c4246;
        font-weight: 400;
    }
    #single-post-content{
        color: grey;
        font-size: 17px;
        font-weight: 200;
        text-align: justify;
    }
    #single-post-content img{
        display: block;
        width: auto;
        margin: 18px auto;
        text-align: center;
    }
    #single-post-content h1,h2,h3,h4,h5,h6{
        /*color: #EB5C4E;*/
        /*font-size: 20px;*/
        /*margin: 18px 0;*/
    }
    /*--- sharing buttons ---*/
    #sharing-buttons{
        width: 100%;
        position: relative;
        text-align: right;
        margin-top: 55px;
    }
    #sharing-buttons li{
        display: inline-block;
    }
    #sharing-buttons li:before{
        content: ""!important;
        margin: 0!important;
    }
    #sharing-buttons i{
        font-size: 35px;
        margin-left: 7px;
    }
    #sharing-buttons i:hover{
        color: grey !important;
    }
    #sharing-buttons i:visited{

    }
    /*--- tags ---*/
    #tagsList{
        margin: 0;
    }
    #tagsList ul{
        margin-left: 20px;
    }
    .tagsList-li{
        display: inline-block;
        border: 2px solid #EB5C4E;
        padding: 1px 6px;
        margin: 10px 3px 10px 0;
    }
    .tagsList-h3{
        font-size: 18px;
        font-weight: 300;
        color: #4b3b3b;
    }
    .tagsList-li:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
    }
    .tagsList-li:hover .tagsList-h3{
        color: #fff;
    }
    .tagsList-a{
        text-decoration: none;
        color: #1a1a1a;
    }
    .tagsList-a:hover{
        background-color: #EB5C4E;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
    }
    #tagsList i{
        font-size: 28px;
        color: #EB5C4E;
        display: inline-block;
    }
    #tagsList p{
        font-size: 27px;
        color: #3c4246;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 25px 0;
    }
}