@media screen and (min-width: 1400px) {
    #credentials-iso-title{
        width: 1100px;
        margin: 0 auto;
        font-size: 46px;
        font-weight: 200;
        color: #a9a9a9;
    }
    #credentials-iso{
        width: 1100px;
        margin: 40px auto 0 auto;
        background-color: #ffffff;
        padding-bottom: 100px;
        position: relative;
        z-index: 100;
    }
    #credentials-iso p{
        margin-bottom: 25px;
        color: #a9a9a9;
        font-size: 17px;
        text-align: justify;
    }
    #credentials-iso li{
        margin-bottom: 3px;
        color: #a9a9a9;
        font-size: 17px;
    }
    #credentials-iso ol{
        margin-top: -20px;
    }
    #credentials-iso ul{
        margin-top: -20px;
    }

    /*--- quality of services ---*/
    #credentials-iso-quality{
        width: 1100px;
        margin: 40px auto 0 auto;
        background-color: #ffffff;
        padding-bottom: 100px;
        position: relative;
        z-index: 100;
    }
    #credentials-iso-quality p{
        margin-bottom: 25px;
        color: #a9a9a9;
        font-size: 17px;
        text-align: justify;
    }
    #credentials-iso-quality li{
        margin-bottom: 3px;
        color: #a9a9a9;
        font-size: 17px;
    }
    #credentials-iso-quality ol{
        margin-top: -20px;
        list-style-type: lower-alpha;
        list-style-position: inside;
        margin-bottom: 20px;
    }
    #credentials-iso-quality ul{
        margin-top: -20px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    /*--- information security ---*/
    #credentials-iso-title{
        width: 1100px;
        margin: 0 auto;
        font-size: 46px;
        font-weight: 200;
        color: #a9a9a9;
    }
    #credentials-iso{
        width: 1100px;
        margin: 40px auto 0 auto;
        background-color: #ffffff;
        padding-bottom: 100px;
        position: relative;
        z-index: 100;
    }
    #credentials-iso p{
        margin-bottom: 25px;
        color: #a9a9a9;
        font-size: 17px;
        text-align: justify;
    }
    #credentials-iso li{
        margin-bottom: 3px;
        color: #a9a9a9;
        font-size: 17px;
    }
    #credentials-iso ol{
        margin-top: -20px;
        list-style-type: decimal;
        list-style-position: inside;
    }
    #credentials-iso ul{
        margin-top: -20px;
    }

    /*--- quality of services ---*/
    #credentials-iso-quality{
        width: 1100px;
        margin: 40px auto 0 auto;
        background-color: #ffffff;
        padding-bottom: 100px;
        position: relative;
        z-index: 100;
    }
    #credentials-iso-quality p{
        margin-bottom: 25px;
        color: #a9a9a9;
        font-size: 17px;
        text-align: justify;
    }
    #credentials-iso-quality li{
        margin-bottom: 3px;
        color: #a9a9a9;
        font-size: 17px;
    }
    #credentials-iso-quality ol{
        margin-top: -20px;
        list-style-type: lower-alpha;
        list-style-position: inside;
        margin-bottom: 20px;
    }
    #credentials-iso-quality ul{
        margin-top: -20px;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    #credentials-iso-title{
        width: 95%;
        margin: 0 auto;
        font-size: 46px;
        font-weight: 200;
        color: #a9a9a9;
    }
    #credentials-iso{
        width: 95%;
        margin: 40px auto 0 auto;
        background-color: #ffffff;
        padding-bottom: 100px;
        position: relative;
        z-index: 100;
    }
    #credentials-iso p{
        margin-bottom: 25px;
        color: #a9a9a9;
        font-size: 17px;
        text-align: justify;
    }
    #credentials-iso li{
        margin-bottom: 3px;
        color: #a9a9a9;
        font-size: 17px;
    }
    #credentials-iso ol{
        margin-top: -20px;
    }
    #credentials-iso ul{
        margin-top: -20px;
    }

    /*--- quality of services ---*/
    #credentials-iso-quality{
        width: 95%;
        margin: 40px auto 0 auto;
        background-color: #ffffff;
        padding-bottom: 100px;
        position: relative;
        z-index: 100;
    }
    #credentials-iso-quality p{
        margin-bottom: 25px;
        color: #a9a9a9;
        font-size: 17px;
        text-align: justify;
    }
    #credentials-iso-quality li{
        margin-bottom: 3px;
        color: #a9a9a9;
        font-size: 17px;
    }
    #credentials-iso-quality ol{
        margin-top: -20px;
        list-style-type: lower-alpha;
        list-style-position: inside;
        margin-bottom: 20px;
    }
    #credentials-iso-quality ul{
        margin-top: -20px;
    }
}