@media screen and (min-width: 1400px) {
    #technology-title{
        width: 1100px;
        margin: -50px auto 0 auto;
        font-size: 48px;
        font-weight: 100;
        color: #808080;
        text-align: left;
    }

    #technology-main{
        width: 1100px;
        margin: 0 auto;
    }
    #technology-main-L{
        width: 640px;
        display: inline-block;
    }
    #technology-main-L-text p{
        font-size: 17px;
        color: #808080;
        font-weight: 300;
        text-align: justify;
        margin: 30px 0;
    }
    #technology-main-L-tab{
        width: 630px;
        margin: 5px 0 80px 0;
    }
    #technology-main-L-tab th{
        width: 315px;
        text-align: left;
        padding: 8px 0;
    }
    #technology-main-L-tab p{
        display: inline-block;
        font-size: 17px;
        color: #808080;
        font-weight: 200;
        margin-left: 10px;
    }

    #technology-main-R{
        display: inline-block;
        width: 455px;
        vertical-align: top;
        margin-top: 26px;
    }
    #technology-main-R li{
        display: inline-block;
        margin-left: 26px;
        margin-bottom: 22px;
    }
    #technology-main-R a{
        text-decoration: none;
    }

}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    #technology-title{
        width: 1100px;
        margin: -50px auto 0 auto;
        font-size: 48px;
        font-weight: 100;
        color: #808080;
        text-align: left;
    }

    #technology-main{
        width: 1100px;
        margin: 0 auto;
    }
    #technology-main-L{
        width: 640px;
        display: inline-block;
    }
    #technology-main-L-text p{
        font-size: 17px;
        color: #808080;
        font-weight: 300;
        text-align: justify;
        margin: 30px 0;
    }
    #technology-main-L-tab{
        width: 630px;
        margin: 5px 0 80px 0;
    }
    #technology-main-L-tab th{
        width: 315px;
        text-align: left;
        padding: 8px 0;
    }
    #technology-main-L-tab p{
        display: inline-block;
        font-size: 17px;
        color: #808080;
        font-weight: 300;
        margin-left: 10px;
    }

    #technology-main-R{
        display: inline-block;
        width: 455px;
        vertical-align: top;
        margin-top: 26px;
    }
    #technology-main-R li{
        display: inline-block;
        margin-left: 26px;
        margin-bottom: 22px;
    }
    #technology-main-R a{
        text-decoration: none;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){

    #technology-title{
        width: 95%;
        margin: -50px auto 0 auto;
        font-size: 42px;
        font-weight: 100;
        color: #808080;
        text-align: left;
    }

    #technology-main{
        width: 95%;
        margin: 0 auto;
    }
    #technology-main-L{
        width: 100%;
        display: block;
    }
    #technology-main-L-text p{
        font-size: 17px;
        color: #808080;
        font-weight: 300;
        text-align: justify;
        margin: 30px 0;
    }
    #technology-main-L-tab{
        width: 630px;
        margin: 5px auto 80px;
    }
    #technology-main-L-tab th{
        width: 315px;
        text-align: left;
        padding: 8px 0;
    }
    #technology-main-L-tab p{
        display: inline-block;
        font-size: 17px;
        color: #808080;
        font-weight: 300;
        margin-left: 10px;
    }

    #technology-main-R{
        width: 100%;
        vertical-align: top;
        margin-top: 26px;
        margin-bottom: 20px;
    }
    #technology-main-R li{
        display: inline-block;
        margin-left: 100px;
        margin-bottom: 22px;
    }
    #technology-main-R a{
        text-decoration: none;
    }

}