@media screen and (min-width: 1400px) {
    #technology-middleLine{
        width: 1100px;
        margin: 50px auto 50px auto;
        padding: 12px 0;
    }
    #technology-middleLine li{
        display: inline-block;
        vertical-align: middle;
    }
    #technology-middleLine h1{
        color: #ffffff;
        font-size: 29px;
        font-weight: bold;
    }
    #technology-middleLine-icon i{
        font-family: Fontello;
        font-size: 45px;
        font-style: normal;
        color: #ffffff;
        margin-left: 30px;
    }
    #technology-middleLine-text{
        width: 970px;
        color: #ffffff;
        font-size: 29px;
        font-weight: bold;
        margin-left: 30px;
    }
    #rocketBufferDiv{
        display: inline-block;
        width: 50%;
        height: 74px;
    }
    #theRocket{
        display: inline-block;
        opacity: 1;
        float: right;
        margin-right: 150px;
        width: 100px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    #technology-middleLine{
        width: 1100px;
        margin: 50px auto 50px auto;
        padding: 12px 0;
    }
    #technology-middleLine li{
        display: inline-block;
        vertical-align: middle;
    }
    #technology-middleLine h1{
        color: #ffffff;
        font-size: 29px;
        font-weight: bold;
    }
    #technology-middleLine-icon i{
        font-family: Fontello;
        font-size: 45px;
        font-style: normal;
        color: #ffffff;
        margin-left: 30px;
    }
    #technology-middleLine-text{
        width: 970px;
        color: #ffffff;
        font-size: 29px;
        font-weight: bold;
        margin-left: 30px;
    }
    #rocketBufferDiv{
        display: inline-block;
        width: 50%;
        height: 74px;
    }
    #theRocket{
        display: inline-block;
        opacity: 1;
        float: right;
        margin-right: 150px;
        width: 100px;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    #technology-middleLine{
        width: 95%;
        margin: 50px auto 50px auto;
        padding: 12px 0;
    }
    #technology-middleLine li{
        display: inline-block;
        vertical-align: middle;
    }
    #technology-middleLine h1{
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
    }
    #technology-middleLine-icon i{
        font-family: Fontello;
        font-size: 38px;
        font-style: normal;
        color: #ffffff;
        margin-left: 30px;
    }
    #technology-middleLine-text{
        width: 85%;
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
        margin-left: 30px;
    }
    #rocketBufferDiv{
        display: inline-block;
        width: 50%;
        height: 74px;
    }
    #theRocket{
        display: inline-block;
        opacity: 1;
        float: right;
        margin-right: 150px;
        width: 100px;
    }
}