@media screen and (min-width: 1400px) {
    /*--- second part ---*/
    #technology-secondPart-sf{
        vertical-align: middle;
        padding-top: 18px;
    }
    #technology-secondPart-sf i{
        display: inline-block;
        font-size: 48px;
        color: #EB5C4E;
        font-style: normal;
        float: left;
    }
    #technology-secondPart-sf a{
        display: inline-block;
        float: right;
        width: 180px;
        padding: 10px 0 9px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #EB5C4E;
    }
    #technology-secondPart-sf a:hover{
        background-color: #fff;
        color: #707070;
        cursor: pointer;
        transition: 0.3s;
    }
    #technology-secondPart-sf div{
        display: inline-block;
        float: left;
        margin-left: 30px;
    }
    #technology-secondPart-sf-tit{
        color: #EB5C4E;
        font-size: 27px;
        font-weight: bold;
        margin: 0 0 1px 0 !important;
    }
    #technology-secondPart-sf-cont{
        font-size: 18px;
        color: #707070;
        margin: -5px 0 0 0 !important;
    }

    /*--- icons table ---*/
    #technology-sf-icon-tab{
        width: 1100px;
        margin: 0 auto 0 auto;
    }
    #technology-sf-icon-tab th{
        width: 365px;
        text-align: center;
        padding: 0 55px;
    }
    #technology-sf-icon-tab-tit{
        font-size: 48px;
        font-weight: 200;
        color: #808080;
        padding-bottom: 55px !important;
    }
    #technology-sf-icon-tab img{
        width: 79px;
        margin-bottom: 22px;
    }
    #technology-sf-icon-tab p{
        margin-bottom: 32px;
        font-size: 17px;
        font-weight: 500;
        color: #3c4246;
    }

    #sf-banners-container{
        width: 770px;
        margin: 70px auto 105px auto;
    }
    #sf-banners-container img{
        display: inline-block;
        width: 350px;
    }
    #sf-banners-container img:nth-child(2){
        float: right;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){
    /*--- second part ---*/
    #technology-secondPart-sf{
        vertical-align: middle;
        padding-top: 18px;
    }
    #technology-secondPart-sf i{
        display: inline-block;
        font-size: 48px;
        color: #EB5C4E;
        font-style: normal;
        float: left;
    }
    #technology-secondPart-sf a{
        display: inline-block;
        float: right;
        width: 180px;
        padding: 10px 0 9px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #EB5C4E;
    }
    #technology-secondPart-sf a:hover{
        background-color: #fff;
        color: #707070;
        cursor: pointer;
        transition: 0.3s;
    }
    #technology-secondPart-sf div{
        display: inline-block;
        float: left;
        margin-left: 30px;
    }
    #technology-secondPart-sf-tit{
        color: #EB5C4E;
        font-size: 27px;
        font-weight: bold;
        margin: 0 0 1px 0 !important;
    }
    #technology-secondPart-sf-cont{
        font-size: 18px;
        color: #707070;
        margin: -5px 0 0 0 !important;
    }

    /*--- icons table ---*/
    #technology-sf-icon-tab{
        width: 1100px;
        margin: 0 auto 0 auto;
    }
    #technology-sf-icon-tab th{
        width: 365px;
        text-align: center;
        padding: 0 55px;
    }
    #technology-sf-icon-tab-tit{
        font-size: 48px;
        font-weight: 200;
        color: #808080;
        padding-bottom: 55px !important;
    }
    #technology-sf-icon-tab img{
        width: 79px;
        margin-bottom: 22px;
    }
    #technology-sf-icon-tab p{
        margin-bottom: 32px;
        font-size: 17px;
        font-weight: 500;
        color: #3c4246;
    }

    #sf-banners-container{
        width: 770px;
        margin: 70px auto 105px auto;
    }
    #sf-banners-container img{
        display: inline-block;
        width: 350px;
    }
    #sf-banners-container img:nth-child(2){
        float: right;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    /*--- second part ---*/
    #technology-secondPart-sf{
        vertical-align: middle;
        padding-top: 18px;
    }
    #technology-secondPart-sf i{
        display: inline-block;
        font-size: 48px;
        color: #EB5C4E;
        font-style: normal;
        float: left;
    }
    #technology-secondPart-sf a{
        display: inline-block;
        float: right;
        width: 180px;
        padding: 10px 0 9px 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: #EB5C4E;
        color: #fff;
        vertical-align: top;
        border: 2px solid #EB5C4E;
    }
    #technology-secondPart-sf a:hover{
        background-color: #fff;
        color: #707070;
        cursor: pointer;
        transition: 0.3s;
    }
    #technology-secondPart-sf div{
        display: inline-block;
        float: left;
        margin-left: 30px;
    }
    #technology-secondPart-sf-tit{
        color: #EB5C4E;
        font-size: 27px;
        font-weight: bold;
        margin: 0 0 1px 0 !important;
    }
    #technology-secondPart-sf-cont{
        font-size: 18px;
        color: #707070;
        margin: -5px 0 0 0 !important;
    }

    /*--- icons table ---*/
    #technology-sf-icon-tab{
        width: 95%;
        margin: 0 auto 0 auto;
    }
    #technology-sf-icon-tab th{
        width: 365px;
        text-align: center;
        padding: 0 55px;
    }
    #technology-sf-icon-tab-tit{
        font-size: 48px;
        font-weight: 200;
        color: #808080;
        padding-bottom: 55px !important;
    }
    #technology-sf-icon-tab img{
        width: 79px;
        margin-bottom: 22px;
    }
    #technology-sf-icon-tab p{
        margin-bottom: 32px;
        font-size: 17px;
        font-weight: 500;
        color: #3c4246;
    }

    #sf-banners-container{
        width: 640px;
        margin: 70px auto 105px auto;
    }
    #sf-banners-container img{
        display: inline-block;
        width: 300px;
    }
    #sf-banners-container img:nth-child(2){
        float: right;
    }
}