@media screen and (min-width: 1400px) {
    /*--- first part ---*/
    #technology-firstPart{
        width: 1100px;
        margin: 35px auto 0 auto;
    }
    #technology-firstPart li{
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    #technology-firstPart-li1{
        width: 640px;
    }
    #technology-firstPart-li2{
        width: 450px;
    }
    #technology-firstPart p{
        font-size: 17px;
        font-weight: 300;
        color: #707070;
        margin-bottom: 35px;
        /*text-indent: 20px;*/
        vertical-align: top;
        text-align: justify;
    }
    #technology-firstPart img{
        width: 340px;
    }

    /*--- second part ---*/
    #technology-secondPart{
        width: 1100px;
        margin: 0 auto 110px auto;
        opacity: 0;
    }
    #technology-secondPart li{
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    #technology-secondPart-li1{
        width: 450px;
    }
    .technology-firstPart-li1-a{
        display: block;
        text-decoration: none;
        color: #EB5C4E;
        font-size: 17px;
        font-weight: 300;
        text-align: left;
    }
    .technology-firstPart-li1-a div{
        display: inline-block;
        font-size: 30px;
        vertical-align: top;
    }
    .technology-firstPart-li1-a p{
        display: inline-block;
        vertical-align: top;
        padding-top: 6px;
        margin-left: 15px;
    }
    .technology-firstPart-li1-a:hover div{
        cursor: pointer;
        color: #909090;
    }
    .technology-firstPart-li1-a:hover p{
        color: #EB5C4E !important;
        cursor: pointer;
    }
    #technology-secondPart-li1 img{
        width: 340px;
    }
    #technology-secondPart-li2{
        width: 640px;
        font-size: 17px;
        font-weight: 300;
        color: #707070;
    }
    #technology-secondPart-li2 p{
        margin-bottom: 35px;
        /*text-indent: 20px;*/
        vertical-align: top;
        text-align: justify;
    }
    #technology-secondPart-li2 ul{

    }
    #technology-secondPart-li2>ul>li{
        display: list-item;
        text-align: left !important;
    }
    #technology-secondPart-li2>ul>li:before{
        content:"•";
        font-size:14pt;
        color: #707070;
        margin-right: 8px;
    }
    #technology-credentials-img{
        float: right;
    }
    #technology-credentials-buffer{
        width: 100%;
        height: 80px;
    }
    #talk_to_expert{
        color: #EB5C4E;
        font-size: 50px;
        display: inline-block;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px){

    /*--- first part ---*/
    #technology-firstPart{
        width: 1100px;
        margin: 35px auto 0 auto;
    }
    #technology-firstPart li{
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    #technology-firstPart-li1{
        width: 640px;
    }
    #technology-firstPart-li2{
        width: 450px;
    }
    #technology-firstPart p{
        font-size: 17px;
        font-weight: 300;
        color: #707070;
        margin-bottom: 35px;
        /*text-indent: 20px;*/
        vertical-align: top;
        text-align: justify;
    }
    #technology-firstPart img{
        width: 340px;
    }

    /*--- second part ---*/
    #technology-secondPart{
        width: 1100px;
        margin: 0 auto 110px auto;
        opacity: 0;
    }
    #technology-secondPart li{
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    #technology-secondPart-li1{
        width: 450px;
    }
    .technology-firstPart-li1-a{
        display: block;
        text-decoration: none;
        color: #EB5C4E;
        font-size: 17px;
        font-weight: 300;
        text-align: left;
    }
    .technology-firstPart-li1-a div{
        display: inline-block;
        font-size: 30px;
        vertical-align: top;
    }
    .technology-firstPart-li1-a p{
        display: inline-block;
        vertical-align: top;
        padding-top: 6px;
        margin-left: 15px;
    }
    .technology-firstPart-li1-a:hover div{
        cursor: pointer;
        color: #909090;
    }
    .technology-firstPart-li1-a:hover p{
        color: #EB5C4E !important;
        cursor: pointer;
    }
    #technology-secondPart-li1 img{
        width: 340px;
    }
    #technology-secondPart-li2{
        width: 640px;
        font-size: 17px;
        font-weight: 300;
        color: #707070;
    }
    #technology-secondPart-li2 p{
        margin-bottom: 35px;
        /*text-indent: 20px;*/
        vertical-align: top;
        text-align: justify;
    }
    #technology-secondPart-li2 ul{

    }
    #technology-secondPart-li2>ul>li{
        display: list-item;
        text-align: left !important;
    }
    #technology-secondPart-li2>ul>li:before{
        content:"•";
        font-size:14pt;
        color: #707070;
        margin-right: 8px;
    }
    #technology-credentials-img{
        float: right;
    }
    #technology-credentials-buffer{
        width: 100%;
        height: 65px;
    }
    #talk_to_expert{
        color: #EB5C4E;
        font-size: 50px;
        display: inline-block;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    /*--- first part ---*/
    #technology-firstPart{
        width: 95%;
        margin: 35px auto 0 auto;
    }
    #technology-firstPart li{
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    #technology-firstPart-li1{
        width: 600px;
    }
    #technology-firstPart-li2{
        width: 300px;
        margin-left: 45px;
    }
    #technology-firstPart p{
        font-size: 17px;
        font-weight: 300;
        color: #707070;
        margin-bottom: 35px;
        /*text-indent: 20px;*/
        vertical-align: top;
        text-align: justify;
    }
    #technology-firstPart img{
        width: 300px;
    }

    /*--- second part ---*/
    #technology-secondPart{
        width: 95%;
        margin: 0 auto 110px auto;
        opacity: 0;
    }
    #technology-secondPart li{
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    #technology-secondPart-li1{
        width: 300px;
    }
    .technology-firstPart-li1-a{
        display: block;
        text-decoration: none;
        color: #EB5C4E;
        font-size: 17px;
        font-weight: 300;
        text-align: left;
    }
    .technology-firstPart-li1-a div{
        display: inline-block;
        font-size: 30px;
        vertical-align: top;
    }
    .technology-firstPart-li1-a p{
        display: inline-block;
        vertical-align: top;
        padding-top: 6px;
        margin-left: 15px;
    }
    .technology-firstPart-li1-a:hover div{
        cursor: pointer;
        color: #909090;
    }
    .technology-firstPart-li1-a:hover p{
        color: #EB5C4E !important;
        cursor: pointer;
    }
    #technology-secondPart-li1 img{
        width: 300px;
    }
    #technology-secondPart-li2{
        width: 550px;
        margin-left: 25px;
        font-size: 17px;
        font-weight: 300;
        color: #707070;
    }
    #technology-secondPart-li2 p{
        margin-bottom: 35px;
        /*text-indent: 20px;*/
        vertical-align: top;
        text-align: justify;
    }
    #technology-secondPart-li2 ul{

    }
    #technology-secondPart-li2>ul>li{
        display: list-item;
        text-align: left !important;
    }
    #technology-secondPart-li2>ul>li:before{
        content:"•";
        font-size:14pt;
        color: #707070;
        margin-right: 8px;
    }
    #technology-credentials-img{
        float: right;
    }
    #technology-credentials-buffer{
        width: 100%;
        height: 50px;
    }
    #talk_to_expert{
        color: #EB5C4E;
        font-size: 50px;
        display: inline-block;
    }
}