@media screen and (min-width: 1400px) {
    #channelMarketingContainer{
        width: 1100px;
        margin: 0 auto;
    }

    /* first */
    #channelMarketingContainerUl1{
        padding: 0;
    }
    #channelMarketingContainerUl1 li{
        display: inline-block;
        margin: 25px 55px 0;
    }
    #channelMarketingContainerUl1 li:nth-of-type(2){
        margin-left: 10px !important;
    }
    #channelMarketingContainerUl1 li:nth-of-type(5){
        margin-right: 0 !important;
    }
    #channelMarketingContainerUl1 img{
        width: 180px;
    }
    .channelMarketingVertical1{
        transform: rotate(270deg);
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        margin: 80px -55px 0 -62px !important;
        float: left;
    }


    /* second */
    #channelMarketingBlock1Container{
        margin-top: 60px;
    }
    .channelMarketingBlock1{
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 20px 0;
    }

    /* third */
    #channelMarketingContainerUl2{
        margin-top: 80px;
    }
    #channelMarketingContainerUl2 li{
        display: inline-block;
    }
    #channelMarketingContainerUl2 li:nth-of-type(2){
        width: 1025px;
    }
    .channelMarketingVertical2{
        transform: rotate(270deg);
        font-size: 18px;
        font-weight: 600;
        margin: 90px -55px 0 -62px !important;
        float: left;
    }
    .channelMarketingVertical2 p{
        color: #1d1d1d;

    }
    .channelMarketingVertical2 p:first-of-type{
        color: #EB5C4E !important;
        margin-left: 30px;
    }
    #channelMarketingContainerUl2-r1{
        background-color: #EB5C4E;
        color: #fff;
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
    }
    #channelMarketingContainerUl2-r2{
        background-color: #cecece;
        color: #1d1d1d;
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
    }

    /* fourth */
    .channelMarketingSubTitle{
        color: #EB5C4E;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    #channelMarketingBenefits{
        margin-bottom: 100px;
    }
    #channelMarketingBenefits li{
        display: inline-block;
        margin: 10px 108px;
    }
    #channelMarketingBenefits li:nth-of-type(1), #channelMarketingBenefits li:nth-of-type(4){
        margin-left: 0 !important;
    }
    #channelMarketingBenefits li:nth-of-type(5){
        margin-left: 45px !important;
    }
    #channelMarketingBenefits p{
        display: inline-block;
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 1px 0 0 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #channelMarketingBgImg{
        display: block;
        width: 1087px;
        margin: 0 auto;
    }
    #channelMarketingContainer{
        width: 1100px;
        margin: 0 auto;
    }

    /* first */
    #channelMarketingContainerUl1{
        padding: 0;
    }
    #channelMarketingContainerUl1 li{
        display: inline-block;
        margin: 25px 55px 0;
    }
    #channelMarketingContainerUl1 li:nth-of-type(2){
        margin-left: 10px !important;
    }
    #channelMarketingContainerUl1 li:nth-of-type(5){
        margin-right: 0 !important;
    }
    #channelMarketingContainerUl1 img{
        width: 180px;
    }
    .channelMarketingVertical1{
        transform: rotate(270deg);
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        margin: 80px -55px 0 -62px !important;
        float: left;
    }


    /* second */
    #channelMarketingBlock1Container{
        margin-top: 60px;
    }
    .channelMarketingBlock1{
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 20px 0;
    }

    /* third */
    #channelMarketingContainerUl2{
        margin-top: 80px;
    }
    #channelMarketingContainerUl2 li{
        display: inline-block;
    }
    #channelMarketingContainerUl2 li:nth-of-type(2){
        width: 1025px;
    }
    .channelMarketingVertical2{
        transform: rotate(270deg);
        font-size: 18px;
        font-weight: 600;
        margin: 90px -55px 0 -62px !important;
        float: left;
    }
    .channelMarketingVertical2 p{
        color: #1d1d1d;

    }
    .channelMarketingVertical2 p:first-of-type{
        color: #EB5C4E !important;
        margin-left: 30px;
    }
    #channelMarketingContainerUl2-r1{
        background-color: #EB5C4E;
        color: #fff;
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
    }
    #channelMarketingContainerUl2-r2{
        background-color: #cecece;
        color: #1d1d1d;
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
    }

    /* fourth */
    .channelMarketingSubTitle{
        color: #EB5C4E;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    #channelMarketingBenefits{
        margin-bottom: 100px;
    }
    #channelMarketingBenefits li{
        display: inline-block;
        margin: 10px 108px;
    }
    #channelMarketingBenefits li:nth-of-type(1), #channelMarketingBenefits li:nth-of-type(4){
        margin-left: 0 !important;
    }
    #channelMarketingBenefits li:nth-of-type(5){
        margin-left: 45px !important;
    }
    #channelMarketingBenefits p{
        display: inline-block;
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 1px 0 0 0;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px){
    #channelMarketingContainer{
        width: 1100px;
        margin: 0 auto;
    }

    /* first */
    #channelMarketingContainerUl1{
        padding: 0;
    }
    #channelMarketingContainerUl1 li{
        display: inline-block;
        margin: 25px 55px 0;
    }
    #channelMarketingContainerUl1 li:nth-of-type(2){
        margin-left: 10px !important;
    }
    #channelMarketingContainerUl1 li:nth-of-type(5){
        margin-right: 0 !important;
    }
    #channelMarketingContainerUl1 img{
        width: 180px;
    }
    .channelMarketingVertical1{
        transform: rotate(270deg);
        color: #EB5C4E;
        font-size: 18px;
        font-weight: 600;
        margin: 80px -55px 0 -62px !important;
        float: left;
    }


    /* second */
    #channelMarketingBlock1Container{
        margin-top: 60px;
    }
    .channelMarketingBlock1{
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 20px 0;
    }

    /* third */
    #channelMarketingContainerUl2{
        margin-top: 80px;
    }
    #channelMarketingContainerUl2 li{
        display: inline-block;
    }
    #channelMarketingContainerUl2 li:nth-of-type(2){
        width: 1025px;
    }
    .channelMarketingVertical2{
        transform: rotate(270deg);
        font-size: 18px;
        font-weight: 600;
        margin: 90px -55px 0 -62px !important;
        float: left;
    }
    .channelMarketingVertical2 p{
        color: #1d1d1d;

    }
    .channelMarketingVertical2 p:first-of-type{
        color: #EB5C4E !important;
        margin-left: 30px;
    }
    #channelMarketingContainerUl2-r1{
        background-color: #EB5C4E;
        color: #fff;
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
    }
    #channelMarketingContainerUl2-r2{
        background-color: #cecece;
        color: #1d1d1d;
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
    }

    /* fourth */
    .channelMarketingSubTitle{
        color: #EB5C4E;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    #channelMarketingBenefits{
        margin-bottom: 100px;
    }
    #channelMarketingBenefits li{
        display: inline-block;
        margin: 10px 108px;
    }
    #channelMarketingBenefits li:nth-of-type(1), #channelMarketingBenefits li:nth-of-type(4){
        margin-left: 0 !important;
    }
    #channelMarketingBenefits li:nth-of-type(5){
        margin-left: 45px !important;
    }
    #channelMarketingBenefits p{
        display: inline-block;
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 1px 0 0 0;
    }
}