@media screen and (min-width: 1400px) {
    #leadGenerationContainer{
        width: 1100px;
        margin: 0 auto;
    }
    #leadGenerationContainer img{
        width: 1100px;
        height: auto;
    }
    #leadGenerationUl{
        margin: 10px 0 100px;
    }
    #leadGenerationUl li{
        margin: 20px 0;
    }
    .leadGenerationTriangleTexts{
        display: inline-block;
    }
    #leadGenerationUl p{
        display: inline-block;
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 1px 0 0 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #leadGenerationContainer{
        width: 1100px;
        margin: 0 auto;
    }
    #leadGenerationContainer img{
        width: 1100px;
        height: auto;
    }
    #leadGenerationUl{
        margin: 10px 0 100px;
    }
    #leadGenerationUl li{
        margin: 20px 0;
    }
    .leadGenerationTriangleTexts{
        display: inline-block;
    }
    #leadGenerationUl p{
        display: inline-block;
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 1px 0 0 0;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    #leadGenerationContainer{
        width: 800px;
        margin: 0 auto;
    }
    #leadGenerationContainer img{
        width: 800px;
        height: auto;
    }
    #leadGenerationUl{
        margin: 10px 0 100px;
    }
    #leadGenerationUl li{
        margin: 20px 0;
    }
    .leadGenerationTriangleTexts{
        display: inline-block;
    }
    #leadGenerationUl p{
        display: inline-block;
        color: #939393;
        font-size: 18px;
        font-weight: 200;
        margin: 1px 0 0 0;
    }
}