
#socialListeningUL textarea::-webkit-input-placeholder {
    color: #808080 !important;
}
#socialListeningUL textarea:-moz-placeholder { /* Firefox 18- */
    color: #808080 !important;
}
#socialListeningUL textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #808080 !important;
}
#socialListeningUL textarea:-ms-input-placeholder {
    color: #808080 !important;
}
#socialListeningUL textarea:focus {
    outline: none !important;
    border: 2px solid #EB5C4E;
}


#socialListeningUL input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #808080 !important;
}
#socialListeningUL input::-moz-placeholder { /* Firefox 19+ */
    color: #808080 !important;
}
#socialListeningUL input:-ms-input-placeholder { /* IE 10+ */
    color: #808080 !important;
}
#socialListeningUL input:-moz-placeholder { /* Firefox 18- */
    color: #808080 !important;
}
#socialListeningUL input:focus {
    outline: none !important;
    border: 2px solid #EB5C4E;
}






@media screen and (min-width: 1400px) {
    #social_listening-block1-button{
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #social_listening-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    .marginTo10{
        margin: 10px 0 20px !important;
    }

    #socialListeningForm-title{
        margin: 100px 0 40px;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #socialListeningUL{
        width: 1100px;
        margin: 10px auto 20px;
        background-color: #F9F9F9;
        padding: 30px 0;
    }
    #socialListeningUL li{
        margin: 25px 0 10px;
    }
    .social-listening-L{
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        color: #3c4246;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        vertical-align: top;
        width: 400px;
        text-align: right;
        padding: 10px 0;
        margin-right: 40px;
    }
    .social_listening-R{
        display: inline-block;
        vertical-align: top;
        padding-right: 30px;
    }
    .social_listening-R input{
        width: 440px;
        height: 32px;
        border: 2px solid #E4E4E4;
        padding-left: 10px;
        font-size: 16px;
        color: #3c4246;
        vertical-align: top;
    }
    .social_listening-R>textarea{
        color: #909090;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
        line-height: 115%;
        width: 448px;
        height: 150px;
        border: 2px solid #E4E4E4;
    }
    #socialListeningBox{
        color: #EB5C4E;
        font-size: 55px;
        display: inline-block;
        margin-left: 340px;
        vertical-align: top;
        margin-bottom: 14px;
    }
    #socialListeningNextToBox{
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        color: #3c4246;
        margin-left: 47px;
        margin-top: 28px;
    }

    /* what do you want to achieve - objectives */
    #socialListening-achieve{

    }
    #socialListening-achieve:hover{
        cursor: pointer;
    }
    .socialListeningBigButton{
        width: 450px;
        height: 27px;
        border: 2px solid #E4E4E4;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #818181;
        vertical-align: top;
        padding-top: 8px;
        margin-top: 2px;
    }
    .socialListeningBigButton:hover{
        cursor: pointer;
    }
    /*----- plus symbol ------*/
    #social_listening-plus{

    }
    #social_listening-plus:hover{

    }
    .socialListeningPlusBtn{
        color: #EB5C4E;
        font-size: 25px;
        font-weight: bold;
        float: right;
        margin-right: 20px;
        margin-top: -8px;
        transition: 0.4s;
    }
    .socialListeningPlusBtn:hover{
        cursor: pointer;
        color: #3c4246;
    }
    .social_listening-plusRotate{
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        transition: 0.4s;
    }
    /*---------------*/
    #socialListening-achieveDropdown{
        background-color: #EB5C4E;
        position: absolute;
        width: 453px;
        display: none;
        height: 0;
    }
    #socialListening-achieveDropdown-other{
        width: 398px;
    }
    #socialListening-achieveDropdown-ok{
        background-color: #fff;
        border-radius: 3px;
        color: #818181;
        width: 70px;
        text-align: center;
        padding: 5px 0;
        margin: 0 auto;
    }
    #socialListening-achieveDropdown li{
        border-bottom: 1px solid #fff;
        margin: 0;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        background-color: #EB5C4E;
        transition: 0.3s;
        display: none;
    }
    #socialListening-achieveDropdown li:hover{
        cursor: pointer;
        background-color: #fff;
        color: #818181;
        transition: 0.3s;
    }
    .socialListening-achieveLi-clicked{
        background-color: #818181 !important;
        transition: 0.3s;
    }
    #socialListening-achieveDropdown-ok-row{
        cursor: default !important;
    }
    #socialListening-achieveDropdown li:hover #socialListening-achieveDropdown-ok{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer !important;
    }



    /*----- sources ------*/
    .social_listening-sources{
        width: 200px;
        height: 27px;
        border: 2px solid #E4E4E4;
        text-align: center;
        font-size: 16px;
        color: #212121;
        vertical-align: top;
        padding-top: 8px;
        margin-top: 2px;
        display: inline-block;
    }
    .social_listening-sources:hover{
        border-color: #EB5C4E;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    #social_listening-sources-holder{
        padding-right: 0 !important;
        width: 453px;
    }
    #social_listening-sources-1{

    }
    #social_listening-sources-2{
        margin-top: 20px;
    }
    .socialListeningSourcesActive{
        border-color: #EB5C4E;
        background-color: #EB5C4E;
        color: #fff;
    }
    /* influencers and sources dropdowns */
    #socialAccountsDropdown{

    }
    #URLsDropdown{

    }
    .influencersDropdowns{
        background-color: #EB5C4E;
        position: absolute;
        width: 453px;
        display: none;
        height: 0;
    }
    .sourcesDropdownBtns{
        display: inline-block;
        border-radius: 3px;
        border: 2px solid #fff;
        padding: 5px 10px;
        color: #fff;
        font-weight: 600;
        margin-top: 10px;
    }
    .sourcesDropdownBtns:hover{
        cursor: pointer;
        background-color: #fff;
        color: #EB5C4E;
        transition: 0.3s;
    }
    #sourcesDropdownReady{
        margin: 10px 0 0 200px !important;
    }
    #URLsDropdownReady{
        margin: 10px 0 0 200px !important;
    }
    .socialAccountsDropdownInput{
        width: 320px !important;
        display: inline-block;
        margin: 10px 20px;
    }
    .boxedWord{
        background-color: #fff;
        padding: 1px 8px;
        display: inline-block;
        margin-left: 10px;
        border-radius: 3px;
        margin-top: 6px;
        max-width: 415px;
        word-break: break-all;
    }
    .boxedWordX{
        display: inline-block;
        color: #EB5C4E;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        font-weight: 600;
        font-size: 18px;
        margin-left: 8px;
        transition: 0.4s;
    }
    .boxedWordX:hover{
        cursor: pointer;
        color: #333;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        transition: 0.4s;
    }



    #socialListeningForm-submit{
        width: 300px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #socialListeningForm-submit:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #social_listening-block1-button{
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #social_listening-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    .marginTo10{
        margin: 10px 0 20px !important;
    }

    #socialListeningForm-title{
        margin: 100px 0 40px;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #socialListeningUL{
        width: 1100px;
        margin: 10px auto 20px;
        background-color: #F9F9F9;
        padding: 30px 0;
    }
    #socialListeningUL li{
        margin: 25px 0 10px;
    }
    .social-listening-L{
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        color: #3c4246;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        vertical-align: top;
        width: 400px;
        text-align: right;
        padding: 10px 0;
        margin-right: 40px;
    }
    .social_listening-R{
        display: inline-block;
        vertical-align: top;
        padding-right: 30px;
    }
    .social_listening-R input{
        width: 440px;
        height: 32px;
        border: 2px solid #E4E4E4;
        padding-left: 10px;
        font-size: 16px;
        color: #3c4246;
        vertical-align: top;
    }
    .social_listening-R>textarea{
        color: #909090;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
        line-height: 115%;
        width: 448px;
        height: 150px;
        border: 2px solid #E4E4E4;
    }
    #socialListeningBox{
        color: #EB5C4E;
        font-size: 55px;
        display: inline-block;
        margin-left: 340px;
        vertical-align: top;
        margin-bottom: 14px;
    }
    #socialListeningNextToBox{
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        color: #3c4246;
        margin-left: 47px;
        margin-top: 28px;
    }

    /* what do you want to achieve - objectives */
    #socialListening-achieve{

    }
    #socialListening-achieve:hover{
        cursor: pointer;
    }
    .socialListeningBigButton{
        width: 450px;
        height: 27px;
        border: 2px solid #E4E4E4;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #818181;
        vertical-align: top;
        padding-top: 8px;
        margin-top: 2px;
    }
    .socialListeningBigButton:hover{
        cursor: pointer;
    }
    /*----- plus symbol ------*/
    #social_listening-plus{

    }
    #social_listening-plus:hover{

    }
    .socialListeningPlusBtn{
        color: #EB5C4E;
        font-size: 25px;
        font-weight: bold;
        float: right;
        margin-right: 20px;
        margin-top: -8px;
        transition: 0.4s;
    }
    .socialListeningPlusBtn:hover{
        cursor: pointer;
        color: #3c4246;
    }
    .social_listening-plusRotate{
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        transition: 0.4s;
    }
    /*---------------*/
    #socialListening-achieveDropdown{
        background-color: #EB5C4E;
        position: absolute;
        width: 453px;
        display: none;
        height: 0;
    }
    #socialListening-achieveDropdown-other{
        width: 398px;
    }
    #socialListening-achieveDropdown-ok{
        background-color: #fff;
        border-radius: 3px;
        color: #818181;
        width: 70px;
        text-align: center;
        padding: 5px 0;
        margin: 0 auto;
    }
    #socialListening-achieveDropdown li{
        border-bottom: 1px solid #fff;
        margin: 0;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        background-color: #EB5C4E;
        transition: 0.3s;
        display: none;
    }
    #socialListening-achieveDropdown li:hover{
        cursor: pointer;
        background-color: #fff;
        color: #818181;
        transition: 0.3s;
    }
    .socialListening-achieveLi-clicked{
        background-color: #818181 !important;
        transition: 0.3s;
    }
    #socialListening-achieveDropdown-ok-row{
        cursor: default !important;
    }
    #socialListening-achieveDropdown li:hover #socialListening-achieveDropdown-ok{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer !important;
    }



    /*----- sources ------*/
    .social_listening-sources{
        width: 200px;
        height: 27px;
        border: 2px solid #E4E4E4;
        text-align: center;
        font-size: 16px;
        color: #212121;
        vertical-align: top;
        padding-top: 8px;
        margin-top: 2px;
        display: inline-block;
    }
    .social_listening-sources:hover{
        border-color: #EB5C4E;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    #social_listening-sources-holder{
        padding-right: 0 !important;
        width: 453px;
    }
    #social_listening-sources-1{

    }
    #social_listening-sources-2{
        margin-top: 20px;
    }
    .socialListeningSourcesActive{
        border-color: #EB5C4E;
        background-color: #EB5C4E;
        color: #fff;
    }
    /* influencers and sources dropdowns */
    #socialAccountsDropdown{

    }
    #URLsDropdown{

    }
    .influencersDropdowns{
        background-color: #EB5C4E;
        position: absolute;
        width: 453px;
        display: none;
        height: 0;
    }
    .sourcesDropdownBtns{
        display: inline-block;
        border-radius: 3px;
        border: 2px solid #fff;
        padding: 5px 10px;
        color: #fff;
        font-weight: 600;
        margin-top: 10px;
    }
    .sourcesDropdownBtns:hover{
        cursor: pointer;
        background-color: #fff;
        color: #EB5C4E;
        transition: 0.3s;
    }
    #sourcesDropdownReady{
        margin: 10px 0 0 200px !important;
    }
    #URLsDropdownReady{
        margin: 10px 0 0 200px !important;
    }
    .socialAccountsDropdownInput{
        width: 320px !important;
        display: inline-block;
        margin: 10px 20px;
    }
    .boxedWord{
        background-color: #fff;
        padding: 1px 8px;
        display: inline-block;
        margin-left: 10px;
        border-radius: 3px;
        margin-top: 6px;
        max-width: 415px;
        word-break: break-all;
    }
    .boxedWordX{
        display: inline-block;
        color: #EB5C4E;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        font-weight: 600;
        font-size: 18px;
        margin-left: 8px;
        transition: 0.4s;
    }
    .boxedWordX:hover{
        cursor: pointer;
        color: #333;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        transition: 0.4s;
    }



    #socialListeningForm-submit{
        width: 300px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #socialListeningForm-submit:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    #social_listening-block1-button{
        width: 180px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #social_listening-block1-button:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }

    .marginTo10{
        margin: 10px 0 20px !important;
    }

    #socialListeningForm-title{
        margin: 100px 0 40px;
        font-size: 45px;
        text-align: center;
        color: #808080;
        font-weight: 200;
    }
    #socialListeningUL{
        width: 1100px;
        margin: 10px auto 20px;
        background-color: #F9F9F9;
        padding: 30px 0;
    }
    #socialListeningUL li{
        margin: 25px 0 10px;
    }
    .social-listening-L{
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        color: #3c4246;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        vertical-align: top;
        width: 400px;
        text-align: right;
        padding: 10px 0;
        margin-right: 40px;
    }
    .social_listening-R{
        display: inline-block;
        vertical-align: top;
        padding-right: 30px;
    }
    .social_listening-R input{
        width: 440px;
        height: 32px;
        border: 2px solid #E4E4E4;
        padding-left: 10px;
        font-size: 16px;
        color: #3c4246;
        vertical-align: top;
    }
    .social_listening-R>textarea{
        color: #909090;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
        line-height: 115%;
        width: 448px;
        height: 150px;
        border: 2px solid #E4E4E4;
    }
    #socialListeningBox{
        color: #EB5C4E;
        font-size: 55px;
        display: inline-block;
        margin-left: 340px;
        vertical-align: top;
        margin-bottom: 14px;
    }
    #socialListeningNextToBox{
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
        color: #3c4246;
        margin-left: 47px;
        margin-top: 28px;
    }

    /* what do you want to achieve - objectives */
    #socialListening-achieve{

    }
    #socialListening-achieve:hover{
        cursor: pointer;
    }
    .socialListeningBigButton{
        width: 450px;
        height: 27px;
        border: 2px solid #E4E4E4;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #818181;
        vertical-align: top;
        padding-top: 8px;
        margin-top: 2px;
    }
    .socialListeningBigButton:hover{
        cursor: pointer;
    }
    /*----- plus symbol ------*/
    #social_listening-plus{

    }
    #social_listening-plus:hover{

    }
    .socialListeningPlusBtn{
        color: #EB5C4E;
        font-size: 25px;
        font-weight: bold;
        float: right;
        margin-right: 20px;
        margin-top: -8px;
        transition: 0.4s;
    }
    .socialListeningPlusBtn:hover{
        cursor: pointer;
        color: #3c4246;
    }
    .social_listening-plusRotate{
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        transition: 0.4s;
    }
    /*---------------*/
    #socialListening-achieveDropdown{
        background-color: #EB5C4E;
        position: absolute;
        width: 453px;
        display: none;
        height: 0;
    }
    #socialListening-achieveDropdown-other{
        width: 398px;
    }
    #socialListening-achieveDropdown-ok{
        background-color: #fff;
        border-radius: 3px;
        color: #818181;
        width: 70px;
        text-align: center;
        padding: 5px 0;
        margin: 0 auto;
    }
    #socialListening-achieveDropdown li{
        border-bottom: 1px solid #fff;
        margin: 0;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        background-color: #EB5C4E;
        transition: 0.3s;
        display: none;
    }
    #socialListening-achieveDropdown li:hover{
        cursor: pointer;
        background-color: #fff;
        color: #818181;
        transition: 0.3s;
    }
    .socialListening-achieveLi-clicked{
        background-color: #818181 !important;
        transition: 0.3s;
    }
    #socialListening-achieveDropdown-ok-row{
        cursor: default !important;
    }
    #socialListening-achieveDropdown li:hover #socialListening-achieveDropdown-ok{
        background-color: #EB5C4E;
        color: #fff;
        transition: 0.3s;
        cursor: pointer !important;
    }



    /*----- sources ------*/
    .social_listening-sources{
        width: 200px;
        height: 27px;
        border: 2px solid #E4E4E4;
        text-align: center;
        font-size: 16px;
        color: #212121;
        vertical-align: top;
        padding-top: 8px;
        margin-top: 2px;
        display: inline-block;
    }
    .social_listening-sources:hover{
        border-color: #EB5C4E;
        background-color: #fff;
        color: #EB5C4E;
        cursor: pointer;
        transition: 0.3s;
    }
    #social_listening-sources-holder{
        padding-right: 0 !important;
        width: 453px;
    }
    #social_listening-sources-1{

    }
    #social_listening-sources-2{
        margin-top: 20px;
    }
    .socialListeningSourcesActive{
        border-color: #EB5C4E;
        background-color: #EB5C4E;
        color: #fff;
    }
    /* influencers and sources dropdowns */
    #socialAccountsDropdown{

    }
    #URLsDropdown{
        
    }
    .influencersDropdowns{
        background-color: #EB5C4E;
        position: absolute;
        width: 453px;
        display: none;
        height: 0;
    }
    .sourcesDropdownBtns{
        display: inline-block;
        border-radius: 3px;
        border: 2px solid #fff;
        padding: 5px 10px;
        color: #fff;
        font-weight: 600;
        margin-top: 10px;
    }
    .sourcesDropdownBtns:hover{
        cursor: pointer;
        background-color: #fff;
        color: #EB5C4E;
        transition: 0.3s;
    }
    #sourcesDropdownReady{
        margin: 10px 0 0 200px !important;
    }
    #URLsDropdownReady{
        margin: 10px 0 0 200px !important;
    }
    .socialAccountsDropdownInput{
        width: 320px !important;
        display: inline-block;
        margin: 10px 20px;
    }
    .boxedWord{
        background-color: #fff;
        padding: 1px 8px;
        display: inline-block;
        margin-left: 10px;
        border-radius: 3px;
        margin-top: 6px;
        max-width: 415px;
        word-break: break-all;
    }
    .boxedWordX{
        display: inline-block;
        color: #EB5C4E;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        font-weight: 600;
        font-size: 18px;
        margin-left: 8px;
        transition: 0.4s;
    }
    .boxedWordX:hover{
        cursor: pointer;
        color: #333;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        transition: 0.4s;
    }



    #socialListeningForm-submit{
        width: 300px;
        margin: 60px auto 45px auto;
        border: 2px solid #EB5C4E;
        background-color: #EB5C4E;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0;
    }
    #socialListeningForm-submit:hover{
        color: #EB5C4E;
        background-color: #ffffff;
        cursor: pointer;
        transition: 0.3s;
    }
}