@media screen and (min-width: 1400px) {

}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    /**/
    #wd_topLogo{
        margin: 15px;
        width: 25px;
    }
    #wd_socIcons{
        float: right;
        width: 96px;
        margin: 10px;
    }
    #wd_socIcons a{
        color: #2b2421;
        font-size: 20px;
        text-decoration: none;
        vertical-align: bottom;
        margin-left: 10px;
    }

    /* banner */
    #wd_banner{
        width: 1100px;
        margin: 0 auto;
    }
    #wd_banner li{
        display: inline-block;
        vertical-align: top;
    }
    .wd_bannerVerticalTexts{
        width: 44px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        padding-top: 190px;
    }
    #wd_banner-main{
        border: 1px solid rgba(0, 0, 0, 0.4);
        width: 1000px;
    }
    #wd_topButton{
        background-color: #fff;
        width: 140px;
        margin: -15px auto 0;
        min-height: 22px;
    }
    .wd_buttonElements{
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        margin: 7px auto;
        transition: 0.5s;
    }
    .wd_buttonElements:nth-of-type(1){
        width: 30px;
        transition: 0.5s;
    }
    .wd_buttonElements:nth-of-type(2){
        width: 50px;
        transition: 0.5s;
    }
    .wd_buttonElements:nth-of-type(3){
        width: 70px;
        transition: 0.5s;
    }
    #wd_topButton:hover{
        cursor: pointer;
    }
    #wd_topButton:hover .wd_buttonElements{
        width: 70px;
        border-bottom: 1px solid #e32a18;
        margin: 7px auto;
        transition: 0.5s;
    }
    #wd_bannerLtext{
        color: #2b2421;
        font-size: 50px;
        font-weight: bold;
        width: 488px;
        display: inline-block;
        text-align: right;
        padding-top: 20px;
        padding-right: 10px;
        vertical-align: top;
    }
    #wd_bannerLtext p{

    }
    #wd_bannerRtext{
        color: #e32a18;
        font-size: 50px;
        font-weight: bold;
        width: 488px;
        display: inline-block;
        padding-top: 40px;
        padding-left: 10px;
        vertical-align: top;
    }
    #wd_innerLogo{
        display: block;
        margin: 10px auto 30px;
        width: 460px;
    }

    #contactsContainer{
        position: absolute;
        width: 100%;
        display: none;
        height: 0;
        background-color: yellow;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    #wd_topButton-close{
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){

}