@media screen and (min-width: 1400px) {

    #whatWeDo_title{
        width: 1100px;
        margin: -49px auto 36px auto;
        color: #939393;
        font-size: 48px;
        font-weight: 100;
    }
    #whatWeDo_textHolder{
        width: 1100px;
        margin: 10px auto;
    }
    #whatWeDo_textHolder li{
        display: inline-block;
    }
    #whatWeDo_textHolder_left{
        width: 650px;
        vertical-align: top;
    }
    #whatWeDo_textHolder_right{
        vertical-align: top;
        padding-left: 30px;
    }
    #whatWeDo_textHolder img{
        width: 415px;
    }
    #whatWeDo_textHolder p{
        color: #939393;
        font-size: 17px;
        text-align: justify;
        margin-bottom: 30px;
    }

    /*___ main what we do page style ____*/
    #whatWeDoMainContentUl{
        width: 1160px;
        margin: -50px auto 100px auto;
        padding: 30px 0 60px 0;
    }
    #whatWeDoMainContentUl li{
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        width: 335px;
        height: 253px;
        margin: 33px 0 0 38px;
        vertical-align: top;
    }
    #whatWeDoMainContentUl h2{
        display: block;
        text-transform: uppercase;
        color: #fff;
        /*font-size: 26px;*/
        font-size: 23px;
        font-weight: 700;
        margin-top: 34px;
        margin-left: 34px; 
        width: 298px;
        height: 40px;
        line-height: 104%;
        /*font-family: "Roboto Condensed";*/
    }
    #whatWeDoMainContentUl h4{
        display: block;
        color: #fff;
        /*font-size: 12px;*/
        font-size: 11px;
        font-weight: 100;
        margin-left: 34px; 
        margin-top: 36px;
        /*width: 257px;*/
        width: 275px;
        height: 44px;
        line-height: 136%;
        /*font-family: "Roboto Condensed";*/
        text-transform: uppercase;
    }
    #whatWeDoMainContentUl p{
        display: inline-block;
        color: #fff;
        /*font-size: 58px;*/
        font-size: 55px;
        margin-left: 34px; 
        /*font-family: "Roboto Condensed";*/
        font-weight: 900;
    }
    #whatWeDoMainContentUl a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 45px;
        font-weight: 500;
        margin-left: 155px;
        transition: 0.4s;
    }
    #whatWeDoMainContentUl a:hover{
        transition: 0.4s;
        margin-left: 170px;
    }

    /*--- digital marketing services ---*/
    #ourWebServices{
        text-align: center;
        font-size: 48px;
        font-weight: 100;
        color: #939393;
    }
    /*#ourWebServicesUl{*/
        /*width: 1100px;*/
        /*margin: 70px auto 170px;*/
    /*}*/
    .theWebServices{
        margin-top: 70px !important;
        margin-bottom: 170px !important;
    }
    .theWebServicesH{
        padding-top: 45px !important;
    }
    .theWebServicesP{
        width: 350px;
        margin-top: 20px !important;
        padding-top: 22px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #whatWeDo_title{
        width: 1100px;
        margin: -49px auto 36px auto;
        color: #939393;
        font-size: 48px;
        font-weight: 100;
    }
    #whatWeDo_textHolder{
        width: 1100px;
        margin: 10px auto;
    }
    #whatWeDo_textHolder li{
        display: inline-block;
    }
    #whatWeDo_textHolder_left{
        width: 650px;
        vertical-align: top;
    }
    #whatWeDo_textHolder_right{
        vertical-align: top;
        padding-left: 30px;
    }
    #whatWeDo_textHolder img{
        width: 415px;
    }
    #whatWeDo_textHolder p{
        color: #939393;
        font-size: 17px;
        text-align: justify;
        margin-bottom: 30px;
    }
    /*___ main what we do page style ____*/
    #whatWeDoMainContentUl{
        width: 1160px;
        margin: -50px auto 100px auto;
        padding: 30px 0 60px 0;
    }
    #whatWeDoMainContentUl li{
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        width: 335px;
        height: 253px;
        margin: 33px 0 0 38px;
        vertical-align: top;
    }
    #whatWeDoMainContentUl h2{
        display: block;
        color: #fff;
        /*font-size: 26px;*/
        font-size: 23px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 34px;
        margin-left: 34px; 
        width: 298px;
        height: 40px;
        line-height: 104%;
        /*font-family: "Roboto Condensed";*/
    }
    #whatWeDoMainContentUl h4{
        display: block;
        color: #fff;
        /*font-size: 12px;*/
        font-size: 11px;
        font-weight: 100;
        margin-left: 34px; 
        margin-top: 36px;
        /*width: 257px;*/
        width: 275px;
        height: 44px;
        line-height: 136%;
        /*font-family: "Roboto Condensed";*/
        text-transform: uppercase;
    }
    #whatWeDoMainContentUl p{
        display: inline-block;
        color: #fff;
        /*font-size: 58px;*/
        font-size: 55px;
        margin-left: 34px; 
        /*font-family: "Roboto Condensed";*/
        font-weight: 900;
    }
    #whatWeDoMainContentUl a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 45px;
        font-weight: 500;
        margin-left: 155px;
        transition: 0.4s;
    }
    #whatWeDoMainContentUl a:hover{
        transition: 0.4s;
        margin-left: 170px;
    }

    /*--- digital marketing services ---*/
    #ourWebServices{
        text-align: center;
        font-size: 48px;
        font-weight: 100;
        color: #939393;
    }
    /*#ourWebServicesUl{*/
    /*width: 1100px;*/
    /*margin: 70px auto 170px;*/
    /*}*/
    .theWebServices{
        margin-top: 70px !important;
        margin-bottom: 170px !important;
    }
    .theWebServicesH{
        padding-top: 45px !important;
    }
    .theWebServicesP{
        width: 350px;
        margin-top: 20px !important;
        padding-top: 22px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){

    #whatWeDo_title{
        width: 95%;
        margin: -49px auto 36px auto;
        color: #939393;
        font-size: 42px;
        font-weight: 100;
    }
    #whatWeDo_textHolder{
        width: 95%;
        margin: 10px auto;
    }
    #whatWeDo_textHolder li{
        display: inline-block;
    }
    #whatWeDo_textHolder_left{
        width: 50%;
        vertical-align: top;
    }
    #whatWeDo_textHolder_right{
        vertical-align: top;
        padding-left: 30px;
    }
    #whatWeDo_textHolder img{
        width: 415px;
    }
    #whatWeDo_textHolder p{
        color: #939393;
        font-size: 17px;
        text-align: justify;
        margin-bottom: 30px;
    }
/*___ main what we do page style ____*/
    #whatWeDoMainContentUl{
        width: 100%;
        margin: -50px auto 100px auto;
        padding: 30px 0 60px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
    }
    #whatWeDoMainContentUl li{
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        width: 335px;
        height: 253px;
        margin: 33px 0 0 118px;
        vertical-align: top;
    }
    #whatWeDoMainContentUl h2{
        display: block;
        color: #fff;
        /*font-size: 26px;*/
        text-transform: uppercase;
        font-size: 23px;
        font-weight: 700;
        margin-top: 34px;
        margin-left: 34px; 
        width: 298px;
        height: 40px;
        line-height: 104%;
        /*font-family: "Roboto Condensed";*/
    }
    #whatWeDoMainContentUl h4{
        display: block;
        color: #fff;
        /*font-size: 12px;*/
        font-size: 11px;
        font-weight: 100;
        margin-left: 34px; 
        margin-top: 36px;
        /*width: 257px;*/
        width: 275px;
        height: 44px;
        line-height: 136%;
        /*font-family: "Roboto Condensed";*/
        text-transform: uppercase;
    }
    #whatWeDoMainContentUl p{
        display: inline-block;
        color: #fff;
        /*font-size: 58px;*/
        font-size: 55px;
        margin-left: 34px; 
        /*font-family: "Roboto Condensed";*/
        font-weight: 900;
    }
    #whatWeDoMainContentUl a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 45px;
        font-weight: 500;
        margin-left: 155px;
        transition: 0.4s;
    }
    #whatWeDoMainContentUl a:hover{
        transition: 0.4s;
        margin-left: 170px;
    }

    /*--- digital marketing services ---*/
    #ourWebServices{
        text-align: center;
        font-size: 48px;
        font-weight: 100;
        color: #939393;
    }
    /*#ourWebServicesUl{*/
    /*width: 1100px;*/
    /*margin: 70px auto 170px;*/
    /*}*/
    .theWebServices{
        margin-top: 70px !important;
        margin-bottom: 170px !important;
    }
    .theWebServicesH{
        padding-top: 45px !important;
    }
    .theWebServicesP{
        width: 350px;
        margin-top: 20px !important;
        padding-top: 22px;
    }
}